<template>
	<div class="card mt-3">
		<div class="card-header">
			<span class="text-left">Add New Inventory</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="createInventory()">
      		<div class="form-group">
      			<label class="font-weight-bold">Product Code</label>
      			<input type="text" class="form-control" v-model="inventory.product_code" required>
      		</div>
          <div class="form-group">
            <label class="font-weight-bold">Product Name</label>
            <input type="text" class="form-control" v-model="inventory.product_name" required>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Product Description</label>
            <input type="text" class="form-control" v-model="inventory.product_description">
          </div>
          <!-- <div class="form-group">
            <label class="font-weight-bold">Category</label>
            <input type="text" class="form-control" v-model="inventory.category">
          </div> -->
          <b-form-group>
              <label class="font-weight-bold" for="year1">Category</label>
              <b-form-select v-model="inventory.category" required
                :plain="true"
                :options="categories"
                name="category"
                v-validate="'required'"
                :class="{ 'is-invalid': errors.has('category') }"
              >
              </b-form-select>
              <div v-show="errors.has('category')" class="invalid-feedback">
                {{ errors.first('category') }}
              </div>
              <button class="register-cust btn btn-primary"><a href="/inventory-category/create" target="blank" style="color: white;">Register New Category</a></button>
          </b-form-group>
          <div class="form-group">
            <label class="font-weight-bold">Selling Price</label>
            <money v-model="inventory.price" v-bind="money" class="form-control"></money>
          </div>
          <div class="form-group">
              <label class="font-weight-bold">Status</label>
              <b-form-select v-model="inventory.status" required
              :plain="true"
              :options="['active', 'inactive']">
              </b-form-select>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    	</div>
    </div>
</template>


<script>

import {Money} from 'v-money';

export default {
  components: {Money},

  data() {
    return {
      inventory: {
        product_code: '',
        product_name: '',
        product_description: '',
        category: '',
        price: '',
        status:'',
      },
      categories: [],
      money: {
        decimal: '.',
        thousands: ',',
        prefix: 'RM ',
        precision: 2
      }
    };
  },
  methods: {
    createInventory() {
      event.preventDefault();
      axios
        .put('/api/inventory', this.inventory)
        .then( res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have added the inventory template',
              type: 'success',
              duration: 5000
            });
          this.$router.push("/inventory");
        })
        .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'The product code has already been taken.',
              type: 'error',
              duration: 5000
            });
        });
    },
    getCategory(){
      axios
        .get('/api/inventory-category')
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            var tempOutlet = {
              value: res.data[i].id,
              text: res.data[i].name
            };
            this.categories.push(tempOutlet);
            console.log(tempOutlet);
          }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    }
  },
  created() {
    this.getCategory();
  }
};
</script>