<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span class="text-left">Update Inventory</span>
		</div>
    	<div class="card-body">
      <form v-on:submit="updateInventory()">

        <div class="form-group">
            <label class="font-weight-bold">Product Code</label>
            <input type="text" class="form-control" v-model="inventory.product_code" required>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Product Name</label>
            <input type="text" class="form-control" v-model="inventory.product_name" required>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Product Description</label>
            <input type="text" class="form-control" v-model="inventory.product_description">
        </div>

        <b-form-group>
            <label class="font-weight-bold" for="year1">Category</label>
            <b-form-select v-model="inventory.category" required
              :plain="true"
              :options="categories"
              name="category"
              v-validate="'required'"
              :class="{ 'is-invalid': errors.has('category') }"
            >
            </b-form-select>
            <div v-show="errors.has('category')" class="invalid-feedback">
              {{ errors.first('category') }}
            </div>
        </b-form-group>

        <div class="form-group">
            <label class="font-weight-bold">Selling Price</label>
            <input type="text" class="form-control" v-model="inventory.price" required>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Status</label>
            <!-- <input type="text" class="form-control" v-model="inventory.status" required> -->
            <b-form-select v-model="inventory.status"
            :plain="true"
            :options="['active', 'inactive']"
            name="status"
            >
            </b-form-select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Update</button>
      </form>
    	</div>
    </div>
</template>


<script>
export default {
  data() {
    return {
    	inventory: {
    		title: '',
    		description: ''
    	},
      data: new FormData(),
      attachments: [],
    	inventoryId: this.$route.params.id,
      categories: [],
      checkPermission: true
    };
  },
  methods: {
  	getinventory() {
      axios
        .get("/api/inventory/" + this.inventoryId)
        .then(res => {
          // console.log(this.inventoryId);
          this.inventory = res.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });

      axios
        .get('/api/inventory-category')
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            var tempOutlet = {
              value: res.data[i].id,
              text: res.data[i].name
            };
            this.categories.push(tempOutlet);
            // console.log(tempOutlet);
          }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    updateInventory() {
      event.preventDefault();
      axios
        .post('/api/inventory/' + this.inventoryId, this.inventory)
        .then( res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have update the inventory',
              type: 'success',
              duration: 5000
            });

          // this.$router.push("/inventory");
          // this.$router.go(-1);
          window.close();
        })
        .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
  },
  created() {
  	this.getinventory();
  }
};
</script>