<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span class="text-left">Inventory Management</span>
          	<router-link :to="{name: 'inventory.create'}" class="btn btn-primary" >
				Create New Product
          	</router-link>
		</div>
    	<div class="card-body">
            <div id="people">
              <v-client-table :columns="columns" :data="inventory" :options="options">

                <div slot="index" slot-scope="props">{{ props.index }}</div>


                <router-link slot="child" slot-scope="props" :to="{name: 'inventory.view',  params: { id: props.row.id } }" >
                    {{ props.row.child }}
                </router-link>

                
                <div slot="avatar" slot-scope="props">
                  <img v-if="props.row.avatar" :src="'/storage/' + props.row.avatar" class="img-fluid rounded-circle" width="50" height="auto">
                  <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle" width="50" height="auto">
                </div>

                <div slot="package" slot-scope="props">{{ props.row.package }}</div>
                
                <button slot="action" slot-scope="props" class="register-cust btn btn-info text-white">
                    <a :href="'/inventory/'+ props.row.id +'/edit'" target="blank">Edit</a>
                </button>

              </v-client-table>
            </div>
    	</div>
    </div>
</template>

<style>
  button a{
    color: white !important;
  }
  .register-cust{
    margin-top: 10px;
    padding: 5px 15px;
  }
</style>

<script>
export default {
  data() {
    return {
        columns: ['index', 'product_name', 'product_code', 'price', 'status', 'quantity', 'action'],
        options: {
            headings: {
                index: 'No.',
                product_name: 'Product Name',
                product_code: 'Product Code',
                price: 'Price',
                status: 'Status',
                quantity: 'Quantity',
                action: 'Action'
            },
            sortable: ['product_name', 'product_code', 'status', 'price', 'status', 'quantity'],
            filterable: ['product_name', 'product_code', 'status', 'price', 'status', 'quantity']
        },
        inventory: [],
        checkPermission: true
    };
  },
  methods: {
    getAllInventory() {
        axios
            .get('/api/inventory')
            .then( res => {
                this.inventory = res.data;
                // this.getOutlet(res.data[0].outlet_id);
            })
            .catch( err => {
              if (err.response.status == 401) {
                  this.$notify({
                      group: 'foo',
                      title: 'Ops',
                      text: 'You cannot access',
                      type: 'error',
                      duration: 5000
                  });
                  this.checkPermission = false;
              }
              else{
                  this.$notify({
                    group: 'foo',
                    title: 'Ops',
                    text: 'Please contact administrator',
                    type: 'error',
                    duration: 5000
                  });
              }
            });
    },
  },
  created() {
    this.getAllInventory()
  }
};
</script>