<template>
  <div class="card mt-3">
    <div class="card-header">
      <span class="text-left">Stock Receive</span>
            <router-link :to="{name: 'inventory.receive.create'}" class="btn btn-primary" >
        Create Stock Receive
            </router-link>
    </div>
    <div class="card-body">
        <v-client-table :columns="columns" :data="inventoryList" :options="options">

          <div slot="index" slot-scope="props">{{ props.index }}</div>

          <div slot="receive_date" slot-scope="props">{{ props.row.receive_date | moment("Do MMMM YYYY") }}</div>

          <div slot="total_price" slot-scope="props">RM {{ props.row.total_price.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") }}</div>

          <router-link slot="action" slot-scope="props" :to="{name: 'inventory.receive.view',  params: { id: props.row.id } }" > 
              <button class="btn btn-outline-primary">View</button>
          </router-link>

        </v-client-table>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      inventoryList: [],
      outlet_id:'',
      columns: ['index', 'receive_date', 'name', 'total_quantity', 'total_price', 'action'],
      options: {
        headings: {
          index: 'No.',
          receive_date: 'Receive Date',
          name: 'Name',
          total_quantity: 'Quantity',
          total_price: 'Price',
          action: 'Action'
        },
        sortable: ['receive_date', 'name', 'total_quantity', 'total_price'],
        filterable: ['receive_date', 'name', 'total_quantity', 'total_price']
      },
    };
  },
  methods: {
    getInventoryQuantity(id){
        axios
          .get(`/api/inventory/receive/${id}`)
          .then(res => {
            this.inventoryList = res.data;
            this.inventoryList = this.inventoryList.filter(
                member => member.receive_date != null
            );
            console.log(this.inventoryList);
          })
    }  },
  created() {
    axios
        .get("/api/user")
        .then(res => {
          this.outlet_id = res.data.outlet_id;
          this.getInventoryQuantity(this.outlet_id)
        })
  }
};
</script>