<template>
	<div class="card mt-3">
		<div class="card-header">
      <h4>View Inventory Items</h4>
    </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p class="font-weight-bold">Product Code</p>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p>{{ inventory.product_code }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p class="font-weight-bold">Product Name</p>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p>{{ inventory.product_name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p class="font-weight-bold">Product Description</p>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p>{{ inventory.product_description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p class="font-weight-bold">Category</p>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p>{{ category }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p class="font-weight-bold">Price</p>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p>{{ inventory.price }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p class="font-weight-bold">Status</p>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p>{{ inventory.status }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <!-- <button class="btn btn-outline-danger pull-right mr-2" @click="deleteinventory(voucherId)">Delete</button> -->
            <router-link :to="{name: 'inventory.edit',  params: { id: inventory.id } }" > 
              <button class="btn btn-info pull-right mr-2 text-white">Edit</button>
            </router-link>
          </div>
        </div>
		  </div>
	</div>
</template>


<script>
export default {
  data() {
    return {
      voucherId: this.$route.params.id,
      inventory: {},
      category: ''
    };
  },
  methods: {
    getInventory() {
      axios
        .get("/api/inventory/" + this.voucherId)
        .then(res => {
          console.log(res.data);
          this.inventory = res.data;
          this.getCategory(this.inventory.category);
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    getCategory(id){
      axios
        .get("/api/inventory-category/" + id)
        .then(res => {
          // console.log(res.data);
          this.category = res.data.name;
        })
    },
    deleteinventory(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/inventory/" + id)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have deleted the voucher',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/inventory");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    }
  },
  created() {
    this.getInventory();
  }
};
</script>