<template>
	<b-modal title="Add Students" class="modal-primary" v-model="myModal" @ok="addStudent()">
		<div class="alert alert-primary">
			<p>
				<i class="fa fa-clock-o mr-2" aria-hidden="true"></i> Time: {{ classroom.start }}  to {{ classroom.end }} 
			</p>
			<p>
				<i class="fa fa-male mr-2" aria-hidden="true"></i> Coach: {{ classroom.coach.name }}
			</p>
			<p>
				<i class="fa fa-bars mr-2" aria-hidden="true"></i> Session Level: {{ classroom.level }}
			</p>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="font-weight-bold">Students</label>
					  <autocomplete
							  ref="autocomplete"
							  placeholder="Search Students"
						  :source="searchStudent"
						  results-property="items"
						  results-display="name"
						  inputClass="typeahead-style"
						  v-model="student.user_id"
						  >
						</autocomplete>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Remarks</label>
					<input type="text" name="remarks" class="form-control" v-model="student.remarks">
				</div>
			</div>
		</div>
    </b-modal>
</template>

<script>
import Autocomplete from "vuejs-auto-complete";
export default {
  name: "AddStudentModal",
  props: ["classroom"],
  components: {
    Autocomplete
  },
  data() {
    return {
      myModal: false,
      student: {
        user_id: "",
        remarks: ""
      }
    };
  },
  methods: {
    openModal() {
      this.myModal = true;
    },
    searchStudent(input) {
      return "/api/member/students?q=" + input;
    },
    addStudent() {
      axios
        .put("/api/class/student/" + this.classroom.id + "/add", this.student)
        .then(res => {
          this.$notify({
            group: "foo",
            title: "Awesome",
            text: "The student successful added.",
            type: "success",
            duration: 5000
          });
          this.$emit("getStudent");
          this.myModal = false;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Cannot Add Same Student",
            type: "error",
            duration: 5000
          });
          console.log(err);
          this.myModal = false;
        });
    }
  },
  created() {
    this.$parent.$on("open", this.openModal);
  },
  computed: {}
};
</script>

<style scoped>

</style>
