<template>
	<b-modal title="Daily Class Summary" class="modal-primary" v-model="myModal" size='lg' hide-footer>
    <div class="col-md-12">
      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-sm-1 space">
              <!-- <div class="separate-line"></div> -->
            </div>
            <div class="col-xs-12 col-sm-5 ">
              <div class="row pl-2 mb-2">
                <span class="font-weight-bold">Class Level</span>
              </div>
              <div class="row pl-2" v-for="data in datas">
                <li v-if="data.category == 'level'">
                  <span class="font-weight-bold">{{ data.name }}</span> <span>{{ data.count }}</span>  
                </li>
              </div>
            </div>
            <div class="col-xs-12 col-sm-1">
              <div class="separate-line"></div>
            </div>
            <div class="col-xs-12 col-sm-5 ">
              <div class="row pl-2 mb-2">
                <span class="font-weight-bold">Class Type</span>
              </div>
              <div class="row pl-2" v-for="data in datas">
                <li v-if="data.category == 'type'">
                  <span class="font-weight-bold">{{ data.name }}</span> <span>{{ data.count }}</span>  
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import Autocomplete from "vuejs-auto-complete";
export default {
  name: "ClassSummary",
  components: {
    Autocomplete
  },
  data() {
    return {
      myModal: false,
      outlet: '',
      day:'',
      datas:[]
    };
  },
  methods: {
    openModal(outlet, day) {
      this.myModal = true;
      axios
        .get(`/api/class/classsummary/${outlet}/${day}`)
        .then(res => {
            this.datas = res.data
        })
    }
  },
  created() {
    this.$parent.$on("Summaryopen", this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.compact {
  height: 25px!important;
}

@media only screen and (min-width: 768px) {
  .pd-ad {
    padding-left: 0px!important;
  }

  .space{
    display: block;
  }

  .separate-line {
    display: block;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /*margin: 10px 10px;*/
  }
}
</style>
