<template>
	<div>
	<div class="card">
		<div class="card-header">
      <span class="text-left">Syllabus Question</span>
      <div v-if="selectedLevel != 'Adult'" class="row">
          <div class="col-md-12 col-12">
            <select class="form-control" v-model="syllabus.level" @change="getSyllabus()">
              <option value="L1">L1</option>
              <option value="L2">L2</option>
              <option value="L3">L3</option>
              <option value="L4">L4</option>
              <option value="L5">L5</option>
              <option value="L6">L6</option>
            </select>
          </div>
      </div>
		</div>
		<div class="card-body">
      <div class="progress mb-3">
        <div id="dynamic" class="progress-bar bg-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          <span id="current-progress"></span>
        </div>
      </div>
			<div class="card mb-3" v-for="(question, key) in questions">
          <div class="card-body">
              <h4 class="card-title">{{question.sequence}} - {{question.title}}</h4>
              <div role="group" class="form-group row">
			       <div class="col-12">
					      	<label class="custom-checkbox custom-control" v-for="(option, index) in question.options" v-bind:key="option.id">
                    <div v-if="option.title != 'remark'">
    					      		<input type="checkbox" class="custom-control-input" v-model="answer" :id="question.id+'-'+option.id" :value="question.id+'-'+option.id"
    					      		name="option" @click="check($event)">
    					      		<span aria-hidden="true" class="custom-control-indicator"></span> 
    					      		<span class="custom-control-description">{{ option.title | capitalize }}</span>
                    </div>
                    <div v-else>
                        <label>Remark</label>
                        <textarea rows="3" class="form-control" v-model="syllabus.remarks[option.id]"></textarea>
                    </div>
					      	</label>
				     </div>
					</div>
          </div>
      </div>
            <button @click.prevent="submit()" class="btn btn-primary btn-lg pull-right mt-4">Submit</button>
		</div>
	</div>


</div>
</template>

<script>
import * as jquery from 'jquery';

export default {
  name: "QuestionnaireElement",
  props: ["classId"],
  data() {
    return {
      	user: "",
      	myModal: false,
      	syllabus: {
      		answer: '',
          level: '',
          remarks: []
      	},
      	questions: [
            {
                title: '',
                sequence: '',
                option: [],
                edit: false
            }
      	],
      	answer: [],
        selectedLevel: '',
        classSyllabus: '',
    };
  },
  methods: {
  	getClassSyllabus(){
  		axios
    		.get(`/api/class/syllabus/${this.classId}`)
    		.then(res =>{
          this.classSyllabus = res.data.filter(
              cs => cs.syllabus_id == this.syllabus.level
          );

          var array = [];
          this.answer = []; // Initialize empty to prevent data append.
    			for (var i = 0; i < this.classSyllabus.length; i++) {
    				var string = this.classSyllabus[i].question_id+'-'+this.classSyllabus[i].option_id;
    				this.answer.push(string);
            array.push(this.classSyllabus[i].question_id);    // to calculate how many question already answered
            this.syllabus.remarks[this.classSyllabus[i].option_id] = this.classSyllabus[i].remark; // set remark value from db
    			}

          // set the progress bar
          let unique = [...new Set(array)];
          var calcProgress = ( unique.length / this.questions.length ) * 100;
          if (isNaN(calcProgress)) {
              $("#dynamic").css("width", "0%").attr("aria-valuenow", 0).text("0% Complete");
          }
          else{
              $("#dynamic").css("width", calcProgress + "%").attr("aria-valuenow", calcProgress).text(calcProgress + "% Complete");
          }
    		})
  	},
  	getClassInformation(){
  		axios
	        .get(`/api/class/${this.classId}`)
	        .then(res => {
            this.syllabus.level = res.data.data.level;
            this.selectedLevel = res.data.data.level;
	          this.getSyllabus();
	        })	
  	},
  	getSyllabus(){
  		axios
	        .get(`/api/class/questionnaire/${this.syllabus.level}`)
	        .then(res => {
	        	this.getQuestions(res.data.syllabus.id);
	        })
  	},
  	getQuestions(id){
      axios
        .get('/api/master-data/syllabus/' + id + '/ques/index')
        .then(res => {
          	this.questions = res.data.data;
          	for (var i = 0; i < res.data.data.length; i++) {
            	this.getOptions(res.data.data[i].id);
          	}
            this.getClassSyllabus();
        })
    },
    getOptions(id){
      axios
        .get('/api/master-data/ques/' + id)
        .then(res => {
          	for (var i = 0; i < this.questions.length; i++) {
              	for (var j = 0; j < res.data.data.length; j++) {
                  	if (this.questions[i].id == res.data.data[j].syllabus_question_id) {
                    	this.questions[i].options.push(res.data.data[j]);
                  	}
              	}
          	}
        })
    },
    check(e) {
      if (e.target.checked) {
        this.answer.push(e.target.value);
      } else {
        this.answer.splice(
          this.answer.indexOf(e.target.value),
          1
        );
      }
      // console.log(this.answer);
    },
    submit(){
    	this.syllabus.answers = this.answer;
      var classLevel = this.syllabus.level.replace('L', '');
      var selectedLevel = this.selectedLevel.replace('L', '');
      if (this.selectedLevel == 'Adult') {
          this.submitSyllbus();
      }
      else if(selectedLevel >= classLevel){
          this.submitSyllbus();
      }
      else{
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Syllabus level cannot higher than Class level',
              type: 'error',
              duration: 5000
          });
      }
    },
    submitSyllbus(){
        axios
       .post(`/api/class/syllabus/${this.classId}`, this.syllabus)
       .then(res =>{
         this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'Your Syllabus already submit',
              type: 'success',
              duration: 5000
           });
           this.getClassInformation();
       })
    }
  },
  created() {
  	this.getClassInformation();
  }
};
</script>