<template>
		<div class="card" v-if="replacementIn.length > '0'">
			<div class="card-header bg-primary">
				<span class="text-left font-weight-bold text-capitalize"><i :class="icon"></i> Replacement In</span>
			</div>
			<div class="card-body">
				<div class="table-responsive-sm">
					<table class="table b-table table-hover table-responsive">
						<thead>
							<tr>
								<th>Avatar</th>
								<th>
									Student Name
								</th>
								<th>
									Date Out
								</th>
								<th>
									Date In
								</th>
								<th>
									From Classroom
								</th>
								<th>
									Age
								</th>
								<th>
									Attendance
								</th>
							</tr>
							<!-- this tr is to show the replacement in students -->
							<tr v-if="member.toDate == getDate" v-for="(member,index) in members" v-bind="members" :key="member.id">
								<td>
									<img v-if="member.avatar" :src="member.avatar" alt="Center image" @error="(() => member.avatar = null)" class="img-fit rounded-circle img-profile" >
									<img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle" width="50" height="auto">
								</td>
								<td>
									<router-link :to="{name: 'member.view',  params: { id: member.memberId } }" >
										{{member.name}}	
									</router-link>
								</td>
								<td>
									<span>
										{{ member.fromDate }}
									</span>
								</td>
								<td>
									<span>
										{{ member.toDate }}
									</span>
								</td>
								<td>
									<span>
										{{ member.fromClass.day | capitalize }}, {{ member.fromClass.coaches.name }}, {{ member.fromClass.start | time }} - {{ member.fromClass.end | time}}
									</span>
								</td>
								<td>
									{{ member.age | age }}
								</td>
								<td>
									<button class="btn btn-outline-success" :disabled="checkCurrentDate(member.toDate)" @click="studentPresent(member.id, member.toClassroom, member.memberId, member.fromClassroom,member.attendance.id, member.attendance.week)" :id="`present${member.memberId}`">
									Present
									</button>
									<button class="btn btn-outline-danger" :disabled="checkCurrentDate(member.toDate)" @click="studentAbsent(member.id, member.toClassroom, member.memberId, member.fromClassroom,member.attendance.id, member.attendance.week)" :id="`absent${member.memberId}`">
										Absent
									</button>
								</td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="card" v-else-if="replacementOut.length > '0'">
			<div class="card-header bg-primary">
				<span class="text-left font-weight-bold text-capitalize"><i :class="icon"></i> Replacement Out</span>
			</div>
			<div class="card-body">
				<div class="table-responsive-sm">
					<table class="table b-table table-hover table-responsive">
						<thead>
							<tr>
								<th>Avatar</th>
								<th>
									Student Name
								</th>
								<th>
									Date Out
								</th>
								<th>
									Date In
								</th>
								<th>
									To Classroom
								</th>
								<th>
									Age
								</th>
								<th v-if="list !== 'in'">
									Action
								</th>
							</tr>
							<tr v-if="getDate <= member.toDate" v-for="(member,index) in members" v-bind="members" :key="member.id">
								<td>
									<img v-if="member.avatar" :src="member.avatar" alt="Center image" @error="(() => member.avatar = null)" class="img-fit rounded-circle img-profile" >
									<img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle" width="50" height="auto">
								</td>
								<td>
									<router-link :to="{name: 'member.view',  params: { id: member.memberId } }" >
										{{member.name}}	
									</router-link>
								</td>
								<td>
									<span>
										{{ member.fromDate }}
									</span>
								</td>
								<td>
									<span>
										{{ member.toDate }}
									</span>
								</td>
								<td>
									<span>
										{{ member.toClass.day | capitalize }}, {{ member.toClass.coaches.name }}, {{ member.toClass.start | time }} - {{ member.toClass.end | time}}
									</span>
								</td>
								<td>
									{{ member.age | age }}
								</td>
								<td>
									<button class="btn btn-outline-danger" @click="removeStudent(member.id,member.memberId, member.fromClassroom)">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</template>

<script>
export default {
	name: 'ReplacementListElement',
	props: ['list', 'icon', 'classId', 'level'],
	data() {
		return {
			members: [],
			getDate: '',
			replacementIn: [],
			replacementOut: [],
			attendance: {
		      	classId: '',
		      	userId: '',
		      	status: '',
		      	replacementId: '',
		      	fromClassId: ''
	      	},
		};
	},
	methods: {
		removeStudent(r, u, c) {
			console.log('id',r);
			console.log('memberId',u);
			console.log('class',c);

	      this.$swal({
	        title: 'Are you sure?',
	        text: "You can't revert your action",
	        type: 'warning',
	        showCancelButton: true,
	        confirmButtonText: 'Yes Delete it!',
	        cancelButtonText: 'No, Keep it!',
	        showCloseButton: true,
	        showLoaderOnConfirm: true
	      }).then(result => {
	        if (result.value) {	
	          this.$swal('Deleted', 'You successfully deleted this file', 'success');
	                axios
			        .get(`/api/class/deleteReplace/${r}/${u}/${c}`)
			        .then(res => {
			          this.$notify({
			            group: "foo",
			            title: "Awesome",
			            text: "You have removed the student from the class",
			            type: "success",
			            duration: 5000
			          });
          				this.getReplacementStudent();
			        })
			        .catch(err => {
			          this.$notify({
			            group: "foo",
			            title: "Opsss",
			            text: "Please contact administrator",
			            type: "error",
			            duration: 5000
			          });
			        });
	        } else {
	          this.$swal('Cancelled', 'Your package is still intact', 'info');
	        }
	      });
	    },
	    getReplacementStudent(){
	    	axios
	    		.get('/api/class/' + this.classId + '/student-replacement')
	    		.then(res => {
					this.members = res.data;
					console.log(this.members);
					if (this.list === 'in') {
						this.members = this.members.filter(
							member => member.toClassroom === parseInt(this.classId)
						);
						for (var i = 0; i < this.members.length; i++) {
							
							if(this.members[i].toDate == this.getDate){
								this.replacementIn.push(this.members[i]);
							}
						}

					} else {
						this.members = this.members.filter(
							member => member.fromClassroom === parseInt(this.classId)
						);

						for (var i = 0; i < this.members.length; i++) {
							console.log();
							if(this.getDate <= this.members[i].toDate){
								this.replacementOut.push(this.members[i]);
							}
						}
					}
				});
	    },
	    replacementAttendance(){
		    axios
	    		.get('/api/class/' + this.classId + '/student-replacement')
	    		.then(res => {
				this.students = res.data;	
				console.log('check saved Attendance');
				console.log(this.students);
		    	for (var i = 0; i < this.students.length; i++) {
	        		// console.log(this.students[i].attendance.status === 'present');
	        		// console.log(this.students[i].attendance.status === 'absent');
		          	if (this.students[i].attendance.status == 'present') {
	          			$('#present'+this.students[i].memberId).removeClass().addClass('btn btn-success');
	          		}
	          		else if(this.students[i].attendance.status == 'absent'){

	          			$('#absent'+ this.students[i].memberId).removeClass().addClass('btn btn-danger');

	          		}else{

		          		$('#present'+ this.students[i].memberId).removeClass().addClass('btn btn-outline-success');

		          		$('#absent'+ this.students[i].memberId).removeClass().addClass('btn btn-outline-danger');
		          	}
	        	}
	        });
	    },
	    checkCurrentDate(id){
	    	if (id === this.getDate) {
	    		return false;
	    	}
	    	else{
	    		return true;
	    	}
	    },
	    studentPresent(replacementId, classId, id, fromClass, attendanceId, attendanceWeek){
	    	// console.log(attendanceWeek);
	    	this.attendance.status = 'present';
	    	$('#absent'+ id).removeClass().addClass('btn btn-outline-danger');
    		$('#present'+id).removeClass().addClass('btn btn-success');
	    	this.studentAttendance(replacementId, classId, id, fromClass, attendanceId, attendanceWeek);
	    },
	    studentAbsent(replacementId, classId, id, fromClass, attendanceId, attendanceWeek){
	    	this.attendance.status = 'absent';
	    	$('#present'+ id).removeClass().addClass('btn btn-outline-success');
    		$('#absent'+ id).removeClass().addClass('btn btn-danger');
	    	this.studentAttendance(replacementId, classId, id, fromClass, attendanceId, attendanceWeek);
	    },
	    studentAttendance(val1, val2, val3, val4, val5, val6){
	    	this.attendance.replacementId = val1;
	    	this.attendance.classId = val2;
	    	this.attendance.userId = val3;
	    	this.attendance.fromClassId = val4;
	    	this.attendance.attendanceId = val5;
	    	this.attendance.week = val6;
	    	console.log('attendance');
	    	console.log(this.attendance);
	    	axios
		        .put("/api/dashboard/attendance" , this.attendance)
		        .then(res => {
		        })
		        .catch(err => {
		          console.log(err);
		        });
	    }
	},
	created() {
		var currentDate = new Date();

	    var dd = currentDate.getDate();
		var mm = currentDate.getMonth()+1; //January is 0!
		var yyyy = currentDate.getFullYear();

		if(dd<10) {
		    dd = '0'+dd;
		} 

		if(mm<10) {
		    mm = '0'+mm;
		} 

		this.getDate = yyyy + '-' + mm + '-' + dd;
		// this.getDate = '2019-10-15';

		this.getReplacementStudent();
		this.replacementAttendance();
	},
	computed: {}
};
</script>

<style scoped>
	.img-profile{
		width: 50px;
		height: 50px;
	}
	.img-fit{
		object-fit: cover;
	}
</style>
