<template>
	<b-modal title="Replacement Request" class="modal-primary" v-model="myModal" @ok="applyReplacement()">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="font-weight-bold">From Date</label>
        			<datepicker :disabledDates="disabledFn" v-if="createdValidate" format="dd/MM/yy" placeholder="Select Date" v-model="replacement.fromDate" v-on:selected="filterDate"></datepicker>
				</div>
				<div class="form-group">
			        <label class="font-weight-bold">To Date</label>
			        <datepicker placeholder="Select Date" format="dd/MM/yy" v-model="replacement.toDate" v-on:selected="getAvailableClass" :disabledDates="disabledDates"></datepicker>
			    </div>
				<div class="form-group">
					<label class="font-weight-bold">Syllabus Level</label>
					<select class="form-control" v-model="classroom.level" v-on:change="filter">
						<option>L1</option>
						<option>L2</option>
						<option>L3</option>
						<option>L4</option>
						<option>L5</option>
						<option>L6</option>
						<option>Adult</option>
					</select>
				</div>
				<div class="form-group" v-if="replacement.toDate">
					<label class="font-weight-bold">Timeslot</label>
					<select class="form-control" v-model="replacement.toClassroom" @change="checkAvailability()">
						<option v-for="classroom in classrooms" :key="classroom.id" :value="classroom.id">({{ classroom.day | capitalize }} : {{ classroom.start | time }} - {{ classroom.end | time}}) -  {{ classroom.coaches.name }}</option>
					</select>
				</div>
				<div v-if="selectedSession.maximum">

					<div class="alert alert-warning"  v-if="selectedSession.currentStudent >= selectedSession.maximum">
						Ops. Class is <span class="font-weight-bold">full</span>
					</div>

					<div class="alert alert-info" v-else>
						Awesome. There is <span class="font-weight-bold">{{ selectedSession.maximum - selectedSession.currentStudent }}</span> slot more
					</div>

				</div>
			</div>
		</div>
    </b-modal>
</template>

<script>
import Autocomplete from 'vuejs-auto-complete';
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import * as jquery from 'jquery';
import moment from 'moment';

export default {
	name: 'ReplacementStudentModalElement',
	props: ['session', 'classId', 'id'],
	components: {
		Datepicker
	},
	data() {
		return {
			myModal: false,
			outlet_id: '',
			replacement: {
				fromDate: new Date(),
				toDate: new Date(),
				member_id: 0,
				package_user_id: 0,
				fromClassroom: this.classId,
				toClassroom: '',
				level: ''
			},
			selectedSession: {
		        maximum: "",
		        currentStudent: 0,
		        currentTransfer: ""
		    },
			classrooms: [],
			classroom: '',
			memberId: 0,
			minDate: '',
			maxDate: '',
		    convert: '',
		    countTransfers: '',
		    actualDate: '',
		    disabledDates: {
		    	to: '',
		    	from:''
		    },
		    disabledFn: {
		    	dayName: '',
		    	to: '',
		        customPredictor(date) {
		          	if (date.getDay() !== this.dayName) { // disabled other days to select
		            	return true;
		          	}
		        }
		    },
		};
	},
	methods: {
		openModal(id, package_user_id, outlet) {
			console.log(package_user_id);
			this.myModal = true;
			this.replacement.member_id = id;
			this.replacement.package_user_id = package_user_id;
			this.outlet_id = outlet;
		},
		filterDate(val){
			// var selectedDate = moment(val, 'YYYY-MM-DD').format("YYYY-MM-DD");
			var currentDate = new Date(val);
			var year = currentDate.getFullYear();
			var monthFrom = currentDate.getMonth() - 1;
			var monthTo = currentDate.getMonth() + 2;
			var day = currentDate.getDate();
			// console.log(selectedDate);
			this.disabledDates.to = new Date(year, monthFrom, 1);
			this.disabledDates.from = new Date(year, monthTo, 1);
		},
		filter(elem) {
			this.replacement.level = elem.target.value;
			this.getAvailableClass(this.actualDate); // pass this.actualDate to getAvailableClass instead of this.convert for avoid error			
		},
		getAvailableClass(val) {
			this.actualDate = val; //get actual selected Date
			this.convert = moment(val, 'YYYY-MM-DD').format("ddd");

			this.replacement.fromDate = moment(this.replacement.fromDate, 'YYYY-MM-DD').format("YYYY-MM-DD");
			this.replacement.toDate = moment(this.actualDate, 'YYYY-MM-DD').format("YYYY-MM-DD"); //since cant using v-model, set value replacement.toDate here

			// console.log(this.replacement.fromDate)
			// console.log(this.replacement.toDate)

			if(this.convert === 'Mon') {
				this.convert = "monday"
			}
			if(this.convert === 'Tue') {
				this.convert = "tuesday"
			}
			if(this.convert === 'Wed') {
				this.convert = "wednesday"
			}
			if(this.convert === 'Thu') {
				this.convert = "thursday"
			}
			if(this.convert === 'Fri') {
				this.convert = "friday"
			}
			if(this.convert === 'Sat') {
				this.convert = "saturday"
			}
			if(this.convert === 'Sun') {
				this.convert = "sunday"
			}

			if (this.replacement.level == '') {
				this.replacement.level = this.classroom.level;
			}

			axios.get('/api/class/get-all/' + this.replacement.member_id).then(res => {
				this.classrooms = res.data.filter(
					classroom => classroom.level === this.replacement.level && classroom.day === this.convert && classroom.outlet_id === this.outlet_id
				);
				// console.log(res.data);

			});
			this.selectedSession = {
		        maximum: "",
		        currentStudent: ""
		    };

		    this.countTransfer(this.replacement.fromDate, this.replacement.member_id);
		},
		countTransfer(date, member) {
	      	axios
	        .get("/api/class/countTransfer/" + date + "/" + member)
	        .then(res => {
	          this.countTransfers = res.data;
	          // console.log(this.countTransfers);
	        })
	        .catch(err => {
	          this.$notify({
	            group: "foo",
	            title: "Ops",
	            text: "Please contact administrator",
	            type: "error",
	            duration: 5000
	          });
	        });
	    },
		checkAvailability() {
	      	axios
	        .get("/api/class/" + this.replacement.toClassroom)
	        .then(res => {
	          this.selectedSession.maximum = res.data.data.maximum;
	        })
	        .catch(err => {
	          this.$notify({
	            group: "foo",
	            title: "Ops",
	            text: "Please contact administrator",
	            type: "error",
	            duration: 5000
	          });
	        });

	      	axios	// calculate how many student in the class
	        .get("/api/class/student/" + this.replacement.toClassroom)
	        .then(res => {
	          	this.selectedSession.currentStudent = res.data.length;
	          	if (this.selectedSession.currentStudent >= 0) {
	          		this.calculateTransfer(this.selectedSession.currentStudent);
	          		console.log('student : ', this.selectedSession.currentStudent);
	          	}
	        })
	        .catch(err => {
	          this.$notify({
	            group: "foo",
	            title: "Ops",
	            text: "Please contact administrator",
	            type: "error",
	            duration: 5000
	          });
	          console.log(err);
	        });
	    },
	    calculateTransfer(value){
	    	axios //calculate how many transfer student in the class
	        .get("/api/class/transfer/" + this.replacement.toClassroom)
	        .then(res => {
	          	this.selectedSession.currentStudent = value + res.data.length;
	          	console.log('transfer : ', this.selectedSession.currentStudent);
	        })
	        .catch(err => {
	          this.$notify({
	            group: "foo",
	            title: "Ops",
	            text: "Please contact administrator",
	            type: "error",
	            duration: 5000
	          });
	          console.log(err);
	        });
	    },
		applyReplacement() {
			
			this.replacement.fromDate = moment(this.replacement.fromDate, 'YYYY-MM-DD').format("YYYY-MM-DD");
			this.replacement.toDate = moment(this.replacement.toDate, 'YYYY-MM-DD').format("YYYY-MM-DD"); //since cant using v-model, set value 
			//console.log(this.replacement);
			// if (this.countTransfers == 0) {
				if (this.selectedSession.currentStudent !== this.selectedSession.maximum) {
					axios.post('/api/class/replacements', this.replacement).then(res => {
						this.$notify({
							group: 'foo',
							title: 'Awesome',
							text: 'The replacement student successful applied.',
							type: 'success',
							duration: 5000
						});
						// this.$emit("getStudent");
          				this.myModal = false;
          				this.$router.go("/class/" + this.classroom.day + "/" + this.classroom.id);
					}).catch(err => {
						var month = moment(this.replacement.fromDate, 'YYYY-MM-DD').format("MMMM");
				          this.$notify({
				            group: "foo",
				            title: "Ops",
				            text: "This User Had Used The Replacement Credit For "+month,
				            type: "error",
				            duration: 5000
				          });
					});
				}else{
					this.$notify({
						group: 'foo',
						title: 'Class Full',
						text: 'Cannot do replacement because class is full',
						type: 'error',
						duration: 5000
					});
				}
			// }
		}
	},
	mounted() {
	},
	created() {
		axios.get('/api/class/' + this.classId).then(res => {
			this.classroom = res.data.data;
		});

		this.$parent.$on('openReplacementModal', this.openModal);
	},
	computed: {

		createdValidate: function(){

			if(this.$route.params.day === 'monday') {
					this.disabledFn.dayName = 1
			}
			else if(this.$route.params.day === 'tuesday') {
				this.disabledFn.dayName = 2
			}
			else if(this.$route.params.day === 'wednesday') {
				this.disabledFn.dayName = 3
			}
			else if(this.$route.params.day === 'thursday') {
				this.disabledFn.dayName = 4
			}
			else if(this.$route.params.day === 'friday') {
				this.disabledFn.dayName = 5
			}
			else if(this.$route.params.day === 'saturday') {
				this.disabledFn.dayName = 6
			}
			else {
				this.disabledFn.dayName = 0
			}

			// set data 1month before and 1 month after
			var currentDate = new Date();
			var year = currentDate.getFullYear();
			var monthFrom = currentDate.getMonth() - 1;
			var day = currentDate.getDate();

			// pass variable to function disabled
			this.disabledFn.to = new Date(year, monthFrom, day);

			return true;
		}
	}
};
</script>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}

.vdp-datepicker__calendar{width: 100%;}
</style>
