<template>
	<div>
	<div class="card">
		<div class="card-header">
			<span class="col-3 p-0 text-left">Coach Replacement</span>
			<div class="col-6 row">
				<span class="p-0 col-md-2 col-2 ">Filter By: </span>
		        <div class="p-0 col-md-4 col-4">
		            <select class="form-control" v-model="selectedMonth" @change="chageMonthYear()">
		              <option value="0">January</option>
		              <option value="1">February</option>
		              <option value="2">March</option>
		              <option value="3">April</option>
		              <option value="4">May</option>
		              <option value="5">June</option>
		              <option value="6">July</option>
		              <option value="7">August</option>
		              <option value="8">September</option>
		              <option value="9">October</option>
		              <option value="10">November</option>
		              <option value="11">December</option>
		            </select>
	            </div>
	            <div class="p-0 pl-1 col-md-4 col-4">
	              <select class="form-control" v-model="selectedYear" @change="chageMonthYear()" id="selectyear">
	              </select>
	            </div>
	        </div>
	        <div class="col-4">
	        	<router-link slot="button" class=" btn btn-info text-white pull-right" :to="{name: 'class.view.day.replace.coach',  params: { day: dayId, id: classId } }" >
	              <i class="fa fa-plus-circle" aria-hidden="true"></i> Replacement Coach
	         	</router-link>
	        </div>
	        
		</div>
		<div v-if="coachReplacements != ''" class="card-body">
			<div class="table-responsive-sm">
	          <table class="table b-table table-hover table-responsive">
	            <thead>
	              <tr>
	                <th>
	                  Coach
	                </th>
	                <th>
	                  Replacement Date
	                </th>
	                <th>
	                  Status
	                </th>
	              </tr>
	              <!-- this tr is to show the replacement in students -->
	              <tr v-for="r in coachReplacements" v-bind="coachReplacements" :key="r.id">
	                <td>
	                  <span>
	                    {{ r.coach.name }}
	                  </span>
	                </td>
	                <td>
	                  <span>
	                    {{ r.date | moment("dddd, Do MMMM YYYY") }}
	                  </span>
	                </td>
	                <td>
	                  <span>
	                    {{ r.status | capitalize }}
	                  </span>
	                </td>
	              </tr>
	            </thead>
	            <tbody>
	            </tbody>
	          </table>
	        </div>
		</div>
		<div v-else class="card-body">
			<p class="font-weight-bold planner__date">No Replacement Records For {{ displayMonth }} {{ displayYear }}</p>
		</div>
	</div>
</div>
</template>

<script>
import * as jquery from 'jquery';
import moment from 'moment';

export default {
	name: "ReplacementCoachListElement",
	props: ["classroom", "classId", "member", "dayId", "replacedToday"],
	data() {
	  return {
	  	coachReplacements:'',
	  	selectedMonth: '',
      	selectedYear: '',
      	currentTime: '',
	  };
	},
	methods: {

		getCoachReplacement(){
		  var adjustment = parseInt(this.selectedMonth) + 1;
		  this.displayMonth = moment(adjustment, 'M').format("MMMM");
		  this.displayYear = moment(this.selectedYear, 'YYYY').format("YYYY");
	      axios
	        .get(`/api/coach-replacement/${this.classId}/${this.selectedMonth}/${this.selectedYear}`)
	        .then(res => {
	          this.coachReplacements = res.data;
	          console.log(this.coachReplacements);
	        })
	    },
	    produreYear(){
	      var currentYear = this.selectedYear2018;
	      //do loop year
	      var i = 2018;

	      for(i; i < currentYear; i++){
	      	$('#selectyear').append($('<option>', {
	              value: i,
	              text: i
	          }));
	      }
	      // while(i>=0){
	      //     $('#selectyear').append($('<option>', {
	      //         value: startYear + i,
	      //         text: startYear + i
	      //     }));
	      //     i--;
	      // }
	    },
	    chageMonthYear() {
	      this.getCoachReplacement();
	    },
    },
	created() {
       this.currentTime = new Date();
       this.selectedYear = this.currentTime .getFullYear();
       this.selectedMonth = this.currentTime .getMonth();
       this.displayMonth = moment(this.currentTime, 'YYYY-MM-DD').format("MMMM");
       this.displayYear = moment(this.currentTime, 'YYYY-MM-DD').format("YYYY");
       
	   this.getCoachReplacement(); 
	},
	mounted : function () {
       this.produreYear();
    }
};
</script>

<style scoped>
	.img-profile{
		width: 50px;
		height: 50px;
	}
	.img-fit{
		object-fit: cover;
	}
</style>
