<template>
	<b-modal title="Replacement Credit" class="modal-primary" v-model="myModal" @ok="applyReplacement()">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="font-weight-bold">Replacement Credit</label>
        			<input type="number" name="name" class="form-control" v-model="replacement_details.credits" 
						v-validate="'required'"
						:class="{ 'is-invalid': errors.has('name') }"
					>
				</div>
				<div class="form-group">
			        <label class="font-weight-bold">Remarks</label>
			        <input type="text" name="name" class="form-control" v-model="replacement_details.remarks" 
						v-validate="'required'"
						:class="{ 'is-invalid': errors.has('name') }"
					>
			    </div>
				<div class="form-group">
                    <label class="font-weight-bold">Related Document</label> 
                    <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange">
                    <hr>
                    <div class="col-md-12">
                        <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                            <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                            <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                        </div>
                    </div>              
                </div>
			</div>
		</div>
    </b-modal>
</template>

<script>
import Autocomplete from 'vuejs-auto-complete';
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import * as jquery from 'jquery';
import moment from 'moment';

export default {
	name: 'ReplacementCreditModalElement',
	props: ['session', 'classId', 'id'],
	components: {
		Datepicker
	},
	data() {
		return {
			myModal: false,
			outlet_id: '',
			replacement_details: {
				credits:'',
				remarks:'',
				member_id: 0,
				package_user_id: 0,	
			},
			attachments: [],
			selectedSession: {
		        maximum: "",
		        currentStudent: 0,
		        currentTransfer: ""
		    },
		    data: new FormData(),
			classrooms: [],
			classroom: '',
			memberId: 0,
			minDate: '',
			maxDate: '',
		    convert: '',
		    countTransfers: '',
		    actualDate: '',
		    disabledDates: {
		    	to: '',
		    	from:''
		    },
		    disabledFn: {
		    	dayName: '',
		    	to: '',
		        customPredictor(date) {
		          	if (date.getDay() !== this.dayName) { // disabled other days to select
		            	return true;
		          	}
		        }
		    },
		};
	},
	methods: {
		openModal(id, package_user_id, outlet) {
			console.log(package_user_id);
			this.myModal = true;
			this.replacement_details.member_id = id;
			this.replacement_details.package_user_id = package_user_id;
			this.outlet_id = outlet;
			

			axios
			.get(`/api/class/check_replacement_credit/${package_user_id}`)
			.then(res => {
				this.replacement_details.credits = res.data.replacement_credit;
				this.replacement_details.remarks = res.data.remarks;
			})
		},
		filterDate(val){
			// var selectedDate = moment(val, 'YYYY-MM-DD').format("YYYY-MM-DD");
			var currentDate = new Date(val);
			var year = currentDate.getFullYear();
			var monthFrom = currentDate.getMonth() - 1;
			var monthTo = currentDate.getMonth() + 2;
			var day = currentDate.getDate();
			// console.log(selectedDate);
			this.disabledDates.to = new Date(year, monthFrom, 1);
			this.disabledDates.from = new Date(year, monthTo, 1);
		},
		onFileChange(e) {
	      var files = e.target.files || e.dataTransfer.files;
	      if (!files.length) {
	        return;
	      } else {
	        this.leave.attachment = true;
	      }
	      this.createImage(files[0]);
	    },
	    createImage(file) {
	      //var image = new Image();
	      var reader = new FileReader();
	      var vm = this;

	      reader.onload = e => {
	        vm.file = e.target.result;
	      };
	      reader.readAsDataURL(file);

	      //assign file to json
	      this.product.photo = file;
	    },
	    removeImage: function(e) {
	      this.image = '';
	    },
	    getAttachmentSize() {
	      this.upload_size = 0; // Reset to beginningƒ
	      this.attachments.map(item => {
	        this.upload_size += parseInt(item.size);
	      });

	      this.upload_size = Number(this.upload_size.toFixed(1));
	      this.$forceUpdate();
	    },
	    prepareFields() {
	      if (this.attachments.length > 0) {
	        for (var i = 0; i < this.attachments.length; i++) {
	          let attachment = this.attachments[i];
	          this.data.append('attachments', attachment);
	        }
	      }
	    },
	    removeAttachment(attachment) {
	      this.attachments.splice(this.attachments.indexOf(attachment), 1);

	      this.getAttachmentSize();
	    },
	    uploadFieldChange(e) {
	      var files = e.target.files || e.dataTransfer.files;
	      if (!files.length) return;
	      for (var i = files.length - 1; i >= 0; i--) {
	        this.attachments.push(files[i]);
	      }
	      document.getElementById('attachments').value = [];
	    },
		filter(elem) {
			this.replacement.level = elem.target.value;
			this.getAvailableClass(this.actualDate); // pass this.actualDate to getAvailableClass instead of this.convert for avoid error			
		},
		getAvailableClass(val) {
			this.actualDate = val; //get actual selected Date
			this.convert = moment(val, 'YYYY-MM-DD').format("ddd");

			this.replacement.fromDate = moment(this.replacement.fromDate, 'YYYY-MM-DD').format("YYYY-MM-DD");
			this.replacement.toDate = moment(this.actualDate, 'YYYY-MM-DD').format("YYYY-MM-DD"); //since cant using v-model, set value replacement.toDate here

			// console.log(this.replacement.fromDate)
			// console.log(this.replacement.toDate)

			if(this.convert === 'Mon') {
				this.convert = "monday"
			}
			if(this.convert === 'Tue') {
				this.convert = "tuesday"
			}
			if(this.convert === 'Wed') {
				this.convert = "wednesday"
			}
			if(this.convert === 'Thu') {
				this.convert = "thursday"
			}
			if(this.convert === 'Fri') {
				this.convert = "friday"
			}
			if(this.convert === 'Sat') {
				this.convert = "saturday"
			}
			if(this.convert === 'Sun') {
				this.convert = "sunday"
			}

			if (this.replacement.level == '') {
				this.replacement.level = this.classroom.level;
			}

			axios.get('/api/class/get-all/' + this.replacement.member_id).then(res => {
				this.classrooms = res.data.filter(
					classroom => classroom.level === this.replacement.level && classroom.day === this.convert && classroom.outlet_id === this.outlet_id
				);
				// console.log(res.data);

			});
			this.selectedSession = {
		        maximum: "",
		        currentStudent: ""
		    };

		    this.countTransfer(this.replacement.fromDate, this.replacement.member_id);
		},
		countTransfer(date, member) {
	      	axios
	        .get("/api/class/countTransfer/" + date + "/" + member)
	        .then(res => {
	          this.countTransfers = res.data;
	          // console.log(this.countTransfers);
	        })
	        .catch(err => {
	          this.$notify({
	            group: "foo",
	            title: "Ops",
	            text: "Please contact administrator",
	            type: "error",
	            duration: 5000
	          });
	        });
	    },
		checkAvailability() {
	      	axios
	        .get("/api/class/" + this.replacement.toClassroom)
	        .then(res => {
	          this.selectedSession.maximum = res.data.data.maximum;
	        })
	        .catch(err => {
	          this.$notify({
	            group: "foo",
	            title: "Ops",
	            text: "Please contact administrator",
	            type: "error",
	            duration: 5000
	          });
	        });

	      	axios	// calculate how many student in the class
	        .get("/api/class/student/" + this.replacement.toClassroom)
	        .then(res => {
	          	this.selectedSession.currentStudent = res.data.length;
	          	if (this.selectedSession.currentStudent >= 0) {
	          		this.calculateTransfer(this.selectedSession.currentStudent);
	          		console.log('student : ', this.selectedSession.currentStudent);
	          	}
	        })
	        .catch(err => {
	          this.$notify({
	            group: "foo",
	            title: "Ops",
	            text: "Please contact administrator",
	            type: "error",
	            duration: 5000
	          });
	          console.log(err);
	        });
	    },
	    calculateTransfer(value){
	    	axios //calculate how many transfer student in the class
	        .get("/api/class/transfer/" + this.replacement.toClassroom)
	        .then(res => {
	          	this.selectedSession.currentStudent = value + res.data.length;
	          	console.log('transfer : ', this.selectedSession.currentStudent);
	        })
	        .catch(err => {
	          this.$notify({
	            group: "foo",
	            title: "Ops",
	            text: "Please contact administrator",
	            type: "error",
	            duration: 5000
	          });
	          console.log(err);
	        });
	    },
		applyReplacement() {
			event.preventDefault();
		  	this.prepareFields();
			var config = {
	        	headers: { 'Content-Type': 'multipart/form-data' },
	        	onUploadProgress: function(progressEvent) {
	          	this.percentCompleted = Math.round(progressEvent.loaded * 100 / progressEvent.total);
	          	this.$forceUpdate();
	        	}.bind(this)
	      	};


			// 
			axios
			.post(`/api/leave/student/${this.replacement_details.package_user_id}/upload`, this.data,config)
			.then(res => {
					// console.log('the image has been saved')
				})

			axios
			.put(`/api/class/replacement_credit/`, this.replacement_details)
			.then(res => {

				this.$notify({
					group: 'foo',
					title: 'Awesome',
					text: 'The replacement credit added successfully.',
					type: 'success',
					duration: 5000
				});
				// this.$emit("getStudent");
  				this.myModal = false;
			})
			
		}
	},
	mounted() {
	},
	created() {
		axios.get('/api/class/' + this.classId).then(res => {
			this.classroom = res.data.data;
		});

		this.$parent.$on('openReplacementCreditModal', this.openModal);
	},
	computed: {

		createdValidate: function(){

			if(this.$route.params.day === 'monday') {
					this.disabledFn.dayName = 1
			}
			else if(this.$route.params.day === 'tuesday') {
				this.disabledFn.dayName = 2
			}
			else if(this.$route.params.day === 'wednesday') {
				this.disabledFn.dayName = 3
			}
			else if(this.$route.params.day === 'thursday') {
				this.disabledFn.dayName = 4
			}
			else if(this.$route.params.day === 'friday') {
				this.disabledFn.dayName = 5
			}
			else if(this.$route.params.day === 'saturday') {
				this.disabledFn.dayName = 6
			}
			else {
				this.disabledFn.dayName = 0
			}

			// set data 1month before and 1 month after
			var currentDate = new Date();
			var year = currentDate.getFullYear();
			var monthFrom = currentDate.getMonth() - 1;
			var day = currentDate.getDate();

			// pass variable to function disabled
			this.disabledFn.to = new Date(year, monthFrom, day);

			return true;
		}
	}
};
</script>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}

.vdp-datepicker__calendar{width: 100%;}
</style>
