<template>
	<b-modal title="Search Students" class="modal-primary" v-model="myModal" hide-footer>

		<div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <autocomplete
              ref="autocomplete"
              placeholder="Search Students"
              :source="searchStudent"
              results-property="items"
              results-display="name"
              inputClass="typeahead-style"
              v-model="student.user_id"
              >
            </autocomplete>
            <a class="btn btn-info btn-block text-white my-2" @click.prevent="searchSelected()">Search</a>
        </div>
      </div>
    </div>

    <div class="row" v-if="members != ''">
      <div class="col-md-12">
        <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Day</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(member, index) in members" v-bind="member" :key="member.id">
                        <td>{{ index + 1 }}</td>
                        <td>{{ member.day }}</td>
                        <td>{{ member.start }}</td>
                        <td>{{ member.end }}</td>
                        <td>
                          <router-link class="btn btn-outline-primary" :to="{ name: 'class.view.day', params: { day:member.day, id: member.id } }">View</router-link>
                        </td>
                    </tr>

                    
                </tbody>
            </table>
      </div>
    </div>
    </b-modal>
</template>

<script>
import Autocomplete from "vuejs-auto-complete";
export default {
  name: "SearchStudent",
  components: {
    Autocomplete
  },
  data() {
    return {
      myModal: false,
      student: {
        user_id: ""
      },
      members: [],
      outlet: ''
    };
  },
  methods: {
    openModal(outlet) {
      this.myModal = true;
      this.outlet = outlet;
    },
    searchStudent(input) {
      return `/api/member/students/class/${this.outlet}?q=` + input;
    },
    searchSelected(){
      axios
        .get(`/api/class/searchStudent/${this.student.user_id}`)
        .then(res => {
          this.members = res.data.user;
          if (this.members == '') {
            this.returnError();
          }
        })
    },
    returnError(){
      this.$notify({
        group: 'foo',
        title: 'Ops',
        text: 'This student do not have class yet',
        type: 'error',
        duration: 2000
      });
    }

  },
  created() {
    this.$parent.$on("open", this.openModal);
  },
  computed: {}
};
</script>

<style scoped>

</style>
