<template>
	<b-modal title="List Of Session" ref="vuemodal" class="modal-primary" v-model="myModal" size='lg'  hide-footer>
    <div class="col-md-12">
      <div class="card mt-3">
        <div class="card-header">
          <div class="col-sm-4">
            <p class="text-center"><i class="fa fa-user-circle-o mr-2"></i> Coach Avatar</p>
          </div>
          <div class="col-sm-4">
            <p class="text-center"><i class="fa fa-info-circle mr-2"></i> Coach Name</p>
          </div>
          <div class="col-sm-4">
            <p class="text-center"><i class="fa fa-clock-o mr-2"></i> Session Duration</p>
          </div>
          <!-- <div>
            <i class="fa fa-align-justify mr-2"></i> List of members
          </div> -->
        </div>
        <div class="card-body pb-0 " v-for="coach in data" >
          <div class="col-12">
            <div class="row">
              <div class="col-sm-4 mb-3">
                <img v-if="coach.avatar" :src="'/storage/' + coach.avatar" class="img-fluid rounded-circle mx-auto d-block" width="50" height="auto">
                <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle mx-auto d-block" width="50" height="auto">
              </div>
              <div class="col-sm-4">
                <p class="text-center">{{coach.name | capitalize}}</p>
              </div>
              <div class="col-sm-4">
                <p class="text-center">{{ coach.start | time }} - {{ coach.end | time }}</p>
              </div>
            </div>
            <div class="separate-line"></div>
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import Autocomplete from "vuejs-auto-complete";
export default {
  name: "ClassSummary",
  components: {
    Autocomplete
  },
  data() {
    return {
      myModal: false,
      sessions: '',
      day:'',
      datas:[],
      data:[]
    };
  },
  methods: {
    openModal(sessions) {
      
      this.myModal = true;
      this.data = sessions; 
    },
  },
  mounted(){
    // $(this.$refs.vuemodal).on("hidden.bs.modal", this.getAllEvent(outlet, day))
  },
  created() {
    this.$parent.$on("Sessionopen", this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.compact {
  height: 25px!important;
}

@media only screen and (min-width: 768px) {
  .pd-ad {
    padding-left: 0px!important;
  }

  .space{
    display: block;
  }

  .separate-line {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px 10px;
  }
}
</style>
