<template>
	<div>
	<div class="card">
		<div class="card-header">
			<span>
				<i class="fa fa-clock-o" aria-hidden="true"></i> {{ classroom.start | time }} - {{ classroom.end | time}}
			</span>
			<span v-if="classroom.status == 0">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Status: Inactive
			</span>
			<span v-else>
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Status: Active
			</span>
			<span><i class="fa fa-male" aria-hidden="true"></i> Coach: {{ classroom.coach.name }}</span>
			<span><i class="fa fa-bars" aria-hidden="true"></i> Class Level: {{ classroom.level }}</span>
			<span><i class="fa fa-tags" aria-hidden="true"></i> Class Type: {{ classroom.type }}</span>
        	<!-- <b-button v-if="classroom.status == 0" type="button" variant="primary" @click="openModal()"  :disabled="students.length === classroom.maximum" disabled>
        		<i class="fa fa-plus-circle" aria-hidden="true"></i> Add Student
        	</b-button>
        	<b-button v-else type="button" variant="primary" @click="openModal()"  :disabled="students.length === classroom.maximum">
        		<i class="fa fa-plus-circle" aria-hidden="true"></i> Add Student
        	</b-button> -->
		</div>
		<div class="card-body">
			<div class="row" style="margin-bottom:10px; margin-top:-10px;">
				<div style="padding-left:20px;">
					Attendance Date :
				</div>
				<div class="col-md-4">
					<datepicker v-model="state.date" :disabledDates="state.disabledDates" @selected="getDateProcess"></datepicker>
					
					<!-- <b-form-datepicker class="mb-2"></b-form-datepicker> -->
					<!-- <date-picker v-model="date" :config="{format: 'DD/MM/YYYY'}" :disabledDates="dateDisabled"></date-picker> -->
					<!-- <b-form-datepicker v-model="date"></b-form-datepicker> -->
					<!-- <input class="form-control" type="date" name="test"> -->
				</div>
        <div class="p-0 spacing col-md-6 text-right col-xs-3">
          <downloadexcel
            class   = "btn btn-info text-white"
            :title = "Title"
            :data   = "download"
            :fields = "json_fields"
            type    = "csv"
            name    = "Attendance.csv">
         
          </downloadexcel>
        </div>
			</div>
			<div class="table-responsive-sm">
				<table class="table b-table table-hover table-responsive">
					<thead>
						<tr>
							<th>Avatar</th>
							<th>
								Student Name
							</th>
							<th>
								Age
							</th>
							<th>
								Level
							</th>
							<th>
								Parent Name
							</th>
							<th>
								Remarks
							</th>
							<th>
								Attendance
							</th>
							<th>
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-bind:class="{ height: studentlist }" v-for="(student,index) in students" v-bind="students" :key="student.id">
							<td>
								<img v-if="student.avatar" :src="student.avatar" @error="(() => student.avatar = null)" class="img-fit rounded-circle img-profile">
								<img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle" width="50" height="auto">
							</td>
							<td>
								<router-link :to="{name: 'member.view',  params: { id: student.id } }" v-if="student.overdue === 0">
									{{ student.name }}
								</router-link>
								<router-link :to="{name: 'member.view',  params: { id: student.id } }" v-else style="color:red;">
									{{ student.name }}
								</router-link>
							</td>
							<td>{{ student.birthday | age }}</td>
							<td>{{ classroom.level }}</td>
							<td>{{ student.parent }}</td>
							<td>
								<p v-if="student.remark">{{ student.remark }}</p>
								<p v-else>-</p>
							</td>
							<td>
								<button class="btn btn-outline-success" @click="studentPresent(classroom.id, student.id, student.attendanceId, selectedweek)" :disabled="checkDayName()" :id="`present${student.id}`">
									Present
								</button>
								<button class="btn btn-outline-danger" @click="studentAbsent(classroom.id, student.id, student.attendanceId, selectedweek)" :disabled="checkDayName()" :id="`absent${student.id}`">
									Absent
								</button>
							</td>
							<td>
								<div class="btn-group">
								  	<button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Action
								  	</button>
								  	<div class="dropdown-menu" scrollable="true">
								    	<a class="dropdown-item" @click="openReplacementModal(student.id,student.package_user_id)">Replacement</a>
								    	<a class="dropdown-item" @click="openReplacementCreditModal(student.id,student.package_user_id)">Replacement Credit</a>
								    	<a class="dropdown-item" @click="openTransferModal(classroom.id,student.id)">Transfer</a>
								    	<a class="dropdown-item" @click="removeStudent(classroom.id, student.id)">Remove</a>
								    	<a class="dropdown-item" v-if="student.overdue !== null" href="http://pos.vgoaquatic.com" target="_blank">Payment</a>
								  	</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<AddStudentModalElement :classroom="classroom" v-on:getStudent="getStudent()"></AddStudentModalElement>
		<ReplacementStudentModalElement :session="classroom" :classId="session" :id="memberId"></ReplacementStudentModalElement>
		<ReplacementCreditModalElement :session="classroom" :classId="session" :id="memberId"></ReplacementCreditModalElement>
		<TransferStudentModalElement :session="classroom" :classId="session" :id="memberId" v-on:getStudent="getStudent()"></TransferStudentModalElement>
	</div>


</div>
</template>

<script>
import * as jquery from 'jquery';
import moment from 'moment';
import downloadexcel from 'vue-json-excel';
import AddStudentModalElement from "./AddStudentModalElement.vue";
import ReplacementStudentModalElement from "./ReplacementStudentModalElement.vue";
import ReplacementCreditModalElement from "./ReplacementCreditModalElement.vue";
import TransferStudentModalElement from "./TransferStudentModalElement.vue";
import Datepicker from 'vuejs-datepicker';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

export default {
  name: "StudentListElement",
  props: ["classroom", "classId", "member", "replacedToday"],
  components: {
    AddStudentModalElement,
    ReplacementStudentModalElement,
    TransferStudentModalElement,
    ReplacementCreditModalElement,
    downloadexcel,
    Datepicker
  },
  data() {
    return {
      user: "",
      myModal: false,
      studentlist:false,
      students: [{
      	attendanceId: ''
      }],
      selectedweek:'',
      session: this.classId,
      memberId: this.member.id,
      replaced_class:this.replacedToday,
      attendance: {
      	classId: '',
      	userId: '',
      	status: '',
      	attendance_Id: '',
      },
	  state:{
	  	  date: new Date(),
	      disabledDates: {
	      	days: [0]
	      },
      },
      Title:'',
      currentDate:'',
      selectedDate:'',
      selectedDay:'',
      checkAttendance: [],
      studentId:'',
      dayName: '',
      outlet_id: '',
      download:[]
    };
  },
  methods: {
    openModal() {
	  this.$emit("open");
    },
    openReplacementModal(id,package_user_id) {
      console.log(package_user_id);
      this.$emit("openReplacementModal", id, package_user_id, this.outlet_id);
    },
    openTransferModal(c,id) {
      this.$emit("openTransferModal", c, id, this.outlet_id);
    },
    openReplacementCreditModal(id,package_user_id){
      this.$emit("openReplacementCreditModal", id, package_user_id, this.outlet_id);
    },
    removeStudent(c, u) {
      var user = {
        user_id: u
      };
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
                axios
		        .put("/api/class/student/" + c + "/remove", user)
		        .then(res => {
		          this.$notify({
		            group: "foo",
		            title: "Awesome",
		            text: "You have removed the student from the class",
		            type: "success",
		            duration: 5000
		          });
		          // this.getStudent();
		          this.$router.go("/class/" + this.classroom.day + "/" + this.classroom.id);
		        })
		        .catch(err => {
		          this.$notify({
		            group: "foo",
		            title: "Ops",
		            text: "Please contact administrator",
		            type: "error",
		            duration: 5000
		          });
		        });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    },
    getDateProcess(value){
    	console.log('value');
      console.log(value);
    	var year = value.getFullYear();
      var month = value.getMonth();
    	var mid = 7-1;
    	var date = value.getDate();

    	var finaldate = new Date(year, mid, date);
    	
        var week = ['1', '2', '3', '4', '5'];

        var weekdays = [];
        weekdays[0] = 'sunday';
        weekdays[1] = 'monday';
        weekdays[2] = 'tuesday';
        weekdays[3] = 'wednesday';
        weekdays[4] = 'thursday';
        weekdays[5] = 'friday';
        weekdays[6] = 'Saturday';

    	var result = week[Math.floor(finaldate.getDate() / 7)] ;

    	this.selectedweek = result;
    	this.selectedDay = weekdays[value.getDay()];
    	this.selectedDate = new Date(value);

    	this.getAttendance(this.classId, result);
      this.getMonthlyAttendance(this.classId, month);


    },
    getStudent() {

      axios
        .get("/api/class/student/" + this.classId)
        .then(res => {
          this.students = res.data.filter(
            student => student.status === "active"
          );
   
          if(this.students.length == 1){
          	this.studentlist = true;
          }

          var finaldate = new Date();
    	
          var week = ['1', '2', '3', '4', '5'];

    	  var weekdays = [];
          weekdays[0] = 'sunday';
          weekdays[1] = 'monday';
          weekdays[2] = 'tuesday';
          weekdays[3] = 'wednesday';
          weekdays[4] = 'thursday';
          weekdays[5] = 'friday';
          weekdays[6] = 'Saturday';

    	  var result = week[Math.floor(finaldate.getDate() / 7)] ;

    	  this.selectedweek = result;
    	  this.selectedDay = weekdays[finaldate.getDay()];
    	  this.selectedDate = finaldate;

          this.getAttendance(this.classId, result);
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          console.log(err);
        });
    },
    checkDayName(){
    	
    	if(this.replacedToday.afterDay != "" && this.replacedToday.afterDate != ""){
    		
    		if(this.replacedToday.afterDay.toLowerCase() === this.dayName && this.replacedToday.afterDate == today){
    			return false;
    		}else{
    			return true;
    		}

    	}else if(this.$route.params.day === this.dayName && this.selectedDate.getDate() <= this.currentDate.getDate()){
			return false;
    	}else if(this.$route.params.day === this.selectedDay && this.selectedDate.getDate() <= this.currentDate.getDate()){
			return false;
    	}else{
			return true;
    	}
    },
    getAttendance(classId, week){
    	axios
	        .get(`/api/attendance/${week}}/${classId}`)
	        .then(res => {
            console.log(res.data);
	        	for (var i = 0; i < this.students.length; i++) {
	        		this.studentId = this.students[i].id;
	        		var filterAttendace = res.data.filter(
	        			student => student.user_id === this.students[i].id
		          	);
		          	filterAttendace.slice(-1);
					// console.log('hi');
		          	if (filterAttendace != '') {
		          		
		          		// to remove class then add in the loop
		          		$('#present'+ this.students[i].id).removeClass().addClass('btn btn-outline-success');
						$('#absent'+ this.students[i].id).removeClass().addClass('btn btn-outline-danger');

		          		if (filterAttendace[0].status === 'present') {
		          			this.students[i].attendanceId = filterAttendace[0].id;
		          			this.students[i].remark = this.students[i].remarks.pivot.remarks;
		          			$('#present'+ this.students[i].id).removeClass().addClass('btn btn-success');
		          		}
		          		else{
		          			this.students[i].attendanceId = filterAttendace[0].id;
		          			this.students[i].remark = this.students[i].remarks.pivot.remarks;
		          			$('#absent'+ this.students[i].id).removeClass().addClass('btn btn-danger');
		          		}
		          	}
		          	else{
		          		this.students[i].remark = this.students[i].remarks.pivot.remarks;
		          		$('#present'+ this.students[i].id).removeClass().addClass('btn btn-outline-success');

		          		$('#absent'+ this.students[i].id).removeClass().addClass('btn btn-outline-danger');
		          	}
		          	// console.log(this.student);

	        	}
	        })
	        .catch(err => {
	          console.log(err);
	        });
    },
    getMonthlyAttendance(classId, month){

      var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
     
      this.Title = 'Member Attendance For '+months[month]+' '+this.currentDate.getFullYear();


      axios
          .get(`/api/attendance/month/${month}/${classId}`)
          .then(res => {

            this.download = res.data;
            
          })
          .catch(err => {
            console.log(err);
          });
    },
    studentPresent(classId, id, attendance, week){
    	console.log(week);
    	this.attendance.status = 'present';
    	$('#absent'+ id).removeClass().addClass('btn btn-outline-danger');
    	$('#present'+id).removeClass().addClass('btn btn-success');
    	this.studentAttendance(classId, id, attendance, week, moment(this.selectedDate).format('YYYY-MM-DD'));
    },
    studentAbsent(classId, id, attendance, week){
    	console.log(week);
    	this.attendance.status = 'absent';
  		$('#present'+ id).removeClass().addClass('btn btn-outline-success');
    	$('#absent'+ id).removeClass().addClass('btn btn-danger');
    	this.studentAttendance(classId, id, attendance, week, moment(this.selectedDate).format('YYYY-MM-DD'));
    },
    studentAttendance(val1, val2, val3, val4, val5){
    	this.attendance.classId = val1;
    	this.attendance.userId = val2;
    	this.attendance.attendance_Id = val3;
    	this.attendance.week = val4;
    	this.attendance.date = val5;
    	axios
	        .put("/api/dashboard/attendance" , this.attendance)
	        .then(res => {
	        })
	        .catch(err => {
	          console.log(err);
	        });
    }
  },
  created() {

  	var classDay = this.$route.params.day;

  	if(classDay == 'monday'){
  		this.state.disabledDates.days = [0,2,3,4,5,6];
  	}else if(classDay == 'tuesday'){
		this.state.disabledDates.days = [0,1,3,4,5,6];
  	}else if(classDay == 'wednesday'){
  		this.state.disabledDates.days = [0,2,1,4,5,6];	
  	}else if(classDay == 'thursday'){
  		this.state.disabledDates.days = [0,2,3,1,5,6];	
  	}else if(classDay == 'friday'){
  		this.state.disabledDates.days = [0,2,3,4,1,6];	
  	}else if(classDay == 'saturday'){
  		this.state.disabledDates.days = [0,2,3,4,5,1];	
  	}else if(classDay == 'sunday'){
  		this.state.disabledDates.days = [1,2,3,4,5,6];	
  	}

    this.currentDate = new Date();
    var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
    var days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'];
   	this.dayName = days[this.currentDate.getDay()];

    this.getMonthlyAttendance(this.classId, this.currentDate.getMonth());
    this.Title = 'Member Attendance For '+months[this.currentDate.getMonth()]+' '+this.currentDate.getFullYear();


    axios
      .get("/api/user")
      .then(res => {
        this.outlet_id = res.data.outlet_id;
        this.getStudent();
      });
  }
};
</script>

<style scoped>

	.img-profile{
		width: 50px;
		height: 50px;
	}
	.img-fit{
		object-fit: cover;
	}

	.height{
		height: 130px!important;
	}
</style>
