<template>
	<b-modal title="Transfer Request" class="modal-primary" v-model="myModal" @ok="applyTransfer()">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label>Syllabus Level</label>
					<vSelect :options="levels"></vSelect>
				</div>

				<div class="form-group">
					<label class="label">Choose day: </label>
					<select class="form-control" v-model="selectedDay" @change="fetchClass()">
						<option value="monday">Monday</option>
						<option value="tuesday">Tuesday</option>
						<option value="wednesday">Wednesday</option>
						<option value="thursday">Thursday</option>
						<option value="friday">Friday</option>
						<option value="saturday">Saturday</option>
						<option value="sunday">Sunday</option>
					</select>
				</div>

				<div class="form-group" v-if="selectedDay">
					<label>Timeslot</label>
					<select class="form-control" v-model="selectedClass" @change="checkAvailability()">
						<option v-for="classroom in classes" :key="classroom.id" :value="classroom.id">{{ classroom.start | time }} - {{ classroom.end | time}} -  {{ classroom.coaches.name }}</option>
					</select>
				</div>
				<div v-if="selectedSession.maximum">

					<div class="alert alert-warning"  v-if="selectedSession.currentStudent >= selectedSession.maximum">
						Ops. Class is <span class="font-weight-bold">full</span>
					</div>

					<div class="alert alert-info" v-else>
						Awesome. There is <span class="font-weight-bold">{{ selectedSession.maximum - selectedSession.currentStudent }}</span> slot more
					</div>

				</div>
			</div>
		</div>
    </b-modal>
</template>

<script>
import vSelect from 'vue-select';
// import 'vue-select/dist/vue-select.css';

export default {
	name: 'TransferStudentModalElement',
	components: {
		vSelect
	},
	data() {
		return {
			myModal: false,
			selectedDay: '',
			levels:[],
			classroom: '',
			classroomlevel: '',
			selectedSession: {
	        	maximum: "",
	        	currentStudent: ""
	      	},
	      	classes: [],
	      	selectedClass: "",
	      	memberId: '',
	      	classId:'',
	      	outlet_id : ''
		};
	},
	methods: {
		openModal(c,id, outlet) {
			this.myModal = true;
			this.memberId = id;
			this.classId = c;
			this.outlet_id = outlet;
			this.getInfo(this.classId);
			console.log(this.outlet_id);
		},
		fetchClass() {
	      	axios
	      	.get("/api/class/get-all/"+ this.memberId+"/"+this.selectedDay)
	      	.then(res => {
	        	this.classes = res.data.filter(
	          	c => c.day === this.selectedDay && c.outlet_id === this.outlet_id
	        	);
	      	});

	      	this.selectedSession = {
		        maximum: "",
		        currentStudent: ""
	      	};
	    },
	    getSyllabus(){
	    	axios
	      	.get("/api/class/get-syllabus")
	      	.then(res => {
	        	this.levels = res.data;
	      	});
	    },
	    checkAvailability() {
     	axios
	        .get("/api/class/" + this.selectedClass)
	        .then(res => {
	        	this.classroom = res.data.data;
	          	this.selectedSession.maximum = res.data.data.maximum;
	        })
	        .catch(err => {
	          	this.$notify({
		            group: "foo",
		            title: "Ops",
		            text: "Please contact administrator",
		            type: "error",
		            duration: 5000
	          	});
	        });
	    console.log('hi classroom');
	    console.log(this.classroom);
      	axios
	        .get("/api/class/student/" + this.selectedClass)
	        .then(res => {
	          this.selectedSession.currentStudent = res.data.length;
	        })
	        .catch(err => {
	          	this.$notify({
		            group: "foo",
		            title: "Ops",
		            text: "Please contact administrator",
		            type: "error",
		            duration: 5000
	          	});
	          	console.log(err);
	        });
    	},
    	applyTransfer(){
    		// console.log(this.memberId);
    		// console.log(this.selectedClass);

    		axios
		        .post(`/api/class/transferStudent/${this.memberId}/${this.selectedClass}/${this.classId}`)
		        .then(res => {
		        	this.$notify({
			            group: "foo",
			            title: "Awesome",
			            text: "The student successful transfered.",
			            type: "success",
			            duration: 5000
		          	});
		        	this.$emit("getStudent");
          			this.myModal = false;
          			this.$router.go("/class/" + this.classroom.day + "/" + this.classroom.id);
		        })
		        .catch(err => {
		        	this.$notify({
			            group: "foo",
			            title: "Ops",
			            text: "Student already in that classroom",
			            type: "error",
			            duration: 5000
		          	});
		          	console.log(err.data);
		          	this.myModal = false;
		        });
    	},
    	getInfo(){
    		axios.get('/api/class/' + this.classId).then(res => {
				this.classroomlevel = res.data.data.level;
			});
    	}
		
	},
	created() {
		this.$parent.$on('openTransferModal', this.openModal);
		this.getSyllabus();
	},
	computed: {}
};
</script>

<style scoped>

</style>
