<template>
		<div class="card">
			<div class="card-header bg-warning">
				<span class="text-left font-weight-bold text-capitalize"><i class="icon-clock"></i> Waiting List </span>
			</div>
			<div class="card-body">
				<div class="table-responsive-sm">
					
				<table class="table b-table table-hover table-responsive">
					<thead>
						<tr>
							<th>Avatar</th>
							<th>
								Student Name
							</th>
							<th>
								Age
							</th>
							<th>
								Level
							</th>
							<th>
								Parent Name
							</th>
							<th>
								Remarks
							</th>
							<th>
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(student,index) in students" v-bind="students" :key="student.id" >
							<td>
								<img v-if="student.avatar" :src="student.avatar" class="img-fluid rounded-circle img-profile">
								<img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle" width="50" height="auto">
							</td>
							<td>
								<router-link :to="{name: 'member.view',  params: { id: student.id } }" >
									{{ student.name }}
								</router-link>
							</td>
							<td>{{ student.birthday | age }}</td>
							<td>{{ classroom.level }}</td>
							<td>{{ student.parent }}</td>
							<td>
								<p v-if="student.remarks.pivot.remarks">{{ student.remarks.pivot.remarks }}</p>
								<p v-else>-</p>
							</td>
							<td>
								<button class="btn btn-outline-primary" @click="updateStatus(student.id, classId)">
									Move into Class
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
</template>

<script>
export default {
  name: "WaitingListElement",
  props: ["classroom", "classId", "member"],
  data() {
    return {
      students: []
    };
  },
  computed: {
    timeRepresentation() {
      return new Date(this.message.time).toLocaleTimeString();
    }
  },
  methods: {
    getStudent() {
      axios
        .get("/api/class/student/" + this.classId)
        .then(res => {
          this.students = res.data.filter(
            student => student.status === "waiting" || student.status === "waiting_next_month"
          );
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          console.log(err);
        });
    },
    updateStatus(studentId, classId) {
      var params = {
        classroom_id: classId,
        user_id: studentId
      };

      axios.put("/api/class/active-class", params).then(res => {
        this.$notify({
          group: "foo",
          title: "Awesome",
          text: "Success move the student",
          type: "success",
          duration: 5000
        });
        this.getStudent();
      });
    }
  },
  created() {
    this.getStudent();
  }
};
</script>

<style scoped>
	.img-profile{
		width: 50px;
		height: 50px;
	}
</style>
