<template>
	<div class="card mt-3">
		<div class="card-header">
			<span>Add New Department</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="addDepartment()">
      		<div class="form-group">
      			<label>Name</label>
      			<input type="text" class="form-control" v-model="department.name">
      		</div>
          <div class="form-group">
              <label>Status</label>
              <select class="form-control" v-model="department.status">
                  <option v-for="stat in status" :value="stat.value">{{ stat.text }}</option>
              </select>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    	</div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      loading: false,
    	department: {
    		name: '',
        status: ''
    	},
      status: [{ value: 'active', text: 'Active' }, { value: 'inactive', text: 'Inactive' }],
    };
  },
  methods: {
    addDepartment() {
        event.preventDefault();
        this.loading = true;

        axios
          .put('/api/department', this.department)
          .then(res => {
              console.log(res.data);
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You added new Department',
                  type: 'success',
                  duration: 5000
              });

              this.loading = false;
              this.$router.push("/master-data/department");
          })
          .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
              });
          });
    }
  },
  created() {
  }
};
</script>