<template>
	<div class="card mt-3">
		<div class="card-header">
			<span>Update Department</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="updateDepartment()">
      		<div class="form-group">
      			<label>Name</label>
      			<input type="text" class="form-control" v-model="department.name">
      		</div>
          
          <div class="form-group">
              <label>Status</label>
              <b-form-select v-model="department.status" required
              :plain="true"
              :options="status">
              </b-form-select>
          </div>

          <button class="btn btn-primary" type="submit">Update</button>
        </form>
    	</div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      loading: false,
      departmentId: this.$route.params.id,
      status: [{ value: 'active', text: 'Active' }, { value: 'inactive', text: 'Inactive' }],
      department: {},
    };
  },
  methods: {
    getDepartment() {
      axios
        .get("/api/department/" + this.departmentId)
        .then(res => {
          this.department = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    updateDepartment() {
      	event.preventDefault();
        this.loading = true;

        axios
            .post("/api/department/" + this.departmentId, this.department)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'Department is updated',
                  type: 'success',
                  duration: 5000
                });

              this.loading = false;
              this.$router.push("/master-data/department");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
              console.log(err.data);
            });
    }
  },
  created() {
    this.getDepartment();
  }
};
</script>

<style lang="scss" scoped>
	@import "~vue-wysiwyg/dist/vueWysiwyg.css";
</style>
