<template>
    <div class="card mt-3">
        <div class="card-header">
            <span class="text-left">List of Department</span>
            <router-link :to="{name: 'department.create'}" class="btn btn-primary" >
                Add Department
            </router-link>
        </div>
        <div class="card-body">
            <v-client-table :columns="columns" :data="data" :options="options">

                <div slot="index" slot-scope="props">{{ props.index }}</div>
        
                <div slot="action" slot-scope="props">
                  <router-link :to="{name: 'department.edit',  params: { id: props.row.id } }" >
                    <button class="btn btn-info text-white">Edit</button>
                  </router-link>
                </div>

            </v-client-table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            columns: ['index', 'name', 'status', 'action'],
            data: [],
            options: {
                headings: {
                    index: 'No.',
                    name: 'Name',
                    status: 'Status',
                    action: 'Action'
                },
                sortable: ['name', 'status'],
                filterable: ['name', 'status']
            }
        };
    },
    methods: {
        getDepartment() {
            axios
                .get('/api/department')
                .then(res => {
                    this.data = res.data;
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        }
    },
    created() {
        this.getDepartment();
    }
};
</script>
