<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span>Add New Health Template</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="addHealthTemplate()">
      		<div class="form-group">
      			<label>Name</label>
      			<input type="text" class="form-control" v-model="health.name">
      		</div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    	</div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
    	health: {
    		name: ''
    	},
      checkPermission: true
    };
  },
  methods: {
    addHealthTemplate() {
      event.preventDefault();
      axios
        .put('/api/health', this.health)
        .then( res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have added the health template',
              type: 'success',
              duration: 5000
            });

          this.$router.push("/master-data/health");
        })
        .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : true;
  }
};
</script>