<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span>Update Health Template</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="updateHealth()">
      		<div class="form-group">
      			<label>Title</label>
      			<input type="text" class="form-control" v-model="health.name">
      		</div>
          <button class="btn btn-primary" type="submit">Update</button>
        </form>
    	</div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      isModal: false,
      healthId: this.$route.params.id,
      health: {},
      checkPermission: true
    };
  },
  methods: {
    getHealth() {
      axios
        .get("/api/health/" + this.healthId)
        .then(res => {
          this.health = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    updateHealth() {
      	event.preventDefault();
      	console.log(this.health);
    	axios
    		.post("/api/health/" + this.healthId, this.health)
    		.then( res => {
	          
	          this.$notify({
	              group: 'foo',
	              title: 'Awesome',
	              text: 'You have updated the email template',
	              type: 'success',
	              duration: 5000
	            });
	          this.$router.push("/master-data/health/");
    		})
    		.catch( err => {
	          this.$notify({
	              group: 'foo',
	              title: 'Ops',
	              text: 'Please contact administrator',
	              type: 'error',
	              duration: 5000
	            });
    		});
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getHealth();
  }
};
</script>

<style lang="scss" scoped>
	@import "~vue-wysiwyg/dist/vueWysiwyg.css";
</style>
