<template>
    <div class="card mt-3" v-if="checkPermission">
        <div class="card-header">
            <span class="text-left">List of Available template</span>
            <router-link :to="{name: 'health.create'}" class="btn btn-primary" >
                Add Health
            </router-link>
        </div>
        <div class="card-body">

            <v-client-table :columns="columns" :data="healths" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>
              <div slot="action" slot-scope="props">
                  <router-link :to="{name: 'health.edit',  params: { id: props.row.id } }" >
                    <button class="btn btn-info text-white">Edit</button>
                  </router-link>
                  <button class="btn btn-outline-danger mr-2" @click="deleteHealth(props.row.id)">Delete</button>
              </div>
            </v-client-table>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
    data() {
        return {
            healths: [],
            isModal: false,
            columns: ['index', 'name', 'action'],
            options: {
                headings: {
                    index: 'No.',
                    name: 'Name',
                    action: 'Action'
                },
                sortable: ['name'],
                filterable: ['name']
            },
            checkPermission: true
        };
    },
    methods: {
        getHealths() {
            axios
                .get('/api/health')
                .then(res => {
                    this.healths = res.data;
                    console.log(this.healths);
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        },
        deleteHealth(id) {
          this.$swal({
            title: 'Are you sure?',
            text: "You can't revert your action",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes Delete it!',
            cancelButtonText: 'No, Keep it!',
            showCloseButton: true,
            showLoaderOnConfirm: true
          }).then(result => {
            if (result.value) {
              this.$swal('Deleted', 'You successfully deleted this file', 'success');
              axios
                .delete('/api/health/' + id)
                .then(res => {
                  this.$notify({
                    group: 'foo',
                    title: 'Awesome',
                    text: 'You have deleted the package.',
                    type: 'success',
                    duration: 5000
                  });
                  this.getHealths();
                })
                .catch(err => {
                  this.$notify({
                    group: 'foo',
                    title: 'Ops',
                    text: 'Please contact administrator',
                    type: 'error',
                    duration: 5000
                  });
                });
            } else {
              this.$swal('Cancelled', 'Your package is still intact', 'info');
            }
          });
        },
        returnError(){
            this.checkPermission = false;
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot access',
                type: 'error',
                duration: 5000
            });
        }
    },
    created() {
        var getRoleId = jwtToken.getRoleId();
        getRoleId.includes(16) == false ? this.returnError() : this.getHealths();
    }
};
</script>
