<template>
  <div class="row mt-3" v-if="user_role == 'finance' || user_role == 'branch manager'">
    <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Approval Pending Claim Applications</h4>


            <v-client-table :columns="columns" :data="claims" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>
              <div slot="name" slot-scope="props">{{ props.row.name }}</div>
              <div slot="approve" slot-scope="props">
                  <div v-if="user_role == 'finance' && props.row.approve == 1">
                      Approved
                  </div>
                  <div v-if="user_role == 'branch manager' && props.row.approve == 4">
                      Approved
                  </div>
                  <div v-else>
                      Processing
                  </div>
              </div>

              <router-link slot="action" slot-scope="props" :to="{name: 'claim.history.show',  params: { id: props.row.id } }" >
                <button class="btn btn-info text-white">View</button>
              </router-link>
            </v-client-table>
          </div>

        </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Outlet Claim Applications History</h4>
              <label>Month : </label>
                  <select class="form-control status-width" v-model="selectedMonth" @change="chageMonthYear()">
                      <option value="0">January</option>
                      <option value="1">February</option>
                      <option value="2">March</option>
                      <option value="3">April</option>
                      <option value="4">May</option>
                      <option value="5">June</option>
                      <option value="6">July</option>
                      <option value="7">August</option>
                      <option value="8">September</option>
                      <option value="9">October</option>
                      <option value="10">November</option>
                      <option value="11">December</option>
                  </select>
              <label>Year : </label>
                  <select class="form-control status-width" v-model="selectedYear" @change="chageMonthYear()">
                    <option v-for="stat in years" :value="stat.value">{{ stat.text }}</option>
                  </select>

          <v-client-table :columns="columnsApp" :data="claimApproved" :options="optionsApp">
            <div slot="index" slot-scope="props">{{ props.index }}</div>

            <div slot="name" slot-scope="props">{{ props.row.user.name | capitalize }}</div>
            <div slot="type" slot-scope="props">{{ props.row.claim.type | capitalize }}</div>

            <div slot="approve" slot-scope="props">
                <div v-if="props.row.approve == 'processing'">
                    Processing
                </div>
                <div v-if="props.row.approve == 'rejected'">
                    Rejected
                </div>
                <div v-if="props.row.approve == 'approved'">
                    Approved
                </div>
            </div>

            <div slot="action" slot-scope="props">
              <router-link v-if="user_role == 'finance'" :to="{name: 'claim.history.show',  params: { id: props.row.id } }" >
                <button class="btn btn-info text-white">Edit</button>
              </router-link>

              <router-link v-if="user_role == 'branch manager'" :to="{name: 'claim.history.view',  params: { id: props.row.id } }" >
                <button class="btn btn-info text-white">View</button>
              </router-link>     
            </div>
            
          </v-client-table>
        </div>
      </div>
    </div>
    <div class="modal fade in" v-bind:class="{ show: isModal, modal_show: isModal }" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Add New Contact</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                    <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle" data-tablesaw-mode="columntoggle" id="table-8957">
                                    <thead>
                                        <tr>
                                            <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Label</th>
                                            <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="title">Amount</td>
                                            <td class="tablesaw-priority-3">{{ claim.amount }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Remarks</td>
                                            <td class="tablesaw-priority-3">{{ claim.remarks }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Document</td>
                                            <td class="tablesaw-priority-3">
                                                {{ claim.document }}
                                                <i class="icon-close text-danger" v-if="!claim.document"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">Name</td>
                                            <td class="tablesaw-priority-3">{{ claim.name }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Email</td>
                                            <td class="tablesaw-priority-3">{{ claim.email }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Claim Type</td>
                                            <td class="tablesaw-priority-3">{{ claim.claim }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-success waves-effect" @click="approveClaim"><i class="mdi mdi-check-circle"></i> Approve</button>
                      <button type="button" class="btn btn-default waves-effect" @click="isModal = false">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row mt-3" v-else>
        <div class="col-md-12">
          <div class="card full-width">
            <div class="card-body">
              <h4 class="card-title">This Page Is For Manager and Finance Department Use Only</h4>
            </div>
          </div>
        </div>
      </div>
</template>

<script>
export default {
  data() {
    return {
      claims: [],
      claim: {
        amount: '',
        remarks: '',
        document: '',
        name: '',
        email: '',
        claim: ''
      },
      user_role:'',
      years: [],
      selectedYear: '',
      selectedMonth: '',
      selectedClaim: null,
      isModal: false,
      columns: ['index', 'name', 'remarks', 'amount', 'approve', 'action'],
      data: [],
      options: {
        headings: {
          index: 'No.',
          name: 'Name',
          remarks: 'Remarks',
          amount: 'Amount',
          approve: 'Approve',
          action: 'Action'
        },
        sortable: ['remarks', 'name', 'amount', 'approve'],
        filterable: ['remarks', 'name', 'amount', 'approve']
      },
      checkPermission: true,
      claimApproved: [],
      columnsApp: ['index', 'name', 'type', 'amount', 'approve', 'action'],
      optionsApp: {
        headings: {
          index: 'No.',
          name: 'Name',
          type: 'Claim Type',
          amount: 'Amount',
          approve: 'Status',
          action: 'Action'
        },
        sortable: ['name', 'type'],
        filterable: ['name', 'type']
      },
    };
  },
  methods: {
    produreYear(year){
      
      var startYear = 2018;
      //do loop year
      var i = year - startYear;

      for(i; i>=0; i--){
          var options = { value: startYear + i, text: startYear + i}
          this.years.push(options);
      }
    },
    chageMonthYear(){
        axios
        .get(`/api/claim/${this.selectedMonth}/${this.selectedYear}/approve`)
        .then(res => {
            this.permission =  res.data.permission;
            this.claimApproved = res.data.leaveUser;
            var i=0;
            for(i; i < this.claimApproved.length; i++){
              if(this.claimApproved[i].approve == '1' || this.claimApproved[i].approve == '4'){

                this.claimApproved[i].approve = 'approved';

              }else if(this.claimApproved[i].approve == '2' || this.claimApproved[i].approve == '5'){

                this.claimApproved[i].approve = 'rejected';

              }else{

                this.claimApproved[i].approve = 'processing';

              }
            }console.log(this.claimApproved);
        })
    },
    listClaim() {
      axios
        .get('/api/history/claim')
        .then(res => {
          this.claims = res.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    showModal(id) {
      this.isModal = true;
      this.selectedClaim = id;
      this.selectClaim();
    },
    selectClaim() {
      axios
        .get('/api/claim/application/' + this.selectedClaim)
        .then(res => {
          this.claim = res.data[0];
        })
        .catch(err => {
          console.log(err);
        });
    },
    approveClaim() {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Approve it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          axios
            .put('/api/claim/application/' + this.selectedClaim + '/approve')
            .then(res => {
              this.claims = [];
              this.isModal = false;
              this.$swal('Awesome', 'You have approved this claim', 'success');
              this.listClaim();
            })
            .catch(err => {
              this.$swal('Ops', 'Something wrong', 'danger');
            });
        } else {
          this.$swal('Cancelled', 'This application still not approved', 'info');
        }
      });
    },
    getUserRole(){
      axios
        .get('/api/user/role')
        .then(res => {
          this.user_role = res.data.role;
          console.log(this.user_role);
        })
    }
  },
  created() {
    this.currentTime = new Date();
    this.selectedYear = this.currentTime .getFullYear();
    this.selectedMonth = this.currentTime .getMonth();
    this.listClaim();
    this.chageMonthYear();
    this.getUserRole();
  },
  mounted : function () {
      this.produreYear(this.selectedYear);
  }
};
</script>
