<template>
	  <div class="app flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card-group mb-0">
              <div class="card p-4">
                <div class="card-body">
                  <h1>Coach Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <login-form @loginSuccess="loginSuccess"></login-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import LoginForm from "./../../coach/login/LoginForm.vue";
import jwtToken from "../../../helpers/jwt-token";
import { mapActions } from "vuex";

export default {
  components: {
    "login-form": LoginForm
  },
  methods: {
    ...mapActions(["setAuthUser"]),
    loginSuccess(data) {
      jwtToken.setToken(data.token);
      jwtToken.setRoleId(data.user.role_id);
      this.setAuthUser(data.user);
      this.$router.push({ name: "profile" });
    }
  }
};
</script>
