<template>
  <div class="app flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card-group mb-0">
              <div class="card p-4">
                <div class="card-body">
                  <h1>Coach Register</h1>
                  <p class="text-muted">Sign In to your account</p>
                    <form v-on:submit="createStaff()">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" v-model="staff.name" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" v-model="staff.email" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" v-model="staff.password" required>
                        </div>
                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" name="contact" class="form-control" v-model="staff.contact" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                            <router-link :to="{name: 'coach.login' }" >
                                <button class="btn btn-outline-info">
                                    Already have an account?
                                </button>
                            </router-link>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      loading: false,
      staff: {
        name: "",
        password: "",
        email: "",
        contact: ""
      }
    };
  },

  methods: {
    createStaff() {
      event.preventDefault();

      console.log(this.staff);

      this.loading = true;
      axios
        .put("/api/coach/register", this.staff)
        .then(res => {
          this.loading = false;
          this.$router.push("/coach/login");
          alert("wait for superadmin to approve");
        })
        .catch(err => {
          console.log(err.data);
          this.loading = false;
        });
    }
  }
};
</script>

