<template>
  <div>
    <div class="card mt-3">
      <div class="card-header">
        <span class="text-left">Create Receive Inventory</span>
      </div>
      <div class="card-body">
        <form v-on:submit.prevent="createInventory()">

            <div class="form-group">
                <label class="font-weight-bold">Date</label>
                <input type="date" name="date" v-model="inventoryItem.date"
                    class="form-control" v-validate="'required'" :class="{ 'is-invalid': errors.has('date') }" required />
            </div>

            <div class="form-group">
                <label class="font-weight-bold">Name</label>
                <input type="name" name="name" v-model="inventoryItem.name"
                    class="form-control" v-validate="'required'" :class="{ 'is-invalid': errors.has('name') }" readonly />
            </div>

            <div class="form-group">
              <label class="font-weight-bold">Product</label>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <label>Name</label>
                  <autocomplete
                      ref="autocomplete"
                      id="searchProduct"
                      placeholder="Search Product Name or Code"
                      :source="searchProduct"
                      results-property="items"
                      results-display="product_name"
                      inputClass="typeahead-style"
                      v-model="listproduct.item_id"
                      name="products"
                      :class="{ 'is-invalid': errors.has('products') }"
                      @keydown.enter.native.prevent="next"
                      @change.native.prevent="next"
                      >
                  </autocomplete>
                </div>

                <div class="col-sm-12 col-md-4">
                  <label>Quantity</label>
                  <input type="text" maxlength="4" name="quantity" id="input2" class="form-control" v-model="listproduct.quantity" :class="{ 'is-invalid': errors.has('quantity') }" @keypress="isNumber($event)"  @keydown.enter.exact.prevent @keyup.enter.exact="addProduct()">

                </div>
                <div class="col-sm-12 col-md-2">
                  <label></label>
                  <a class="btn btn-info btn-block text-white my-2" @click.prevent="addProduct()">Add</a>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-responsive table-bordered m-t-30 table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Action</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(s,index) in inventoryItem.productslist" v-bind="inventoryItem.productslist">
                            <td>{{ index + 1 }}</td>
                            <td>
                              <button class="btn btn-outline-danger" @click.prevent="removeProduct(index)">X</button>
                            </td>
                            <td>{{ s.name }}</td>
                            <td>RM {{ s.price.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") }}</td>
                            <td>{{ s.quantity }}</td>
                            <td>RM {{ s.price_quantity.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") }}</td>
                        </tr>
                        <tr>
                          <td class="font-weight-bold" colspan="4">Total</td>
                          <td>{{ inventoryItem.total_quantity }}</td>
                          <td>RM {{ inventoryItem.total_price_view }}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold">Remark</label>
                <input type="text" name="remark" v-model="inventoryItem.remark"
                    class="form-control"/>
            </div>

          <button class="btn btn-primary" :disabled="!isComplete ||  errors.any()" type="submit" @keydown.enter.exact.prevent>Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>


<script>
import Autocomplete from "vuejs-auto-complete";
import * as jquery from 'jquery';

export default {
  data() {
    return {
      inventoryItem: {
        productslist: [],
        date: new Date().toISOString().slice(0,10),
        remark: '',
        name: '',
        total_quantity: 0,
        total_price: 0,
        total_price_view: 0,
        user_id: ''
      },
      products: [],
      outlet_id:'',
      listproduct: {
        item_id: '',
        quantity: '',
        name: '',
        price: '',
        price_quantity: ''
      }
    };
  },
  components: {
    Autocomplete
  },
  methods: {
    next: function (event) {
        document.getElementById('input2').focus();
    },
    isNumber: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();;
      } else {
        return true;
      }
    },
    searchProduct(input) {
      return "/api/inventory/product?q=" + input;
    },
    addProduct() {
      
      if (this.listproduct.item_id == '') {
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please select product',
            type: 'error',
            duration: 2000
          });
      }else if(this.listproduct.quantity == ''){
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please add quantity',
            type: 'error',
            duration: 2000
          });

      }else{
        
        if(this.inventoryItem.productslist.length == 0) {
  
          axios
            .get('/api/inventory/' +this.listproduct.item_id)
            .then(res => {
              
              this.listproduct.name = res.data.product_name;
              this.listproduct.price = res.data.price;

              // calculate single price * quantity for each product
              var sum = 0;
              this.listproduct.price_quantity = (this.listproduct.quantity * parseFloat(res.data.price) ).toFixed(2);
              this.inventoryItem.productslist.push(this.listproduct);
              // console.log(this.inventoryItem.productslist);

              // calculate total quantity
              this.inventoryItem.total_quantity = (parseInt(this.inventoryItem.total_quantity) + parseInt(this.listproduct.quantity));

              // calculate total price
              this.inventoryItem.total_price = (parseFloat(this.inventoryItem.total_price) + (this.listproduct.quantity * parseFloat(res.data.price) ) ).toFixed(2);
              this.inventoryItem.total_price_view = parseFloat(this.inventoryItem.total_price).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

              this.listproduct = {
                item_id: '',
                quantity: '',
                name: '',
                price: '',
                price_quantity: ''
              };
              
          })

          this.$refs.autocomplete.clear()
        }else{

          var new_record = 0;
          for (var i = this.inventoryItem.productslist.length - 1; i >= 0; i--) {
            
            if(this.inventoryItem.productslist[i].item_id == this.listproduct.item_id){

              new_record++;
              var index = this.inventoryItem.productslist[i];

              this.listproduct.name = this.inventoryItem.productslist[i].name;
              this.listproduct.price = this.inventoryItem.productslist[i].price;

              var sum = 0;
              var total_added_quantity = parseFloat(this.listproduct.quantity) + parseFloat(this.inventoryItem.productslist[i].quantity);
              this.listproduct.quantity = total_added_quantity;

              // add previous quantity with current quantity
              this.listproduct.price_quantity = (total_added_quantity * parseFloat(this.listproduct.price)).toFixed(2);

              // set previous price and quantity
              this.inventoryItem.total_price_view = ( parseFloat(this.inventoryItem.total_price) - parseFloat(this.inventoryItem.productslist[i].price_quantity) ).toFixed(2);
              this.inventoryItem.total_price = ( parseFloat(this.inventoryItem.total_price) - parseFloat(this.inventoryItem.productslist[i].price_quantity) ).toFixed(2);
              this.inventoryItem.total_quantity = ( parseInt(this.inventoryItem.total_quantity) - this.inventoryItem.productslist[i].quantity );
              
              // remove item from index
              this.inventoryItem.productslist.splice(i, 1);

              // update the latest record of item 
              this.inventoryItem.productslist.push(this.listproduct);
              
              // calculate total quantity
              this.inventoryItem.total_quantity = (parseInt(this.inventoryItem.total_quantity) + parseInt(this.listproduct.quantity));

              // calculate total price
              this.inventoryItem.total_price = (parseFloat(this.inventoryItem.total_price) + (this.listproduct.quantity * parseFloat(this.listproduct.price) ) ).toFixed(2);
              this.inventoryItem.total_price_view = parseFloat(this.inventoryItem.total_price).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

              this.listproduct = {
                item_id: '',
                quantity: '',
                name: '',
                price: '',
                price_quantity: ''
              };

            }
          }
          if(new_record == 0){
            axios
              .get('/api/inventory/' +this.listproduct.item_id)
              .then(res => {
                
                this.listproduct.name = res.data.product_name;
                this.listproduct.price = res.data.price;

                // calculate single price * quantity for each product
                var sum = 0;
                this.listproduct.price_quantity = (this.listproduct.quantity * parseFloat(res.data.price) ).toFixed(2);
                this.inventoryItem.productslist.push(this.listproduct);
                // console.log(this.inventoryItem.productslist);

                // calculate total quantity
                this.inventoryItem.total_quantity = (parseInt(this.inventoryItem.total_quantity) + parseInt(this.listproduct.quantity));

                // calculate total price
                this.inventoryItem.total_price = (parseFloat(this.inventoryItem.total_price) + (this.listproduct.quantity * parseFloat(res.data.price) ) ).toFixed(2);
                this.inventoryItem.total_price_view = parseFloat(this.inventoryItem.total_price).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                this.listproduct = {
                  item_id: '',
                  quantity: '',
                  name: '',
                  price: '',
                  price_quantity: ''
                };
                
            })  
          }
          this.$refs.autocomplete.clear()
        }
      }    
    },
    removeProduct(index){
      console.log(index);
      // set previous price and quantity
      this.inventoryItem.total_price_view = ( parseFloat(this.inventoryItem.total_price) - parseFloat(this.inventoryItem.productslist[index].price_quantity) ).toFixed(2);
      this.inventoryItem.total_price = ( parseFloat(this.inventoryItem.total_price) - parseFloat(this.inventoryItem.productslist[index].price_quantity) ).toFixed(2);
      this.inventoryItem.total_quantity = ( parseInt(this.inventoryItem.total_quantity) - this.inventoryItem.productslist[index].quantity );

      // remove item from index
      this.inventoryItem.productslist.splice(index, 1);
    },
    createInventory() {
      // console.log(this.inventoryItem);
      event.preventDefault();
      if (this.inventoryItem.productslist == '') {
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please Add Products Before Submit',
            type: 'error',
            duration: 2000
          });
      }else if(this.outlet_id != '' && this.inventoryItem.productslist != '') {
        axios
          .put('/api/inventory/receive/'+ this.outlet_id, this.inventoryItem)
          .then( res => {
            this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'You have update the inventory',
                type: 'success',
                duration: 5000
              });
            // this.$router.go("/inventory/receive");
            this.$router.push("/inventory/receive");
          })
      }else{
        this.$notify({
          group: 'foo',
          title: 'Ops',
          text: 'You dont have permission to update',
          type: 'error',
          duration: 5000
        });
      }
    }
  },
  created() {
    axios
        .get("/api/user")
        .then(res => {
          this.inventoryItem.name = res.data.name;
          this.inventoryItem.user_id = res.data.id;
          this.outlet_id = res.data.outlet_id;
        })
  },
  computed: {
    isComplete() {
      return (
        this.inventoryItem.productslist &&
        this.inventoryItem.date &&
        this.inventoryItem.name
      );
    }
  }
};
</script>