<template>
  <div>
    <div class="card mt-3">
      <div class="card-header">
        <span class="text-left">Inventory List</span>
      </div>
      <div class="card-body">
        <div id="customers">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-xs-6">
                    <img v-if="outlets.outletlogo" :src="'/storage/' + outlets.outletlogo" class="image-outletlogo">
                    <img v-else src="/images/default-avatar.png" class="image-outletlogo">
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div>
                        <h6>{{ outlets.name }}</h6>
                        <p>{{ outlets.street1 }} {{ outlets.street2 }} {{ outlets.postcode }} {{ outlets.city }} {{ outlets.country }}</p>
                    </div>
                </div>
            </div>
            <hr size="30">
            <div class="row">
                <div class="col-md-12 font-weight-bold">Stock Receive</div>
                <div class="col-md-12">Name : {{ name }}</div>
                <div class="col-md-12">Date : {{ receive_date  | moment("Do MMMM YYYY") }} </div>
                <div class="col-md-12">Remark : {{ remark }}</div>
            </div>
            <br>
            <table class="table table-responsive m-t-30 table-hover table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th style="text-align: center;">Product Name</th>
                        <th style="text-align: center;">Price</th>
                        <th style="text-align: center;">Quantity</th>
                        <th style="text-align: center;">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(inventoryList, index) in inventoryList" v-bind="inventoryList" :key="inventoryList.id">
                        <td>{{ index + 1 }}</td>
                        <td>{{ inventoryList.product_name }}</td>
                        <td style="text-align: right;">RM {{ inventoryList.price.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") }}</td>
                        <td style="text-align: right;">{{ inventoryList.quantity }}</td>
                        <td style="text-align: right;">RM {{ inventoryList.price_quantity.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" colspan="3">Total</td>
                      <td style="text-align: right;">{{ total_quantity }}</td>
                      <td style="text-align: right;">RM {{ total_price.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" @click="printNow">Print PDF</button>
      </div>

    </div>
  </div>
</template>

<style>
@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
}
hr{
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: 2px solid rgb(0, 0, 0);
}
.image-outletlogo{
    width: 150px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.table-responsive{
  display: inline-table;
}
</style>

<script>
import * as jsPDF from 'jspdf';

export default {
  data() {
    return {
      paramId: this.$route.params.id,
      inventoryList: '',
      total_price: '',
      total_quantity: '',
      receive_date: '',
      remark: '',
      name: '',
      outlets: ''
    };
  },
  methods: {
    viewHistory(){
        axios
          .get(`/api/inventory/receive/history/${this.paramId}`)
          .then(res => {
            console.log(res.data);
            this.inventoryList = res.data;
            this.total_price = res.data[0].total_price;
            this.total_quantity = res.data[0].total_quantity;
            this.receive_date = res.data[0].receive_date;
            this.remark = res.data[0].remark;
            this.name = res.data[0].name;
          })
    },
    printNow(){
      var printContents = document.getElementById('customers').innerHTML;
      var originalContents = document.body.innerHTML;

      document.body.innerHTML = printContents;

      window.print();

      document.body.innerHTML = originalContents;
    },
    getOutlet(id){
        axios
            .get('/api/outlets/' + id)
            .then( res => {
                // console.log(res.data.data);
                this.outlets = res.data.data;
            })
            .catch( err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
    }
  },
  created() {
    this.viewHistory();
    axios
      .get("/api/user")
      .then(res => {
        this.getOutlet(res.data.outlet_id);
      })
  }
};
</script>