<template>
  <div class="form-check">
    <ul>
        <li v-for="outlet in outlets" v-bind="outlet" :key="outlet.id">
            <input type="checkbox" class="form-check-input" v-bind:id="'#' + outlet.id" v-bind:checked="isChecked(outlet.id)" @click="assignOutlet(outlet.id)"> 
            <label v-bind:for="'#' + outlet.id">#{{outlet.id }} {{ outlet.name }}</label>
        </li>
    </ul>
  </div>
</template>


<script>
import { mapState } from "vuex";
import { api } from "../../../config";

export default {
  data() {
    return {
      loading: false,
      outlets: [],
      existingOutlets: [],
      sent: {
        outlet_id: "",
        add: true
      },
      error: {
        name: "",
        email: ""
      },
      userId: this.$route.params.id,
      user: {
        name: "",
        email: "",
        contact: "",
        designation: ""
      }
    };
  },
  methods: {
    getOutlets() {
      axios
        .get("/api/outlets")
        .then(res => {
          this.outlets = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    getUser() {
      axios
        .get("/api/superadmin/" + this.userId)
        .then(res => {
          this.existingOutlets = res.data.data.outlets;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    isChecked(id) {
      var found = this.existingOutlets.filter(outlet => outlet.id === id);
      if (found.length === 0) {
        return false;
      } else {
        return true;
      }
    },
    assignOutlet(id) {
      this.sent.outlet_id = id;
      if (this.isChecked(id)) {
        console.log("ID" + id + "ni dah daftar");
        this.sent.add = false;
        axios
          .put("/api/outlets/" + this.userId + "/outlet", this.sent)
          .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'The outlet has been assigned.',
              type: 'success',
              duration: 5000
            });
            this.$noty.success("Outlet Removed");
            this.getUser();
          })
          .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
            console.log(err.data);
          });
      } else {
        console.log("ID" + id + "ni belum daftar");
        this.sent.add = true;
        axios
          .put("/api/outlets/" + this.userId + "/outlet", this.sent)
          .then(res => {

          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'the outlet has been assigned.',
              type: 'success',
              duration: 5000
            });
          
            this.$noty.success("Outlet Assigned");
            this.getUser();
          })
          .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
            console.log(err.data);
          });
      }
    }
  },
  created() {
    this.getOutlets();
    this.getUser();
  }
};
</script>

