<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title">
                Update Staff Leave 
            </h4>

            <form class="form" v-on:submit="updateLeave()">
                    
                <div class="form-group" v-for="(list, index) in listLeaves">
                    <label class="font-weight-bold">{{ list.name }}</label>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <small>Set Days (mandatory)</small>
                            <input type="number" class="form-control" v-model="leave.value[index].days" required>
                        </div>
                        <div class="col-md-6 col-12">
                            <small>Carried Over (optional)</small>
                            <input type="number" class="form-control" v-model="leave.value[index].carryfoward">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary pull-right">
                    <i class="icon-plus"></i> Update
                </button>
            </form>
        </div>
    </div>
</template>


<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
  data() {
    return {
      loading: false,
      staffId: this.$route.params.id,
      leave: {
        value: []
      },
      checkPermission: true,
      listLeaves: []
    };
  },
  methods: {
    getTypeLeave(){
      axios
        .get('/api/leave')
        .then(res => {
          this.listLeaves = res.data;
          for (var i = 0; i < this.listLeaves.length; i++) {
              this.leave.value.push({days: 0, carryfoward: 0, leave_id: this.listLeaves[i].id});
          }
          this.getLeaveUser();
        })
    },
    getLeaveUser(){
      axios
        .get('/api/leave/assign/' + this.staffId)
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            this.leave.value[i].days = res.data[i].days;
            this.leave.value[i].carryfoward = res.data[i].carryfoward;
          }
        })
    },
    updateLeave() {
      console.log(this.leave);
      event.preventDefault();
      axios
        .put("/api/leave/assign/" + this.staffId, this.leave)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'The leave config updated.',
              type: 'success',
              duration: 5000
            });
          this.$router.push("/leave/config");
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err);
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getTypeLeave();
  }
};
</script>
