<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title">Add new Leave Category</h4>

            <form class="form" v-on:submit="addLeave()">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" :disabled="loading" v-model="leave.name" required> 
                </div>

                    
                <!-- <div class="form-group">
                    <label>Minimum Day</label>
                    <input type="number" class="form-control" :disabled="loading" v-model="leave.minimumDay"  required>
                </div>

                    
                <div class="form-group">
                    <label>Continuous</label>
                    <input type="number" class="form-control" :disabled="loading" v-model="leave.continuous" required> 
                </div> -->

                <button type="submit" class="btn btn-primary pull-right">
                    <i class="icon-plus"></i> Add New Leave
                </button>

            </form>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
  data() {
    return {
      loading: false,
      leave: {
        name: "",
        minimumDay: "",
        continuous: ""
      },
      checkPermission: true
    };
  },
  methods: {
    addLeave() {
      event.preventDefault();

      console.log(this.leave);

      this.loading = true;
      axios
        .put("/api/leave", this.leave)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have added new leave config.',
              type: 'success',
              duration: 5000
            });
          this.loading = false;
          this.$router.push("/leave/config");
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
          this.loading = false;
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : true;
  }
};
</script>