<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title">
                Edit Leave Config
            </h4>

            <form class="form" v-on:submit="updateLeave()">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" v-model="leave.name" :disabled="loading" required> 
                </div>

                    
                <!-- <div class="form-group">
                    <label>Minimum Day</label>
                    <input type="number" class="form-control" v-model="leave.minimumDay"  :disabled="loading" v-validate="'required|email'" required>
                </div>

                    
                <div class="form-group">
                    <label>Continuous</label>
                    <input type="number" class="form-control" v-model="leave.continuous" :disabled="loading" required> 
                </div> -->

                <button type="submit" class="btn btn-primary pull-right">
                    <i class="icon-plus"></i> Update
                </button>
            </form>
        </div>
    </div>
</template>


<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
  data() {
    return {
      loading: false,
      leaveId: this.$route.params.id,
      leave: {
        name: "",
        minimumDay: "",
        continuous: ""
      },
      checkPermission: true
    };
  },
  methods: {
    getSingleLeave() {
      axios
        .get("/api/leave/" + this.leaveId)
        .then(res => {
          this.leave = res.data;
          console.log(res.data);
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    updateLeave() {
      event.preventDefault();
      axios
        .post("/api/leave/" + this.leaveId + "/edit", this.leave)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'The leave config updated.',
              type: 'success',
              duration: 5000
            });
          this.$router.push("/leave/config");
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err);
        });
    },
    deleteLeave(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/leave/" + id)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'The leave config has been deleted.',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/leave/config");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
              console.log(err);
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getSingleLeave();
  }
};
</script>
