<template>
    <div class="row" v-if="checkPermission">
        <div class="col-md-12">

            <div class="card mt-3">
                <div class="card-body">
                    <h4 class="card-title">Leave Config</h4>

                    <v-client-table :columns="columns" :data="leaves" :options="options">
                      <div slot="index" slot-scope="props">{{ props.index }}</div>

                      <router-link slot="action" slot-scope="props" :to="{name: 'leave.config.edit',  params: { id: props.row.id } }" >
                        <button class="btn btn-info text-white">Edit</button>
                      </router-link>
                    </v-client-table>
                          
                    <router-link :to="{name: 'leave.config.create' }" >
                      <button class="btn btn-primary">Create a new Leave</button>
                    </router-link>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h4 class="card-title">Assign Leave to Staff/Coach</h4>

                    <v-client-table :columns="staffCol" :data="staffs" :options="alternative">
                        <div slot="index" slot-scope="props">{{ props.index }}</div>

                        <div slot="role" slot-scope="props">{{ props.row.role.role | capitalize }}</div>

                        <router-link slot="action" slot-scope="props" :to="{name: 'leave.config.assign',  params: { id: props.row.id } }" >
                            <button class="btn btn-info text-white">Edit</button>
                        </router-link>

                      </v-client-table>
                </div>
            </div>
        </div>
        

    </div>
</template>


<script>
import { siteName } from './../../../config';
import jwtToken from "../../../helpers/jwt-token";

export default {
  data() {
    return {
      loading: false,
      leaves: [],
      columns: ['index', 'name', 'action'],
      options: {
        headings: {
          index: 'No.',
          name: 'Name',
          action: 'Action'
        },
        sortable: ['name',],
        filterable: ['name',]
      },
      checkPermission: true,
      staffCol: ['index', 'name', 'role', 'action'],
      staffs: [],
      alternative: {
        headings: {
          index: 'No.',
          name: 'Name',
          role: 'Role',
          action: 'Action'
        },
        sortable: ['name'],
        filterable: ['name'],
      },
    };
  },
  methods: {
    listLeave() {
      axios
        .get('/api/leave')
        .then(res => {
          this.leaves = res.data;
          this.listStaff();
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err);
        });
    },
    listStaff(){
        axios
            .get(`/api/leave/staff/list`)
            .then(res => {
                this.staffs = res.data;
            })
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.listLeave();
  }
};
</script>
