<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span class="text-left">Update Banner</span>
		</div>
    	<div class="card-body">
      <form v-on:submit="updateBanner()">

        <div class="form-group">
            <label class="font-weight-bold">Title</label>
            <input type="text" class="form-control" v-model="banner.title" required>
        </div>

        <div class="form-group">
          <div class="col-md-12">
              <label class="font-weight-bold">Profile Picture</label>
              <img v-if="banner.image" :src="'/storage/' + banner.image" class="iimg-fluid rounded-circle d-block mb-2" width="100" height="auto">
              <img v-else src="/images/default-banner.png" class="img-fluid rounded-circle d-block mb-2" width="100" height="auto">
              <a @click="myModal = true" class="mt-1 text-primary">Change Avatar</a>
          </div>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Description</label>
            <input type="text" class="form-control" v-model="banner.description" required>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Update</button>

        <b-modal title="Update Avatar" class="modal-primary" v-model="myModal" @ok="addBanner()">
          <div class="row">
            <div class="col-sm-12">
                <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange">
                <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                    <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                    <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                </div>
            </div>
          </div>
        </b-modal>
      </form>
    	</div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
    	banner: {
    		title: '',
    		description: ''
    	},
      myModal: false,
      data: new FormData(),
      attachments: [],
    	bannerId: this.$route.params.id,
      checkPermission: true
    };
  },
  methods: {
  	getBanner() {
      axios
        .get("/api/banner/" + this.bannerId)
        .then(res => {
          console.log(this.bannerId);
          this.banner = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    updateBanner() {
      event.preventDefault();
      axios
        .post('/api/banner/' + this.bannerId, this.banner)
        .then( res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have update the Banner',
              type: 'success',
              duration: 5000
            });

          this.$router.push("/master-data/banner");
        })
        .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    addBanner() {
      this.prepareFields();
        var config = {
          headers: { "Content-Type": "multipart/form-data" },
          onUploadProgress: function(progressEvent) {
            this.percentCompleted = Math.round(
              progressEvent.loaded * 100 / progressEvent.total
            );
            this.$forceUpdate();
          }.bind(this)
        };

    axios
        .post('/api/upload/banner/' + this.bannerId + '/banner', this.data, config)
        .then( res => {
            this.getBanner();
        })
        .catch( err => {
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact adminstrator',
                type: 'error',
                duration: 5000
            });
        });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getBanner();
  }
};
</script>