<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span class="text-left">Banner Management</span>
          	<router-link :to="{name: 'banner.create'}" class="btn btn-primary" >
				Create New Banner
          	</router-link>
		</div>
    	<div class="card-body">


            <table class="table m-t-30 table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Banner Title</th>
                        <th>Banner File Name</th>
                        <th>Banner Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(banner, index) in banner" v-bind="banner" :key="banner.id">
                        <td>{{ index + 1 }}</td>
                        <td>{{ banner.title }}</td>
                        <td>
                            <img v-if="banner.image" :src="'/storage/' + banner.image" class="image_index rounded-circle">
                            <img v-else src="/images/default-image.png" class="image_index rounded-circle" width="50" height="auto">
                        </td>
                        <td>{{ banner.description }}</td>
                        <td>
                            <router-link :to="{name: 'banner.view',  params: { id: banner.id } }" > 
                                <button class="btn btn-outline-primary">View</button>
                            </router-link>
                        </td>
                    </tr>

                    
                </tbody>
            </table>
    	</div>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
    	banner: [],
        checkPermission: true
    };
  },
  methods: {
    getAllBanners() {
    	axios
    		.get('/api/banner')
    		.then( res => {
    			this.banner = res.data;
    		})
    		.catch( err => {
	          this.$notify({
	              group: 'foo',
	              title: 'Ops',
	              text: 'Please contact administrator',
	              type: 'error',
	              duration: 5000
	            });
    		});
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getAllBanners();
  }
};
</script>