<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
      <h4>View Banner - {{ banner.title }}</h4>
    </div>
      <div class="card-body">
        <div class="row">
          <img v-if="banner.image" :src="'/storage/' + banner.image" class="image_view rounded-circle mb-3">
          <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle mb-3"  height="auto">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p class="font-weight-bold">Description</p>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p>{{ banner.description }}</p>
          </div>
          <div class="col-md-12 col-xs-12 b-r">
            <button class="btn btn-outline-danger pull-right mr-2" @click="deleteBanner(voucherId)">Delete</button>
            <router-link :to="{name: 'banner.edit',  params: { id: banner.id } }" > 
              <button class="btn btn-info pull-right mr-2 text-white">Edit</button>
            </router-link>
          </div>
        </div>
		  </div>
	</div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      voucherId: this.$route.params.id,
      banner: {},
      checkPermission: true
    };
  },
  methods: {
    getVoucher() {
      axios
        .get("/api/banner/" + this.voucherId)
        .then(res => {
          this.banner = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    deleteBanner(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/banner/" + id)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have deleted the voucher',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/master-data/banner");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getVoucher();
  }
};
</script>
