<template>
  <b-modal title="Create Bill Order" class="modal-success" v-model="myModal" @ok="createOrder()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
              <label class="font-weight-bold">Order Month</label>
              <input type="month" class="form-control" v-model="order.date" required>
          </div>
      </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      userId: '',
      package_user_id: '',
      order: {
        date: ''
      }
    };
  },
  methods: {
    openModal(id, id2) {
      this.myModal = true;
      this.userId = id;
      this.package_user_id = id2;
    },
    createOrder() {
      this.$swal({
        title: 'Create New Bill?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Do order!',
        cancelButtonText: 'Cancel!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          axios
            .post(`/api/member/order/${this.userId}/${this.package_user_id}`, this.order)
            .then(res => {
              // this.$notify({
              //   group: 'foo',
              //   title: 'Awesome',
              //   text: 'You have created new order.',
              //   type: 'success',
              //   duration: 5000
              // });
              this.$swal('Great', 'You successfully create new order', 'success');
              // this.getMember();
            })
            .catch(err => {
              this.$swal('Error', err.response.data.message, 'error');
              // if (err.response.status == 500) {
              //     this.$notify({
              //         group: 'foo',
              //         title: 'Ops',
              //         text: err.response.data.message,
              //         type: 'error',
              //         duration: 5000
              //     });
              // }
            });
        } else {
          this.$swal('Cancelled', 'You not create new order', 'info');
        }
      });
    },
  },
  created() {
    this.$parent.$on('openCreateOrderModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
</style>
