<template>
  <b-modal title="Disable Auto Upgrade" class="modal-info" v-model="myModal" @ok="Disable()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
              <!-- <label class="font-weight-bold">Order Month</label>
              <input type="month" class="form-control" v-model="order.date" required> -->
              <label class="font-weight-bold">Disable Confirmation</label>
              <b-form-checkbox value="0"  v-model="package_user.auto_upgrade" > Confirm, Disable Auto Upgrade For this Member</b-form-checkbox>
              <label class="font-weight-bold">Remarks To Disable</label>
              <textarea class="form-control" v-model="package_user.reason" maxlength="300"></textarea> 
          </div>
      </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      userId:'',
      myModal: false,
      package_user: {
        package_user_id: "",
        reason: "",
        auto_upgrade: ""
      },
      order: {
        date: ''
      }
    };
  },
  methods: {
    openModal(id, id2) {
      this.myModal = true;
      this.userId = id;
      this.package_user.package_user_id = id2;
      console.log(this.userId);
      console.log(this.package_user_id);
    },
    Disable() {
      axios
        .put(`/api/member/package/disable/auto_upgrade/`, this.package_user)
        .then(res => {
          this.$swal('Great', 'You successfully updated the auto-upgrade status', 'success');
          this.$router.go("/member/"+ this.userId);
        })
        .catch(err => {
          this.$swal('Error', err.response.data.message, 'error');
          this.$router.go("/member/"+ this.userId);
        });
    },
  },
  created() {
    this.$parent.$on('openEditAutoUpgradeStatusModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
</style>
