<template>
  <div class="card mt-3" v-if="checkPermission">
    <div class="card-header">
      <span>Add New Email Template</span>
    </div>
      <div class="card-body">
        <form v-on:submit="addEmailTemplate()">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" v-model="email.title">
          </div>
          <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" v-model="email.subject">
          </div>
          <div class="form-group">
            <label>Email Variables</label>
            <select class="form-control" v-model="selectedMonth" @change="chageMonth(selectedMonth)">
              <option v-for="(value, key) in variables" :value="key">{{ value }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Message</label>
            <wysiwyg v-model="email.content" />
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      email: {
        title: '',
        content: '',
        subject: ''
      },
      selected: '',
      variables : [],
      selectedMonth: '',
      checkPermission: true
    };
  },
  methods: {
    getVariable(){
        axios
          .get('/api/email/variable')
          .then(res => {
              this.variables = res.data;
          })
    },
    chageMonth(month) {
      console.log(month);
      console.log(this.email.content);
      this.email.content = this.email.content + month;
    },
    addEmailTemplate() {
      event.preventDefault();
      axios
        .put('/api/email', this.email)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have added the email template',
            type: 'success',
            duration: 5000
          });

          this.$router.push('/master-data/email');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
      var getRoleId = jwtToken.getRoleId();
      getRoleId.includes(16) == false ? this.returnError() : this.getVariable();
  }
};
</script>

<style lang="scss" scoped>
@import '~vue-wysiwyg/dist/vueWysiwyg.css';
</style>
