<template>
    <div class="card mt-3" v-if="checkPermission">
        <div class="card-header">
            <span class="text-left">List of Available template</span>
            <router-link :to="{name: 'email-template.create'}" class="btn btn-primary" >
                Add template
            </router-link>
        </div>
        <div class="card-body">

            <v-client-table :columns="columns" :data="emails" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>

              <router-link slot="action" slot-scope="props" :to="{name: 'email-template.view',  params: { id: props.row.id } }" >
                <button class="btn btn-info text-white">View</button>
              </router-link>
            </v-client-table>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
    data() {
        return {
            emails: [],
            columns: ['index', 'title', 'action'],
            options: {
                headings: {
                    index: 'No.',
                    title: 'Title',
                    action: 'Action'
                },
                sortable: ['title'],
                filterable: ['title']
            },
            checkPermission: true
        };
    },
    methods: {
        getEmailTemplate() {
            axios
                .get('/api/email')
                .then(res => {
                    this.emails = res.data;
                    console.log(this.emails);
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        },
        returnError(){
            this.checkPermission = false;
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot access',
                type: 'error',
                duration: 5000
            });
        }
    },
    created() {
        var getRoleId = jwtToken.getRoleId();
        getRoleId.includes(16) == false ? this.returnError() : this.getEmailTemplate();
    }
};
</script>
