<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<h2>{{ email.title }}</h2>
		</div>
		<div class="card-body" v-html>
			<div v-html="email.content">
			</div>
			<hr>
			<button class="btn btn-outline-danger pull-right mr-2" @click="deleteEmail()">Delete</button>
			<router-link :to="{name: 'email-template.edit',  params: { id: email.id } }" > 
  			 <button class="btn btn-info pull-right mr-2 text-white">Edit</button>
      </router-link>
		</div>
	</div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      isModal: false,
      emailId: this.$route.params.id,
      email: {},
      checkPermission: true
    };
  },
  methods: {
    getUser() {
      axios
        .get("/api/email/" + this.emailId)
        .then(res => {
          this.email = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    deleteEmail() {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/email/" + this.emailId)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have deleted the customer',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/master-data/email");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
        } else {
          this.$swal('Cancelled', 'Your email is still intact', 'info');
        }
      });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getUser();
  }
};
</script>
