<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">List Timeslot</h4>

                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Day</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="timeslot in timeslots" v-bind="timeslot" :key="timeslot.id">
                        <th scope="row">{{ timeslot.id }}</th>
                        <td class="text-capitalize">{{ timeslot.day }}</td>
                        <td>{{ timeslot.start }}</td>
                        <td>{{ timeslot.end }}</td>
                        <td>
                            <!-- <router-link :to="{name: 'outlet.view',  params: { id: outlet.id } }" >
                            <button class="btn btn-primary">View</button>
                            </router-link>
                            <router-link :to="{name: 'outlet.edit',  params: { id: outlet.id } }" >
                            <button class="btn btn-default">Edit</button>
                            </router-link> -->
                            <button class="btn btn-danger">Delete</button>
                        </td>
                        </tr>
                    </tbody>
                    </table>

                    <button class="btn btn-primary" @click="showModal()">Create a new Timeslot</button>
                    <!-- <router-link :to="{name: 'outlet.create'}" >
                    <button class="btn btn-primary">Create a new Outlet</button>
                    </router-link> -->
                </div>

                </div>
        </div>
        <div class="modal fade in" v-bind:class="{ show: isModal, modal_show: isModal }" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Add New Timeslot</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>

                    <form class="form-horizontal" v-on:submit="createTimeslot()">
                        <div class="modal-body">
                                <div class="form-group">
                                    <div class="col-md-12 m-b-20">
                                        <label>Day</label>
                                        <select class="custom-select" v-model="timeslot.day"  :disabled="loading" required>
                                            <option value="monday">Monday</option>
                                            <option value="tuesday">Tuesday</option>
                                            <option value="wednesday">Wednesday</option>
                                            <option value="thursday">Thursday</option>
                                            <option value="friday">Friday</option>
                                            <option value="saturday">Saturday</option>
                                        </select>
                                    </div>


                                    <div class="col-md-12 m-b-20">
                                        <label>Time start</label>
                                        <input type="time" class="form-control" v-model="timeslot.start" :disabled="loading" required> 
                                    </div>


                                    <div class="col-md-12 m-b-20">
                                        <label>Time end</label>
                                        <input type="time" class="form-control" v-model="timeslot.end" :disabled="loading" required> 
                                    </div>


                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary waves-effect">Submit</button>
                            <button type="button" class="btn btn-default waves-effect" @click="isModal = false">Cancel</button>
                        </div>
                    </form>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      timeslots: [],
      loading: false,
      isModal: false,
      timeslot: {
        start: "",
        end: "",
        day: ""
      }
    };
  },
  methods: {
    listTimeslot() {
      axios
        .get("/api/timeslot")
        .then(res => {
          console.log(res.data);
          this.timeslots = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err);
        });
    },
    showModal(id) {
      this.isModal = true;
    },
    createTimeslot() {
      event.preventDefault();
      axios
        .put("/api/timeslot", this.timeslot)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have created a timeslot.',
              type: 'success',
              duration: 5000
            });
          this.isModal = false;
          this.listTimeslot();
          console.log(res.data);
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err);
        });
    }
  },
  created() {
    this.listTimeslot();
  }
};
</script>
