<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span class="text-left">List of Applicant</span>
		</div>
    	<div class="card-body">
            <v-client-table :columns="columns" :data="notice" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>

              <div slot="subject" slot-scope="props">{{ props.row.subject | capitalize }}</div>
              <div slot="role_id" slot-scope="props">{{ props.row.role_id | capitalize }}</div>

              <router-link slot="action" slot-scope="props" :to="{name: 'career.edit',  params: { id: props.row.id } }" >
                <button class="btn btn-info text-white">Edit</button>
              </router-link>
            </v-client-table>
    	</div>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
    	notice: [],
        columns: ['index', 'subject','role_id', 'action'],
        options: {
            headings: {
                index: 'No.',
                subject: 'Subject',
                role_id: 'User Type',
                action: 'Action'
            },
            sortable: ['subject','role_id'],
            filterable: ['subject','role_id']
        },
        checkPermission: true
    };
  },
  methods: {
    getListApplicant() {
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(19) == false ? this.returnError() : this.getListApplicant();
  }
};
</script>