<template>
  <div>
    <router-view></router-view>
    <notifications group="foo" />
  </div>
</template>

<script>
import TopMenu from "./shared/TopMenu.vue";
import AppFooter from "./shared/AppFooter.vue";
import Sidebar from "./shared/Sidebar.vue";
import PageHeader from "./shared/Header.vue";

export default {
  name: "default",
  components: {
    "top-menu": TopMenu,
    "app-footer": AppFooter,
    "left-sidebar": Sidebar,
    "page-header": PageHeader
  }
};
</script>

<style lang="sass">
  $fa-font-path: "~font-awesome/fonts/";
  @import "~font-awesome/css/font-awesome.min.css";
  $simple-line-font-path: "~simple-line-icons/fonts/";
  @import "~simple-line-icons/css/simple-line-icons.css";
</style>