<template>
    <div class="card">
        <h4 class="card-title">adasdasd
            <slot name="card-title"></slot>
        </h4>
        <div class="card-body">
            <slot name="card-body">
            </slot>
        </div>
    </div>
</template>

<script>
export default {};
</script>
