<template>
  <header class="app-header navbar">

    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button" @click="mobileSidebarToggle">&#9776;</button>
    <!-- <a href="/dashboard" style="color:black;">Logo</a> -->

    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" @click="sidebarMinimize">&#9776;</button>
    <h5 class="card-title mt-2">Outlet: Dummy Outlet</h5>
    <b-nav is-nav-bar class="ml-auto">
      <b-nav-item-dropdown right>
        <template slot="button-content">
          <img src="/images/user.png" class="img-avatar" alt="admin@bootstrapmaster.com">
        </template>
        <b-dropdown-header tag="div" class="text-center"><strong>Settings</strong></b-dropdown-header>
        <b-dropdown-item>
          <router-link :to="{name: 'profile'}" >
            <i class="fa fa-user"></i> Profile
          </router-link>
        </b-dropdown-item>
        <a aria-disabled="false" href="#" target="_self" class="dropdown-item" role="menuitem" data-v-6298e500="">
          <a>
            <i class="icon-login"></i> <span v-if="checkInStatus" @click="checkIn()">Check In</span> <span v-else @click="checkOut()">Check Out</span>
          </a>
        </a>
        <b-dropdown-divider></b-dropdown-divider>
        <b-dropdown-item><a @click.prevent="logout"><i class="fa fa-lock"></i> Logout</a></b-dropdown-item>
      </b-nav-item-dropdown>
    </b-nav>

    <b-modal :title="modalTitle" class="modal-primary" v-model="attendanceModal" @ok="clockIN()">
      <form>
        <div class="form-group">
          <label class="font-weight-bold text-left">Time</label>
          <input type="text" class="form-control" v-model="attendance.time" disabled/>
        </div>
        <div class="form-group">
          <label class="font-weight-bold">Date</label>
          <input type="text" class="form-control" v-model="attendance.date" disabled/>
        </div>
      </form>
    </b-modal>

  </header>
</template>
<script>
import { mapGetters } from "vuex";
import { mapState } from "vuex";
import jwtToken from "../helpers/jwt-token";
import { min } from "moment";

export default {
  name: "headers",
  data() {
    return {
      user: "",
      isLoggedIn: false,
      attendanceModal: false,
      checkInStatus: true,
      attendance: {
        time: "",
        date: "",
        latitude: '',
        longitude: '',
      },
      modalTitle: ''
    };
  },
  computed: mapGetters(["isLoggedIn"]),
  computed: mapState({
    name: state => {
      return { ...state.auth };
    }
  }),
  methods: {
    checkIn(){
        this.modalTitle = 'Clock In';
        this.checkFunction();
    },
    checkOut(){
        this.modalTitle = 'Clock Out';
        this.checkFunction();
    },
    checkFunction() {
      this.attendanceModal = true;
      var date = new Date();
      this.clockIn = date;
      var hour = date.getHours();
      var minute = date.getMinutes();

      if (minute < 10) {
        minute = "0" + minute;
      }

      var time;
      if (hour > 12) {
        time = "PM";
        hour = hour - 12;
      } else {
        time = "AM";
      }
      this.attendance.time = hour + ":" + minute + " " + time;

      var month = date.getMonth() + 1;
      this.attendance.date =
        date.getDate() + "-" + month + "-" + date.getFullYear();

      if(navigator.geolocation){
          navigator.geolocation.getCurrentPosition(position => {
              this.attendance.latitude = position.coords.latitude;
              this.attendance.longitude = position.coords.longitude;
          })
      }
    },
    clockIN() {
      console.log(this.attendance);
      var url;
      if (this.modalTitle == 'Clock In') {
        url = "/api/attendance/staff/clockIn";
      }
      else{
        url = "/api/attendance/staff/clockOut";
      }
      axios
        .post(url, this.attendance)
        .then(res => {
          console.log(res);
          this.$notify({
            group: "foo",
            title: "Awesome",
            text: "Done check In",
            type: "success",
            duration: 5000
          });
          this.$router.go();
        })
        .catch(err => {
          console.log(err.response);
          if (err.response.status == 500) {
            if (err.response.data.code == 100) {
                this.$notify({
                  group: "foo",
                  title: "Error",
                  text: err.response.data.message,
                  type: "error",
                  duration: 2000
                });
            }
            else{
              this.$notify({
                group: "foo",
                title: "Error",
                text: err.response.data.message,
                type: "error",
                duration: 2000
              });
            } 
          }
        });
    },
    logout() {
      jwtToken.removeToken();
      this.$store.dispatch("unsetAuthUser").then(() => {
        this.$noty.success("You are logged out");
        this.$router.push({ name: "login" });
      });
    },
    sidebarToggle(e) {
      e.preventDefault();
      document.body.classList.toggle("sidebar-hidden");
    },
    sidebarMinimize(e) {
      e.preventDefault();
      document.body.classList.toggle("sidebar-minimized");
    },
    mobileSidebarToggle(e) {
      e.preventDefault();
      document.body.classList.toggle("sidebar-mobile-show");
    },
    asideToggle(e) {
      e.preventDefault();
      document.body.classList.toggle("aside-menu-hidden");
    }
  },
  created() {
    // Get User Information
    axios
      .get("/api/user")
      .then(res => {
        this.user = res.data;
      })
    //   .catch(err => {
    //     this.$notify({
    //       group: "foo",
    //       title: "Ops",
    //       text: "Please contact administrator",
    //       type: "error",
    //       duration: 5000
    //     });
    //     console.log("Something wrong over here man");
    //   });

    // Get Today Check In
    axios
      .get("/api/attendance/staff")
      .then(res => {
        if (res.data) {
          this.checkInStatus = false;
        } else {
          this.checkInStatus = true;
        }
      });
  }
};
</script>


