<template>
	<div>
		<edit-password-form @updateSuccess="updateSuccess"></edit-password-form>
	</div>
</template>

<script>
import EditPasswordForm from "./EditPasswordForm.vue";

export default {
  components: {
    "edit-password-form": EditPasswordForm
  },
  methods: {
    updateSuccess() {
      this.$router.push({ name: "profile" });
    }
  }
};
</script>
