<template>
    <div class="row mt-3" v-if="checkPermission">
      <div class="col-md-12">

        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Leave Application History</h4>
              <label>Month : </label>
                  <select class="form-control status-width" v-model="selectedMonth" @change="chageMonthYear()">
                      <option value="0">January</option>
                      <option value="1">February</option>
                      <option value="2">March</option>
                      <option value="3">April</option>
                      <option value="4">May</option>
                      <option value="5">June</option>
                      <option value="6">July</option>
                      <option value="7">August</option>
                      <option value="8">September</option>
                      <option value="9">October</option>
                      <option value="10">November</option>
                      <option value="11">December</option>
                  </select>
              <label>Year : </label>
                  <select class="form-control status-width" v-model="selectedYear" @change="chageMonthYear()" id="selectyear">
                  </select>

              <label>Status : </label>
                  <select class="form-control status-width" v-model="selectedStatus" @change="chageMonthYear()">
                    <option value="3">All</option>
                    <option value="0">Processing</option>
                    <option value="1">Approved</option>
                    <option value="2">Rejected</option>
                  </select>

        <v-client-table :columns="columns" :data="leaves" :options="options">
            <div slot="index" slot-scope="props">{{ props.index }}</div>

            <div slot="start" slot-scope="props">{{ props.row.pivot.start | moment("Do MMMM YYYY") }}</div>
            <div slot="end" slot-scope="props">{{ props.row.pivot.end | moment("Do MMMM YYYY") }}</div>

            <div slot="approve" slot-scope="props">
                <div v-if="props.row.pivot.approve == 0 || props.row.pivot.approve == 4">
                    Processing
                </div>
                <div v-else-if="props.row.pivot.approve == 2 || props.row.pivot.approve == 5">
                    Rejected
                </div>
                <div v-else>
                    Approved
                </div>
            </div>

            <router-link slot="action" slot-scope="props" :to="{name: 'leave.history.view',  params: { id: props.row.pivot.id } }" >
                <button class="btn btn-info text-white">View</button>
            </router-link>
        </v-client-table>
          </div>

        </div>
      </div>
    </div>
</template>

<script>
function Leave({ id, start, end, reason, document, approve }) {
  this.id = id;
  this.start = start;
  this.end = end;
  this.reason = reason;
  this.document = document;
  this.approve = approve;
}

export default {
  data() {
    return {
      leaves: [],
      columns: ['index', 'name', 'start', 'end', 'approve', 'action'],
      data: [],
      options: {
        headings: {
          index: 'No.',
          name: 'Type',
          start: 'Start',
          end: 'End',
          approve: 'Approve',
          action: 'Action',
        },
        sortable: ['start','name', 'end', 'approve'],
        filterable: ['start','name', 'end', 'approve']
      },
      checkPermission: true,
      selectedYear:'',
      selectedMonth:'',
      selectedStatus:'',
    };
  },
  methods: {
    produreYear(){
      var startYear = 2018;
      //do loop year
      var i = this.selectedYear  - startYear;

      while(i>=0){
          $('#selectyear').append($('<option>', {
              value: startYear + i,
              text: startYear + i
          }));
          i--;
      }
    },
    chageMonthYear(){

        this.listLeave(this.selectedMonth, this.selectedYear, this.selectedStatus);
        console.log(this.selectedMonth, this.selectedYear, this.selectedStatus);
    },
    listLeave(month, year, status) {
      axios
        .get(`/api/history/leave/record/${this.selectedMonth}/${this.selectedYear}/${this.selectedStatus}`)
        .then(res => {
          this.leaves = res.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    }
  },
  created() {
    
    this.currentTime = new Date();
    this.selectedYear = this.currentTime .getFullYear();
    this.selectedMonth = this.currentTime .getMonth();
    this.selectedStatus = '3';
    this.listLeave(this.selectedMonth, this.selectedYear, this.selectedStatus);
  },
  mounted : function () {
      this.produreYear();
  }
};
</script>
