<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
        <h4 class="card-title mb-5">Leave Application</h4>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <i class="icon-calendar mr-2"></i> {{ leave.start }} - {{ leave.end }} (<strong>{{ differentDay }} day/s</strong>)
                    </p>
                    <p>
                        <i class="icon-user mr-2"></i> {{ leave.user.name }}
                    </p>
                    <p>
                        <i class="icon-envelope mr-2"></i> {{ leave.user.email }}
                    </p>
                    <p>
                        <i class="icon-docs mr-2"></i><label class="label">{{ leave.leave.name }}</label> - {{ leave.reason }}
                    </p>
                    <p>
                        <a v-bind:href="leave.document" download="Leave Document">
                          <i class="fa fa-download fa-2x mr-2" aria-hidden="true"></i>
                        </a>
                        View Supported Document
                    </p>
                    <p>
                        <div v-if="leave.approve === 1">
                          <i class="icon-check text-success mr-2" ></i> Approved
                        </div>
                        <div v-else-if="leave.approve === 2 || leave.approve === 5">
                          <i class="icon-close text-danger mr-2" ></i> Rejected - <strong>{{ leave.reject_reason | capitalize }}</strong>
                        </div>
                        <div v-else>
                          <i class="icon-close text-danger mr-2"></i> Processing
                        </div>
                    </p>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      leaveId: this.$route.params.id,
      leave: "",
      checkPermission: true,
      differentDay: '',
      status: [
          { value: 0, text: 'Processing' },
          { value: 1, text: 'Approve' },
          { value: 2, text: 'Disapprove' },
      ]
    };
  },
  methods: {
    dateDiffInDays(a, b) {
      var _MS_PER_DAY = 1000 * 60 * 60 * 24;
      // Discard the time and time-zone information.
      var utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
      var utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

      return Math.floor((utc2 - utc1) / _MS_PER_DAY);
    },
    getSingleLeaveHistory() {
      axios
        .get("/api/leave/application/" + this.leaveId)
        .then(res => {
          this.leave = res.data;
          var date1 = new Date(this.leave.start);
          var date2 = new Date(this.leave.end);
          this.differentDay = this.dateDiffInDays(date1, date2) + 1;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
  },
  created() {
    this.getSingleLeaveHistory();
  }
};
</script>
