<template>
  <div class="card mt-3" v-if="checkPermission">
    <div class="card-header">
      <span class="text-left">Create Feedback/Complain</span>
    </div>
      <div class="card-body">
        <form v-on:submit="addFeedback()">
          <div class="form-group">
                <label>Select Outlet</label>
                <div class="row">
                    <div class="col-sm-12">
                        <select class="form-control"  v-model="feedback.outlet_id" required>
                            <option v-for="outlet in outlets" :value="outlet.id">{{ outlet.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Feedback Type</label>
                <div class="row">
                    <div class="col-sm-12">
                        <select class="form-control"  v-model="feedback.type" required>
                            <option>Feedback</option>
                            <option>Complain</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" v-model="feedback.title" required>
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" v-model="feedback.message" required></textarea>
            </div>

          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      outlets: '',
      feedback: {
        type: '',
        title: '',
        message: ''
      },
      unlimited: false,
      checkPermission: true
    };
  },
  methods: {
    getOutlet(){
        axios
          .get('/api/outlets')
          .then(res=>{
              this.outlets = res.data;
          })
    },
    addFeedback() {
      event.preventDefault();
      axios
        .put('/api/feedback', this.feedback)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have added the feedback',
            type: 'success',
            duration: 5000
          });

          this.$router.push('/feedback');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
      var getRoleId = jwtToken.getRoleId();
      getRoleId.includes(17) == false ? this.returnError() : this.getOutlet();
  }
};
</script>
