<template>
    <div v-if="checkPermission">
        <div class="card mt-3">
            <div class="card-header">
                <span class="text-left">List of Feedback / Complain</span>
                <router-link :to="{name: 'feedback.create'}" class="btn btn-primary" >
                    Give Feedback/Complain
                </router-link>
            </div>
            <div class="card-body">

                <v-client-table :columns="columns" :data="feedbacks" :options="options">
                  <div slot="index" slot-scope="props">{{ props.index }}</div>
                  <div slot="type" slot-scope="props">{{ props.row.type | capitalize }}</div>
                  <div slot="action" slot-scope="props">
                      <button class="btn btn-outline-danger mr-2" @click="deleteFeedback(props.row.id)">Delete</button>
                  </div>
                </v-client-table>

                <router-link :to="{name: 'rating.create'}" class="btn btn-primary" >
                    Give Rating
                </router-link>
            </div>
        </div>

        <!-- <div class="card mt-3">
            <div class="card-header">
                <span class="text-left">Rating</span>
                <router-link :to="{name: 'rating.create'}" class="btn btn-primary" >
                    Add Rating
                </router-link>
            </div>
            <div class="card-body">

                <v-client-table :columns="columns" :data="feedbacks" :options="options">
                  <div slot="index" slot-scope="props">{{ props.index }}</div>
                  <div slot="type" slot-scope="props">{{ props.row.type | capitalize }}</div>
                  <div slot="action" slot-scope="props">
                      <button class="btn btn-outline-danger mr-2" @click="deleteFeedback(props.row.id)">Delete</button>
                  </div>
                </v-client-table>
            </div>
        </div> -->
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
    data() {
        return {
            feedbacks: [],
            isModal: false,
            columns: ['index', 'type', 'title', 'status', 'action'],
            options: {
                headings: {
                    index: 'No.',
                    type: 'Type',
                    title: 'Title',
                    status: 'Status',
                    action: 'Action'
                },
                sortable: ['type', 'title', 'status'],
                filterable: ['type', 'title', 'status']
            },
            checkPermission: true
        };
    },
    methods: {
        getFeedbacks() {
            axios
                .get('/api/feedback')
                .then(res => {
                    this.feedbacks = res.data;
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        },
        deleteFeedback(id) {
          this.$swal({
            title: 'Are you sure?',
            text: "You can't revert your action",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes Delete it!',
            cancelButtonText: 'No, Keep it!',
            showCloseButton: true,
            showLoaderOnConfirm: true
          }).then(result => {
            if (result.value) {
              this.$swal('Deleted', 'You successfully deleted this file', 'success');
              axios
                .delete('/api/feedback/' + id)
                .then(res => {
                  this.$notify({
                    group: 'foo',
                    title: 'Awesome',
                    text: 'You have deleted the Feedback/Complain.',
                    type: 'success',
                    duration: 5000
                  });
                  this.getFeedbacks();
                })
                .catch(err => {
                  this.$notify({
                    group: 'foo',
                    title: 'Ops',
                    text: 'Please contact administrator',
                    type: 'error',
                    duration: 5000
                  });
                });
            } else {
              this.$swal('Cancelled', 'Your package is still intact', 'info');
            }
          });
        },
        returnError(){
            this.checkPermission = false;
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot access',
                type: 'error',
                duration: 5000
            });
        }
    },
    created() {
        var getRoleId = jwtToken.getRoleId();
        getRoleId.includes(17) == false ? this.returnError() : this.getFeedbacks();
    }
};
</script>
