<template>
  <div class="card mt-5" v-if="checkPermission">
    <div class="card-body">
      <h4 class="card-title">Create a new Outlet</h4>
      <form v-on:submit="saveOutletForm()" class="form-material m-t-40">
      
      <div class="form-group">
        <label for="exampleInputEmail1">Company Name</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.company_name" placeholder="Enter Company Name" :disabled="loading" 
          name="Company Name" 
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Company Name') }"
        >
        <div v-show="errors.has('Company Name')" class="invalid-feedback">
        {{ errors.first('Company Name') }}
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Outlet Name</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.name" placeholder="Enter Outlet Name" :disabled="loading" 
          name="Outlet Name" 
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Outlet Name') }"
        >
        <div v-show="errors.has('Outlet Name')" class="invalid-feedback">
        {{ errors.first('Outlet Name') }}
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Prefix</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.prefix" placeholder="Enter Prefix" :disabled="loading" 
          name="Prefix" 
          v-validate="'required|min:1|max:6'"
          :class="{ 'is-invalid': errors.has('Prefix') }"
        >
        <div v-show="errors.has('Prefix')" class="invalid-feedback">
        {{ errors.first('Prefix') }}
        </div>
      </div>

      <div class="form-group">
              <label>Address</label>

              <input type="text" class="form-control mb-2" v-model="outlet.street1" placeholder="Street 1"
                  name="Street 1"
                  v-validate="'required|min:5'"
                  :class="{ 'is-invalid': errors.has('Street 1') }">
                <div v-show="errors.has('Street 1')" class="invalid-feedback">
                  {{ errors.first('Street 1') }}
                </div>

              <input type="text" class="form-control mb-2" v-model="outlet.street2" placeholder="Street 2">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control mb-2" v-model="outlet.city" placeholder="City"
                  name="city">
                </div>
                <div class="col-sm-6">
                  <input type="number" class="form-control mb-2" v-model="outlet.postcode" placeholder="Postcode"
                  name="postcode"
                  v-validate="'required|min:4'"
                  :class="{ 'is-invalid': errors.has('postcode') }">
                <div v-show="errors.has('postcode')" class="invalid-feedback">
                  {{ errors.first('postcode') }}
                </div>

                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control mb-2" v-model="outlet.state" placeholder="State"
                  name="state"
                  v-validate="'required'"
                  :class="{ 'is-invalid': errors.has('state') }">
                <div v-show="errors.has('state')" class="invalid-feedback">
                  {{ errors.first('state') }}
                </div>
                </div>
                <div class="col-sm-6">
                  <select class="form-control" v-model="outlet.country" :disabled="loading"
                    name="country" 
                    v-validate="'required'"
                    :class="{ 'is-invalid': errors.has('country') }"
                  >
                      <option value="" disabled hidden>Country</option>
                      <option>Malaysia</option>
                      <option>Indonesia</option>
                      <option>Thailand</option>
                      <option>Vietnam</option>
                      <option>Malaysia</option>
                      <option>Singapore</option>
                      <option>Philippines</option>
                      <option>Cambodia</option>
                      <option>Myanmar</option>
                      <option>Laos</option>
                      <option>Brunei</option>
                      <option>Timor-Leste</option>
                  </select>
                  <div v-show="errors.has('country')" class="invalid-feedback">
                    {{ errors.first('country') }}
                  </div>
                </div>
              </div>
      </div>

      <div class="form-group">
        <label>Telephone Number</label>
        <input type="tel" class="form-control form-control-line" v-model="outlet.telephone" placeholder="Enter Telephone" :disabled="loading" 
          name="Telephone" 
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Telephone') }"
        >
        <div v-show="errors.has('Telephone')" class="invalid-feedback">
        {{ errors.first('Telephone') }}
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Latitude</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.latitude" placeholder="Enter Latitude (e.g : 3.1390)" :disabled="loading"
          name="Outlet Latitude"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Outlet Latitude') }"
        >

        <div v-show="errors.has('Outlet Latitude')" class="invalid-feedback">
          {{ errors.first('Outlet Latitude') }}
        </div>

      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Longitude</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.longitude" placeholder="Enter Longitude (e.g : 101.6868) " :disabled="loading"
          name="Outlet Longitude"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Outlet Longitude') }"
        >

        <div v-show="errors.has('Outlet Longitude')" class="invalid-feedback">
          {{ errors.first('Outlet Longitude') }}
        </div>

      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Radius in meter from Outlet</label>
        <input type="number" class="form-control form-control-line" v-model="outlet.radius" 
          :disabled="loading"
          name="Radius Outlet"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Radius Outlet') }"
        >

        <div v-show="errors.has('Radius Outlet')" class="invalid-feedback">
          {{ errors.first('Radius Outlet') }}
        </div>

      </div>

      <div class="form-group">
        <label>Tax Label</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.taxLabel" :disabled="loading"
          name="Tax Label"
          
          style="text-transform:uppercase"
          :class="{ 'is-invalid': errors.has('Tax Label') }"
        ><!-- maxlength="4" -->

        <div v-show="errors.has('Tax Label')" class="invalid-feedback">
          {{ errors.first('Tax Label') }}
        </div>

      </div>

      <div class="form-group">
        <label>Tax Number</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.gstNumber" :disabled="loading"
          name="GST Number"
          
          :class="{ 'is-invalid': errors.has('GST Number') }"
        ><!-- v-validate="'min:10'" -->

        <div v-show="errors.has('GST Number')" class="invalid-feedback">
          {{ errors.first('GST Number') }}
        </div>

      </div>

      
      <div class="form-group">
        <label>Tax Percentage</label>
        <input type="number" max="100" class="form-control form-control-line" v-model="outlet.gstpercentage" :disabled="loading"
          name="GST Percentage"
          
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          :class="{ 'is-invalid': errors.has('GST Percentage') }"
        ><!-- maxlength="2" -->

        <div v-show="errors.has('GST Percentage')" class="invalid-feedback">
          {{ errors.first('GST Percentage') }}
        </div>

      </div>

      <div class="form-group">
        <label>Currency</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.currency" :disabled="loading"
          name="Currency"
          v-validate="'required'"
          maxlength="4"
          style="text-transform:uppercase"
          :class="{ 'is-invalid': errors.has('Currency') }"
        >
        <div v-show="errors.has('Currency')" class="invalid-feedback">
          {{ errors.first('Currency') }}
        </div>
      </div>

      <div class="form-group">
        <label>Receipt Message</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.receiptmessage" :disabled="loading"
          name="Receipt Message"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Receipt Message') }"
        >
        <div v-show="errors.has('Receipt Message')" class="invalid-feedback">
          {{ errors.first('Receipt Message') }}
        </div>
      </div>

      <div class="form-group">
          <label>Outlet Logo</label>
          <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange"
            name="Supporting Document">
          <hr>
          <div class="col-md-12">
              <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                  <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                  <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
              </div>
          </div>
      </div>

      <div class="form-group">
        <label>Facial Recognition: </label>
        <div class="col-md-12">
            <label class="custom-control" v-for="facialRecognition in facialRecognitions" v-bind:key="facialRecognition.value" style="padding-left:0">
              <input type="radio" :value="facialRecognition.value" v-validate="'required'" v-model="outlet.facial_recognitions" autocomplete="off">
              <span class="custom-control-description">{{ facialRecognition.name }}</span>
            </label>
        </div>
      </div>

      <div class="form-group">
        <label>Payment Options: </label>
        <div class="col-md-12">
          <label class="custom-checkbox custom-control" v-for="payment in payments" v-bind:key="payment.value" >
            <input type="checkbox" :value="payment.value" v-model="outlet.payment" v-validate="'required'" autocomplete="off" class="custom-control-input" @click="addPayment($event)" >
            <span aria-hidden="true" class="custom-control-indicator"></span> 
            <span class="custom-control-description">{{ payment.name }}</span>
          </label>

        </div>
      </div>

      <div class="form-group">
        <label>Receipt Type: </label>
        <div class="col-md-12">
            <label class="custom-control" v-for="receipt in receipts" v-bind:key="receipt.value" style="padding-left:0">
              <input type="radio" :value="receipt.value" v-validate="'required'" v-model="outlet.receipt_type" autocomplete="off">
              <span class="custom-control-description">{{ receipt.name }}</span>
            </label>
        </div>
      </div>

      <div class="form-group">
        <label>Receipt Size: </label>
        <div class="col-md-12">
            <label class="custom-control" v-for="receiptSize in receipt_size" v-bind:key="receiptSize.value" style="padding-left:0">
              <input type="radio" :value="receiptSize.value" v-validate="'required'" v-model="outlet.receipt_size" autocomplete="off" class="receipts">
              <span class="custom-control-description">{{ receiptSize.name }}</span>
            </label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg" :disabled="!isComplete || errors.any()">Submit</button>
    </form>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import jwtToken from "../../../helpers/jwt-token";

export default {
  data() {
    return {
      loading: false,
      attachments: [],
      data: new FormData(),
      outlet: {
        company_name: '',
        name: '',
        latitude:'',
        longitude:'',
        radius: '',
        gstNumber: '',
        gstpercentage: '',
        currency: '',
        street1: '',
        street2: '',
        city: '',
        postcode: '',
        state: '',
        country: '',
        taxLabel: '',
        receiptmessage: '',
        telephone: '',
        prefix: '',
        facial_recognitions: '',
        receipt_type: '',
        receipt_size: '',
        payment: []
      },
      checkPermission: true,
      selectedPayment: [],
      payments: [
        {
          name: 'Cash',
          value: 1
        },
        {
          name: 'Online',
          value: 2
        },
        {
          name: 'Cash Deposit',
          value: 3
        },
        {
          name: 'Cheque',
          value: 4
        },
        {
          name: 'Credit/Debit Card',
          value: 5
        },
        {
          name: 'Dpc',
          value: 6
        }
      ],
      selectedReceipt: [],
      facialRecognitions: [
        {
          name: 'Off',
          value: 0
        },
        {
          name: 'On',
          value: 1
        }

      ],
      receipts: [
        {
          name: 'Official Receipt',
          value: 1
        },
        {
          name: 'Tax Invoice',
          value: 2
        }

      ],
      receipt_size: [
        {
          name: 'A4',
          value: 1
        },
        {
          name: '80mm',
          value: 2
        }
      ]

      
    };
  },
  methods: {
    addPayment(e) {
      if (e.target.checked) {
        this.outlet.payment.push(e.target.value);
      } else {
        this.outlet.payment.splice(this.outlet.payment.indexOf(e.target.value), 1);
      }
    },
    // addReceipt(e) {
    //   console.log(e.target.value);
    //   console.log(e.target.checked);
    //   if (e.target.checked) {
    //     this.selectedReceipt.push(e.target.value);
    //   } else {
    //     this.selectedReceipt.splice(this.selectedReceipt.indexOf(e.target.value), 1);
    //   }
    // },
    saveOutletForm() {
      event.preventDefault();

      var newOutlet = this.outlet;
      this.outlet.receipts = this.selectedReceipt;
      console.log(newOutlet);
      this.loading = true;

      this.prepareFields();
      var config = {
        headers: { 'Content-Type': 'multipart/form-data' },
        onUploadProgress: function(progressEvent) {
          this.percentCompleted = Math.round(progressEvent.loaded * 100 / progressEvent.total);
          this.$forceUpdate();
        }.bind(this)
      };

      axios
        .put('/api/outlets', newOutlet)
        .then(res => {
            return axios.post('/api/upload/logo/' + res.data.id + '/logo', this.data, config)
          })
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have created a new outlet.',
            type: 'success',
            duration: 5000
          });

          this.loading = false;
          //this.$store.commit('save', null);
          this.$router.push('/outlet');
          this.$noty.success('Outlet Added success');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          this.loading = false;
        });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
    // checkDuplicate() {
    //   if (this.$store.state.reservedData) {
    //     console.log(this.$store);
    //     this.outlet = this.$store.state.reservedData;
    //   }
    // },
  },
  created() {
    // this.checkDuplicate();
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(3) == false ? this.returnError() : true;
  },
  computed: {
    isComplete() {
      return (
        this.outlet.name &&
        this.outlet.street1 &&
        this.outlet.city &&
        this.outlet.postcode &&
        this.outlet.state &&
        this.outlet.country &&
        this.outlet.telephone &&
        this.outlet.latitude &&
        this.outlet.longitude &&
        this.outlet.radius &&
        // this.outlet.gstNumber &&
        this.outlet.currency &&
        // this.outlet.taxLabel &&
        this.outlet.receiptmessage &&
        this.outlet.company_name &&
        this.outlet.payment &&
        this.outlet.facial_recognitions &&
        this.outlet.receipt_size &&
        this.outlet.receipt_type
      );
    }
  }
};
</script>
