<template>
  <div class="card mt-5">
    <div class="card-body">
      <h4 class="card-title">
        View Staff
      </h4>

      <div class="row">
        <p>{{ user.ic }}</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 b-r"> <strong>Full Name</strong>
          <br>
          <p class="text-muted">{{ user.name }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Email</strong>
          <br>
          <p class="text-muted">{{ user.email }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Contact</strong>
          <br>
          <p class="text-muted">{{ user.contact }}</p>
        </div>
      </div>

    <form v-on:submit="updateStaff()">
    <div class="row">
        <!-- <div class="col-sm-12 col-md-6">
            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                <b-form-group>
                    <label for="year1">Module</label>
                    <b-form-select v-model="userUpdate.module_id" required
                    :plain="true"
                    :options="modules">
                    </b-form-select>
                </b-form-group>
            </fieldset>
        </div> -->
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label>Department</label>
                <select class="form-control" v-model="userUpdate.department">
                  <option v-for="department in departments" :value="department.id">{{ department.name }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label>Salary (RM)</label>
                <input type="number" class="form-control" v-model="userUpdate.salary" required/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label>Working Hour (hour)</label>
                <input type="number" class="form-control" v-model="userUpdate.workingHour" required/>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label>Status</label>
                <b-form-select v-model="userUpdate.status" required
                :plain="true"
                :options="['active', 'freeze', 'terminated']">
                </b-form-select>
            </div>
        </div>
    </div>


      <button class="btn btn-primary mt-5" type="submit"><i class="icon-check mr-2"></i> Approve this staff</button>
    </form>

    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isModal: false,
      userId: this.$route.params.id,
      user: {},
      userUpdate: {
        approve: 1,
        // module_id: "",
        department: "",
        salary: "",
        workingHour: "",
        status: ""
      },
      modules: [
        { value: 1, text: "Finance" },
        { value: 2, text: "HR" },
        { value: 3, text: "Finance Clerk" },
        { value: 4, text: "Branch Manager" },
        { value: 5, text: "General Admin" },
        { value: 6, text: "Head Coach" }
      ],
      departments : []
    };
  },
  methods: {
    getUser() {
      axios
        .get("/api/staff/" + this.userId)
        .then(res => {
          console.log(res.data);
          this.user = res.data.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    getDepartments(){
      axios
        .get('/api/department')
        .then(res => {
            this.departments = res.data;
        })
    },
    updateStaff() {
      event.preventDefault();
      console.log(this.userUpdate);

      axios
        .post("/api/staff/" + this.userId + "/approve", this.userUpdate)
        .then(res => {

          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'You have approve this staff',
              type: 'success',
              duration: 5000
            });

          this.$router.push("/staff");
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    }
  },
  created() {
    this.getUser();
    this.getDepartments();
  }
};
</script>
