<template>
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title">
                List of Staff
            </h4>
            <table class="table m-t-30 table-hover no-wrap contact-list">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Designation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user,index) in staffs" v-bind="user" :key="user.id">
                        <td>{{ index + 1 }}</td>
                        <td>
                            <router-link :to="{name: 'staff.approval.view',  params: { id: user.id } }" >
                                {{ user.name }}
                            </router-link>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.contact }}</td>
                        <td><span class="label label-warning">{{ user.designation }}</span> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      staffs: []
    };
  },
  methods: {
    listStaff() {
      axios
        .get("/api/staff?status=disapprove")
        .then(res => {
          console.log(res.data);
          this.staffs = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    }
  },
  created() {
    this.listStaff();
  }
};
</script>

