<template>
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title mb-5">Create new Staff</h4>
            <form v-on:submit="createStaff()">
                <div class="form-group">
                    <label class="font-weight-bold">Name *</label>
                    <input type="text" name="name" class="form-control" v-model="staff.name"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('name') }"
                    >
                    <div v-show="errors.has('name')" class="invalid-feedback">
                      {{ errors.first('name') }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Email *</label>
                    <input type="email" name="email" class="form-control" v-model="staff.email"
                      v-validate="'email|required'"
                      :class="{ 'is-invalid': errors.has('email') }"
                    >
                    <div v-show="errors.has('email')" class="invalid-feedback">
                      {{ errors.first('email') }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Password *</label>
                    <input type="password" name="password" class="form-control" v-model="staff.password"
                      v-validate="'required|min:8'"
                      :class="{ 'is-invalid': errors.has('password') }"
                    >
                    <div v-show="errors.has('password')" class="invalid-feedback">
                      {{ errors.first('password') }}
                    </div>
                </div>


                <div class="form-group">
                  <label class="font-weight-bold">IC Number</label>
                  <the-mask :mask="['######-##-####']" placeholder="940101-11-0101" class="form-control" v-model="staff.icNumber" :disabled="loading"
                    name="IC Number" 
                    v-validate="'required'"
                    :class="{ 'is-invalid': errors.has('IC Number') }"/> 
                    <div v-show="errors.has('IC Number')" class="invalid-feedback">
                      {{ errors.first('IC Number') }}
                    </div>
                </div>



                <div class="form-group">
                  <label class="font-weight-bold">Supporting Document (IC)</label>
                  <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange"
                      name="Supporting Document"> 
                  <hr>
                  <div class="col-md-12">
                      <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                          <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                          <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                      </div>
                  </div>

                </div>


                <div class="form-group">
                    <label class="font-weight-bold">Contact *</label>
                    <the-mask 
                      name="contact" 
                      class="form-control" 
                      v-model="staff.contact" 
                      :mask="['(##) ####-####', '(##) #####-####']"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('contact') }"
                       />
                       <div v-show="errors.has('contact')" class="invalid-feedback">
                        {{ errors.first('contact') }}
                      </div>
                </div>

                <b-form-group>
                    <label class="font-weight-bold" for="year1">Designation *</label>
                    <select class="form-control" v-model="staff.designation" v-validate="'required'" :class="{ 'is-invalid': errors.has('designation') }">
                        <option v-for="design in designations" :value="design.id">{{ design.name }}</option>
                    </select>
                    <div v-show="errors.has('designation')" class="invalid-feedback">
                      {{ errors.first('designation') }}
                    </div>
                </b-form-group>

                <div class="form-group">
                    <label class="font-weight-bold">Department *</label>
                    <select class="form-control" v-model="staff.department" v-validate="'required'" :class="{ 'is-invalid': errors.has('department') }">
                        <option v-for="depart in department" :value="depart.id">{{ depart.name }}</option>
                    </select>
                    <div v-show="errors.has('department')" class="invalid-feedback">
                      {{ errors.first('department') }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Salary *</label>
                    <input type="number" name="salary" class="form-control" v-model="staff.salary"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('salary') }"
                    >
                    <div v-show="errors.has('salary')" class="invalid-feedback">
                      {{ errors.first('salary') }}
                    </div>
                </div>

                <b-form-group>
                    <label class="font-weight-bold" for="year1">Contract *</label>
                    <b-form-select v-model="staff.contract"
                      :plain="true"
                      :options="contracts"
                      name="contract"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('contract') }"
                      >
                    </b-form-select>
                    <div v-show="errors.has('contract')" class="invalid-feedback">
                      {{ errors.first('contract') }}
                    </div>
                </b-form-group>


                <a class="btn btn-info text-white mb-4" v-if="staff.contract" @click="viewContract()">
                  <i class="icon-book-open mr-2"></i> View Contract
                </a>

                <b-modal title="Contract View" class="modal-success" v-model="contractModal">
                  <div v-html="contract.content">
                  </div>    
                </b-modal>

                <div class="form-group">
                    <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                        <b-form-group>
                            <label class="font-weight-bold" for="year1">Status *</label>
                            <b-form-select v-model="staff.status"
                              :plain="true"
                              :options="['Processing', 'Probation', 'Confirmed']"
                              name="status"
                              v-validate="'required'"
                              :class="{ 'is-invalid': errors.has('status') }"
                            >
                            </b-form-select>
                            <div v-show="errors.has('status')" class="invalid-feedback">
                              {{ errors.first('status') }}
                            </div>
                        </b-form-group>
                    </fieldset>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Working Hour *</label>
                    <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4" data-tablesaw-mode="columntoggle" id="table-8957">
                        <thead>
                            <tr>
                                <th class="text-center">Day</th>
                                <th class="text-center">From</th>
                                <th class="text-center">To</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(s,index) in schedule" v-bind="schedule">
                                <td class="title">{{ s.day }}</td>
                                <td><input type="time" name="start" class="form-control" v-model="s.start" :disabled="s.disabled"></td>
                                <td><input type="time" name="end" class="form-control" v-model="s.end" :disabled="s.disabled"></td>
                                <td class="text-center">
                                  <a class="pointer">
                                    <i class="icon-close text-danger" @click="enableDay(s)" v-if="s.disabled"></i>
                                    <i class="fa fa-check text-success" @click="disableDay(s)" v-else></i>
                                  </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                  <label class="font-weight-bold">Outlet Access : </label>
                  <div class="col-md-4">
                    <label class="custom-checkbox custom-control" v-for="outlet in outlets" v-bind:key="outlet.id" >
                      <input type="checkbox" v-model="staff.selectedOutlet" :value="outlet.id" autocomplete="off" class="custom-control-input" @click="addOutlet($event)" :disabled="outlet.id == outlet_id">
                      <span aria-hidden="true" class="custom-control-indicator"></span> 
                      <span class="custom-control-description">{{ outlet.name }}</span>
                    </label>

                  </div>
                </div>

                <button type="submit" class="btn btn-primary" v-if="isComplete">Submit</button>
                <button type="submit" class="btn btn-primary" v-else="isComplete" :disabled="!isComplete ||  errors.any()">Submit</button>
            </form>
        </div>
    </div>
</template>

<style>
.custom-control-input:disabled ~ .custom-control-indicator{
    color: #fff;
    background-color: #20a8d8;
}
.custom-control-input:disabled ~ .custom-control-description{
    color: #000000;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #828383!important;
    border-color: #828383!important;
}
</style>

<script>
export default {
  data() {
    return {
      loading: false,
      staff: {
        name: '',
        password: '',
        email: '',
        contact: '',
        workingHour: '',
        obo: 'admin',
        salary: '',
        contract: '',
        icNumber: '',
        signature: '',
        leave: 10,
        selectedOutlet : [],
        schedules: ''
      },
      modules: [
        { value: 1, text: 'Finance' },
        { value: 2, text: 'HR' },
        { value: 3, text: 'Finance Clerk' },
        { value: 4, text: 'Branch Manager' },
        { value: 5, text: 'General Admin' },
        { value: 6, text: 'Head Coach' }
      ],
      designations: [],
      contracts: [],
      outlets: [],
      department: [],
      outlet_id: '',
      contractModal: false,
      setDay: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
      schedule: [],
      contract: '',
      attachments: [],
      data: new FormData()
    };
  },

  methods: {
    disableDay(s){
      s.disabled = true;
    },
    enableDay(s){
      s.disabled = false;
    },
    createStaff() {
      this.staff.schedules = this.schedule;
      console.log(this.staff);
      event.preventDefault();
      this.loading = true;

      this.prepareFields();

      var config = {
        headers: { 'Content-Type': 'multipart/form-data' },
        onUploadProgress: function(progressEvent) {
          this.percentCompleted = Math.round(progressEvent.loaded * 100 / progressEvent.total);
          this.$forceUpdate();
        }.bind(this)
      };

      axios
        .post('/api/staff/register', this.staff)
        .then(res => {
          return axios.post('/api/upload/user/' + res.data.id + '/ic', this.data, config);
        })
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have success register a staff.',
            type: 'success',
            duration: 5000
          });
          console.log(res.data);

          this.loading = false;
          this.$router.push('/staff');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
          this.loading = false;
        });
    },
    showOutlet(){
      axios
        .get('/api/outlets/')
        .then(res => {
          // console.log(res.data);
          this.outlets = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Cannot access outlet',
            type: 'error',
            duration: 5000
          });
        });
    },
    showDepartment(){
      axios
        .get('/api/department/active')
        .then(res => {
            this.department = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Cannot access outlet',
            type: 'error',
            duration: 5000
          });
        });
    },
    addOutlet(e) {
      // console.log(e.target.value);
      // console.log(e.target.checked);
      if (e.target.checked) {
        this.staff.selectedOutlet.push(e.target.value);
      } else {
        this.staff.selectedOutlet.splice(this.staff.selectedOutlet.indexOf(e.target.value), 1);
      }
    },
    viewContract() {
      axios
        .get('/api/contract/' + this.staff.contract)
        .then(res => {
          this.contract = res.data;

          this.staff.contract = res.data.content;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
      this.contractModal = true;
    },
    getPreparationForm() {
      this.staff.selectedOutlet.push(this.outlet_id);
      axios
        .get('/api/coach/config')
        .then(res => {
          this.designations = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });

      axios
        .get('/api/contract/staff/filter')
        .then(res => {
          var contracts = res.data;
          var tempContract = {
            value: contracts.id,
            text: contracts.title,
            content: contracts.content
          };
          this.contracts.push(tempContract);

          // for (var i = 0; i < contracts.length; i++) {
          //   var tempContract = {
          //     value: contracts[i].id,
          //     text: contracts[i].title,
          //     content: contracts[i].content
          //   };
          //   this.contracts.push(tempContract);
          // }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    }
  },
  created() {
    for (var i = 0; i < this.setDay.length; i++) {
        var jadual = {
            day: this.setDay[i],
            start: '',
            end: '',
            disabled: true
        };
        this.schedule.push(jadual);
    }
    axios
      .get("/api/user")
      .then(res => {
        this.outlet_id = res.data.outlet_id;
        this.getPreparationForm();
        this.showOutlet();
        this.showDepartment();
      });
  },
  computed: {
    isComplete() {
      return (
        this.staff.name &&
        this.staff.email &&
        this.staff.password &&
        this.staff.contact &&
        this.staff.designation &&
        this.staff.department &&
        this.staff.salary &&
        this.staff.contract &&
        this.staff.status
      );
    }
  }
};
</script>
