<template>

    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title mb-5">Update Staff</h4>
            <form v-on:submit="updateStaff()">
                <div class="form-group">
                    <label class="font-weight-bold">Name *</label>
                    <input type="text" name="name" class="form-control" v-model="staff.name" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Email *</label>
                    <input type="email" name="email" class="form-control" v-model="staff.email" required>
                </div>
                <div class="form-group">
                  <label class="font-weight-bold">IC Number</label>
                  <the-mask :mask="['######-##-####']" placeholder="940101-11-0101" class="form-control" v-model="staff.icNumber" :disabled="loading" name="IC Number"/>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Contact *</label>
                    <input type="text" name="contact" class="form-control" v-model="staff.contact" required>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Designation *</label>
                    <select class="form-control" v-model="staff.designation" v-validate="'required'" :class="{ 'is-invalid': errors.has('designation') }">
                        <option v-for="des in designations" :value="des.id">{{ des.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Department *</label>
                    <select class="form-control" v-model="staff.department" v-validate="'required'" :class="{ 'is-invalid': errors.has('department') }">
                        <option v-for="depart in department" :value="depart.id">{{ depart.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Salary *</label>
                    <input type="number" name="salary" class="form-control" v-model="staff.salary" required>
                </div>

                <b-form-group>
                    <label class="font-weight-bold" for="year1">Contract *</label>
                    <b-form-select v-model="staff.contract"
                      :plain="true"
                      :options="contracts"
                      name="contract"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('contract') }"
                      >
                    </b-form-select>
                    <div v-show="errors.has('contract')" class="invalid-feedback">
                      {{ errors.first('contract') }}
                    </div>
                </b-form-group>

                <a class="btn btn-info text-white mb-4" v-if="staff.contract" @click="viewContract()">
                  <i class="icon-book-open mr-2"></i> View Contract
                </a>

                <b-modal title="Contract View" class="modal-success" v-model="contractModal">
                  <div v-html="contract.content">
                  </div>    
                </b-modal>

                <div class="form-group">
                    <label class="font-weight-bold">Status *</label>
                    <b-form-select v-model="staff.status" required
                    :plain="true"
                    :options="['Processing', 'Probation', 'Confirmed','Terminated']">
                    </b-form-select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Working Hour *</label>
                    <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4" data-tablesaw-mode="columntoggle" id="table-8957">
                        <thead>
                            <tr>
                                <th class="text-center">Day</th>
                                <th class="text-center">From</th>
                                <th class="text-center">To</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(s,index) in schedule" v-bind="schedule">
                                <td class="title">{{ s.day }}</td>
                                <td><input type="time" name="start" class="form-control" v-model="s.start" :disabled="s.disabled"></td>
                                <td><input type="time" name="end" class="form-control" v-model="s.end" :disabled="s.disabled"></td>
                                <td class="text-center">
                                  <a class="pointer">
                                    <i class="icon-close text-danger" @click="enableDay(s)" v-if="s.disabled"></i>
                                    <i class="fa fa-check text-success" @click="disableDay(s)" v-else></i>
                                  </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                  <label class="font-weight-bold">Outlet Access : </label>
                  <div class="col-md-4">
                    <label class="custom-checkbox custom-control" v-for="outlet in outlets" v-bind:key="outlet.id" >
                      <input type="checkbox" v-model="staff.outlet_access" :value="outlet.id" autocomplete="off" class="custom-control-input" @click="addOutlet($event)" :disabled="outlet.id == outlet_id">
                      <span aria-hidden="true" class="custom-control-indicator"></span> 
                      <span class="custom-control-description">{{ outlet.name }}</span>
                    </label>

                  </div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Account Status</label>
                    <b-form-select v-model="staff.approve" required
                    :plain="true"
                    :options="approve">
                    </b-form-select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</template>

<style>
.custom-control-input:disabled ~ .custom-control-indicator{
    color: #fff;
    background-color: #20a8d8;
}
.custom-control-input:disabled ~ .custom-control-description{
    color: #000000;
}
</style>

<script>
export default {
  data() {
    return {
      loading: false,
      staffId: this.$route.params.id,
      staff: {
        name: '',
        contact: '',
        designation: '',
        approve: '',
        department: '',
        workingHour: '',
        salary: '',
        status: '',
        icNumber: '',
        outlet_access : '',
        schedules: ''
      },
      checkPermission: true,
      designations: [],
      outlet_id: '',
      outlets: [],
      selectedOutlet : [],
      contracts: [],
      contractModal: false,
      contract: '',
      approve: [{ value: 1, text: 'Approve' }, { value: 0, text: 'Disapprove' }],
      department: [],
      setDay: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
      schedule: [],
    };
  },

  methods: {
    disableDay(s){
      s.disabled = true;
    },
    enableDay(s){
      s.disabled = false;
    },
    updateStaff() {
      this.staff.schedules = this.schedule;
      console.log(this.staff);
      event.preventDefault();
      this.loading = true;
      axios
        .post('/api/staff/' + this.staffId + '/edit', this.staff)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Successful update staff',
            type: 'success',
            duration: 5000
          });
          this.loading = false;
          this.$router.push('/staff');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          // console.log(err.data);
          this.loading = false;
        });
    },
    viewContract() {
      axios
        .get('/api/contract/' + this.staff.contract)
        .then(res => {
          this.contract = res.data;

          this.staff.contract = res.data.content;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
      this.contractModal = true;
    },
    showOutlet(){
      axios
        .get('/api/outlets/')
        .then(res => {
          // console.log(res.data);
          this.outlets = res.data;
          this.getSingleStaff();
          this.showDepartment();
        })
        .catch(err => {
          this.checkPermission = false;
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Cannot access outlet',
            type: 'error',
            duration: 5000
          });
        });
    },
    addOutlet(e) {
      if (e.target.checked) {
        this.selectedOutlet.push(e.target.value);
      } else {
        this.selectedOutlet.splice(this.selectedOutlet.indexOf(e.target.value), 1);
      }
    },
    getSingleStaff() {
      axios
        .get('/api/staff/' + this.staffId)
        .then(res => {
          this.staff = res.data.data;
          this.staff.designation =  res.data.data.designation.id;

          for (var i = 0; i < this.staff.schedule.length; i++) {
            var index = this.schedule.findIndex(sch => sch.day === this.staff.schedule[i].day);

            this.schedule[index].start = this.staff.schedule[i].start;
            this.schedule[index].end = this.staff.schedule[i].end;
          }

          for (var i = 0; i < this.schedule.length; i++) {
            if (this.schedule[i].start == '' || this.schedule[i].end == '') {
                this.schedule[i].disabled = true;
            }
          }
          
          this.staff.department = this.staff.department.id;
          if (this.staff.outlet_access == null) {
              this.staff.outlet_access = [];
              this.staff.outlet_access.push(this.outlet_id);
          }
        })

      axios
        .get('/api/contract')
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            var tempContract = {
              value: res.data[i].id,
              text: res.data[i].title,
              content: res.data[i].content
            };
            this.contracts.push(tempContract);
          }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });

        axios
        .get(`/api/coach/config`)
        .then(res => {
          this.designations = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    showDepartment(){
      axios
        .get('/api/department/active')
        .then(res => {
            this.department = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Cannot access outlet',
            type: 'error',
            duration: 5000
          });
        });
    },
  },
  created() {
    for (var i = 0; i < this.setDay.length; i++) {
        var jadual = {
            day: this.setDay[i],
            start: '',
            end: '',
            disabled: false
        };
        this.schedule.push(jadual);
    }
    axios
      .get("/api/user")
      .then(res => {
        this.outlet_id = res.data.outlet_id;
        this.showOutlet();
      });
  }
};
</script>
