<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-header">
          <div>
            <i class="fa fa-align-justify mr-2"></i> List of Staff
          </div>
        </div>
        <div class="card-body">
          <label>Status : </label>
          <select class="form-control status-width" v-model="filter_status" name="filter_status" @change="listStaff()">
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
          </select>

          <v-client-table :columns="columns" :data="data" :options="options">

            <div slot="index" slot-scope="props">{{ props.index }}</div>


            <router-link slot="name" slot-scope="props" :to="{ name: 'staff.view',  params: { id: props.row.id } }" >
                {{ props.row.name }}
            </router-link>

            <div slot="avatar" slot-scope="props">
              <img v-if="props.row.avatar" :src="'/storage/' + props.row.avatar" class="image_index rounded-circle">
              <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle" width="50" height="auto">
            </div>

            <div slot="package" slot-scope="props">1</div>

            <div slot="action" slot-scope="props">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                    </button>
                    <div class="dropdown-menu">
                        <router-link class="dropdown-item" :to="{ name: 'staff.edit',  params: { id: props.row.id } }" >
                            Edit
                        </router-link>
                        <router-link class="dropdown-item" :to="{ name: 'change.password',  params: { id: props.row.id } }" >
                            Change Password
                        </router-link>
                    </div>
                </div>
            </div>

          </v-client-table>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      staffs: [],
      columns: ['index', 'avatar', 'name', 'email', 'contact', 'designation', 'status', 'action'],
      data: [],
      options: {
        headings: {
          index: 'No.',
          avatar: 'Avatar',
          name: 'Name',
          email: 'Email',
          contact: 'Phone',
          designation: 'Designation',
          status: 'Status',
          action: 'Action'
        },
        sortable: ['name', 'email', 'designation', 'status'],
        filterable: ['name', 'email', 'designation', 'status']
      },
      checkPermission: true,
      filter_status:'active',
      status:'approve'
    };
  },
  methods: {
    listStaff() {
      axios
        .get(`/api/staff/${this.status}/${this.filter_status}`)
        .then(res => {
          this.data = res.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
            });
          }
        });
    }
  },
  created() {
    this.listStaff();
  }
};
</script>
