<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                  <span class="text-left">Your Signature</span>
              </div>
              <div class="card-body">
                  <VueSignaturePad width="auto" height="200px" ref="signaturePad"></VueSignaturePad>
                  <div class="btn btn-outline-success" @click="save">Save</div>
                  <div class="btn btn-outline-danger" @click="clear">Clear</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
import { api } from '../../config';
import { mapActions } from "vuex";
export default {
  data() {
    return {
      staffId: this.$route.params.id,
      tnc: {
        data: ''
      },
      form: {
        email: null,
        password: '1q2e3t4y5i'
      },
      access: []
    };
  },
  methods: {
      clear() {
          this.$refs.signaturePad.clearSignature();
      },
      save() {
          const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
          this.tnc.data = data;

          if(isEmpty == false){
              axios
                .post(`/api/upload/tnc/${this.staffId}`, this.tnc)
                .then(res => {
                    this.$notify({
                      group: 'foo',
                      title: 'Ops',
                      text: 'You have successful register.',
                      type: 'success',
                      duration: 5000
                    });
                    this.socialLogin();
                })
                .catch(err => {
                  
                })
          }
          else{
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please, write down your signature.',
                type: 'error',
                duration: 2000
            });
          }
      },
      ...mapActions(["setAuthUser"]),
      socialLogin() {
        axios
          .get(`/api/socialLogin`)
          .then(res => {
              console.log(res.data);
              this.form.email = res.data.email;
              this.login();
          })
          .catch(err => {
              console.log(err);
          });
      },
      login() {
        this.loading = true;
        axios
          .post(api.login, this.form)
          .then(res => {
            if (res.data.user.staff.approve === 0) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Waiting for superadmin to approve your account',
                  type: 'error',
                  duration: 5000
              });
              this.$router.push({ name: "login" });
            }
            else{
                this.loginSuccess(res.data);
            }
          })
      },
      loginSuccess(data) {
        console.log(data);
        axios
          .get('/api/rolespermission/'+ data.user.role_id)
          .then(res => {
              for (var i = 0; i < res.data.roleaccess.length; i++) {
                this.access.push(res.data.roleaccess[i].id);
              }
              this.afterLoginSuccess(data);
          })
      },
      afterLoginSuccess(data){
        jwtToken.setToken(data.token);
        jwtToken.setRole(data.user.role_id);
        jwtToken.setRoleId(this.access);
        this.setAuthUser(data.user);
        this.$router.push({ name: "dashboard" });
      },
  }
};
</script>
