<template>
	  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                  <span class="text-left">Your Signature</span>
              </div>
              <div class="card-body">
                  <VueSignaturePad width="auto" height="200px" ref="signaturePad"></VueSignaturePad>
                  <div class="btn btn-outline-success" @click="save">Save</div>
                  <div class="btn btn-outline-danger" @click="clear">Clear</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      staffId: this.$route.params.id,
      tnc: {
        data: ''
      }
    };
  },
  methods: {
      clear() {
          this.$refs.signaturePad.clearSignature();
      },
      save() {
          const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
          this.tnc.data = data;

          if(isEmpty == false){
              axios
                .post(`/api/upload/tnc/${this.staffId}`, this.tnc)
                .then(res => {
                    this.$notify({
                      group: 'foo',
                      title: 'Ops',
                      text: 'You have successful register.',
                      type: 'success',
                      duration: 5000
                    });

                    this.$router.push("/");
                    // this.$router.push("/staff/login");
                })
                .catch(err => {
                  
                })
          }
          else{
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please, write down your signature.',
                type: 'error',
                duration: 2000
            });
          }
      }
  }
};
</script>
