<template>
  <div class="card mt-5">
    <div class="card-body">
      <h4 class="card-title">
        Staff <code>{{ user.id }}</code> Information
      </h4>

      <div class="row my-5">
        <div class="col-md-12">
          <img v-if="user.avatar" :src="'/storage/' + user.avatar" class="image_view rounded-circle mb-3">
          <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle mb-3" width="150" height="auto">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 b-r"> <strong>Full Name</strong>
          <br>
          <p class="text-muted">{{ user.name }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Email</strong>
          <br>
          <p class="text-muted">{{ user.email }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Contact</strong>
          <br>
          <p class="text-muted">{{ user.contact }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Designation</strong>
          <br>
          <p class="text-muted" v-if="user.designation">{{ user.designation.name }}</p>
        </div>
        <div class="col-md-6 col-xs-6" v-if="user.department"> <strong>Department</strong>
          <br>
          <p class="text-muted">{{ user.department.name }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Salary</strong>
          <br>
          <p class="text-muted">RM {{ user.salary }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Account Status</strong>
          <br>
          <p class="text-muted">{{ user.status }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Outlet Access</strong>
          <br>
          <li v-for="item in outletName">
              {{ item }}
          </li>
        </div>
      </div>


      <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4" data-tablesaw-mode="columntoggle" id="table-8957">
          <thead>
              <tr>
                  <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Resource Label</th>
                  <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">Amount</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="title">Total Working Hour</td>
                  <td class="tablesaw-priority-3">20 hours</td>
              </tr>
              <tr>
                  <td class="title">Off Day</td>
                  <td class="tablesaw-priority-3">3 days</td>
              </tr>
              <tr>
                  <td class="title">Leave Balance</td>
                  <td class="tablesaw-priority-3">{{user.leave}} days</td>
              </tr>
              <tr>
                  <td class="title">Attendance</td>
                  <td class="tablesaw-priority-3">1 days</td>
              </tr>
          </tbody>
      </table>

      <div class="row">
        <div class="col-md-12">
          <h3 class="mt-4">
            Contract
          </h3>
          <hr>
          <button class="btn btn-outline-info" @click="contractModal = true">
            <i class="icon-book-open mr-2"></i> View Contract
          </button>
          <hr>
        </div>
      </div>

      <b-modal title="Contract View" class="modal-success" v-model="contractModal">
        <div v-if="contractModal" v-html="user.contract.content">
        </div>    
        <hr>
        <div>
        </div>
      </b-modal>

      <button class="btn btn-outline-danger mt-5" @click="deleteUser()">Delete this user</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isModal: false,
      userId: this.$route.params.id,
      user: {},
      designations: [],
      outletName : [],
      contractModal: false
    };
  },
  methods: {
    getUser() {
      axios
        .get('/api/staff/' + this.userId)
        .then(res => {
          this.user = res.data.data;
          if (res.data.data.outlet_access != null) {
            var outlet = res.data.data.outlet_access;
            for (var i = outlet.length - 1; i >= 0; i--) {
              this.getOutlet(outlet[i]);
            }
          }
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
          }
          else{
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
            });
          }
        });
    },
    getOutlet(id){
      axios
        .get('/api/outlets/'+ id)
        .then(res => {
          // console.log(res.data.data);
          this.outletName.push(res.data.data.name);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Cannot access outlet',
            type: 'error',
            duration: 5000
          });
        });
    },
    deleteUser() {
      axios
        .delete('/api/staff/' + this.userId)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You have deleted the staff.',
            type: 'success',
            duration: 5000
          });
          this.$router.push('/staff');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    }
  },
  created() {
    this.getUser();
  }
};
</script>
