<template>
	<base-layout>
	<div class="row">
		<div class="col-12">
			<transition name="fade" mode="out-in">
				<router-view></router-view>
			</transition>
		</div>
	</div>
	</base-layout>
</template>

<script>
import BaseLayout from "./../shared/Base.vue";
export default {
  components: {
    "base-layout": BaseLayout
  }
};
</script>
