<template>
    
      <div class="row mt-3" v-if="user_role == 'human resource' || user_role == 'branch manager'">
        <div class="col-md-12">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Approval Pending Leave Applications</h4>


              <v-client-table :columns="columns" :data="leaves" :options="options">
                <div slot="index" slot-scope="props">{{ props.index }}</div>

                <div slot="name" slot-scope="props">{{ props.row.user.name }}</div>
                <div slot="start" slot-scope="props">{{ props.row.start | moment("Do MMMM YYYY") }}</div>
                <div slot="end" slot-scope="props">{{ props.row.end | moment("Do MMMM YYYY") }}</div>

                <div slot="approve" slot-scope="props">
                    <div v-if="user_role == 'human resource' && props.row.approve == 1">
                        Approved
                    </div>
                    <div v-if="user_role == 'branch manager' && props.row.approve == 4">
                        Approved
                    </div>
                    <div v-else>
                        Processing
                    </div>
                </div>

                <router-link slot="action" slot-scope="props" :to="{name: 'leave.history.show',  params: { id: props.row.id } }" >
                  <button class="btn btn-info text-white">View</button>
                </router-link>
              </v-client-table>
            </div>

          </div>

          <div class="card" v-if="permission">
            <div class="card-body">
              <h4 class="card-title">Outlet Leave Applications History</h4>
                  <label>Month : </label>
                      <select class="form-control status-width" v-model="selectedMonth" @change="chageMonthYear()">
                          <option value="0">January</option>
                          <option value="1">February</option>
                          <option value="2">March</option>
                          <option value="3">April</option>
                          <option value="4">May</option>
                          <option value="5">June</option>
                          <option value="6">July</option>
                          <option value="7">August</option>
                          <option value="8">September</option>
                          <option value="9">October</option>
                          <option value="10">November</option>
                          <option value="11">December</option>
                      </select>
                  <label>Year : </label>
                      <select class="form-control status-width" v-model="selectedYear" @change="chageMonthYear()">
                        <option v-for="stat in years" :value="stat.value">{{ stat.text }}</option>
                      </select>

              <v-client-table :columns="columnsApp" :data="leaveApproved" :options="optionsApp">
                <div slot="index" slot-scope="props">{{ props.index }}</div>

                <div slot="name" slot-scope="props">{{ props.row.user.name | capitalize }}</div>
                <div slot="leave" slot-scope="props">{{ props.row.leave.name | capitalize }}</div>
                <div slot="start" slot-scope="props">{{ props.row.start | moment("Do MMMM YYYY") }}</div>
                <div slot="end" slot-scope="props">{{ props.row.end | moment("Do MMMM YYYY") }}</div>

                <div slot="approve" slot-scope="props">
                    <div v-if="props.row.approve == 'processing'">
                        Processing
                    </div>
                    <div v-if="props.row.approve == 'rejected'">
                        Rejected
                    </div>
                    <div v-if="props.row.approve == 'approved'">
                        Approved
                    </div>
                </div>
                <div slot="action" slot-scope="props">
                  <router-link  v-if="user_role == 'human resource'" :to="{name: 'leave.history.show',  params: { id: props.row.id } }" >
                    <button class="btn btn-info text-white">Edit</button>
                  </router-link>

                  <router-link v-if="user_role == 'branch manager'" :to="{name: 'leave.history.view',  params: { id: props.row.id } }" >
                    <button class="btn btn-info text-white">View</button>
                  </router-link>
                </div>
                
              </v-client-table>
            </div>

          </div>
        </div>  
      </div>
      <div class="row mt-3" v-else>
        <div class="col-md-12">
          <div class="card full-width">
            <div class="card-body">
              <h4 class="card-title">This Page Is For Manager and Human Resource Use Only</h4>
            </div>
          </div>
        </div>
      </div>
    
</template>

<script>
function Leave({ id, start, end, reason, document, approve }) {
  this.id = id;
  this.start = start;
  this.end = end;
  this.reason = reason;
  this.document = document;
  this.approve = approve;
}

import { siteName } from './../../config';

export default {
  data() {
    return {
      user_role:'',
      approval_status:'',
      leaves: [],
      columns: ['index', 'name', 'start', 'end', 'reason', 'approve', 'action'],
      data: [],
      options: {
        headings: {
          index: 'No.',
          name: 'Name',
          start: 'Start',
          end: 'End',
          reason: 'Reason',
          approve: 'Status',
          action: 'Action'
        },
        sortable: ['name', 'start', 'end', 'approve'],
        filterable: ['name', 'start', 'end', 'approve']
      },
      checkPermission: true,
      years: [],
      selectedYear: '',
      selectedMonth: '',
      permission: true,
      currentTime: '',
      leaveApproved: [],
      columnsApp: ['index', 'name', 'leave', 'start', 'end', 'approve', 'action'],
      optionsApp: {
        headings: {
          index: 'No.',
          name: 'Name',
          start: 'Start',
          end: 'End',
          leave: 'Leave',
          approve: 'Status',
          action: 'Action'
        },
        sortable: ['name', 'leave'],
        filterable: ['name', 'leave']
      },
    };
  },
  methods: {
    produreYear(year){
      
      var startYear = 2018;
      //do loop year
      var i = year - startYear;

      for(i; i>=0; i--){
          var options = { value: startYear + i, text: startYear + i}
          this.years.push(options);
      }
    },
    chageMonthYear(){
        axios
        .get(`/api/leave/${this.selectedMonth}/${this.selectedYear}/approve`)
        .then(res => {
            this.permission =  res.data.permission;
            this.leaveApproved = res.data.leaveUser;
            var i=0;
            for(i; i < this.leaveApproved.length; i++){
              if(this.leaveApproved[i].approve == '1' || this.leaveApproved[i].approve == '4'){

                this.leaveApproved[i].approve = 'approved';

              }else if(this.leaveApproved[i].approve == '2' || this.leaveApproved[i].approve == '5'){

                this.leaveApproved[i].approve = 'rejected';

              }else{

                this.leaveApproved[i].approve = 'processing';

              }
            }console.log(this.leaveApproved);
        })
    },
    listLeave(){
      axios
        .get('/api/history/leave')
        .then(res => {
          this.leaves = res.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;

          }else{

              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    getUserRole(){
      axios
        .get('/api/user/role')
        .then(res => {
          this.user_role = res.data.role;
          console.log(this.user_role);
        })
    }
  },
  created() {
    this.currentTime = new Date();
    this.selectedYear = this.currentTime .getFullYear();
    this.selectedMonth = this.currentTime .getMonth();

    this.listLeave();
    this.chageMonthYear();
    this.getUserRole();
  },
  mounted : function () {
      this.produreYear(this.selectedYear);
  }
};
</script>
