<template>
	<div class="card mt-3">
		<div class="card-header">
			<span class="text-left">Change Password</span>
    </div>
    <div class="card-body">
      <form v-on:submit="changePassword()">
        <div class="form-group">
            <label class="font-weight-bold">New Password</label>
            <input type="password" name="password" class="form-control" v-model="password.new"
                v-validate="'required|min:8'"
                :class="{ 'is-invalid': errors.has('password') }">
            <div v-show="errors.has('password')" class="invalid-feedback">
              {{ errors.first('password') }}
            </div>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Confirm Password</label>
            <input type="password" name="cpassword" class="form-control" v-model="password.confirm"
                v-validate="'required|min:8'"
                :class="{ 'is-invalid': errors.has('cpassword') }">
            <div v-show="errors.has('cpassword')" class="invalid-feedback">
              {{ errors.first('password') }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3" :disabled="!isComplete ||  errors.any()">Update</button>
      </form>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      password:{
        new: '',
        confirm: ''
      },
      userId: this.$route.params.id,
    };
  },
  methods: {
    changePassword() {
      event.preventDefault();

      axios
        .post('/api/user/password/change/' + this.userId, this.password)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'Your password successfully changed',
            type: 'success',
            duration: 5000
          });
          this.$router.push('/dashboard');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'The confirm and new must match.',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    }
  },
  created() {
  },
  computed: {
    isComplete() {
      return (
        (this.password.new.length > 7) && (this.password.confirm.length > 7)
      );
    }
  }
};
</script>