<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title">Edit Package</h4>
            <form>
                <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Name</label> 
                                    <input id="name" type="text" placeholder="Enter your name" class="form-control" v-model="product.name"  :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                    </div>


                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Description</label> 
                                    <input type="text" placeholder="Product Description" class="form-control" v-model="product.description" :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Description</label> 
                                    <textarea class="form-control" rows="5" v-model="product.description" :disabled="loading" required></textarea>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Package Category</label>
                                    <b-form-select
                                    v-model="product.category"
                                    :plain="true"
                                    :options="packageCategories">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Package Type</label>
                                    <b-form-select 
                                    v-model="product.type"
                                    :plain="true"
                                    :options="packageTypes">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                            <!-- <b-form-checkbox v-model="auto_upgrade">Auto-Upgrade Package</b-form-checkbox> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Package Auto Upgrade</label>
                                    <b-form-checkbox v-model="auto_upgrade" @change="autoUpgrade()">Auto Upgrade</b-form-checkbox>
                                    <label for="year1"  v-if="auto_upg" >Upgrade To</label>
                                    <b-form-select 
                                    v-model="product.autoupgrade"
                                    
                                    :options="packages" v-if="auto_upg" >
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Payment Type*</label>
                                    <b-form-select 
                                    v-model="product.payment_type"
                                    :plain="true"
                                    :options="paymentTypes">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Product Subscription (month)</label> 
                                    <input type="number" class="form-control" min="1" max="12" v-model="product.subscription" :disabled="loading" required>
                                    <small>Renew every {{ product.subscription }} month</small>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    

                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Package Type (Month)</label> 
                                    <input type="number" class="form-control" min="1" max="12" v-model="product.type" :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Number of Access per Month</label> 
                                    <input type="number" class="form-control" min="1" max="12"  v-if="!unlimited"   v-model="product.access" :disabled="loading" required>
                                </div>
                            </fieldset>
                                <!-- <b-form-checkbox-group stacked id="basicCheckboxes" name="Checkboxes" :plain="true" :checked="[2,3]"> -->
                                <b-form-checkbox v-model="unlimited">Unlimited</b-form-checkbox>
                                <!-- </b-form-checkbox-group> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Validity From</label> 
                                    <input type="date" class="form-control" v-model="product.validityFrom" :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Validity To</label> 
                                    <input type="date" class="form-control" v-model="product.validityTo" :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Status</label>
                                    <b-form-select v-model="product.status"
                                    :plain="true"
                                    :options="['active', 'inactive']">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Gate Access</label>
                                    <b-form-select v-model="product.gateAccess"
                                    :plain="true"
                                    :options="['pool door', 'gym door']">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Minimum Age</label>
                          <input type="number" name="minAge" class="form-control" v-model="product.minAge">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Maximum Age</label>
                          <input type="number" name="maxAge" class="form-control" v-model="product.maxAge">
                        </div>
                      </div>
                    </div>

                    <h3 class="mt-4">Pricing</h3>
                    <hr>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Package Price</label> 
                                    <input type="text" class="form-control" v-model="product.price" :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Deposit</label> 
                                    <input type="text" class="form-control" v-model="product.deposit" :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Registration Fee</label> 
                                    <input type="text" class="form-control" v-model="product.registration_fee" :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <h3 class="mt-4">Outlet</h3>
                    <hr>

                    <div class="form-check">

                    <label class="custom-checkbox custom-control" v-for="outlet in outlets" :key="outlet.id">
                      <input type="checkbox"  class="custom-control-input" :value="outlet.id" v-bind:checked="isChecked(outlet.id)" @click="check($event, outlet)">  
                      <span aria-hidden="true" class="custom-control-indicator"></span> 
                      <span class="custom-control-description">{{ outlet.name | capitalize }}</span>
                    </label>

                    <h3 class="mt-4">Outlet</h3>
                      <div class="form-check">

                        <div class="form-group">

                        <label class="font-weight-bold">Working Hour</label>
                          <div class="row">
                            <div class="col-sm-12 col-md-4">
                              <label>Day</label>
                              <select class="form-control" v-model="schedule.day" :disabled="loading">
                                  <option>Monday</option>
                                  <option>Tuesday</option>
                                  <option>Wednesday</option>
                                  <option>Thursday</option>
                                  <option>Friday</option>
                                  <option>Saturday</option>
                                  <option>Sunday</option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-4">
                              <label>Start</label>
                              <input type="time" name="start" class="form-control" v-model="schedule.start">
                            </div>
                            <div class="col-sm-12 col-md-4">
                              <label>End</label>
                              <input type="time" name="end" class="form-control" v-model="schedule.end">
                            </div>
                            <div class="col-sm-12 col-md-2">
                              <a class="btn btn-info btn-block text-white my-2" @click="addSchedule()">Add</a>
                            </div>
                          </div>
                        </div>
                      <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4" data-tablesaw-mode="columntoggle" id="table-8957">
                          <thead>
                              <tr>
                                  <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Day</th>
                                  <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">From</th>
                                  <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">To</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr v-for="schedule in product.schedules" v-bind="schedule" :key="schedule.id">
                                  <td class="title">{{ schedule.day }}</td>
                                  <td class="tablesaw-priority-3">{{ schedule.start | time }}</td>
                                  <td class="tablesaw-priority-3">{{ schedule.end | time }}</td>
                                  <td>
                                    <a class="pointer" @click="removeSchedule(schedule)">
                                      <i class="icon-close text-danger"></i>
                                    </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                      </div>
                    </div>

                    <button class="btn btn-primary" @click="updatePackage()">Update Package</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      unlimited: false,
      auto_upgrade: false,
      loading: false,
      packages:[],
      packageTypes: [],
      packageCategories: [],
      paymentTypes: [
        { text: 'Monthly-Collection', value: 'Monthly-Collection' },
        { text: 'Quaterly-Collection', value: 'Quaterly-Collection' },
        { text: 'Private-Collection', value: 'Private-Collection' },
        { text: 'Other-Collection', value: 'Other-Collection' },
      ],
      selectedId: this.$route.params.id,
      product: {
        name: '',
        description: '',
        photo: 'xxxxx',
        subscription: "",
        category: "",
        type: "",
        autoupgrade: '0',
        category: '',
        priceOnlineDay: '',
        priceOnlineMonthly: '',
        priceOnlineYearly: '',
        priceWalkInDay: '',
        priceWalkInMonthly: '',
        priceWalkInYearly: '',
        validity: '',
        status: '',
        outlets: [],
        timeslots: [],
        payments: [],
        registration_fee: ''
      },
      tempProduct: {
        outlets: [],
        timeslots: [],
        payments: []
      },
      outlets: [],
      timeslots: [],
      payments: [],
      auto_upg:false,
      schedule: {
        day: '',
        start: '',
        end: ''
      },
      checkPermission:true
    };
  },
  methods: {
    getSinglePackage() {
      axios
        .get('/api/package/' + this.selectedId)
        .then(res => {
           console.log(res.data.data);
          this.product = res.data.data;
          console.log(this.product);
          
          if(this.product.auto_upgrade == 1) {
            this.auto_upgrade = true;
            this.auto_upg = true;
            this.product.autoupgrade = this.product.upgrade_to;
          }

          if (this.product.access == -1) {
            this.unlimited = true;
          }
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });

      axios
        .get('/api/outlets')
        .then(res => {
          this.outlets = res.data;
          // console.log(this.outlets);
        })
    },
    autoUpgrade(){
      // axios
      //   .get("/api/package")
      //   .then(res => {
      //     // this.packages = res.data;
      //     this.packages = res.data.filter(
      //         c => c.category === category
      //     );
      //     // this.collection.status = this.status;
      //   })
      //   .catch(err => {
      //     console.log(err);
      // });
      if (this.auto_upgrade == true) {
        this.auto_upg = true;
      }else{
        this.auto_upg = false;
      }
      
    },
    check(e, outlet) {
      if (e.target.checked) {
        this.product.outlets.push(outlet);
      } else {
        this.product.outlets.splice(this.product.outlets.indexOf(outlet), 1);
      }
    },
    removeSchedule(schedule) {
      this.product.schedules.splice(this.product.schedules.indexOf(schedule), 1);
    },
    addSchedule() {
      // console.log(this.schedule);
      this.product.schedules.push(this.schedule);
      this.schedule = {
        day: '',
        start: '',
        end: ''
      };
    },
    isChecked(id) {
      // console.log(id);
      // console.log(this.product.outlets);
      var found = this.product.outlets.filter(outlet => outlet.id === id);
      if (found.length === 0) {
        // console.log('false');
        return false;
      } else {
        // console.log('true');
        return true;
      }
    },
    updatePackage() {
      event.preventDefault();

      if (this.product.autoupgrade == null) {
        this.product.autoupgrade = 0;
      }

      console.log(this.product.autoupgrade);

      if (this.unlimited === true) {
        this.product.access = -1;
      }

      axios
        .post('/api/package/' + this.selectedId + '/edit', this.product)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have updated the package.',
            type: 'success',
            duration: 5000
          });
          this.$router.push('/package');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err);
        });
    }
  },
  created() {
    this.getSinglePackage();
    axios.get("/api/master-data/package-type").then(res => {
      for (var i = 0; i < res.data.length; i++) {
        var tempObj = {
          text: res.data[i].name,
          value: res.data[i].name
        };
        this.packageTypes.push(tempObj);
      }
    });

    axios.get("/api/package/getallpackage").then(res => {
      
      for (var i = 0; i < res.data.length; i++) {
        var tempObj = {
          text: res.data[i].name,
          value: res.data[i].id
        };
        this.packages.push(tempObj);

      }
      // console.log('hi its package axios');
      // console.log(this.packages);
    });


    axios.get("/api/master-data/package-category").then(res => {
      for (var i = 0; i < res.data.length; i++) {
        var tempObj = {
          text: res.data[i].name,
          value: res.data[i].name
        };
        this.packageCategories.push(tempObj);
      }
    });
  }
};
</script>
