<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">List Inactive Package</h4>


                    <v-client-table :columns="columns" :data="packages" :options="options">
                      <div slot="index" slot-scope="props">{{ props.index }}</div>
                      <div slot="action" slot-scope="props">
                        <router-link :to="{name: 'package.view',  params: { id: props.row.id } }" >
                            <button class="btn btn-primary">View</button>
                        </router-link>
                        <router-link :to="{name: 'package.edit',  params: { id: props.row.id } }" >
                            <button class="btn btn-outline-info">Edit</button>
                        </router-link>
                        <button class="btn btn-outline-danger" @click="deletePackage(props.row.id)">Delete</button>
                      </div>
                    </v-client-table>

                    <router-link :to="{name: 'package.create'}" >
                        <button class="btn btn-primary">Create a new Package</button>
                    </router-link>
                </div>

                </div>
        </div>

        <div class="modal fade in" v-bind:class="{ show: isModal, modal_show: isModal }" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Package Details</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" @click="isModal = false">×</button>
                  </div>
                  <div class="modal-body">
                    <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle" data-tablesaw-mode="columntoggle" id="table-8957">
                        <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Label</th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="title">Name</td>
                                <td class="tablesaw-priority-3">{{ product.name }}</td>
                            </tr>
                            <tr>
                                <td class="title">Description</td>
                                <td class="tablesaw-priority-3">{{ product.description }}</td>
                            </tr>
                            <tr>
                                <td class="title">Validity</td>
                                <td class="tablesaw-priority-3">{{ product.validityFrom }} - {{ product.validityTo }}</td>
                            </tr>
                            <tr>
                                <td class="title">Status</td>
                                <td class="tablesaw-priority-3">{{ product.status }}</td>
                            </tr>
                        </tbody>
                    </table>


                    <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4" data-tablesaw-mode="columntoggle" id="table-8957">
                        <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Price Type</th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="title">Online</td>
                                <td class="tablesaw-priority-3">RM {{ product.priceOnline }}</td>
                            </tr>
                            <tr>
                                <td class="title">Walk In</td>
                                <td class="tablesaw-priority-3">RM {{ product.priceWalkIn }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">Availabe at Outlets:</p>
                    <ul>
                        <li v-for="outlet in product.outlets" v-bind="outlet" :key="outlet.id">
                            {{ outlet.name }}
                        </li>
                    </ul>

                    <p class="font-weight-bold">Payment Available:</p>
                    <ul>
                        <li v-for="payment in product.payments" v-bind="payment" :key="payment.id">
                            {{ payment.name }}
                        </li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-outline-danger waves-effect" @click="deletePackage(product.id)">Delete</button>
                      <button type="button" class="btn btn-default waves-effect" @click="isModal = false">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
      
    </div>
</template>

<script>
export default {
  data() {
    return {
      packages: [],
      product: {
        id: '',
        name: '',
        description: '',
        photo: '',
        category: '',
        priceOnlineDay: '',
        priceOnlineMonthly: '',
        priceOnlineYearly: '',
        priceWalkInDay: '',
        priceWalkInMonthly: '',
        priceWalkInYearly: '',
        validity: '',
        status: ''
      },
      isModal: false,
      columns: ['index', 'name', 'category', 'status', 'action'],
      data: [],
      options: {
        headings: {
          index: 'No.',
          name: 'Name',
          category: 'Category',
          status: 'Status',
          action: 'Action'
        },
        sortable: ['name', 'category', 'status'],
        filterable: ['name', 'category', 'status']
      }
    };
  },
  methods: {
    listPackage() {
      axios
        .get('/api/package/inactive')
        .then(res => {
          this.packages = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err);
        });
    },
    showModal(id) {
      this.isModal = true;
      this.viewProduct(id);
    },
    viewProduct(id) {
      axios
        .get('/api/package/' + id)
        .then(res => {
          console.log(res.data);

          this.product = res.data.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err);
        });
    },
    deletePackage(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete('/api/package/' + id)
            .then(res => {
              this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'You have deleted the package.',
                type: 'success',
                duration: 5000
              });
              this.listPackage();
            })
            .catch(err => {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    }
  },
  created() {
    this.listPackage();
  }
};
</script>
