<template>
          <div class="card my-3" v-if="checkPermission">
              <div class="card-body">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Package Details</h4>
                  </div>
                  <div class="modal-body">
                    <img v-bind:src="'/storage/' + product.photo " class="my-5 d-block mx-auto" width="200" height="200" />
                    <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle" data-tablesaw-mode="columntoggle" id="table-8957">
                        <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Label</th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="title">Name</td>
                                <td class="tablesaw-priority-3">{{ product.name }}</td>
                            </tr>
                            <tr>
                                <td class="title">Description</td>
                                <td class="tablesaw-priority-3">{{ product.description }}</td>
                            </tr>
                            <tr>
                                <td class="title">Age</td>
                                <td class="tablesaw-priority-3"><span class="font-weight-bold">{{ product.minAge }}</span> - <span class="font-weight-bold">{{ product.maxAge }}</span> years old</td>
                            </tr>
                            <tr>
                                <td class="title">Validity</td>
                                <td class="tablesaw-priority-3">{{ product.validityFrom }} - {{ product.validityTo }}</td>
                            </tr>
                            <tr>
                                <td class="title">Status</td>
                                <td class="tablesaw-priority-3">{{ product.status | capitalize }}</td>
                            </tr>
                        </tbody>
                    </table>


                    <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4" data-tablesaw-mode="columntoggle" id="table-8957">
                        <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Price Type</th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="title">Price</td>
                                <td class="tablesaw-priority-3">RM {{ product.price }}</td>
                            </tr>
                            <tr>
                                <td class="title">Deposit</td>
                                <td class="tablesaw-priority-3">RM {{ product.deposit }}</td>
                            </tr>
                        </tbody>
                    </table>



                    <p class="font-weight-bold mt-5">Availabe at Outlets:</p>
                    <ul>
                        <li v-for="outlet in product.outlets" v-bind="outlet" :key="outlet.id">
                            {{ outlet.name }}
                        </li>
                    </ul>

                    <p class="font-weight-bold mt-5">Working Hour</p>

                    <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4" data-tablesaw-mode="columntoggle" id="table-8957">
                        <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Day</th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">From</th>
                                <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">To</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="schedule in product.schedules" v-bind="schedule" :key="schedule.id">
                                <td class="title">{{ schedule.day }}</td>
                                <td class="tablesaw-priority-3">{{ schedule.start | time }}</td>
                                <td class="tablesaw-priority-3">{{ schedule.end | time }}</td>
                            </tr>
                        </tbody>
                    </table>

                  </div>
                  <div class="modal-footer">

                        <router-link :to="{name: 'package.edit',  params: { id: packageId } }" >
                            <button class="btn btn-outline-info">Edit</button>
                        </router-link>

                      <button type="button" class="btn btn-outline-danger waves-effect" @click="deletePackage(product.id)">Delete</button>
                  </div>
              </div>
          </div>
</template>

<script>
export default {
  data() {
    return {
      packageId: this.$route.params.id,
      product: {},
      checkPermission: true
    };
  },
  methods: {
    getOutlet() {
      axios
        .get('/api/package/' + this.packageId)
        .then(res => {
          this.product = res.data.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    deletePackage(id) {
      axios
        .delete('/api/package/' + id, {
          data: { foo: 'bar' }
        })
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have deleted the package.',
            type: 'success',
            duration: 5000
          });
          this.$router.push('/package');
          this.$noty.success('This Package has been deleted!');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    }
  },
  created() {
    this.getOutlet();
  }
};
</script>
