<template>
<div class="wrapper mt-5">
    <div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
          <b-card
            header-tag="header"
            footer-tag="footer">
            <div slot="header">
              <i class="fa fa-align-justify"></i> <strong>Create New Package</strong>
            </div>
            <div>
                <form  v-on:submit="createProduct()">
                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Name*</label> 
                                    <input id="name" type="text" placeholder="Enter your name" class="form-control" v-model="product.name"  :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Description*</label> 
                                    <textarea class="form-control" rows="5" v-model="product.description" :disabled="loading" required></textarea>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Package Category*</label>
                                    <b-form-select
                                    v-model="product.category"
                                    :plain="true"
                                    :options="packageCategories">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Package Type*</label>
                                    <b-form-select 
                                    v-model="product.type"
                                    :plain="true"
                                    :options="packageTypes">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Payment Type*</label>
                                    <b-form-select 
                                    v-model="product.payment_type"
                                    :plain="true"
                                    :options="paymentTypes">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                        </div>
                    </div>


                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Swim Category</label>
                                    <b-form-select v-model="product.swimCategory"
                                    :plain="true"
                                    :options="['white', 'advance']">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Product Subscription (month)*</label> 
                                    <input type="number" class="form-control" min="1" max="12" v-model="product.subscription" :disabled="loading" required>
                                    <small>Renew every {{ product.subscription }} month</small>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Number of Access per Month*</label> 
                                    <input type="number" class="form-control" min="1" max="12"  v-if="!unlimited"   v-model="product.access" :disabled="loading" required>
                                </div>
                            </fieldset>
                                <b-form-checkbox-group stacked id="basicCheckboxes" name="Checkboxes" :plain="true" :checked="[2,3]">
                                <b-form-checkbox value="unlimited"  v-model="unlimited" >Unlimited</b-form-checkbox>
                                </b-form-checkbox-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Validity From*</label> 
                                    <input type="date" class="form-control" v-model="product.validityFrom" :disabled="loading" >
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Validity To*</label> 
                                    <input type="date" class="form-control" v-model="product.validityTo" :disabled="loading" >
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Package Image*</label> 
                                    <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange">
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                                            <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                                            <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Status*</label>
                                    <b-form-select v-model="product.status"
                                    :plain="true"
                                    :options="['active', 'inactive']">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                                <b-form-group>
                                    <label for="year1">Gate Access</label>
                                    <b-form-select v-model="product.gateAccess"
                                    :plain="true"
                                    :options="['pool door', 'gym door']">
                                    </b-form-select>
                                </b-form-group>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Minimum Age*</label>
                          <input type="number" name="minAge" class="form-control" v-model="product.minAge">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Maximum Age*</label>
                          <input type="number" name="maxAge" class="form-control" v-model="product.maxAge">
                        </div>
                      </div>
                    </div>

                    <h3 class="mt-4">Pricing</h3>
                    <hr>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Price Package*</label> 
                                    <input type="text" class="form-control" v-model="product.price" :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Deposit*</label> 
                                    <input type="text" class="form-control" v-model="product.deposit" :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <fieldset id="__BVID__351" role="group" class="b-form-group form-group">
                                <div role="group" class="">
                                    <label for="name">Registration Fee*</label> 
                                    <input type="text" class="form-control" v-model="product.registration_fee" :disabled="loading" required>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                        

                    <h3 class="mt-4">Outlet*</h3>
                    <hr>

                    <div class="form-check">
                        <ul class="list-unstyled">
                            <li v-for="outlet in outlets" v-bind="outlet" :key="outlet.id" class="custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input" v-model="tempProduct.outlets[outlet.id]" v-bind:id="'#outlet' + outlet.id" > 
                                <label v-bind:for="'#outlet' + outlet.id" class="text-capitalize">{{ outlet.name }}</label>
                            </li>
                        </ul>
                    </div>

                    <h3 class="mt-4">Operating Hour</h3>
                    <hr>

                    
                    <div class="form-group">
                        <!-- <label class="font-weight-bold">Working Hour</label> -->
                        <div class="row">
                          <div class="col-sm-12 col-md-4">
                            <label>Day</label>
                            <select class="form-control" v-model="schedule.day" :disabled="loading">
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                                <option>Sunday</option>
                              </select>
                          </div>
                          <div class="col-sm-12 col-md-4">
                            <label>Start</label>
                            <input type="time" name="start" class="form-control" v-model="schedule.start">
                          </div>
                          <div class="col-sm-12 col-md-4">
                            <label>End</label>
                            <input type="time" name="end" class="form-control" v-model="schedule.end">
                          </div>
                          <div class="col-sm-12 col-md-2">
                            <a class="btn btn-info btn-block text-white my-2" @click="addSchedule()">Add</a>
                          </div>
                        </div>
                        <ul>
                          <li v-for="s in product.schedules" v-bind="product.schedules" :key="s.id">
                            <span class="font-weight-bold">{{ s.day }}</span> {{ s.start }} - {{ s.end }} 
                            <a class="pointer" @click="removeSchedule(s)"> <i class="icon-close text-danger ml-2"></i> </a>
                          </li>
                        </ul>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn-sm btn-primary" >Save</button>
                    </div>
                </form>
            </div>
          </b-card>
        </div>
    </div>
    </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      unlimited: false,
      loading: false,
      packageTypes: [],
      paymentTypes: [
        { text: 'Monthly-Collection', value: 'Monthly-Collection' },
        { text: 'Quaterly-Collection', value: 'Quaterly-Collection' },
        { text: 'Private-Collection', value: 'Private-Collection' },
        { text: 'Other-Collection', value: 'Other-Collection' },
      ],
      packageCategories: [],
      product: {
        name: "",
        description: "",
        photo: "",
        subscription: "",
        category: "",
        type: "",
        access: "",
        price: "",
        deposit: "",
        status: "",
        gateAccess: "",
        outlets: [],
        schedules: [],
        registration_fee: ''
      },
      tempProduct: {
        outlets: []
      },
      outlets: [],
      image: "",
      attachments: [],
      data: new FormData(),
      errors: {},
      percentCompleted: 0,
      imageId: 0,
      schedule: {
        day: "",
        start: "",
        end: ""
      }
    };
  },
  methods: {
    addSchedule() {
      console.log(this.schedule);
      this.product.schedules.push(this.schedule);
      this.schedule = {
        day: "",
        start: "",
        end: ""
      };
    },
    removeSchedule(s) {
      this.product.schedules.splice(this.product.schedules.indexOf(s), 1);
      console.log(this.product.schedules);
    },
    createProduct() {
      event.preventDefault();

      //Loop existing Outlet
      for (var i = 0; i < this.outlets.length; i++) {
        var id = this.outlets[i].id;
        if (this.tempProduct.outlets[id]) {
          this.product.outlets.push(id);
        }
      }

      this.loading = true;

      if (this.unlimited === "unlimited") {
        this.product.access = -1;
      }

      this.prepareFields();
      var config = {
        headers: { "Content-Type": "multipart/form-data" },
        onUploadProgress: function(progressEvent) {
          this.percentCompleted = Math.round(
            progressEvent.loaded * 100 / progressEvent.total
          );
          this.$forceUpdate();
        }.bind(this)
      };

      axios
        .put("/api/package/", this.product)
        .then(res => {
          return axios.post(
            "/api/package/" + res.data.id + "/image",
            this.data,
            config
          );
        })
        .then(res => {
          this.$notify({
            group: "foo",
            title: "Awesome",
            text: "You have created a new package.",
            type: "success",
            duration: 5000
          });
          console.log("Successfull Upload");
          this.loading = false;
          this.$router.push("/package");
          this.$noty.success("Package Added success");
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          console.log(err.data);
          this.loading = false;
        });
    },
    getOutlets() {
      axios
        .get("/api/outlets")
        .then(res => {
          this.outlets = res.data;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          console.log(err.data);
        });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = "";
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append("attachments", attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById("attachments").value = [];
    },
    resetData() {
      this.data = new FormData();
      this.attachments = [];
    },
    start() {
      console.log("Starting File Management Component");
    }
  },
  created() {
    this.getOutlets();

    axios.get("/api/master-data/package-type").then(res => {
      for (var i = 0; i < res.data.length; i++) {
        var tempObj = {
          text: res.data[i].name,
          value: res.data[i].name
        };
        this.packageTypes.push(tempObj);
      }
    });

    axios.get("/api/master-data/package-category").then(res => {
      for (var i = 0; i < res.data.length; i++) {
        var tempObj = {
          text: res.data[i].name,
          value: res.data[i].name
        };
        this.packageCategories.push(tempObj);
      }
    });
  }
};
</script>
