<template>
	<div>
		<edit-profile-form @updateSuccess="updateSuccess"></edit-profile-form>
	</div>
</template>

<script>
import EditProfileForm from "./EditProfileForm.vue";
import { mapActions } from "vuex";

export default {
  components: {
    "edit-profile-form": EditProfileForm
  },
  methods: {
    ...mapActions(["setAuthUser"]),
    updateSuccess(data) {
      this.setAuthUser(data.user);
      this.$router.push({ name: "profile" });
    }
  }
};
</script>
