<template>
	<div>
		<form @submit.prevent="updateProfile" class="form-material">
			<div class="form-group">
				<label for="name">Name</label>
				<input
					type="text"
					class="form-control form-control-line"
					:class="{'is-invalid' : error.name}"
					id="name"
					v-model="form.name"
					:disabled="loading"
				/>
				<div class="invalid-feedback" v-show="error.name">{{ error.name }}</div>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input
					type="email"
					class="form-control form-control-line"
					:class="{'is-invalid' : error.email}"
					id="email"
					v-model="form.email"
					:disabled="loading"
				/>
				<div class="invalid-feedback" v-show="error.email">{{ error.email }}</div>
			</div>
			<div class="form-group">
				<label for="icNumber">IC</label>
				<input
					type="text"
					class="form-control form-control-line"
					:class="{'is-invalid' : error.icNumber}"
					id="icNumber"
					v-model="form.icNumber"
					:disabled="loading"
				/>
				<div class="invalid-feedback" v-show="error.icNumber">{{ error.icNumber }}</div>
			</div>
			<div class="form-group">
				<label for="contact">Contact Number</label>
				<input
					type="text"
					class="form-control form-control-line"
					:class="{'is-invalid' : error.contact}"
					id="contact"
					v-model="form.contact"
					:disabled="loading"
				/>
				<div class="invalid-feedback" v-show="error.contact">{{ error.contact }}</div>
			</div>
			<button type="submit" class="btn btn-primary" :disabled="loading">
				<span v-show="loading">Updating Profile</span>
				<span v-show="!loading">Update Profile</span>
			</button>
		</form>
	</div>
</template>

<script>
import { mapState } from "vuex";
import { api } from "../../../config";

export default {
  data() {
    return {
      loading: false,
      error: {
        name: "",
        email: "",
        icNumber:"",
        contact:""
      }
    };
  },
  computed: mapState({
    form: state => {
      return { ...state.auth };
    }
  }),
  methods: {
    updateProfile() {
      // uncomment the following 2 lines to enable edit profile
      // this.$noty.info('Edit Profile is disabled for demo purpose');
      // return;

      this.loading = true;
      axios
        .post(api.updateUserProfile, this.form)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have updated the profile.',
              type: 'success',
              duration: 5000
            });
          this.loading = false;
          this.$noty.success("Profile Updated");
          this.$emit("updateSuccess", res.data);
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access to update',
                  type: 'error',
                  duration: 5000
              });
          }
          else{
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
            });
          }
          err.response.data.error && this.$noty.error(err.response.data.error);

          err.response.data.errors
            ? this.setErrors(err.response.data.errors)
            : this.clearErrors();

          this.loading = false;
        });
    },
    setErrors(errors) {
      this.error.name = errors.name ? errors.name[0] : null;
      this.error.email = errors.email ? errors.email[0] : null;
      this.error.icNumber = errors.icNumber ? errors.icNumber[0] : null;
      this.error.contact = errors.contact ? errors.contact[0] : null;
    },
    clearErrors() {
      this.error.name = null;
      this.error.email = null;
      this.error.icNumber = null;
      this.error.contact = null;
    }
  }
};
</script>
