<template>
    <div class="card mt-5">
        <div class="card-body">

            <div class="alert alert-info my-3" v-if="amountAllow && amountUsed" >
                You've claimed RM {{ amountUsed }} /RM {{ amountAllow }}. You only able to claim <strong>RM {{ amountAllow - amountUsed}}</strong> maximum.
            </div>

            <h4 class="card-title">Claim Application</h4>
            <form class="form" v-on:submit="applyLeave()">

                <div class="form-group">
                    <label>Type of Claim</label>
                    <select class="form-control" v-model="claim.claim_id" @change="showLimitClaim(claim.claim_id)" required>
                        <option v-for="claim in claims" v-bind:key="claim.id" v-bind:value="claim.id" >
                            {{ claim.type }}
                        </option>
                    </select>
                </div>



                <div class="form-group">
                    <label>Remarks</label>
                    <textarea class="form-control" :disabled="loading" v-model="claim.remarks" maxlength="100" required></textarea> 
                </div>

                <div class="form-group">
                    <label>Amount</label>
                    <!-- <input type="number" class="form-control" :disabled="loading" v-model="claim.amount" required> -->
                    <money v-model="claim.amount" v-bind="money" class="form-control" required></money>

                </div>
                
                <div class="form-group">
                    <label>Related Document</label> 
                    <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange">
                    <hr>
                    <div class="col-md-12">
                        <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                            <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                            <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                        </div>
                    </div>
                                   
                </div>

                <button type="submit" class="btn btn-primary pull-right" :disabled="claim.amount > (amountAllow - amountUsed)">
                    <i class="icon-check"></i>  Submit
                </button>

            </form>
        </div>
    </div>
</template>
<style>
  .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #828383!important;
      border-color: #828383!important;
  }
</style>
<script>
import { mapState } from "vuex";
import {Money} from 'v-money';

export default {
  components: {Money},
  data() {
    return {
      loading: false,
      claim: {
        claim_id: "",
        remarks: "",
        amount: ""
      },
      userClaim: "",
      user: "",
      claims: [],
      differentDay: "",
      remainingLeave: "",
      image: "",
      amountAllow: "",
      amountUsed: 0,
      attachments: [],
      data: new FormData(),
      percentCompleted: 0,
      imageId: 0,
      money: {
        decimal: '.',
        thousands: ',',
        prefix: 'RM ',
        precision: 2
      }
    };
  },
  methods: {
    getUser() {
      axios
        .get("/api/user")
        .then(res => {
          this.user = res.data;

          this.getClaimByUser(this.user.id);
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log("something wrong over here");
        });
    },
    getClaimByUser(id) {
      axios
        .get("/api/claim/user/" + id + "/amount")
        .then(res => {
          console.log(res.data);
          this.userClaim = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log("something wrong over here");
        });
    },
    applyLeave() {
      event.preventDefault();

      this.prepareFields();
      var config = {
        headers: { "Content-Type": "multipart/form-data" },
        onUploadProgress: function(progressEvent) {
          this.percentCompleted = Math.round(
            progressEvent.loaded * 100 / progressEvent.total
          );
          this.$forceUpdate();
        }.bind(this)
      };

      this.loading = true;
      console.log(this.claim);

      axios
        .post("/api/claim/user/" + this.user.id, this.claim)
        .then(res => {
          console.log(res.data);
          return axios.post(
            "/api/claim/" + res.data[0].id + "/upload",
            this.data,
            config
          );
        })
        .then(res => {
          this.loading = false;
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have Successfull apply the claim. Please wait for admin to review.',
              type: 'success',
              duration: 5000
            });
          console.log("Successfull Upload");
          this.$router.push("/claim/history");
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Cannot upload a document. Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
          this.loading = false;
        });
    },
    getAllClaim() {
      axios
        .get("/api/claim")
        .then(res => {
          this.claims = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    showLimitClaim(claimId) {
      // GET TOTAL USED BY USER
      //var claimById = this.userClaim([claimId]);

      if (this.userClaim.length > 0) {
          var claimById = this.userClaim.filter( claim => claim.id === claimId);
          this.amountUsed = 0;
          for (var i = 0; i < claimById.length; i++) {
            console.log(claimById[i].pivot.amount);
            if (claimById[i].pivot.approve === 1) {
              this.amountUsed += parseFloat(claimById[i].pivot.amount);
            }
          }
        }

      // GET TOTAL CLAIM
      var selectedClaim = this.claims.filter(claim => claim.id === claimId);
      console.log(selectedClaim);

      selectedClaim = selectedClaim[0].roles.filter(
        claim => claim.pivot.role_id === this.user.role_id
      );
      this.amountAllow = selectedClaim[0].pivot.limit;
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = "";
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append("attachments", attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById("attachments").value = [];
    },
    resetData() {
      this.data = new FormData();
      this.attachments = [];
    }
  },
  created() {
    this.getUser();
    this.getAllClaim();
  }
};
</script>