<template>
  <b-modal title="Add Option" class="modal-success" v-model="myModal" @ok="addQuesionnaire()">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-primary">
          <p>
            <i class="fa fa-book mr-2" aria-hidden="true"></i> Question: {{ questions.question | capitalize}} 
          </p>
        </div>
        <div class="form-group">
              <label class="font-weight-bold">Option : </label>
              <input type="text" class="form-control" v-model="options.options" required>
          </div>
      </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      optionsId: '',
      options: {
        package_category_id: '',
        options: ''
      },
      questions:{}
    };
  },
  methods: {
    openModal(id) {
      this.myModal = true;
      this.options.package_category_id = id;
      this.getQuestionnaire(id);
    },
    getQuestionnaire(id){
      axios
        .get(`/api/questionnaire/${id}`)
        .then(res => {
          this.questions = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    addQuesionnaire(){
      console.log(this.options);
      axios
        .put("/api/questionnaire/options", this.options)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'Question Option already added',
              type: 'success',
              duration: 5000
            });
          this.$emit("getQuestionnaire");
          this.myModal = false;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    }
  },
  created() {
    this.$parent.$on('openOptionModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
</style>