<template>
  <b-modal title="Add Questionniare" class="modal-success" v-model="myModal" @ok="addQuesionnaire()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
              <label class="font-weight-bold">Question</label>
              <input type="text" class="form-control" v-model="questionnaire.question" required>
          </div>
      </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      optionsId: '',
      questionnaire: {
        package_category_id: '',
        question: ''
      }
    };
  },
  methods: {
    openModal(id) {
      this.myModal = true;
      this.questionnaire.package_category_id = id;
    },
    addQuesionnaire(){
      axios
        .put("/api/questionnaire/", this.questionnaire)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'Question already added',
              type: 'success',
              duration: 5000
            });
          this.$emit("getQuestionnaire");
          this.myModal = false;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    }
  },
  created() {
    this.$parent.$on('openAddModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
</style>
