<template>
  <b-modal title="Add Other Category for Questionniare" class="modal-success" v-model="myModal" @ok="addOtherCategory()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
              <label class="font-weight-bold">Name</label>
              <input type="text" class="form-control" v-model="category.name" required>
              <small>For example <b>Career</b>, <b>Rating</b></small>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" v-model="category.forRating" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                      If for <b>Rating</b> please tick this checkbox.
                  </label>
              </div>
          </div>
      </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      optionsId: '',
      category: {
        name: '',
        forRating: false
      }
    };
  },
  methods: {
    openModal() {
      this.myModal = true;
    },
    addOtherCategory(){
      axios
        .post("/api/master-data/other-category", this.category)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'Question already added',
              type: 'success',
              duration: 5000
            });
          this.$emit("getOtherCategory");
          this.myModal = false;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    }
  },
  created() {
    this.$parent.$on('openAddModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
</style>
