<template>
  <b-modal title="Add Option" class="modal-success" v-model="myModal" @ok="editOptions()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
            <label class="font-weight-bold">Option : </label>
            <input type="text" class="form-control" v-model="options.options" required>
        </div>
      </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      optionsId: '',
      options: {
        id: '',
        options: ''
      },
    };
  },
  methods: {
    openModal(id) {
      this.myModal = true;
      this.options.id = id;
      console.log(this.options.id);
      this.getOptions(this.options.id);
    },
    getOptions(id){
      axios
        .get(`/api/questionnaire/${id}/option`)
        .then(res => {
          // console.log(res.data);
          this.options = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
      },
    editOptions(){
      axios
        .post(`/api/questionnaire/${this.options.id}/update`, this.options)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'Question Option already edited',
              type: 'success',
              duration: 5000
            });
          this.$emit("getQuestionnaire");
          this.myModal = false;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    }
  },
  created() {
    this.$parent.$on('openEditOptionModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
</style>