<template>
  <div class="card mt-5" v-if="checkPermission">
    <div class="card-body">
      <h4 class="card-title">
        View Super Admin
      </h4>
      <div class="row">
        <div class="col-md-6 col-xs-6 b-r"> <strong>Full Name</strong>
          <br>
          <p class="text-muted">{{ user.name }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Email</strong>
          <br>
          <p class="text-muted">{{ user.email }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Contact</strong>
          <br>
          <p class="text-muted">{{ user.contact }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Gender</strong>
          <br>
          <p class="text-muted">{{ user.gender }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>IC Number</strong>
          <br>
          <p class="text-muted">{{ user.icNumber }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Outlet</strong>
          <br>
          <p class="text-muted">{{ outlet[0] }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Designation</strong>
          <br>
          <p class="text-muted">{{ designation[0] }}</p>
        </div>
      </div>
        <button class="btn btn-outline-danger mt-5" @click="deleteUser(userId)">Delete this user</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isModal: false,
      userId: this.$route.params.id,
      user: {
        name: "",
        email: "",
        contact: "",
        email: "",
        gender: "",
        icNumber: ''
      },
      outlet: [],
      designation: [],
      checkPermission: true,
    };
  },
  methods: {
    getUser() {
      axios
        .get("/api/superadmin/" + this.userId)
        .then(res => {
          // console.log(res.data.data);
          this.user = res.data.data;
          this.getOutlet(this.user.outlets);
          this.getDesignation(this.user.designation);
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
            this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          }
        });
    },
    getOutlet(id) {
      axios
        .get('/api/outlets/' + id)
        .then(res => {
          console.log(res.data.data);
            this.outlet.push(res.data.data.name);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    getDesignation(id) {
      axios
        .get('/api/coach/' + id + '/designation')
        .then(res => {
          console.log(res.data);
            this.designation.push(res.data.name);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    deleteUser(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/superadmin/" + id + "/delete")
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You have successful delete the superadmin.',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/super-admin");
              this.$noty.success("This Super Admin has been deleted!");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
              console.log(err.data);
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    }
  },
  created() {
    this.getUser();
  }
};
</script>
