<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <div class="alert alert-info my-3" role="alert">
                <!-- You only have <strong>{{user.leave}} days</strong> leave applications left. -->
                Your Leaves Balance
                <li v-for="LB in leaveBalance">
                    {{ LB.name }} - <strong>{{ LB.balance }}days</strong>
                </li>
            </div>

            <h4 class="card-title">Leave Application</h4>
            <form class="form" v-on:submit="applyLeave()">

                <div class="form-group">
                    <label>Type of Leave</label>
                    <select class="form-control" v-model="leave.leave_id" required>
                        <option v-for="LB in leaveBalance" v-bind:key="LB.id" v-bind:value="LB.id">
                            {{ LB.name }}
                        </option>
                    </select>
                </div>

            <div class="alert alert-dark" v-if="remainingLeaveDisplay && remainingLeave > 0">
                You're going to apply <strong>{{ differentDay }}</strong> days. Your remaing leave will be <strong>{{ remainingLeave }}</strong> days.
            </div>
            <div class="alert alert-dark" v-if="remainingLeaveDisplay && remainingLeave == 0">
                You're going to apply <strong>{{ differentDay }}</strong> days. Your remaing leave will be <strong>{{ remainingLeave }}</strong> days.
            </div>
            <div class="alert alert-warning" v-if="remainingLeaveDisplay && remainingLeave < 0">
                You apply more than your remaining days. Please adjust your date again. Thanks
            </div>

                <div class="row" v-if="leave.leave_id">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            <label>Start From</label>
                            <!-- <input type="date" class="form-control" v-model="leave.start" @change="minDate()" required/> -->
                            <datepicker
                                 class="my-datepicker"
                                 v-model="leave.start"
                                 :highlighted="highlighted"
                                 @closed="minDate()"
                                 width="500">
                            </datepicker>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            <label>End</label>
                            <!-- <input type="date" class="form-control" v-model="leave.end" @change="calcDate()" :min="disabledDates" required/> -->
                            <datepicker
                                 class="my-datepicker"
                                 v-model="leave.end"
                                 :highlighted="highlighted"
                                 :disabledDates="disabledDates"
                                 @closed="calcDate()"
                                 width="500">
                            </datepicker>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Reason</label>
                    <textarea class="form-control" :disabled="loading" v-model="leave.reason" maxlength="100" required></textarea> 
                </div>

                <!-- <div class="form-group">
                  <label>Choose which session you are referring to</label>

                    <b-alert show variant="primary" v-if="selectedSession"> 
                      <i class="icon-check"></i> You've selected this session <strong>{{ selectedSession.start | time }} - {{ selectedSession.end | time }} </strong>
                      <a class="text-danger pointer" @click="selectedSession = ''">Repick Session</a>
                    </b-alert>
                    <v-client-table :columns="columns" :data="sessions" :options="options" v-else>
                      <div slot="index" slot-scope="props">
                        {{ props.index }}
                      </div>
                      <div slot="session" slot-scope="props">
                        {{ props.row.start | time }} - {{ props.row.end | time }}
                      </div>
                      <div slot="action" slot-scope="props">
                        <a class="btn btn-info text-white btn-sm pointer" @click="selectSession(props.row)">Choose</a>
                      </div>
                    </v-client-table>
                </div> -->
                
                <div class="form-group">
                    <label>Related Document</label> 
                    <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange">
                    <hr>
                    <div class="col-md-12">
                        <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                            <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                            <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                        </div>
                    </div>              
                </div>

                <button type="submit" class="btn btn-primary pull-right" :disabled="isComplete">
                    <i class="icon-check"></i>  Submit
                </button>

            </form>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import moment from 'moment';

export default {
  components: {
    Datepicker
  },
  data() {
    return {
      loading: false,
      leave: {
        leave_id: '',
        start: '',
        end: '',
        reason: '',
        session: '',
        attachment: false
      },
      user: '',
      leaves: [],
      sessions: [],
      differentDay: '',
      remainingLeave: 0,
      remainingLeaveDisplay: false,
      image: '',
      attachments: [],
      data: new FormData(),
      percentCompleted: 0,
      imageId: 0,
      columns: ['index', 'session', 'action'],
      options: {
        headings: {
          index: 'No.',
          avatar: 'Session',
          action: 'Action'
        },
        sortable: ['session'],
        filterable: ['session']
      },
      selectedSession: '',
      checkPermission: true,
      leaveBalance: '',
      isComplete: true,
      disabledDates: {
        to: ''
      },
      highlighted: {
        dates: [new Date()],
      },
    };
  },
  methods: {
    getLeaveBalance() {
      axios
        .get(`/api/leave/${this.user.id}/count`)
        .then(res => {
          // console.log(res.data);
          this.leaveBalance = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    getUser() {
      axios
        .get('/api/user')
        .then(res => {
          this.user = res.data;
          this.getLeaveBalance()
        })
        .catch(err => {
          console.log('something wrong over here');
        });
    },
    applyLeave() {
      event.preventDefault();
      this.leave.start = moment( this.leave.start, 'D MMM YYYY').format("YYYY-MM-DD");
      this.leave.end = moment( this.leave.end, 'D MMM YYYY').format("YYYY-MM-DD");
      this.prepareFields();
      var config = {
        headers: { 'Content-Type': 'multipart/form-data' },
        onUploadProgress: function(progressEvent) {
          this.percentCompleted = Math.round(progressEvent.loaded * 100 / progressEvent.total);
          this.$forceUpdate();
        }.bind(this)
      };

      this.loading = true;
      axios
        .put('/api/leave/' + this.user.id + '/assign', this.leave)
        .then(res => {
          console.log(res.data);

          if (this.leave.attachment) {
            return axios.post('/api/leave/' + res.data[0].id + '/upload', this.data, config);
          }
        })
        .then(res => {
          this.loading = false;
          console.log('Successfull Upload');
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'The application have been apply. Please wait admin to review.',
            type: 'success',
            duration: 5000
          });
          this.$router.push('/leave/history');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
          this.loading = false;
        });
    },
    getAllLeave() {
      axios
        .get('/api/leave')
        .then(res => {
          this.leaves = res.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    minDate(){
      
      this.disabledDates.to = new Date(this.leave.start - 8640000);
      this.leave.end ='';
      console.log(this.disabledDates.to);
    },
    dateDiffInDays(a, b) {
      var _MS_PER_DAY = 1000 * 60 * 60 * 24;
      // Discard the time and time-zone information.
      var utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
      var utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());
      console.log(utc1);
      console.log(utc2);
      return Math.floor((utc2 - utc1) / _MS_PER_DAY);
    },
    calcDate() {
      var filter = this.leaveBalance.filter( c=> c.id === this.leave.leave_id);
      
      if (this.leave.start && this.leave.end) {
        var date1 = new Date(this.leave.start);
        var date2 = new Date(this.leave.end);
        this.differentDay = this.dateDiffInDays(date1, date2) + 1;
        
        this.remainingLeave = parseInt(filter[0].balance) - parseInt(this.differentDay);
        this.remainingLeaveDisplay = true;
        console.log(this.remainingLeave);
      } else {
        console.log('Please select a date first');
      }

      if (this.remainingLeave < 0) {
          this.isComplete = true;
      }else{
          this.isComplete = false;
      }
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    },
    resetData() {
      this.data = new FormData();
      this.attachments = [];
    },
    selectSession(session) {
      this.selectedSession = session;
      this.leave.session = session.id;
    }
  },
  created() {
    this.getUser();
    // this.getUserSession();
    this.getAllLeave();
  },
  // computed: mapState({
  //   user: state => state.auth
  // })
};
</script>



<style scoped>
.my-datepicker >>> input{
    box-sizing: border-box;
    width: 100%;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #828383!important;
    border-color: #828383!important;
}
</style>