<template>
	<div class="card mt-3">
		<div class="card-header">
			<span class="text-left">Add New Category</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="createCategory()">
      		<div class="form-group">
      			<label class="font-weight-bold">Name</label>
      			<input type="text" class="form-control" v-model="category.name" required>
      		</div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    	</div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      category: {
        name: ''
      }
    };
  },
  methods: {
    createCategory() {
      event.preventDefault();
      axios
        .put('/api/inventory-category', this.category)
        .then( res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have added the category template',
              type: 'success',
              duration: 5000
            });

          this.$router.push("/inventory-category");
        })
        .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    }  },
  created() {
  }
};
</script>