<template>
	<div class="card mt-3">
		<div class="card-header">
			<span class="text-left">Update Category</span>
		</div>
    	<div class="card-body">
      <form v-on:submit="updateCategory()">

        <div class="form-group">
            <label class="font-weight-bold">Name</label>
            <input type="text" class="form-control" v-model="category.name" required>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Update</button>
      </form>
    	</div>
    </div>
</template>


<script>
export default {
  data() {
    return {
    	category: {
    		name: ''
    	},
      data: new FormData(),
      attachments: [],
    	categoryId: this.$route.params.id
    };
  },
  methods: {
  	getCategory() {
      axios
        .get("/api/inventory-category/" + this.categoryId)
        .then(res => {
          this.category = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    updateCategory() {
      event.preventDefault();
      axios
        .post('/api/inventory-category/' + this.categoryId, this.category)
        .then( res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have update the category',
              type: 'success',
              duration: 5000
            });

          this.$router.push("/inventory-category");
        })
        .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
  },
  created() {
  	this.getCategory();
  }
};
</script>