<template>
	<div class="card mt-3">
		<div class="card-header">
		    <span class="text-left">List of Category</span>
        <router-link :to="{name: 'inventory.category.create'}" class="btn btn-primary" >
            Create New Category
        </router-link>
		</div>
    	<div class="card-body">
        <table class="table table-responsive m-t-30 table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(category, index) in category" v-bind="category" :key="category.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <router-link :to="{name: 'inventory.category.view',  params: { id: category.id } }" > 
                            <button class="btn btn-outline-primary">View</button>
                        </router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    	</div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      category: []
    };
  },
  methods: {
    getAllCategory() {
        axios
            .get('/api/inventory-category')
            .then( res => {
                this.category = res.data;
            })
            .catch( err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
    },
  },
  created() {
    this.getAllCategory();
  }
};
</script>