<template>
	<div class="card mt-3">
		<div class="card-header">
      <h4>View Category</h4>
    </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <p><span class="font-weight-bold">Name : </span>{{ category.name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <button class="btn btn-outline-danger pull-right mr-2" @click="deleteCategory(categoryId)">Delete</button>
            <router-link :to="{name: 'inventory.category.edit',  params: { id: category.id } }" > 
              <button class="btn btn-info pull-right mr-2 text-white">Edit</button>
            </router-link>
          </div>
        </div>
		  </div>
	</div>
</template>


<script>
export default {
  data() {
    return {
      categoryId: this.$route.params.id,
      category: {}
    };
  },
  methods: {
    getCategory() {
      axios
        .get("/api/inventory-category/" + this.categoryId)
        .then(res => {
          // console.log(res.data);
          this.category = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    deleteCategory(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/inventory-category/" + id)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have deleted the voucher',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/inventory-category");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    }
  },
  created() {
    this.getCategory();
  }
};
</script>