<template>
    <div class="row" v-if="checkPermission">
      <div class="col-md-12">

        <div class="card my-5">
          <div class="card-body">
            <h4 class="card-title">List Outlet</h4>

             
            <v-client-table :columns="columns" :data="data" :options="options">

              <div slot="index" slot-scope="props">{{ props.index }}</div>
              <div slot="radius" slot-scope="props">{{ props.row.radius }} m</div>
              <div slot="action" slot-scope="props">
                <router-link :to="{name: 'outlet.view',  params: { id: props.row.id } }" >
                  <button class="btn btn-primary">View</button>
                </router-link>
                <router-link :to="{name: 'outlet.edit',  params: { id: props.row.id } }" >
                  <button class="btn btn-default">Edit</button>
                </router-link>
                <button class="btn" @click="duplicate(props.row)"> 
                  <i class="fa fa-files-o" aria-hidden="true"></i> Duplicate
                </button>
              </div>

            </v-client-table>

            <router-link :to="{name: 'outlet.create'}" >
              <button class="btn btn-primary">Create a new Outlet</button>
            </router-link>
          </div>

        </div>
      </div>
    </div>
</template>

<script>
function Outlet({ id, name, state, latitude, longitude, radius }) {
  this.id = id;
  this.name = name;
  this.state = state;
  this.latitude = latitude;
  this.longitude = longitude;
  this.radius = radius;
}

import { siteName } from './../../config';
import jwtToken from "../../helpers/jwt-token";

export default {
  data() {
    return {
      outlets: [],
      columns: ['index', 'name', 'state', 'latitude', 'longitude', 'radius', 'action'],
      data: [],
      options: {
        headings: {
          index: '#',
          name: 'Name',
          state: 'State',
          latitude: 'Latitude',
          longitude: 'Longitude',
          radius: 'Radius',
          action: 'Action'
        },
        sortable: ['name', 'state', 'radius'],
        filterable: ['name', 'state', 'radius'],
      },
      checkPermission: true
    };
  },
  methods: {
    listOutlet() {
      axios
        .get('/api/outlets')
        .then(res => {
          res.data.forEach(outlet => {
            this.outlets.push(new Outlet(outlet));
          });
          this.data = res.data;
        })
        .catch(err => {
            this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    duplicate(outlet) {
      this.$store.commit('save', outlet);
      this.$router.push('/outlet/create');
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(3) == false ? this.returnError() : this.listOutlet();
  }
};
</script>
