<template>
  <div class="card mt-3" v-if="checkPermission">
    <div class="card-header">
      <span class="text-left">Update Voucher</span>
    </div>
      <div class="card-body">
        <form v-on:submit="updateSupplier()">
          <div class="form-group">
                <label>Supplier Name</label>
                <input type="text" class="form-control" v-model="supplier.company_name" required>
            </div>
            <div class="form-group">
                <label>Contact Name</label>
                <input type="text" class="form-control" v-model="supplier.name" required>
            </div>
            <div class="form-group">
                <label>Contact Number</label>
                <the-mask 
                name="contact" 
                class="form-control" 
                v-model="supplier.phone_number" 
                :mask="['(##) ####-####', '(##) #####-####']"
                v-validate="'required'"
                :class="{ 'is-invalid': errors.has('contact') }"
                 />
            </div>
            <div class="form-group">
                <label>Contact Email</label>
                <input type="email" class="form-control" v-model="supplier.email" required>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control mb-2" v-model="supplier.street1" placeholder="Street 1" required>
                <input type="text" class="form-control mb-2" v-model="supplier.street2" placeholder="Street 2">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control mb-2" v-model="supplier.city" placeholder="City">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control mb-2" v-model="supplier.postcode" placeholder="Postcode">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control mb-2" v-model="supplier.state" placeholder="State">
                    </div>
                    <div class="col-6">
                        <select class="form-control" v-model="supplier.country" name="country" required>
                            <option value="" hidden>Select Country</option>
                            <option>Malaysia</option>
                            <option>Indonesia</option>
                            <option>Thailand</option>
                            <option>Vietnam</option>
                            <option>Malaysia</option>
                            <option>Singapore</option>
                            <option>Philippines</option>
                            <option>Cambodia</option>
                            <option>Myanmar</option>
                            <option>Laos</option>
                            <option>Brunei</option>
                            <option>Timor-Leste</option>
                        </select>
                    </div>
                </div>
            </div>

          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      supplier: {},
      previousLimit: '',
      previousLimitOneCustomer: '',
      supplierId: this.$route.params.id,
      unlimited: false,
      checkPermission: true
    };
  },
  methods: {
    getSupplier() {
      axios
        .get('/api/supplier/' + this.supplierId)
        .then(res => {
          this.supplier = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    updateSupplier() {
      event.preventDefault();
      axios
        .post('/api/supplier/' + this.supplierId, this.supplier)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have update the Supplier',
            type: 'success',
            duration: 5000
          });

          this.$router.push('/supplier');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(18) == false ? this.returnError() : this.getSupplier();
  }
};
</script>
