<template>
    <div class="card mt-3" v-if="checkPermission">
        <div class="card-header">
            <span class="text-left">List of Supplier</span>
            <router-link :to="{name: 'supplier.create'}" class="btn btn-primary" >
                Create Supplier
            </router-link>
        </div>
        <div class="card-body">

            <v-client-table :columns="columns" :data="suppliers" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>
              <div slot="action" slot-scope="props">
                    <router-link :to="{name: 'supplier.view',  params: { id: props.row.id } }" >
                        <button class="btn btn-info text-white">View</button>
                    </router-link>
                    <!-- <button class="btn btn-outline-danger mr-2" @click="deleteSupplier(props.row.id)">Delete</button> -->
              </div>
            </v-client-table>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
    data() {
        return {
            suppliers: [],
            isModal: false,
            columns: ['index', 'company_name', 'name', 'phone_number', 'action'],
            options: {
                headings: {
                    index: 'No.',
                    company_name: 'Company Name',
                    name: 'Name',
                    phone_number: 'Phone Number',
                    action: 'Action'
                },
                sortable: ['company_name', 'name', 'phone_number'],
                filterable: ['company_name', 'name', 'phone_number']
            },
            checkPermission: true
        };
    },
    methods: {
        getSuppliers() {
            axios
                .get('/api/supplier')
                .then(res => {
                    this.suppliers = res.data;
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        },
        deleteSupplier(id) {
          this.$swal({
            title: 'Are you sure?',
            text: "You can't revert your action",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes Delete it!',
            cancelButtonText: 'No, Keep it!',
            showCloseButton: true,
            showLoaderOnConfirm: true
          }).then(result => {
            if (result.value) {
              this.$swal('Deleted', 'You successfully deleted this file', 'success');
              axios
                .delete('/api/supplier/' + id)
                .then(res => {
                  this.$notify({
                    group: 'foo',
                    title: 'Awesome',
                    text: 'You have deleted the Supplier.',
                    type: 'success',
                    duration: 5000
                  });
                  this.getSuppliers();
                })
                .catch(err => {
                  this.$notify({
                    group: 'foo',
                    title: 'Ops',
                    text: 'Please contact administrator',
                    type: 'error',
                    duration: 5000
                  });
                });
            } else {
              this.$swal('Cancelled', 'Your Supplier is still intact', 'info');
            }
          });
        },
        returnError(){
            this.checkPermission = false;
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot access',
                type: 'error',
                duration: 5000
            });
        }
    },
    created() {
        var getRoleId = jwtToken.getRoleId();
        getRoleId.includes(18) == false ? this.returnError() : this.getSuppliers();
    }
};
</script>
