<template>
  <div>
  	<div class="card mt-3">
  		<div class="card-header">
  			<h2>{{ supplier.company_name }}</h2>
  		</div>
  		<div class="card-body" v-html>
  			<div class="row">
            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Contact Name</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>{{ supplier.name | capitalize}}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Contact Email</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>{{ supplier.email }}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Contact Number</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>{{ supplier.phone_number }}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Address</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>{{ supplier.street1 }} {{ supplier.street2 }}, {{ supplier.postcode }} {{ supplier.city }}, {{ supplier.state }}, {{ supplier.country }}</p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 b-r">
            <!-- <button class="btn btn-outline-danger pull-right mr-2" @click="deleteSupplier(supplierId)">Delete</button> -->
            <router-link :to="{name: 'supplier.edit',  params: { id: supplier.id } }" > 
              <button class="btn btn-info pull-right mr-2 text-white">Edit</button>
            </router-link>
          </div>
        </div>
  		</div>
  	</div>

    <v-client-table :columns="columns" :data="inventories" :options="options">
        <div slot="index" slot-scope="props">{{ props.index }}</div>
        <div slot="price" slot-scope="props">{{ props.row.pivot.price }}</div>
        <div slot="action" slot-scope="props">
            <button class="btn btn-info mr-2" @click="editInventories(props.row.id)">Edit</button>
        </div>
    </v-client-table>
      <editInventoriesModal v-on:getSupplier="getSupplier()"></editInventoriesModal>
  </div>

</template>


<script>
import editInventoriesModal from "./modal/editInventoriesModal.vue";
export default {
  components: {
    editInventoriesModal,
  },
  data() {
    return {
      supplierId: this.$route.params.id,
      supplier: {},
      inventories: [],
      columns: ['index', 'product_code', 'product_name', 'price', 'action'],
      options: {
          headings: {
              index: 'No.',
              product_code: 'Product Code',
              product_name: 'Product Name',
              price: 'Price',
              action: 'Action'
          },
          sortable: ['product_code', 'product_name', 'price'],
          filterable: ['product_code', 'product_name', 'price']
      },
    };
  },
  methods: {
    getSupplier() {
      axios
        .get("/api/supplier/" + this.supplierId)
        .then(res => {
          this.supplier = res.data;
          this.inventories = res.data.inventories;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    editInventories(id){
      this.$emit("openeditInventoriesModal", id);
    },
    deleteSupplier(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/supplier/" + id)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have deleted the voucher',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/supplier");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    }
  },
  created() {
    this.getSupplier();
  }
};
</script>
