<template>
	<div id="main-wrapper">
		<page-header></page-header>
		<left-sidebar></left-sidebar>
		<div class="page-wrapper">

			<div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Dashboard</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>

			<div class="container-fluid">
				<transition name="fade" mode="out-in">
                    <slot></slot>
				</transition>
			</div>
		</div>
	</div>
</template>

<script>
import TopMenu from "./../shared/TopMenu.vue";
import AppFooter from "./../shared/AppFooter.vue";
import Sidebar from "./../shared/Sidebar.vue";
import PageHeader from "./../shared/Header.vue";

export default {
  name: "default",
  components: {
    "top-menu": TopMenu,
    "app-footer": AppFooter,
    "left-sidebar": Sidebar,
    "page-header": PageHeader
  }
};
</script>

