<template>
<aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User profile -->
                <div class="user-profile">
                    <!-- User profile image -->
                    <div class="profile-img"> <img src="/images/users/profile.png" alt="user" />
                    </div>
                    <!-- User profile text-->
                    <div class="profile-text">
                        <h5>{{ name.name }}</h5>
                        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
                        <a href="app-email.html" class="" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                        <a href="pages-login.html" class="" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
                        <div class="dropdown-menu animated flipInY">
                            <!-- text-->
                            <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                            <!-- text-->
                            <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                            <!-- text-->
                            <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                            <!-- text-->
                            <div class="dropdown-divider"></div>
                            <!-- text-->
                            <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                            <!-- text-->
                            <div class="dropdown-divider"></div>
                            <!-- text-->
                            <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                            <!-- text-->
                        </div>
                    </div>
                </div>
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">PERSONAL</li>
                        <li> 
                            <router-link :to="{name: 'outlet'}"  activeClass="active"  class="has-arrow waves-effect waves-dark"  aria-expanded="false" exact>
                                    <i class="mdi mdi-domain"></i>
                                    <span class="hide-menu">Outlet</span>
                            </router-link>
                                <ul aria-expanded="false" class="collapse">
                                    <li>Create Outlet</li>
                                </ul>
                        </li>
                        <li> 
                            <router-link :to="{name: 'profile'}" activeClass="active"  class="has-arrow waves-effect waves-dark"  aria-expanded="false" exact>
                                    <i class="mdi mdi-account-circle"></i>
                                    <span class="hide-menu">Profile</span>
                            </router-link>
                                <ul aria-expanded="false" class="collapse">
                                    <li>Create Outlet</li>
                                </ul>
                        </li>
                        <li>
                            <a @click.prevent="logout" class="has-arrow waves-effect waves-dark">
                            <i class="mdi mdi-logout"></i> <span class="hide-menu">Logout</span></a>
                        </li>
                        <li> 
                            <router-link :to="{name: 'superadmin'}"  activeClass="active"  class="has-arrow waves-effect waves-dark"  aria-expanded="false" exact>
                                    <i class="mdi mdi-account-plus"></i>
                                    <span class="hide-menu">Super Admin</span>
                            </router-link>
                        </li>
                        <li> 
                            <router-link :to="{name: 'leave'}"  activeClass="active"  class="has-arrow waves-effect waves-dark"  aria-expanded="false" exact>
                                    <i class="mdi mdi-medical-bag"></i>
                                    <span class="hide-menu">Leave</span>
                            </router-link>
                            <ul aria-expanded="true" class="collapse in" style="">
                                <li class="ms-hover">
                                    <router-link :to="{name: 'leave.config'}"  activeClass="active"  class="waves-effect waves-dark"  aria-expanded="false" exact>
                                        Leave Config
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                        <li> 
                            <router-link :to="{name: 'claim'}"  activeClass="active"  class="has-arrow waves-effect waves-dark"  aria-expanded="false" exact>
                                    <i class="mdi mdi-currency-usd"></i>
                                    <span class="hide-menu">Claim</span>
                            </router-link>
                            <ul aria-expanded="true" class="collapse in" style="">
                                <li class="ms-hover">
                                    <router-link :to="{name: 'claim.config'}"  activeClass="active"  class="waves-effect waves-dark"  aria-expanded="false" exact>
                                        Claim Config
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                        <li> 
                            <router-link :to="{name: 'package'}"  activeClass="active"  class="has-arrow waves-effect waves-dark"  aria-expanded="false" exact>
                                    <i class="mdi mdi-package"></i>
                                    <span class="hide-menu">Package</span>
                            </router-link>
                        </li>
                        <li> 
                            <router-link :to="{name: 'timeslot'}"  activeClass="active"  class="has-arrow waves-effect waves-dark"  aria-expanded="false" exact>
                                    <i class="mdi mdi-calendar"></i>
                                    <span class="hide-menu">Timeslot</span>
                            </router-link>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>

</template>

<script>
import { mapGetters } from "vuex";
import { mapState } from "vuex";
import jwtToken from "../../helpers/jwt-token";

export default {
  data() {
    return {
      isLoggedIn: false
    };
  },
  computed: mapGetters(["isLoggedIn"]),
  computed: mapState({
    name: state => {
      return { ...state.auth };
    }
  }),
  methods: {
    logout() {
      jwtToken.removeToken();
      this.$store.dispatch("unsetAuthUser").then(() => {
        this.$noty.success("You are logged out");
        this.$router.push({ name: "login" });
      });
    }
  }
};
</script>
