<template>
	<b-modal title="Add Attendance" class="modal-primary" v-model="myModal" @ok="applyAddAttendance()">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="font-weight-bold">Package</label>
					<select class="form-control" v-model="selected_package" @change="checkClass()" id="selectID">
	                	<option v-for="pack in student_package" :value="pack.id">{{ pack.name | capitalize}}</option>
	                </select>
		        </div>
                <div class="form-group">
					<label class="font-weight-bold">Session</label>
					<select class="form-control" v-model="selected_classroom" @change="checkClass()" id="selectID">
	                	<option v-for="classroom in student_classroom" :value="classroom.id">{{ classroom.start | time }} - {{ classroom.end | time }} - {{ classroom.coach | capitalize }}</option>
	                </select>
		        </div>
				<div class="form-group">
					<label class="font-weight-bold">Date</label>
        			<datepicker :disabledDates="disabledFn" format="dd/MM/yy" placeholder="Please Select Date" v-model="attendance.date"></datepicker>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Time</label>
					<!-- <input type="time" name="time" v-model='attendance.time'> -->
					<date-picker v-model="attendance.time" :config="options" name="time" class="form-control" placeholder="Please Select TIme"></date-picker>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Status</label>
					<select class="form-control" v-model="attendance.status"
						name="status" 
						v-validate="'required'"
						:class="{ 'is-invalid': errors.has('status') }">
						<option value="" hidden>Select Status</option>
				      	<option>Present</option>
				      	<option>Absent</option>
				    </select>
				</div>
			</div>
		</div>
    </b-modal>
</template>

<script>
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import 'bootstrap/dist/css/bootstrap.css';
  
// Import this component
import datePicker from 'vue-bootstrap-datetimepicker';

// Import date picker css
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import moment from 'moment';

export default {
	name: 'AddAttendanceModal',
	props: ['userId', 'classroomId', 'packId'],
	components: {
		Datepicker,
		datePicker
	},
	data() {
		return {
			myModal: false,
			attendance: {
				date: '',
				time: '',
				status: '',
				memberId: '',
				classId: '',
				packageId: ''
			},
			disabledFn: {
				from: new Date(),
			},
			options: {
				format: 'h:mm A',
				useCurrent: true,
			},
			student_package:[],
			student_classroom:[],
			selected_classroom:'',
			selected_package:'',
		};
	},
	methods: {
		openModal(packes, userId, classroomId, packId) {
			this.myModal = true;
			this.attendance.memberId = userId;
			this.attendance.classId = classroomId;
			this.attendance.packageId = packId;
			
			this.student_package = packes['package'];
			this.student_classroom = packes['classes'];

			this.selected_classroom = packes['classes'][0].id;
			this.selected_package = packes['package'][0].id;

			console.log('hi popped out');
			console.log(this.selected_classroom);
			console.log(this.selected_package);
		},
		applyAddAttendance(){
			this.attendance.date =  moment(this.attendance.date, 'YYYY-MM-DD').format("YYYY-MM-DD");		//replace input to format date
			this.attendance.time = moment(this.attendance.time, 'hh:mm A').format("hh:mm:ss A");
			this.attendance.classId = this.selected_classroom;
			this.attendance.packageId = this.selected_package;				//replace input to format time
			// console.log(this.attendance);
			if (this.attendance.date != 'Invalid date' && this.attendance.status != '') {
				axios
					.put('/api/attendance/add', this.attendance)
					.then(res => {
						this.$notify({
							group: 'foo',
							title: 'Awesome',
							text: 'Attendance Created successfully for this member',
							type: 'success',
							duration: 5000
						});
						this.$emit("getAttendance");
		          		this.myModal = false;
					})
					.catch(err => {
			          	this.$notify({
				            group: "foo",
				            title: "Ops",
				            text: "Cannot Add",
				            type: "error",
				            duration: 5000
			          	});
			          	console.log(err);
			          	this.myModal = false;
		        	});
			}
			else{
				this.$notify({
		            group: "foo",
		            title: "Ops",
		            text: "Date and Status are required",
		            type: "error",
		            duration: 5000
	          	});
			}
		}
	},
	created() {
		this.$parent.$on('openAddAttendance', this.openModal);
	}
};
</script>