<template>
  <b-modal title="Edit Badge" class="modal-primary" v-model="myModal" @ok="editBadge()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">

            <div class="col-12">
                <label class="custom-checkbox custom-control" v-for="(lvl, index) in level" v-bind:key="lvl.id">
                  <input type="checkbox" class="custom-control-input" v-model="badge.level" :id="lvl.id" :value="lvl.id"
                  name="level" @click="check($event)">
                  <span aria-hidden="true" class="custom-control-indicator"></span>
                  <div class="row">
                      <div class="col-md-6">{{ lvl.level | capitalize }} - {{ lvl.name | capitalize }}</div>
                      <div class="col-md-6">
                        <img v-if="lvl.image" :src="'/storage/' + lvl.image" class="img-fluid rounded-circle mb-3 imageBadge">
                        <img v-else src="/images/default-image.jpg" class="img-fluid rounded-circle mb-3 imageBadge">
                      </div>
                  </div>
                </label>
             </div>
            
        </div>
      </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      packUserId: '',
      memberId:'',
      badge: {
        level: []
      },
      levels: [],
      level: [],
      classLevel: '',
      checkLevel: [],
      getClassLevel: ''
    };
  },
  methods: {
    openModal(id, level, memberId) {
      this.memberId = memberId;
      console.log(this.memberId);
      this.myModal = true;
      this.packUserId = id;
      this.classLevel = level == 'Adult' ? '10' : level.replace('L','');
      this.getClassLevel = level;
      this.getBadge();
      this.getLevel();
    },
    check(e) {
      if (e.target.checked) {
        this.levels.push(e.target.value);
      } else {
        this.badge.level.splice(
          this.badge.level.indexOf(parseInt(e.target.value, 10)),
          1
        );
        // this.levels.splice(
        //   this.levels.indexOf(e.target.value),
        //   1
        // );
        this.levels = this.badge.level;
      }

      this.checkLevel = [];
      for (var i = 0; i < this.levels.length; i++) {
          this.badgeInfo(this.levels[i]);
      }
    },
    badgeInfo(id){
        axios
            .get(`/api/badge/${id}`)
            .then(res => {
                var test = res.data.level;
                test = test == 'Adult' ? '10' : test.replace('L','')
                this.checkLevel.push(test);
            })
    },
    getLevel(){
      axios
        .get("/api/badge")
        .then(res => {
            if (this.getClassLevel == 'Adult') {
                this.level = res.data.filter(c => c.level == this.getClassLevel);
            }
            else{
                this.level = res.data.filter(c => c.level != 'Adult');
            }
        })
    },
    getBadge(){
      axios
        .get("/api/member/package_users/" + this.packUserId)
        .then(res => {
          // console.log(res.data)
            this.badge.level = res.data.badge === null ? [] : res.data.badge;
        })
        .catch(err => {
          console.log(err);
        });
    },
    editBadge(){
      console.log(this.badge.level);
      event.preventDefault();
      var config = {
        headers: { 'Content-Type': 'multipart/form-data' },
        onUploadProgress: function(progressEvent) {
          this.percentCompleted = Math.round(progressEvent.loaded * 100 / progressEvent.total);
          this.$forceUpdate();
        }.bind(this)
      };
      // var test = this.checkLevel.every(el => el <= this.classLevel);
      // this.badge.level = this.levels.map(Number);
      // this.badge.level.sort();
      // console.log(this.badge.level);
      // if (test === true) {
          axios
            .post("/api/member/" + this.packUserId + "/badge", this.badge)
            .then(res => {
              this.$emit("getMember");
              this.myModal = false;

              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: "Congrats. You Unlocked new Badge",
                  type: 'success',
                  duration: 5000
              });
              this.$router.go("/member/"+ this.memberId);
            })
            .catch(err => {
              console.log(err);
            });
      // }
      // else{
      //     this.$notify({
      //         group: 'foo',
      //         title: 'Ops',
      //         text: "Cannot add bagde level higher than class level",
      //         type: 'error',
      //         duration: 5000
      //     });
      // }
    }
  },
  created() {
    this.$parent.$on('openAddBadgeModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.imageBadge{
  height: 50px; 
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.textbadge{
  margin-left: auto;
  margin-right: auto;
}
</style>