<template>
  <b-modal title="Member Remarks" class="modal-primary" v-model="myModal" @ok="addremarks()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="font-weight-bold"> Remarks</label>
          <textarea class="form-control" v-model="Data.Remarks"></textarea>
        </div>
      </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      Data:{
        Remarks:'',
      },
      packUserId: '',
      memberId:'',
      badge: {
        level: []
      },
      levels: [],
      level: [],
      classLevel: '',
      checkLevel: [],
      getClassLevel: ''
    };
  },
  methods: {
    openModal(id, level, memberId, remarks) {
      this.memberId = memberId;
      this.Data.Remarks = remarks;
      this.myModal = true;
      this.packUserId = id;
    },
    addremarks(){
      console.log(this.Data.Remarks);
      axios
        .post(`/api/member/package_user_remarks/${this.packUserId}`,this.Data)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'Remarks has been Updated.',
            type: 'success',
            duration: 5000
          });
          location.reload();
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    }
  },
  created() {
    this.$parent.$on('openRemarksModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.imageBadge{
  height: 50px; 
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.textbadge{
  margin-left: auto;
  margin-right: auto;
}
</style>