<template>
	<b-modal title="Edit Attendance" class="modal-primary" v-model="myModal" @ok="applyEditAttendance()">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="font-weight-bold">Date</label>
        			<datepicker :disabledDates="disabledFn" format="dd/MM/yy" placeholder="Select Date" v-model="attendance.date"></datepicker>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Time</label>
					<!-- <input type="time" name="time" v-model='attendance.time'> -->
					<date-picker v-model="attendance.time" :config="conf" class="form-control"></date-picker>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Status</label>
					<select class="form-control" v-model="checked">
				      	<option v-for="option in options" v-bind:value="option.value">
							{{ option.text }}
						</option>
				    </select>
				</div>
			</div>
		</div>
    </b-modal>
</template>
<script>
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import 'bootstrap/dist/css/bootstrap.css';
  
// Import this component
import datePicker from 'vue-bootstrap-datetimepicker';

// Import date picker css
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import moment from 'moment';
export default {
	name: 'EditAttendanceModal',
	props: ['attendanceId', 'classroom', 'date', 'time', 'status'],
	components: {
		Datepicker,
		datePicker
	},
	data() {
		return {
			myModal: false,
			attendance: {
				date: '',
				time: '',
				status: '',
				class:''
			},
			memberId:'',
			checked:'',
			disabledFn: {
				from: new Date(),
			},
			conf: {
			format: 'LT',
			useCurrent: true,
			},
			attid: '',
			options: [
			  { text: 'Present', value: 'Present' },
		      { text: 'Absent', value: 'Absent' }
		    ]
		};
	},
	methods: {
		openModal(memberId, attendanceId, classroom, date, time, status) {
			
			this.myModal = true;
			this.memberId = memberId;
			this.attid = attendanceId;
			this.attendance.class = classroom;
			this.attendance.date = moment(date, 'YYYY-MM-DD').format("YYYY-MM-DD");
			this.attendance.time = moment(time, 'hh:mm').format("hh:mm:ss");
			if(status == 'present'){
				this.checked = 'Present';
			}else{
				this.checked = 'Absent';
			}
			console.log(this.attendance.checked);
			// this.attendance.class = classroom;
		},
		applyEditAttendance(){
			this.attendance.date =  moment(this.attendance.date, 'YYYY-MM-DD').format("YYYY-MM-DD");
			this.attendance.time = moment(this.attendance.time, 'hh:mm').format("hh:mm:ss");
			this.attendance.status = this.checked.toLowerCase();
			 // console.log(this.attendance);
			if (this.attendance.date != 'Invalid date' && this.attendance.status != '') {
				axios
				.post('/api/attendance/'+ this.attid + '/update', this.attendance)
				.then(res => {
					console.log(res.data);
					this.$notify({
						group: 'foo',
						title: 'Awesome',
						text: 'You already edit Attendance for this member',
						type: 'success',
						duration: 5000
					});
					this.$emit("getAttendance");
	          		this.myModal = false;
	          		this.$router.push("/member/"+ this.memberId );
				})
				.catch(err => {
		          	this.$notify({
			            group: "foo",
			            title: "Ops",
			            text: "Cannot edit",
			            type: "error",
			            duration: 5000
		          	});
		          	console.log(err);
		          	this.myModal = false;
	        	});
			}
			else{
				this.$notify({
		            group: "foo",
		            title: "Ops",
		            text: "Date and Status are required",
		            type: "error",
		            duration: 5000
	          	});
			}
		}
	},
	created() {
		this.$parent.$on('openEditAttendanceModal', this.openModal);
	}
};
</script>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}

.vdp-datepicker__calendar{width: 100%;}
</style>