<template>
  <b-modal title="All Classes" class="modal-primary" v-model="myModal">
    <div class="row" v-if="classDetails != ''">
      <div class="col-md-12">
        <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Day</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(classDetail, index) in classDetails" v-bind="classDetail" :key="classDetail.id">
                        <td>{{ index + 1 }}</td>
                        <td>{{ classDetail.classes.day | capitalize }}</td>
                        <td>{{ classDetail.classes.start | time }}</td>
                        <td>{{ classDetail.classes.end | time }}</td>
                    </tr>
                </tbody>
            </table>
      </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  components: {
    
  },
  data() {
    return {
      myModal: false,
      packageUserId: '',
      classDetails: [],
    };

  },
  methods: {
    openModal(id) {
      this.myModal = true;
      this.packageUserId = id;

      axios
      .get(`/api/member/all/class/${this.packageUserId}`)
      .then(res => {
            console.log(res.data.user);
            this.classDetails = res.data.user;
        })
    },
  },
  created() {
    this.$parent.$on('openShowAllClassModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.imageBadge{
  height: 50px; 
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.textbadge{
  margin-left: auto;
  margin-right: auto;
}
</style>