<template>
  <b-modal title="Change Start Month" class="modal-primary" v-model="myModal" @ok="updateJoinDate()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
            <div class="col-12">
                <div class="form-group">
                  <label class="font-weight-bold">New Start Month</label>
                  <datepicker :minimumView="'month'" :maximumView="'month'" v-model="collection.start" :disabledDates="disabledDates"></datepicker>
                </div>
             </div>
        </div>
      </div>
    </div>
    </b-modal>
</template>

<script>

import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import moment from 'moment';

export default {
  components: {
    Datepicker
  },
  data() {
    return {
      myModal: false,
      packageUserId: '',
      subscription: '',
      memberId: '',
      date: '',
      collection: {
        selected: '',
        start: ''
      },
      disabledDates: {
              to: '',
              from:''
            },
    };

  },
  methods: {
    openModal(id, subscription,date,memberId) {
      this.myModal = true;
      this.packageUserId = id;
      this.subscription = subscription;
      this.date = date;
      this.memberId = memberId;
      var dates = new Date(this.date);
      var durationTo = parseInt(this.subscription) - 1;
      var durationFrom = parseInt(this.subscription);
      if (this.subscription == 1) {
        durationTo = 1;
        durationFrom = parseInt(this.subscription) + 1;
      }
      this.disabledDates.to = new Date(dates.getFullYear(), dates.getMonth() - durationTo, 1);
      this.disabledDates.from = new Date(dates.getFullYear(), dates.getMonth() + durationFrom, 0);
    },
    updateJoinDate(){
      this.collection.start = moment(this.collection.start, 'YYYY-MM-DD').format("YYYY-MM");  // change format date
      // console.log(this.collection);
      event.preventDefault();
      // if (this.collection.selected != this.currentPackage) {
        axios
        .post("/api/member/package/"+ this.packageUserId + "/edit_month", this.collection)
        .then(res => {
            this.$router.go("/member/"+ this.memberId);
            this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'The member join date successful updated.',
                type: 'success',
                duration: 5000
            });
              
        })
        .catch(err => {
            this.$notify({
            group: "foo",
            title: "Ops",
            text: "You Already change to this package",
            type: "error",
            duration: 2000
        });
        });
      // }
      // else{
      //   this.$notify({
      //       group: "foo",
      //       title: "Ops",
      //       text: "You Already in this Package",
      //       type: "error",
      //       duration: 2000
      //   });
      // }
    }
  },
  created() {
    this.$parent.$on('openUpdateMonthModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.imageBadge{
  height: 50px; 
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.textbadge{
  margin-left: auto;
  margin-right: auto;
}
</style>