<template>
  <b-modal title="Edit Freeze Period" class="modal-primary" v-model="myModal" @ok="updateFreeze()">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
          <label class="font-weight-bold">Start Date</label>
          <datepicker :minimumView="'month'" :maximumView="'month'" v-model="start_date" :on-change="Dateselected()" :disabledDates="disabledDates1"></datepicker>
        </div>
        <div class="form-group">
          <label class="font-weight-bold">End Date</label>
          <datepicker :format="customFormatter" :minimumView="'month'" :maximumView="'month'" v-model="end_date" :disabledDates="disabledDates2"></datepicker>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>

import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import moment from 'moment';

export default {
  components: {
    Datepicker
  },
  data() {
    return {
      myModal: false,
      packageUserId: '',
      memberId: '',
      date: '',
      collection: {
        start_date: '',
        end_date: ''
      },
      start_date: '',
      end_date: '',
      disabledDates1: {
              to: '',
              from:''
            },
      disabledDates2: {
              to: '',
              from:''
            },
    };

  },
  methods: {
    openModal(id,memberId) {
      this.myModal = true;
      this.packageUserId = id;
      this.memberId = memberId;
      
      axios
        .get(`/api/member/changes_package/${id}`)
        .then(res => {
          console.log(res.data)
          this.collection.start_date = res.data.start_date;
          this.collection.end_date = res.data.end_date;
          this.start_date = res.data.start_date;
          this.end_date = res.data.end_date;
          this.disabledDates1.to = new Date(this.collection.start_date);
        })
        .catch(err => {
         // console.log(err.data);
        });
    },
    Dateselected(){
      this.disabledDates2.to = new Date(this.start_date);
      var today = new Date(this.start_date);
      var lastDate = new Date(today.getFullYear(), today.getMonth()+1, 0);
      //this.end_date = moment(lastDate).format('DD MMM YYYY');
      // this.end_date = this.start_date;
    },
    customFormatter(date) {
      var today = new Date(date);
      var month = today.getMonth();
      var year = today.getFullYear();
      var lastDate = new Date(year, month + 1, 0);
      return moment(lastDate).format('DD MMM YYYY');
    },
    updateFreeze(){
      console.log('this been triggered');
      this.collection.start_date = this.start_date;
      this.collection.end_date = this.end_date;
      axios
        .post(`/api/member/update_freeze/${this.packageUserId}`,this.collection)
        .then(res => {
          this.$swal('Great', 'Member Freeze Period Successfully Edited', 'success');
          this.$router.go("/member/"+ this.memberId);
        })
        .catch(err => {
          this.$swal('Error', err.response.data.message, 'error');
        });
    }
  },
  created() {
    this.$parent.$on('openUpdateFreezeModal', this.openModal);
  },
};
</script>

<style scoped>
.imageBadge{
  height: 50px; 
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.textbadge{
  margin-left: auto;
  margin-right: auto;
}
</style>