<template>
    <b-modal title="Badge Unlocked" class="modal-success" v-model="myModal" ok-only>
        <div class="row">
            <div class="col-md-6 col-6" v-for="badge in setBadges">
                <div class="text-center">
                    <img v-if="badge.image" :src="'/storage/' + badge.image" class="img-fluid rounded-circle imageBadge">
                    <img v-else src="/images/default-image.jpg" class="img-fluid rounded-circle imageBadge">
                    <div class="font-weight-bold">{{ badge.level }}</div>
                    <div>{{ badge.name }}</div>
                </div>
            </div>
        </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      badges: '',
      setBadges: []
    };
  },
  methods: {
    openModal(id) {
        this.myModal = true;
        this.setBadges = [];
        // this.badges = jQuery.parseJSON(id);
        this.badges = id;
        this.badges.sort();
        // console.log(this.badges.length)
        
        for (var i = 0; i <  this.badges.length; i++) {
            this.getBadgeInfo(this.badges[i]);

        }
    },
    getBadgeInfo(id){
        axios
            .get(`/api/badge/${id}`)
            .then(res => {
                this.setBadges.push(res.data);
            })
    },
  },
  created() {
    this.$parent.$on('openViewBadgeModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.imageBadge{
  height: 50px; 
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.textbadge{
  margin-left: auto;
  margin-right: auto;
}
</style>