<template>
    <div class="card mt-5">
        <div class="card-header" style="display:flex; justify-content:space-between;">
            <h4 class="card-title">New Option</h4>
            <div>
                <router-link :to="{name: 'question-option.index',  params: { syllabus: syllabusID, id: questionID} }" >
                    <button class="btn btn-default">Back</button>
                </router-link>
            </div>
        </div>
        <div class="card-body">
            <form v-on:submit="createQuestion()">
                <div class="employee-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Option</label>
                        <input type="text" class="form-control form-control-line" v-model="option.title" :disabled="loading"
                               name="title"
                               v-validate="'required'"
                               :class="{ 'is-invalid': errors.has('title') }"
                               autofocus
                        >
                        <div v-show="errors.has('title')" class="invalid-feedback">
                            {{ errors.first('title') }}
                        </div>
                    </div>
                </div>

                <button class="btn btn-success mt-5 mb-5" type="submit" :disabled="!isComplete || errors.any()">Create</button>
            </form>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data: function() {
    return {
      loading: false,
      syllabusID: this.$route.params.syllabus,
      questionID: this.$route.params.id,
      option:
        {
            title: ''
        }
    };
  },
  methods: {
    createQuestion() {
      event.preventDefault();
      var newOption = this.option;
      var quesID = this.$route.params.id;
      console.log(this.newOption);
      this.loading = true;
      axios
        .post('/api/master-data/ques/' + quesID + '/option/create', newOption)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have created a new option.',
            type: 'success',
            duration: 5000
          });

          this.loading = false;
          //this.$store.commit('save', null);
          //this.$router.push('/master-data/syllabus');
          this.$router.push('/syllabus/' + this.syllabusID + '/question/' + quesID + '/index');
          //this.$noty.success('Question created success');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          this.loading = false;
        });
    }
  },
  computed: {
    isComplete() {
      return (
        this.option.title
      );
    }
  }
};
</script>
