<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-header" style="display:flex; justify-content:space-between;">
            <h4 class="card-title">New Question</h4>
            <div>
                <router-link :to="{name: 'syllabus-question.index',  params: {id: syllabusID} }" >
                    <button class="btn btn-default">Back</button>
                </router-link>
            </div>
        </div>
        <div class="card-body">
            <form v-on:submit="createQuestion()">
                <div class="employee-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Question</label>
                        <input type="text" class="form-control form-control-line" v-model="question.title" :disabled="loading"
                               name="title"
                               v-validate="'required'"
                               :class="{ 'is-invalid': errors.has('title') }"
                               autofocus
                        >
                        <div v-show="errors.has('title')" class="invalid-feedback">
                            {{ errors.first('title') }}
                        </div>
                    </div>
                </div>

                <button class="btn btn-success mt-5 mb-5" type="submit" :disabled="!isComplete || errors.any()">Create</button>
            </form>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import jwtToken from "../../helpers/jwt-token";

export default {
  data: function() {
    return {
      loading: false,
      syllabusID: this.$route.params.id,
      question:
      {
          title: '',
          order: ''
      },
      checkPermission: true
    };
  },
  methods: {
    createQuestion() {
      event.preventDefault();
      var newQuestion = this.question;
      var syllabusID = this.$route.params.id;
      console.log(this.newQuestion);
      this.loading = true;
      axios
        .post('/api/master-data/syllabus/' + syllabusID + '/ques/create', newQuestion)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have created a new question.',
            type: 'success',
            duration: 5000
          });

          this.loading = false;
          this.$router.push('/syllabus/' + syllabusID + '/ques/index');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          this.loading = false;
        });
    },
    returnError(){
      this.checkPermission = false;
      this.$notify({
          group: 'foo',
          title: 'Ops',
          text: 'You cannot access',
          type: 'error',
          duration: 5000
      });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : true;
  },
  computed: {
    isComplete() {
      return (
        this.question.title
      );
    }
  }
};
</script>
