<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-header" style="display:flex; justify-content:space-between;">
            <h4 class="card-title">Level {{syllabus.level}}: {{syllabus.name}}</h4>
        </div>
        <div class="card-body">
            <form v-on:submit.prevent="updateQuestion()">
                <div class="form-group">
                    <label class="font-weight-bold">Title</label>
                    <input type="text" name="title" class="form-control" v-model="questions.title">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Order</label>
                    <cool-select v-model="questions.sequence" :items="items" placeholder="Select Order"/>
                </div>

                <button type="submit" class="btn btn-primary mt-3" :disabled="!isComplete ||  errors.any()">Update</button>
            </form>
        </div>
    </div>
</template>

<script>
import { CoolSelect } from 'vue-cool-select'
import jwtToken from "../../helpers/jwt-token";

export default {
  components: {
    CoolSelect
  },
  data: function() {
    return {
      loading: false,
      syllabus: {},
      questions: {
          title: '',
          sequence: ''
      },
      questionID: this.$route.params.id,
      syllabusID: this.$route.params.syllabus,
      items: [],
      checkPermission: true
    };
  },
  methods: {
    showSyllabus() {
      axios
        .get('/api/master-data/syllabus/' + this.syllabusID)
        .then(res => {
          this.syllabus = res.data.data;
          console.log(this.syllabus.id);
          this.getQuestions(this.syllabusID);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    getQuestions(id){
      axios
        .get('/api/master-data/syllabus/' + id + '/ques/index')
        .then(res => {
          // console.log(res.data.data);
          var value = 0;
          for (var i = 0; i < res.data.data.length; i++) {
            value = res.data.data[i].sequence > value ? res.data.data[i].sequence : value;
          }
          for (var i = 1; i <= value; i++) {
            this.items.push(i);
          }
        })
    },
    showQuestion(){
      axios
        .get('/api/master-data/syllabus/'+ this.questionID + '/question')
        .then(res => {
          this.questions = res.data.data;
          console.log(res.data.data);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    updateQuestion() {
      event.preventDefault();
      axios
        .put('/api/master-data/syllabus/'+ this.questionID + '/question', this.questions)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have updated the outlet.',
            type: 'success',
            duration: 5000
          });
          this.$router.push(`/syllabus/${this.syllabusID}/ques/index`);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
      this.checkPermission = false;
      this.$notify({
          group: 'foo',
          title: 'Ops',
          text: 'You cannot access',
          type: 'error',
          duration: 5000
      });
    },
    returnSuccess(){
        this.showSyllabus();
        this.showQuestion();
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.returnSuccess(); 
  },
  computed: {
    isComplete() {
      return (
        this.questions.title &&
        this.questions.sequence
      );
    }
  }
};
</script>
