<template>
  <b-modal title="Edit Option" class="modal-success" v-model="myModal" @ok="changeTitle()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
              <label class="font-weight-bold">Title</label>
              <input type="text" class="form-control" v-model="options.title" required>
          </div>
      </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      optionsId: '',
      options: {
        title: ''
      }
    };
  },
  methods: {
    openModal(id) {
      this.myModal = true;
      this.optionsId = id;
      this.getOptions(id);
    },
    getOptions(id){
      console.log(id);
      axios
        .get('/api/master-data/option/' + id)
        .then(res => {
          this.options.title = res.data.data.title;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    changeTitle(){
      axios
        .post('/api/master-data/option/' + this.optionsId, this.options)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'Option is updated.',
            type: 'success',
            duration: 5000
          });
          this.$emit("getQuestions");
          this.myModal = false;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    }
  },
  created() {
    this.$parent.$on('openEditOptionModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
</style>
