<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-header" style="display:flex; justify-content:space-between;">
            <h4 class="card-title">Level {{syllabus.level}}: {{syllabus.name}}</h4>
        </div>
        <div class="card-body">
            <form v-on:submit.prevent="updateQuestion()">
                <div class="form-group">
                    <label class="font-weight-bold">Title</label>
                    <input type="text" name="title" class="form-control" v-model="questions.title">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Order</label>
                    <!-- <input type="text" name="sequence" class="form-control" v-model="questions.sequence"> -->
                    <cool-select v-model="questions.sequence" :items="items" placeholder="Select Order"/>
                </div>

                <button type="submit" class="btn btn-primary mt-3" :disabled="!isComplete ||  errors.any()">Update</button>
            </form>
        </div>
    </div>
</template>

<script>
import { CoolSelect } from 'vue-cool-select'
import jwtToken from "../../helpers/jwt-token";

export default {
  components: {
    CoolSelect
  },
  data: function() {
    return {
      loading: false,
      syllabus: {},
      questions: {
          title: '',
          sequence: ''
      },
      questionID: this.$route.params.id,
      exams:'',
      items: [],
      checkPermission: true
    };
  },
  methods: {
    showSyllabus() {
      axios
        .get('/api/master-data/exams/'+ this.questionID +'/question')
        .then(res => {
          this.questions.title = res.data.data.question;
          this.questions.sequence = res.data.data.sequence;
          this.getQuestions(res.data.data.package_id);
          // console.log(this.questions);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Unable to get question Data',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    getQuestions(id){
      this.exams = id;
      axios
        .get('/api/master-data/exams/' + id + '/ques/index')
        .then(res => {
          // console.log(res.data.data);
          var value = 0;
          for (var i = 0; i < res.data.data.length; i++) {
            value = res.data.data[i].sequence > value ? res.data.data[i].sequence : value;
          }
          for (var i = 1; i <= value; i++) {
            this.items.push(i);
          }
        })
    },
    // showQuestion(){
    //   axios
    //     .get('/api/master-data/syllabus/'+ this.questionID + '/question')
    //     .then(res => {
    //       this.questions = res.data.data;
    //       console.log(res.data.data);
    //     })
    //     .catch(err => {
    //       this.$notify({
    //         group: 'foo',
    //         title: 'Ops',
    //         text: 'Please contact administrator',
    //         type: 'error',
    //         duration: 5000
    //       });
    //       console.log(err.data);
    //     });
    // },
    updateQuestion() {
      event.preventDefault();
      axios
        .put('/api/master-data/exams/'+ this.questionID + '/question', this.questions)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have updated the outlet.',
            type: 'success',
            duration: 5000
          });
          this.$router.push(`/exams/${this.exams}/ques/index`);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
      this.checkPermission = false;
      this.$notify({
          group: 'foo',
          title: 'Ops',
          text: 'You cannot access',
          type: 'error',
          duration: 5000
      });
    },
    returnSuccess(){
        this.showSyllabus();
        this.showQuestion();
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.returnSuccess(); 
  },
  computed: {
    isComplete() {
      return (
        this.questions.title &&
        this.questions.sequence
      );
    }
  }
};
</script>
