<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <form v-on:submit="updateSyllabus()">
                <div class="form-group">
                    <label class="font-weight-bold">Level</label>
                    <input type="text" name="title" class="form-control" v-model="syllabus.level">
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Title</label>
                    <input type="text" name="title" class="form-control" v-model="syllabus.name">
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Level Sequence</label>
                    <input type="text" name="title" class="form-control" v-model="syllabus.sequence">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Update</button>
            </form>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import jwtToken from "../../helpers/jwt-token";

export default {
  data: function() {
    return {
      loading: false,
      syllabus: {
          level:'',
          name: '',
          sequence:''
      },
      original_sequence:'',
      sequence_array:[],
      syllabusId: this.$route.params.id,
      checkPermission: true
    };
  },
  methods: {
    showSyllabus() {
      axios
        .get('/api/master-data/syllabus/' + this.syllabusId)
        .then(res => {
          this.syllabus = res.data.data;
          this.original_sequence = this.syllabus.sequence;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    getSequnce(){
      axios
      .get("/api/master-data/syllabus").then(res => {

          for (var i = 0; i < res.data.length; i++) {
            
            this.sequence_array.push(res.data[i].sequence);

          }
            // console.log(this.sequence_array)
        });
    },
    updateSyllabus() {
      event.preventDefault();

      console.log('bool check');
      console.log(this.syllabus.sequence);
      console.log(this.sequence_array.includes(parseInt(this.syllabus.sequence)));
      var checkSequence = this.sequence_array.find(element => element == this.syllabus.sequence);
        
        if(this.original_sequence == this.syllabus.sequence){
          
          this.update_data();

        }else if(checkSequence){
          
          this.$swal('Error', 'This Sequence Already Exist','error');

        }else{

          this.update_data();
        }
    },
    update_data(){
      axios
        .post('/api/master-data/syllabus/'+ this.syllabusId + '/update', this.syllabus)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have updated the Title Syllabus.',
            type: 'success',
            duration: 5000
          });
          this.$router.push(`/syllabus/${this.syllabusId}/ques/index`);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
      this.checkPermission = false;
      this.$notify({
          group: 'foo',
          title: 'Ops',
          text: 'You cannot access',
          type: 'error',
          duration: 5000
      });
    }
  },
  created() {
    this.getSequnce();
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.showSyllabus();
  }
};
</script>
