<template>
    <div class="card mt-3" v-if="checkPermission">
      <div class="card-header">
        <div>
          <i class="fa fa-align-justify mr-2"></i> Exams list of package
        </div>
      </div>

      <div class="card-body">
        <v-client-table :columns="columns" :data="packages" :options="options">
          <div slot="index" slot-scope="props">{{ props.index }}</div>
          <div slot="action" slot-scope="props">
            <router-link :to="{name: 'exams-question.index',  params: { id: props.row.id } }" >
                <button class="btn btn-outline-info">Edit Exams</button>
            </router-link>
            <!-- <button class="btn btn-outline-danger" @click="deletePackage(props.row.id)">Delete</button> -->
          </div>
        </v-client-table>
      </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      packages: [],
      product: {
        id: '',
        name: '',
        description: '',
        photo: '',
        category: '',
        priceOnlineDay: '',
        priceOnlineMonthly: '',
        priceOnlineYearly: '',
        priceWalkInDay: '',
        priceWalkInMonthly: '',
        priceWalkInYearly: '',
        validity: '',
        status: ''
      },
      isModal: false,
      columns: ['index', 'name', 'category', 'status', 'action'],
      data: [],
      options: {
        headings: {
          index: 'No.',
          name: 'Name',
          category: 'Category',
          status: 'Status',
          action: 'Action'
        },
        sortable: ['name', 'category', 'status'],
        filterable: ['name', 'category', 'status']
      },
      checkPermission: true
    };
  },
  methods: {
    listPackage() {
      axios
        .get('/api/package')
        .then(res => {
          this.packages = res.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    showModal(id) {
      this.isModal = true;
      this.viewProduct(id);
    },
    viewProduct(id) {
      axios
        .get('/api/package/' + id)
        .then(res => {
          console.log(res.data);

          this.product = res.data.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err);
        });
    }
  },
  created() {
    this.listPackage();
  }
};
</script>
