<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-header" style="display:flex; justify-content:space-between;">
            <p class="card-title">Package: <strong>{{package.name}}</strong></p>
            <div>
                <router-link :to="{name: 'master-data-exams' }" >
                    <button class="btn btn-default">Back</button>
                </router-link>
                <!-- <router-link :to="{name: 'syllabus.edit' }" >
                    <button class="btn btn-info">Edit</button>
                </router-link> -->
                <router-link :to="{name: 'exams-question.create',  params: { id: this.$route.params.id } }" >
                    <button class="btn btn-info">New Question</button>
                </router-link>
            </div>
        </div>
        <div class="card-body">
                <div class="card mb-3" v-for="(question, index) in questions">
                    <div class="card-body">
                        <h4 class="card-title">{{question.sequence}} - {{question.question}}</h4>
                        <div class="row mb-2" v-for="(option, index) in question.options">
                            <div class="col-md-8">Option {{ index + 1}}: {{ option.question | capitalize }}</div>

                            <!-- <div v-if="option.title != 'remark'">
                                <button class="btn btn-outline-info mr-2" @click="editOption(option.id)">Edit</button>
                                <button class="btn btn-outline-danger mr-2" @click="deleteOption(option.id)">Delete</button>
                            </div> -->
                        </div>
                        <!-- <router-link :to="{name: 'question-option.index',  params: {id: question.id, syllabus: syllabusID}}" >
                            <button class="btn btn-info">Add Option</button>
                        </router-link> -->
                        <router-link :to="{name: 'exams-question.edit',  params: {id: question.id}}" >
                            <button class="btn btn-info">Edit Question</button>
                        </router-link>

                        <button class="btn btn-danger" @click="deleteQuestion(question.id)">Delete</button>
                    </div>
                </div>
                <EditSyllabusOption v-on:getQuestions="getExamuestions()"></EditSyllabusOption>
        </div>
    </div>
</template>

<script>
import EditSyllabusOption from "./EditSyllabusOption.vue";
import jwtToken from "../../helpers/jwt-token";

export default {
  components: {
    EditSyllabusOption
  },
  data: function() {
    return {
      loading: false,
      selectedId: this.$route.params.id,
      package:[],
      syllabus: {},
      questions: [
            {
                title: '',
                sequence: '',
                option: [],
                edit: false
            }
      ],
      myModal: false,
      checkPermission: true
    };
  },
  methods: {
    getSinglePackage() {
      axios
        .get('/api/package/' + this.selectedId)
        .then(res => {
           console.log(res.data.data);
          this.package = res.data.data;
          console.log(this.package);
          
          if(this.product.auto_upgrade == 1) {
            this.auto_upgrade = true;
            this.auto_upg = true;
            this.product.autoupgrade = this.product.upgrade_to;
          }

          if (this.product.access == -1) {
            this.unlimited = true;
          }
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });

      axios
        .get('/api/outlets')
        .then(res => {
          this.outlets = res.data;
          // console.log(this.outlets);
        })
    },
    // showSyllabus() {
    //   var syllabusID = this.$route.params.id;
    //   axios
    //     .get('/api/master-data/syllabus/' + syllabusID)
    //     .then(res => {
    //       this.syllabus = res.data.data;
    //       // console.log(res.data.data);
    //     })
    //     .catch(err => {
    //       this.$notify({
    //         group: 'foo',
    //         title: 'Ops',
    //         text: 'Please contact administrator',
    //         type: 'error',
    //         duration: 5000
    //       });
    //       console.log(err.data);
    //     });
    // },
    getExamuestions(){
      var packageID = this.$route.params.id;

      axios
        .get('/api/master-data/exams/' + packageID + '/ques/index')
        .then(res => {
          this.questions = res.data.data;
          console.log(this.questions);
          // for (var i = 0; i < res.data.data.length; i++) {
          //   this.getOptions(res.data.data[i].id);
          // }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Unable To Retrieve Question Data',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    // getOptions($id){
    //   axios
    //     .get('/api/master-data/ques/' + $id)
    //     .then(res => {
    //       for (var i = 0; i < this.questions.length; i++) {
    //           for (var j = 0; j < res.data.data.length; j++) {
    //               if (this.questions[i].id == res.data.data[j].syllabus_question_id) {
    //                 this.questions[i].options.push(res.data.data[j]);
    //               }
    //           }
    //       }
    //     })
    //     .catch(err => {
    //       this.$notify({
    //         group: 'foo',
    //         title: 'Ops',
    //         text: 'Please contact administrator',
    //         type: 'error',
    //         duration: 5000
    //       });

    //       this.loading = false;
    //     });
    // },
    // editOption(id){
    //   this.$emit("openEditOptionModal", id);
    // },
    // deleteOption(id){
    //   this.$swal({
    //     title: 'Are you sure?',
    //     text: "You can't revert your action",
    //     type: 'warning',
    //     showCancelButton: true,
    //     confirmButtonText: 'Yes Delete it!',
    //     cancelButtonText: 'No, Keep it!',
    //     showCloseButton: true,
    //     showLoaderOnConfirm: true
    //   }).then(result => {
    //     if (result.value) {
    //       this.$swal('Deleted', 'You successfully deleted this file', 'success');
    //       axios
    //         .delete(`/api/master-data/option/${id}/delete`)
    //         .then(res => {
    //           this.$notify({
    //             group: 'foo',
    //             title: 'Awesome',
    //             text: 'Option already deleted',
    //             type: 'success',
    //             duration: 5000
    //           });
    //           this.getQuestions();
    //         })
    //         .catch(err => {
    //           this.$notify({
    //             group: 'foo',
    //             title: 'Ops',
    //             text: 'Please contact administrator',
    //             type: 'error',
    //             duration: 5000
    //           });
    //         });
    //     } else {
    //       this.$swal('Cancelled', 'Your package is still intact', 'info');
    //     }
    //   });
    // },
    deleteQuestion(quesID){
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete('/api/master-data/exams/ques/' + quesID + '/delete')
            .then(res => {
              this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'You have deleted a question.',
                type: 'success',
                duration: 5000
              });

              this.loading = false;
              this.getExamuestions();
            })
            .catch(err => {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
              this.loading = false;
            });
        } else {
          this.$swal('Cancelled', 'Your Exam is still intact', 'info');
        }
      });
    },
    returnError(){
      this.checkPermission = false;
      this.$notify({
          group: 'foo',
          title: 'Ops',
          text: 'You cannot access',
          type: 'error',
          duration: 5000
      });
    }
  },
  created() {
    var noError = false;
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : noError = true

    if (noError == true) {
      this.getSinglePackage();
      this.getExamuestions();
    }
  }
};
</script>
