<template>
    <div class="card mt-5">
        <div class="card-header" style="display:flex; justify-content:space-between;">
            <h4 class="card-title">Question: {{question.title}}</h4>
            <div>
                <router-link :to="{name: 'syllabus-question.index',  params: { id: syllabusID } }" >
                    <button class="btn btn-default">Back</button>
                </router-link>
                <router-link :to="{name: 'question-option.create',  params: { id: this.$route.params.id, syllabus: syllabusID } }" >
                    <button class="btn btn-info">New Option</button>
                </router-link>
            </div>
        </div>
        <div class="card-body">
            <form v-on:submit="updateOutlet()">
                <div class="card mb-3" v-for="(option, index) in options">
                    <div class="card-body">
                        <h4 class="card-title">Option {{++index}}: {{option.title}}</h4>

                        <div v-if="option.title != 'remark'">
                            <button class="btn btn-danger" @click="deleteOption(--index, option.id)">Delete</button>
                        </div>

                        <!-- <router-link :to="{name: 'question-option.edit',  params: { id: option.id } }" >
                            <button class="btn btn-default">Edit</button>
                        </router-link> -->
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data: function() {
    return {
      loading: false,
      syllabusID: this.$route.params.syllabus,
      question: {},
      options: []
    };
  },
  methods: {
    showQuestion() {
      var questionID = this.$route.params.id;
      axios
        .get('/api/master-data/syllabus/' + questionID + '/question')
        .then(res => {
          this.question = res.data.data;
          console.log(this.question);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    getOptions(){
        var questionID = this.$route.params.id;
      axios
        .get('/api/master-data/ques/' + questionID + '/index')
        .then(res => {
          this.options = res.data.data;
          console.log(res.data.data);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    updateOutlet() {
      event.preventDefault();
      var questionID = this.$route.params.id;
      this.loading = true;

      var newOutlet = this.outlet;

      this.outlet.payments = this.selectedPayment;

      axios
        .post('/api/outlets/' + questionID, newOutlet)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have updated the outlet.',
            type: 'success',
            duration: 5000
          });

          this.loading = false;
          this.$router.push('/outlet');
          this.$noty.success('Outlet updated success');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });

          this.loading = false;
        });
        },
    deleteOption(index, optionID){
      event.preventDefault();
      this.loading = true;
      axios
        .delete('/api/master-data/option/' + optionID + '/delete')
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have deleted an option.',
            type: 'success',
            duration: 5000
          });

          this.loading = false;
          this.options.splice(index, 1);
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          this.loading = false;
        });
    }
    },
  created() {
    this.showQuestion();
    this.getOptions();
  }
};
</script>
