<template>
    <div v-if="checkPermission">
        <b-card class="mt-3" header="List of Package Category">
            <v-client-table :columns="categoryColumns" :data="categories" :options="categoryOptions">
                <div slot="index" slot-scope="props">{{ props.index }}</div>
                <div slot="action" slot-scope="props">
                    <button class="btn btn-outline-danger" @click="deleteCategory(props.row.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </v-client-table>
            <div class="form-group">
                <label class="font-weight-bold">Add New Package Category</label>
                <input type="text" name="name" class="form-control" v-model="category.name" required/>
                <button class="btn btn-primary mt-3" @click="addPackageCategory()" :disabled="!category.name">Add</button>
            </div>
        </b-card>

        <b-card class="mt-3" header="List of Package Type">
            <v-client-table :columns="typeColumns" :data="types" :options="typeOptions">
                <div slot="index" slot-scope="props">{{ props.index }}</div>

                <div slot="assits" slot-scope="props">
                    <i class="icon-check text-success" v-if="props.row.assits === 1"></i>
                    <i class="icon-close text-danger" v-else></i>
                </div>


                <div slot="syllabus" slot-scope="props">
                    <i class="icon-check text-success" v-if="props.row.syllabus === 1"></i>
                    <i class="icon-close text-danger" v-else></i>
                </div>



                <div slot="level" slot-scope="props">
                    <i class="icon-check text-success" v-if="props.row.level === 1"></i>
                    <i class="icon-close text-danger" v-else></i>
                </div>

                
                <div slot="action" slot-scope="props">
                    <button class="btn btn-outline-danger" @click="deleteType(props.row.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </v-client-table>
            <p class="font-weight-bold">Add New Package Type</p>
            <hr>
            <div class="form-group">
                <label class="font-weight-bold">Name</label>
                <input type="text" class="form-control" v-model="type.name" required/>
            </div>

            <div class="form-group">
                <label class="font-weight-bold">Assits</label>
                <div class="form-check">
                    <input class="form-check-input ml-0" type="radio" name="assitsRadio" id="assits1" value="1" v-model="type.assits" checked>
                    <label class="form-check-label" for="assits1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input ml-0" type="radio" id="assits2" name="assitsRadio"  v-model="type.assits" value="0">
                    <label class="form-check-label" for="assits2">
                        No
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold">Syllabus</label>
                <div class="form-check">
                    <input class="form-check-input ml-0" type="radio" name="syllabusRadio" id="syllabus1" value="1" v-model="type.syllabus" checked>
                    <label class="form-check-label" for="syllabus1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input ml-0" type="radio" name="syllabusRadio" id="syllabus2" value="0" v-model="type.syllabus">
                    <label class="form-check-label" for="syllabus2">
                        No
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold">Level</label>
                <div class="form-check">
                    <input class="form-check-input ml-0" type="radio" name="levelRadio" id="level1" value="1" v-model="type.level" checked>
                    <label class="form-check-label" for="level1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input ml-0" type="radio" name="levelRadio" id="level2" v-model="type.level" value="0">
                    <label class="form-check-label" for="level2">
                        No
                    </label>
                </div>
            </div>

            <button class="btn btn-primary mt-3" @click="addPackageType()" :disabled="!type.name || !type.assits || !type.level || !type.syllabus">Update</button>

        </b-card>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      categoryColumns: ["index", "name", "action"],
      categories: [],
      categoryOptions: {
        headings: {
          index: "No.",
          name: "Name",
          action: "Action"
        },
        sortable: ["index", "name"],
        filterable: ["index", "name"]
      },
      category: {
        name: ""
      },
      typeColumns: ["index", "name", "assits", "syllabus", "level", "action"],
      types: [],
      typeOptions: {
        headings: {
          index: "No.",
          name: "Name",
          assits: "Assits",
          syllabus: "Syllabus",
          level: "Level",
          action: "Action"
        },
        sortable: ["index", "name"],
        filterable: ["index", "name"]
      },
      type: {
        name: "",
        assits: "",
        syllabus: "",
        level: ""
      },
      checkPermission: true
    };
  },
  methods: {
    getPackageCategory() {
      axios.get("/api/master-data/package-category").then(res => {
        this.categories = res.data;
      });
    },
    addPackageCategory() {
      axios
        .post("/api/master-data/package-category", this.category)
        .then(res => {
          this.$notify({
            group: "foo",
            title: "Awesome",
            text: "Added New Package Category",
            type: "success",
            duration: 5000
          });
          this.category.name = "";
          this.getPackageCategory();
        });
    },
    deleteCategory(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/master-data/package-category/" + id).then(res => {
              this.$notify({
                group: "foo",
                title: "Awesome",
                text: "Deleted Package Category",
                type: "success",
                duration: 5000
              });
              this.getPackageCategory();
            })
            .catch(err => {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    },
    getPackageType() {
      axios.get("/api/master-data/package-type").then(res => {
        this.types = res.data;
      });
    },
    addPackageType() {
      axios.post("/api/master-data/package-type", this.type).then(res => {
        this.$notify({
          group: "foo",
          title: "Awesome",
          text: "Added New Package Category",
          type: "success",
          duration: 5000
        });

        this.type = {
          name: "",
          assits: "",
          syllabus: "",
          level: ""
        };
        this.getPackageType();
      });
    },
    deleteType(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/master-data/package-type/" + id).then(res => {
              this.$notify({
                group: "foo",
                title: "Awesome",
                text: "Deleted Package Type",
                type: "success",
                duration: 5000
              });
              this.getPackageType();
            })
            .catch(err => {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    },
    returnError(){
      this.checkPermission = false;
      this.$notify({
          group: 'foo',
          title: 'Ops',
          text: 'You cannot access',
          type: 'error',
          duration: 5000
      });
    },
    returnSuccess(){
        this.getPackageCategory();
        this.getPackageType();
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.returnSuccess();
  }
};
</script>
