<template>
    <b-card class="mt-3">
        <div class="form-group">
            <label class="font-weight-bold">Update Default Maximum Student in the class</label>
            <input type="number" class="form-control" v-model="masterData.quantity" required/>
            <button class="btn btn-primary mt-3" @click="updateForm()" :disabled="!masterData.quantity" >Update</button>
        </div>
    </b-card>
</template>

<script>
export default {
  data() {
    return {
      masterData: {
        quantity: ""
      }
    };
  },
  methods: {
    updateForm() {
      axios
        .put("/api/master-data/maximum-student", this.masterData)
        .then(res => {
          this.$notify({
            group: "foo",
            title: "Awesome",
            text: "Maximum Student Updated",
            type: "success",
            duration: 5000
          });
        });
    }
  },
  created() {
    axios.get("/api/master-data/maximum-student").then(res => {
      this.masterData = res.data[0];
    });
  }
};
</script>
