<template>
    <div v-if="checkPermission">
        <b-card class="mt-3" header="Syllabus Master Data">
            <!-- <router-link :to="{name: 'syllabus-new.create'}" >
                <button class="btn btn-primary">Add Level</button>
            </router-link> -->
            <button class="btn btn-primary" @click="createSyllabus()">Add Level</button>
            <v-client-table :columns="syllabusColumns" :data="syllabi" :options="syllabusOptions">
                <div slot="action" slot-scope="props">
                    <router-link :to="{name: 'syllabus-question.index',  params: { id: props.row.id } }" >
                        <button class="btn btn-primary">Edit</button>
                    </router-link>
                </div>
            </v-client-table>
        </b-card>
        <CreateSyllabusModal></CreateSyllabusModal> 
    </div>
    
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
import CreateSyllabusModal from "./element/CreateSyllabusModal.vue";
export default {
  components: {
    CreateSyllabusModal
  },
  data() {
    return {
      syllabusColumns: ["level", "name", "sequence", "updated_at", "action"],
      syllabi: [],
      passed_data:{
        pu_id:"1561",
        memberId:"1003014",
      },
      syllabusOptions: {
        headings: {
          level: "Level",
          name: "Syllabus Name",
          sequence: "Sequence",
          updated_at: "Last Updated",
          action: "Action"
        },
        sortable: ["name","sequence"],
        filterable: ["name","sequence"]
      },
      type: {
        name: "",
        assits: "",
        syllabus: "",
        level: ""
      },
      checkPermission: true
    };
  },
  methods: {
    getSyllabus() {
      axios.get("/api/master-data/syllabus").then(res => {
        this.syllabi = res.data;
      });
    },
    createSyllabus(){
      var latest_sequence = this.syllabi.length;
      this.$emit("openCreateSyllabusModal", latest_sequence);
    },
    returnError(){
      this.checkPermission = false;
      this.$notify({
          group: 'foo',
          title: 'Ops',
          text: 'You cannot access',
          type: 'error',
          duration: 5000
      });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getSyllabus();
  }
};
</script>
