<template>

  <div class="card mt-5" v-if="checkPermission">
    <div class="card-body">
      <h4 class="card-title">Edit Outlet</h4>
      <form v-on:submit="updateOutlet()">

      <div class="form-group">
        <label>Company Name</label>
        <input type="text" class="form-control" v-model="outlet.company_name" placeholder="Enter Company Name" :disabled="loading"
          name="Company Name" 
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Company Name') }"
        >

        <div v-show="errors.has('Company Name')" class="invalid-feedback">
        {{ errors.first('Company Name') }}
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Outlet Name</label>
        <input type="text" class="form-control" v-model="outlet.name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Outlet Name" :disabled="loading"
          name="Outlet Name" 
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Outlet Name') }"
        >

        <div v-show="errors.has('Outlet Name')" class="invalid-feedback">
        {{ errors.first('Outlet Name') }}
        </div>
      </div>

      <div class="form-group">
        <label>Prefix</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.prefix" placeholder="Enter Prefix" :disabled="loading" 
          name="Prefix" 
          v-validate="'required'"
          onkeyup="this.value = this.value.toUpperCase();"
          :class="{ 'is-invalid': errors.has('Prefix') }"
        >
        <div v-show="errors.has('Prefix')" class="invalid-feedback">
        {{ errors.first('Prefix') }}
        </div>
      </div>

      <div class="form-group">
                  <label>Address</label>

                  <input type="text" class="form-control mb-2" v-model="outlet.street1" placeholder="Street 1"
                      name="Street 1"
                      v-validate="'required|min:5'"
                      :class="{ 'is-invalid': errors.has('Street 1') }">
                    <div v-show="errors.has('Street 1')" class="invalid-feedback">
                      {{ errors.first('Street 1') }}
                    </div>

                  <input type="text" class="form-control mb-2" v-model="outlet.street2" placeholder="Street 2">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="text" class="form-control mb-2" v-model="outlet.city" placeholder="City"
                      name="city"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('city') }">
                      <div v-show="errors.has('city')" class="invalid-feedback">
                        {{ errors.first('city') }}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <input type="number" class="form-control mb-2" v-model="outlet.postcode" placeholder="Postcode"
                      name="postcode"
                      v-validate="'required|min:4'"
                      :class="{ 'is-invalid': errors.has('postcode') }">
                    <div v-show="errors.has('postcode')" class="invalid-feedback">
                      {{ errors.first('postcode') }}
                    </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="text" class="form-control mb-2" v-model="outlet.state" placeholder="State"
                      name="state"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('state') }">
                    <div v-show="errors.has('state')" class="invalid-feedback">
                      {{ errors.first('state') }}
                    </div>
                    </div>
                    <div class="col-sm-6">
                      <!-- <input type="text" class="form-control mb-2" v-model="outlet.country" placeholder="Country"
                      name="country"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('country') }">
                      <div v-show="errors.has('country')" class="invalid-feedback">
                        {{ errors.first('country') }}
                      </div> -->
                      <b-form-select v-model="outlet.country" required
                      :plain="true"
                      :options="country">
                      </b-form-select>
                    </div>
                  </div>
                </div>

      <div class="form-group">
        <label>Telephone Number</label>
        <input type="tel" class="form-control form-control-line" v-model="outlet.telephone" placeholder="Enter Telephone" :disabled="loading" 
          name="Telephone" 
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Telephone') }"
        >
        <div v-show="errors.has('Telephone')" class="invalid-feedback">
        {{ errors.first('Telephone') }}
        </div>
      </div>

      <div class="form-group">
        <label>Latitude</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.latitude" placeholder="Enter Latitude (e.g : 3.1390)" :disabled="loading"
          name="Outlet Latitude"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Outlet Latitude') }"
        >

        <div v-show="errors.has('Outlet Latitude')" class="invalid-feedback">
          {{ errors.first('Outlet Latitude') }}
        </div>

      </div>
      <div class="form-group">
        <label>Longitude</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.longitude" placeholder="Enter Longitude (e.g : 101.6868) " :disabled="loading"
          name="Outlet Longitude"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Outlet Longitude') }"
        >

        <div v-show="errors.has('Outlet Longitude')" class="invalid-feedback">
          {{ errors.first('Outlet Longitude') }}
        </div>

      </div>

      <div class="form-group">
        <label>Radius in meter from Outlet</label>
        <input type="number" class="form-control" v-model="outlet.radius" placeholder="Enter Clock" :disabled="loading"
           name="Radius Outlet"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Radius Outlet') }"
        >

        <div v-show="errors.has('Radius Outlet')" class="invalid-feedback">
          {{ errors.first('Radius Outlet') }}
        </div>

      </div>

      <div class="form-group">
        <label>Tax Label</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.taxlabel" :disabled="loading"
          name="Tax Label"
          maxlength="4"
          onkeyup="this.value = this.value.toUpperCase();"
          :class="{ 'is-invalid': errors.has('Tax Label') }"
        >

        <div v-show="errors.has('Tax Label')" class="invalid-feedback">
          {{ errors.first('Tax Label') }}
        </div>

      </div>

      <div class="form-group">
        <label>Tax Number</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.gstNumber" :disabled="loading"
          name="GST Number"
          v-validate="'required|min:10'"
          :class="{ 'is-invalid': errors.has('GST Number') }"
        >

        <div v-show="errors.has('GST Number')" class="invalid-feedback">
          {{ errors.first('GST Number') }}
        </div>

      </div>

    <div class="form-group">
        <label>Tax Percentage</label>
        <input type="number" class="form-control form-control-line" v-model="outlet.gstpercentage" :disabled="loading"
          name="GST Percentage"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('GST Percentage') }"
        >

        <div v-show="errors.has('GST Percentage')" class="invalid-feedback">
          {{ errors.first('GST Percentage') }}
        </div>

      </div>

      <div class="form-group">
        <label>Currency</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.currency" :disabled="loading"
          name="Currency"
          v-validate="'required'"
          maxlength="4"
          onkeyup="this.value = this.value.toUpperCase();"
          :class="{ 'is-invalid': errors.has('Currency') }">
        <div v-show="errors.has('Currency')" class="invalid-feedback">
          {{ errors.first('Currency') }}
        </div>

      </div>

      <div class="form-group">
          <label class="font-weight-bold">Logo</label>
            <img v-if="outlet.outletlogo" :src="'/storage/' + outlet.outletlogo" class="iimg-fluid rounded-circle d-block mb-2" width="100" height="auto">
            <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle d-block mb-2" width="100" height="auto">
            <a @click="myModal = true" class="mt-1 text-primary">Change Logo</a>
      </div>

      <div class="form-group">
        <label>Receipt Message</label>
        <input type="text" class="form-control form-control-line" v-model="outlet.receiptmessage" :disabled="loading"
          name="Receipt Message"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('Receipt Message') }"
        >
        <div v-show="errors.has('Receipt Message')" class="invalid-feedback">
          {{ errors.first('Receipt Message') }}
        </div>
      </div>

      <div class="form-group">
        <label>Facial Recognition: </label>
        <div class="col-md-12">
            <label class="custom-control" v-for="facialRecognition in facialRecognitions" v-bind:key="facialRecognition.value" style="padding-left:0">
              <input type="radio" :value="facialRecognition.value" v-validate="'required'" v-model="outlet.facial_recognitions" autocomplete="off" class="facial_recognitions">
              <span class="custom-control-description">{{ facialRecognition.name }}</span>
            </label>
        </div>
      </div>

      <div class="form-group">
        <label>Payment Options: </label>
        <div class="col-md-12">
          <label class="custom-checkbox custom-control" v-for="payment in payments" v-bind:key="payment.value" >
            <input type="checkbox" :value="payment.value" v-model="outlet.payment" v-validate="'required'" autocomplete="off" class="custom-control-input" @click="addPayment($event)" >
            <span aria-hidden="true" class="custom-control-indicator"></span> 
            <span class="custom-control-description">{{ payment.name }}</span>
          </label>

        </div>
      </div>

      <div class="form-group">
        <label>Receipt Type: </label>
        <div class="col-md-12">
            <label class="custom-control" v-for="receipt in receipts" v-bind:key="receipt.value" style="padding-left:0">
              <input type="radio" :value="receipt.value" v-validate="'required'" v-model="outlet.receipt_type" autocomplete="off" class="receipts">
              <span class="custom-control-description">{{ receipt.name }}</span>
            </label>
        </div>
      </div>

      <div class="form-group">
        <label>Receipt Size: </label>
        <div class="col-md-12">
            <label class="custom-control" v-for="receiptSize in receipt_size" v-bind:key="receiptSize.value" style="padding-left:0">
              <input type="radio" :value="receiptSize.value" v-validate="'required'" v-model="outlet.receipt_size" autocomplete="off" class="receipts">
              <span class="custom-control-description">{{ receiptSize.name }}</span>
            </label>
        </div>
      </div>
      

      <button type="submit" class="btn btn-primary" :disabled="!isComplete || errors.any()">Update</button>
      <!-- <button type="submit" class="btn btn-primary">Update</button> -->

      <b-modal title="Update Avatar" class="modal-primary" v-model="myModal" @ok="changeLogo()">
        <div class="row">
          <div class="col-sm-12">
              <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange">
              <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                  <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                  <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
              </div>
          </div>
        </div>
      </b-modal>

    </form>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data: function() {
    return {
      loading: false,
      myModal: false,
      attachments: [],
      data: new FormData(),
      outlet: {
        company_name: '',
        name: '',
        latitude: '',
        longitude: '',
        radius: '',
        gstNumber: '',
        gstpercentage: '',
        currency: '',
        street1: '',
        street2: '',
        city: '',
        postcode: '',
        state: '',
        country: '',
        telephone: '',
        prefix: '',
        taxlabel: '',
        receipt_type: '',
        facial_recognitions: '',
        receipt_size: '',
        payment: [],
      },
      country: [{ value: 'Malaysia', text: 'Malaysia' }, { value: 'Indonesia', text: 'Indonesia' }, { value: 'Thailand', text: 'Thailand' }, { value: 'Vietnam', text: 'Vietnam' }, { value: 'Singapore', text: 'Singapore' }, { value: 'Philippines', text: 'Philippines' }, { value: 'Cambodia', text: 'Cambodia' }, { value: 'Myanmar', text: 'Myanmar' }, { value: 'Laos', text: 'Laos' }, { value: 'Brunei', text: 'Brunei' }, { value: 'Timor-Leste', text: 'Timor-Leste' }],
      selectedPayment: [],
      facialRecognitions: [
        {
          name: 'Off',
          value: '0'
        },
        {
          name: 'On',
          value: '1'
        }

      ],
      payments: [
        {
          name: 'Cash',
          value: 1
        },
        {
          name: 'Online',
          value: 2
        },
        {
          name: 'Cash Deposit',
          value: 3
        },
        {
          name: 'Cheque',
          value: 4
        },
        {
          name: 'Credit/Debit Card',
          value: 5
        },
        {
          name: 'Dpc',
          value: 6
        }
      ],
       selectedReceipt: [],
      receipts: [
        {
          name: 'Official Receipt',
          value: 1
        },
        {
          name: 'Tax Invoice',
          value: 2
        }
      ],
      receipt_size: [
        {
          name: 'A4',
          value: 1
        },
        {
          name: '80mm',
          value: 2
        }
      ],
      checkPermission: true
    };
  },
  methods: {
    getOutlet() {
      var outletId = this.$route.params.id;
      axios
        .get('/api/outlets/' + outletId)
        .then(res => {
          // console.log(res.data.data);
          this.outlet = res.data.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    updateOutlet() {
      event.preventDefault();
      var outletId = this.$route.params.id;
      this.loading = true;

      var newOutlet = this.outlet;

      // this.outlet.receipt_type = this.selectedReceipt[this.selectedReceipt.length - 1];
      console.log(newOutlet);
      axios
        .post('/api/outlets/' + outletId, newOutlet)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have updated the outlet.',
            type: 'success',
            duration: 5000
          });

          this.loading = false;
          this.$router.push('/outlet');
          this.$noty.success('Outlet updated success');

        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });

          this.loading = false;
        });
    },
    addPayment(e) {
      if (this.outlet.payment == null) {
        this.outlet.payment = []
      }
      
      if (e.target.checked) {
        this.outlet.payment.push(e.target.value);
      } else {
        this.outlet.payment.splice(this.outlet.payment.indexOf(e.target.value), 1);
      }
    },
    changeLogo() {
      this.prepareFields();
        var config = {
          headers: { "Content-Type": "multipart/form-data" },
          onUploadProgress: function(progressEvent) {
            this.percentCompleted = Math.round(
              progressEvent.loaded * 100 / progressEvent.total
            );
            this.$forceUpdate();
          }.bind(this)
        };

    axios
        .post('/api/upload/logo/' + this.$route.params.id + '/logo', this.data, config)
        .then( res => {
            this.getOutlet();
        })
        .catch( err => {
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact adminstrator',
                type: 'error',
                duration: 5000
            });
        });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    }
  },
  created() {
    this.getOutlet();
  },
  computed: {
    isComplete() {
      return (
        this.outlet.name &&
        this.outlet.street1 &&
        this.outlet.city &&
        this.outlet.postcode &&
        this.outlet.state &&
        this.outlet.country &&
        this.outlet.telephone &&
        this.outlet.latitude &&
        this.outlet.longitude &&
        this.outlet.radius &&
        this.outlet.gstNumber &&
        this.outlet.currency &&
        this.outlet.facial_recognitions &&
        this.outlet.receiptmessage &&
        this.outlet.taxlabel
      );
    }
  }
};
</script>
