<template>
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title mb-5">Create New Super-Admin</h4>
            <form v-on:submit="createStaff()">
                <div class="form-group">
                    <label class="font-weight-bold">Name</label>
                    <input type="text" name="name" class="form-control" v-model="staff.name"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('name') }"
                    >
                    <div v-show="errors.has('name')" class="invalid-feedback">
                      {{ errors.first('name') }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Email</label>
                    <input type="email" name="email" class="form-control" v-model="staff.email"
                      v-validate="'email|required'"
                      :class="{ 'is-invalid': errors.has('email') }"
                    >
                    <div v-show="errors.has('email')" class="invalid-feedback">
                      {{ errors.first('email') }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Password</label>
                    <input type="password" name="password" class="form-control" v-model="staff.password"
                      v-validate="'required|min:8'"
                      :class="{ 'is-invalid': errors.has('password') }"
                    >
                    <div v-show="errors.has('password')" class="invalid-feedback">
                      {{ errors.first('password') }}
                    </div>
                </div>

                <div class="form-group">
        					<label class="font-weight-bold">Gender</label>
        					<select class="form-control" v-model="staff.gender" :disabled="loading"
        						name="gender" 
        						v-validate="'required'"
        						:class="{ 'is-invalid': errors.has('gender') }"
        					>
        				      <option>Male</option>
        				      <option>Female</option>
        				    </select>
        					<div v-show="errors.has('gender')" class="invalid-feedback">
        						{{ errors.first('gender') }}
        					</div>
        				</div>

                <div class="form-group">
                  <label class="font-weight-bold">IC Number</label>
                  <the-mask :mask="['######-##-####']" placeholder="940101-11-0101" class="form-control" v-model="staff.icNumber" :disabled="loading"
                    name="IC Number" 
                    v-validate="'required'"
                    :class="{ 'is-invalid': errors.has('IC Number') }"/> 
                    <div v-show="errors.has('IC Number')" class="invalid-feedback">
                      {{ errors.first('IC Number') }}
                    </div>
                </div>



                <div class="form-group">
                  <label class="font-weight-bold">Profile Picture</label>
                  <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange"
                      name="Supporting Document"> 
                  <hr>
                  <div class="col-md-12">
                      <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                          <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                          <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                      </div>
                  </div>

                </div>


                <div class="form-group">
                    <label class="font-weight-bold">Contact</label>
                    <the-mask 
                      name="contact" 
                      class="form-control" 
                      v-model="staff.contact" 
                      :mask="['(##) ####-####', '(##) #####-####']"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('contact') }"
                       />
                       <div v-show="errors.has('contact')" class="invalid-feedback">
                        {{ errors.first('contact') }}
                      </div>
                </div>

                <b-form-group>
                    <label class="font-weight-bold" for="year1">Designation</label>
                    <b-form-select v-model="staff.designation" required
                      :plain="true"
                      :options="designations"
                      name="designation"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('designation') }"
                    >
                    </b-form-select>
                    <div v-show="errors.has('designation')" class="invalid-feedback">
                      {{ errors.first('designation') }}
                    </div>
                </b-form-group>

                <div class="form-group">
                  <label class="font-weight-bold" for="status">Status</label>
                  <b-form-select v-model="staff.status"
                                :plain="true"
                                :options="['active', 'inactive']"
                                name="status"
                                :class="{ 'is-invalid': errors.has('status') }"
                                >
                                </b-form-select>
                </div>

                <b-form-group>
                    <label class="font-weight-bold" for="year1">Outlet</label>
                    <b-form-select v-model="staff.outlet" required
                      :plain="true"
                      :options="outlets"
                      name="outlet"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('outlet') }"
                    >
                    </b-form-select>
                    <div v-show="errors.has('outlet')" class="invalid-feedback">
                      {{ errors.first('outlet') }}
                    </div>
                </b-form-group>

                <button type="submit" class="btn btn-primary" :disabled="!isComplete ||  errors.any()">Submit</button>
            </form>
        </div>
    </div>
</template>
<style>
  .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #828383!important;
      border-color: #828383!important;
  }
</style>
<script>
export default {
  data() {
    return {
      loading: false,
      staff: {
        name: '',
        password: '',
        email: '',
        contact: '',
        gender: '',
        obo: 'admin',
        icNumber: '',
        leave: 10,
        designations: '',
        outlet:[]
      },
      designations: [],
      outlets: [],
      attachments: [],
      data: new FormData()
    };
  },

  methods: {
  	getPreparationForm() {
      	axios
        .get('/api/coach/config')
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            var tempDesignation = {
              value: res.data[i].id,
              text: res.data[i].name
            };
            this.designations.push(tempDesignation);
          }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });

        axios
        .get('/api/outlets')
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            var tempOutlet = {
              value: res.data[i].id,
              text: res.data[i].name
            };
            this.outlets.push(tempOutlet);
          }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    createStaff() {
      event.preventDefault();
      this.loading = true;

      this.prepareFields();

      var config = {
        headers: { 'Content-Type': 'multipart/form-data' },
        onUploadProgress: function(progressEvent) {
          this.percentCompleted = Math.round(progressEvent.loaded * 100 / progressEvent.total);
          this.$forceUpdate();
        }.bind(this)
      };

      axios
        .put('/api/superadmin/create/', this.staff)
        .then(res => {
        	console.log(res);
	          return axios.post('/api/upload/user/' + res.data.user.id + '/avatar', this.data, config);
	        })
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have success register a staff.',
            type: 'success',
            duration: 5000
          });
          console.log(res.data);

          this.loading = false;
          this.$router.push('/super-admin');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);

          this.loading = false;
        });
    },

    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    }
  },
  created() {
    this.getPreparationForm();
  },
  computed: {
    isComplete() {
      return (
        this.staff.name &&
        this.staff.email &&
        this.staff.password &&
        this.staff.gender &&
        this.staff.contact &&
        this.staff.icNumber &&
        this.staff.designation &&
        this.staff.leave &&
        this.staff.outlet
      );
    }
  }
};
</script>
