<template>
        <div class="card" v-if="checkPermission">
            <div class="contact-page-aside">
                <div class="px-5 py-5">
                    <div class="right-page-header">
                        <div class="d-flex">
                            <div class="align-self-center">
                                <h4 class="card-title m-t-10">Super Admins List </h4>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Avatar</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Designation</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(user,index) in users" v-bind="user" :key="user.id">
                                    <td>{{ index + 1 }}</td>
                                    <td>
                                      <img v-if="user.avatar" :src="'/storage/' + user.avatar" class="img-fluid rounded-circle" width="50" height="auto">
                                      <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle" width="50" height="auto">
                                    </td>
                                    <td>
                                        <router-link :to="{name: 'superadmin.view',  params: { id: user.id } }" >
                                            {{ user.name }}
                                        </router-link>
                                    </td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.contact }}</td>
                                    <td>
                                      <span class="label label-warning" v-if="user.designation_id == '3'">Head</span>
                                      <span class="label label-warning" v-else-if="user.designation_id == '2'">Senior</span>
                                      <span class="label label-warning" v-else-if="user.designation_id == '1'">Junior</span>
                                      <!-- {{ user.designation_id }} -->
                                    </td>
                                    <td>
                                      <a :href="'/super-admin/'+ user.id + '/edit'" class="btn btn-outline-info"> Edit </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <!-- <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" @click="showModal()">Add New Contact</button> -->
                                    </td>
                                    <div class="modal fade in" v-bind:class="{ show: isModal, modal_show: isModal }" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Add New Contact</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                </div>

                                                <form class="form-horizontal form-material" v-on:submit="saveUser()">
                                                <div class="modal-body">
                                                        <div class="form-group">
                                                            <div class="col-md-12 m-b-20">
                                                                <label>Name</label>
                                                                <input type="text" class="form-control" v-model="user.name" placeholder="Type name" :disabled="loading" required> 
                                                            </div>

                                                            <div class="col-md-12 m-b-20">
                                                                <label>E-mail</label>
                                                                <input type="email" class="form-control" v-model="user.email" placeholder="Email" :disabled="loading" v-validate="'required|email'" required> 
                                                                <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                                                            </div>

                                                            <div class="col-md-12 m-b-20">
                                                                <label>Password</label>
                                                                <input type="password" class="form-control" v-model="user.password" placeholder="Password" :disabled="loading" required> 
                                                            </div>

                                                            <div class="col-md-12 m-b-20">
                                                                <label>Contact</label>
                                                                <input type="text" class="form-control" v-model="user.contact" placeholder="Contact" :disabled="loading" required> 
                                                            </div>

                                                            <div class="col-md-12 m-b-20">
                                                                <label>Designation</label>
                                                                <input type="text" class="form-control" v-model="user.designation" placeholder="Designation" :disabled="loading" required>
                                                            </div>

                                                            <div class="col-md-12 m-b-20">
                                                                <label>Assign Outlet</label>
                                                                <div class="form-check">
                                                                    <ul>
                                                                        <li v-for="outlet in outlets" v-bind="outlet" :key="outlet.id">
                                                                            <input type="checkbox" class="form-check-input" v-model="user.checkbox[outlet.id]" v-bind:id="'#' + outlet.id" > 
                                                                            <label v-bind:for="'#' + outlet.id">{{ outlet.name }}</label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-info waves-effect" >Save</button>
                                                    <button type="button" class="btn btn-default waves-effect" @click="isModal = false">Cancel</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <td colspan="7">
                                        <div class="text-right">
                                            <ul class="pagination"> </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
function User({ id, name, email, contact, designation_id, avatar }) {
  this.id = id;
  this.name = name;
  this.email = email;
  this.contact = contact;
  this.avatar = avatar;
  this.designation_id = designation_id;
}

export default {
  data() {
    return {
      loading: false,
      isModal: false,
      outlets: [],
      users: [],
      user: {
        name: "",
        email: "",
        password: "",
        contact: "",
        designation_id: "",
        avatar: "",
        checkbox: [],
        outlets: []
      },
      designation: [],
      checkPermission: false
    };
  },
  methods: {
    listSuperAdmin() {
      this.users = [];
      axios
        .get("/api/superadmin")
        .then(res => {
          res.data.forEach(user => {
            this.checkPermission = true;
            this.users.push(new User(user));
            // this.getDesignation(user.id);
          });
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    getDesignation(id){
        axios
        .get('/api/superadmin/config/' + id)
        .then(res => {
          console.log(res.data);
          this.user.designation = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    saveUser() {
      event.preventDefault();

      //Loop existing Outlet
      for (var i = 0; i < this.outlets.length; i++) {
        var id = this.outlets[i].id;
        if (this.user.checkbox[id]) {
          this.user.outlets.push(id);
        }
      }

      var newUser = this.user;
      this.loading = true;
      axios
        .put("/api/user/profile/register", newUser)
        .then(res => {

          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have register a new superadmin.',
              type: 'success',
              duration: 5000
            });

          this.loading = false;
          this.listSuperAdmin();
          this.$noty.success("User Added success");
          this.isModal = false;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
          err.response.data.error && this.$noty.error(err.response.data.error);

          err.response.data.errors
            ? this.setErrors(err.response.data.errors)
            : this.clearErrors();

          this.loading = false;
        });
    },
    showModal() {
      this.isModal = true;
      this.getOutlets();
    },
    getOutlets() {
      axios
        .get("/api/outlets")
        .then(res => {
          this.outlets = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    }
  },
  created() {
    this.listSuperAdmin();
  }
};
</script>
