<template>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card">
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item">
                                <router-link :to="{name: 'superadmin.view'}" class="nav-link" activeClass="active" exact>
                                    View Profile
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name: 'superadmin.edit'}" class="nav-link" activeClass="active" exact>
                                    Edit Profile
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name: 'superadmin.outlet'}" class="nav-link" activeClass="active" exact>
                                    Assign Outlet
                                </router-link>
                            </li>
                        </ul>
                        
                        <div class="tab-content">
                            <div class="tab-pane active px-4 py-4">
                                <transition name="fade" mode="out-in">
                                    <router-view></router-view>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
import BaseLayout from "./../shared/Base.vue";
export default {
  components: {
    "base-layout": BaseLayout
  }
};
</script>
