<template>
  <b-modal title="Feedback" scrollable  class="modal-primary" v-model="myModal" ok-only>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(feedback, index) in feedbacks" v-bind="feedback" :key="feedback.id">
                        <td>{{ index + 1 }}</td>
                        <td>
                            <router-link :to="{name: 'feedback.management.edit',  params: { id: feedback.id } }" >
                                {{ feedback.title| capitalize }}
                            </router-link>
                        </td>
                        <td>{{ feedback.message | capitalize }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      feedbacks: '',
    };
  },
  methods: {
    openModal(val) {
      this.feedbacks = val;
      this.myModal = true;
    },
  },
  created() {
    this.$parent.$on('feedbackModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.level{
  background: unset;
}
</style>
