<template>
  <b-modal title="Member Freeze Package List" scrollable  class="modal-primary" v-model="myModal" ok-only size='xl'>
    <div class="row">
      <div class="col-md-12 text-right">
          <downloadexcel
            class     = "btn btn-info text-white"
            :data     = "freezed"
            :fields   = "json_fields"
            type      = "csv"
            name      = "Freezed List.csv">
          </downloadexcel>
          <!-- <button @click="csvExport(csvData)">Export to CSV</button> -->
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <v-client-table :columns="columns" :data="freezed" :options="options">
            <div slot="index" slot-scope="props">{{ props.index }}</div>
            <div slot="name" slot-scope="props">{{ props.row.package_user.user.name }}</div>
            <div slot="package" slot-scope="props">{{ props.row.package_user.packages.name }}</div>
            <div slot="date" slot-scope="props">{{ props.row.start_date | moment("DD MMMM YYYY") }}</div>
          </v-client-table>
        </div>
    </div>
    </b-modal>
</template>

<script>

import downloadexcel from 'vue-json-excel';

export default {
  components: {
    downloadexcel,
  },
  data() {
    return {
      myModal: false,
      downloadDisabled: true,
      freezed: [],
      json_fields: {
        'Member Name': 'package_user.user.name',
        'Package': 'package_user.packages.name',
        'Date': 'start_date',
        },
      columns: ['index','name','package','start_date'],
      options: {
          headings: {
              index: 'No.',
              name: 'Member Name',
              package: 'Package',
              start_date: 'Date'
          },
          sortable: ['name','package','start_date'],
          filterable: ['name','package','start_date']
      },
    };
  },
  methods: {
    openModal(val) {
      this.myModal = true;
      axios
        .get(`/api/dashboard/freezed/${val}/`)
        .then(res=>{
          this.freezed = res.data;
          this.downloadDisabled = false;
        })
    },
  },
  created() {
    this.$parent.$on('freezeModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.level{
  background: unset;
}
</style>
