<template>
  <b-modal title="List Member Outstanding List" scrollable class="modal-primary" v-model="myModal" ok-only size='xl'>
    
            <!-- <div class="row"> -->
              <div class="col-md-12 p-0 col-xs-12 row ml-0">
                <span class="custom-col-md-2 p-0 col-md-2 col-xs-3 mt-2">Filter By Month: </span>
                <div class="p-0 col-md-2 col-xs-3">
                    <select class="form-control" v-model="selectedMonth" @change="chageMonthYear()">
                      <option value="all">All Month</option>
                      <option value="0">January</option>
                      <option value="1">February</option>
                      <option value="2">March</option>
                      <option value="3">April</option>
                      <option value="4">May</option>
                      <option value="5">June</option>
                      <option value="6">July</option>
                      <option value="7">August</option>
                      <option value="8">September</option>
                      <option value="9">October</option>
                      <option value="10">November</option>
                      <option value="11">December</option>
                    </select>
                  </div>
                  <div class="p-0 ml-1 spacing col-md-1 col-xs-3 custom-margin">
                    <!-- <select class="form-control" v-model="selectedYear" @change="chageMonthYear()" id="selectyear">
                      <option v-for="year in yearOption" :value="year.value">
                      {{ year.value }}
                    </option>
                    </select> -->
                  </div>
                  <div class="p-0 spacing col-md-6 text-right col-xs-3">
                    <downloadexcel
                      class   = "btn btn-info text-white"
                      :data   = "members"
                      :fields = "json_fields"
                      type    = "csv"
                      name    = "Current Outstanding.csv">
                   
                    </downloadexcel>
                  </div>
              </div>
              <!-- <div class="col-md-12 text-right">
                <downloadexcel
                  class   = "btn btn-info text-white"
                  :data   = "members"
                  :fields = "json_fields"
                  type    = "csv"
                  name    = "Current Outstanding.csv">
               
                </downloadexcel> -->
                <!-- <button @click="csvExport(csvData)">Export to CSV</button> -->
              <!-- </div> -->
            <!-- </div> -->
      <div class="row">
        <div class="col-md-12">
            <v-client-table :columns="columns" :data="members" :options="options" width="800px">
                  <div slot="index" slot-scope="props">{{ props.index }}</div>


                    <div class="text-color" slot="member" slot-scope="props" @click="bring(props.row.user_id)">{{ props.row.user.name }}</div>

                    <div slot="customer" slot-scope="props">{{ props.row.customer.name }}</div>

                    <div slot="contact" slot-scope="props">{{ props.row.customer.contact }}</div>

                    <div slot="email" slot-scope="props">{{ props.row.customer.email }}</div>

                    <div slot="amount" slot-scope="props">RM {{ props.row.outstanding }}</div>

                    <div slot="package" slot-scope="props">{{ props.row.packages.name }}</div>

                    <div slot="package_exp" slot-scope="props">{{ props.row.expiry }}</div>

                    <div slot="class" slot-scope="props">
                      <div v-if="props.row.classes.classes.start == null">
                        No Data 
                      </div>
                      <div v-else>
                        {{ props.row.classes.classes.start | time }}
                      </div>
                    </div>

                    <div slot="day" slot-scope="props">
                      <div v-if="props.row.classes.classes.day == null">
                        No Data 
                      </div>
                      <div v-else>
                        {{ props.row.classes.classes.day  }}
                      </div>
                    </div>
            </v-client-table>
        </div>
    </div>
    </b-modal>
</template>

<script>

import downloadexcel from 'vue-json-excel';
import moment from 'moment';

export default {
  components: {
    downloadexcel,
  },
  data() {
    return {
      myModal: false,
      outlet:'',
      currentDates: '',
      selectedYear: '',
      Monthfix:'',
      SourceData:[],
      members: [],
      selectedMonth:'all',
      json_fields: {
        'Member' : 'user.name',
        'Customer' : 'customer.name',
        'Contact No' : 'customer.contact',
        'Amount' : 'outstanding',
        'Package' : 'packages.name',
        'Package Expiry' : 'expiry',
        'Class' : 'classes.classes.start',
        'Day' : 'classes.classes.day',
      },
      columns: ['index', 'member', 'customer', 'contact', 'email', 'amount', 'package', 'package_exp', 'class', 'day'],
      options: {
        headings: {
          index: 'No.',
          member: 'Member',
          customer: 'Customer',
          contact: 'Contact No',
          email: 'Email',
          amount: 'Amount',
          package: 'Package',
          package_exp: 'Package Expiry',
          Start: 'Class',
          Day: 'Day',

        },
        sortable: ['child', 'member', 'customer', 'contact', 'amount', 'package', 'package_exp', 'class', 'day'],
        filterable: ['child', 'member', 'customer', 'contact', 'amount', 'package', 'package_exp', 'class', 'day']
      },
    };
  },
  methods: {
    openModal(outlet, outstanding) {
        this.outlet = outlet;
        this.myModal = true;
        this.SourceData = outstanding;
        this.members = outstanding;
        console.log('outstanding modal check');
        console.log(this.members);
        var currentDate = new Date();
        this.selectedYear = currentDate.getFullYear();
        var currentDateWithFormat = new Date().toJSON().slice(0,10).replace(/-/g,'_');
        this.currentDates = currentDateWithFormat;
    },
    bring(user_id){
       this.myModal = false; 
       this.$router.push("/member/"+user_id);
       location.reload();
    },
    chageMonthYear() {
    
      if(this.selectedMonth == 'all'){

          this.members = this.SourceData;

      }else{

        console.log(this.selectedMonth);
        if(this.selectedMonth < 9){
            this.Monthfix = 0;
        }
        this.selectedDate = this.selectedYear+'-'+this.Monthfix+(parseInt(this.selectedMonth)+1)+'-01';

        console.log(this.selectedDate);
        axios
        .get(`/api/dashboard/checkUnpaidOrder/${this.outlet}/${this.selectedDate}`)
        .then(res => {

          if(res.data == 'no_data'){
            this.members = [];
          }else{
            this.members = res.data;
          }
          
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });


      this.Monthfix = '';   
      }  
    },
  },
  created() {
    this.selectedMonth = 'all';
    this.$parent.$on('memberOutstandingModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.level{
  background: unset;
}

.text-color{
  color: #17a2b8;
  cursor: pointer;
}
.custom-margin{
  margin-right: auto;
}

@media (min-width: 768px)
{
  .custom-col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 10.666667%;
  }
}

</style>
