<template>
  <b-modal title="New Swim Member List" scrollable  class="modal-primary" v-model="myModal" ok-only size='xl'>
    <div class="row">
      <div class="col-md-12 text-right">
          <downloadexcel
            class     = "btn btn-info text-white"
            :data     = "newMember"
            :fields   = "json_fields"
            type      = "csv"
            name      = "New Member List.csv">
          </downloadexcel>
          <!-- <button @click="csvExport(csvData)">Export to CSV</button> -->
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <v-client-table :columns="columns" :data="newMember" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>
              <router-link slot="name" slot-scope="props" :to="{name: 'member.view',  params: { id: props.row.id } }" >
                  {{ props.row.user.name | capitalize }}
              </router-link>
              <div slot="parent" slot-scope="props">
                <p>{{ props.row.parent.name | capitalize }}</p>
              </div>
              <div slot="Phone" slot-scope="props">
                <p v-if="props.row.parent.contact">{{ props.row.parent.contact }}</p>
                <p v-else>Contact Not Provided</p>
              </div>
              <div slot="package_name" slot-scope="props">
               <p>{{ props.row.packages.name | capitalize }}</p>
              </div>
              <div slot="start_date" slot-scope="props">
                <p>{{ props.row.start_date |  moment("DD MMMM YYYY") }}</p>
              </div>
          </v-client-table>
        </div>
    </div>
    </b-modal>
</template>

<script>

import downloadexcel from 'vue-json-excel';

export default {
  components: {
    downloadexcel,
  },
  data() {
    return {
      myModal: false,
      downloadDisabled: true,
      newMember: [],
      json_fields: {
        'Member Name': 'user.name',
        'Parent Name': 'parent.name',
        'Phone No.': 'parent.contact',
        'Start Date': 'start_date',
        'Package Name': 'packages.name'
        },
      columns: ['index','name','parent', 'Phone', 'start_date','package_name'],
      options: {
          headings: {
              index: 'No.',
              name: 'Member Name',
              parent: 'Parent Name',
              phone: 'Phone No.',
              package_name: 'Package Name',
              start_date: 'Start Date'
          },
          sortable: ['name','parent','start_date','package_name'],
          filterable: ['name','parent','start_date','package_name']
      },
    };
  },
  methods: {
    openModal(val) {
      this.myModal = true;
      axios
        .get(`/api/dashboard/newMember/${val}`)
        .then(res => {
          this.newMember = res.data;
          this.downloadDisabled = false;
        })
    },
  },
  created() {
    this.$parent.$on('newMemberModal', this.openModal);
    
  },
  computed: {}
};
</script>

<style scoped>
.level{
  background: unset;
}
</style>
