<template>
  <b-modal :title="title" scrollable  class="modal-success" v-model="myModal" ok-only>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(staff, index) in staffs" v-bind="staff" :key="staff.id">
                        <td>{{ index + 1 }}</td>
                        <td>{{ staff.name | capitalize }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      staffs: '',
      type: '',
      title: ''
    };
  },
  methods: {
    openModal(value) {
      this.type = value;
      if (value == 'on') {
          this.title = 'Staff / Coach on Duty';
      }
      else{
          this.title = 'Staff / Coach off Duty';
      }
      this.myModal = true;

      axios
          .get(`/api/schedule/today`)
          .then(res => {
            if (this.type == 'on') {
                this.staffs = res.data.onDuty;
            }
            else{
                this.staffs = res.data.offDuty;
            }
          })
    },
  },
  created() {
    this.$parent.$on('offDutyModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
</style>
