<template>
  <b-modal title="Replacement Class" scrollable  class="modal-primary" v-model="myModal" ok-only>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(cls, index) in classes" v-bind="cls" :key="cls.id">
                        <td>{{ index + 1 }}</td>
                        <td>{{ cls.member.name | capitalize }}</td>
                        <td>{{ cls.toDate | moment("Do MMMM YYYY") }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </b-modal>
</template>

<script>

export default {
  data() {
    return {
      myModal: false,
      classes: '',
    };
  },
  methods: {
    openModal(val) {
      this.classes = val;
      this.myModal = true;
    },
  },
  created() {
    this.$parent.$on('replacementModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.level{
  background: unset;
}
</style>
