<template>
  <b-modal title="Annual Sales Target" ref="modal" scrollable class="modal-primary" v-model="myModal2" busy="true" modal-footer="false">
    <div class="row">
        <div v-if="value_show" class="col-md-12"> 
            <div class="p m-0">CURRENT ANNUAL SALES TARGET</div>
            <div class="h4 mt-4" v-if="target"><button class="btn btn-info float-right" v-on:click="numberinput = true, value_show = false">Edit Sales Target</button>RM {{ target.annual_sales_target | currency  }}</div>
            <div class="h4 mt-4" v-else>RM 0.00<button class="btn btn-info float-right" v-on:click="numberinput = true, value_show = false">Edit Sales Target</button></div>
        </div>
        <div v-if="numberinput" class="col-md-12">
            <div class="form-group mt-3">
                <div class="form-group">
                  <label class="font-weight-bold">NEW ANNUAL SALES TARGET</label><br>
                  <input type="text" ref="myId" class="form-control" name="amount" placeholder="New Sales Target ( Number And Decimal Only )" @keypress="isNumber($event)" maxlength="8" v-on:change="save = true">
                </div>
            </div>
        </div>
    </div>
    <div slot="modal-footer" class="w-100">
        <b-button
          v-if="numberinput"
          variant="primary"
          size="sm"
          type="submit"
          class="pl-4 pr-4 btn btn-info float-right"
          @click="saveTarget()"
        >
          Save
        </b-button>
    </div>
  </b-modal>
</template>

<script>

import downloadexcel from 'vue-json-excel';
import moment from 'moment';

export default {
  components: {
    downloadexcel,
  },
  data() {
    return {
      myModal2: false,
      amount: '',
      numberinput: false,
      save: false,
      value_show: true,
      currentDates: '',
      sales_target: '',
      target: [],
    };
  },
  methods: {
    isNumber: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();;
      } else {
        return true;
      }
    },
    progress_calc(new_target){
        //console.log('you have been called')
        var annual_sales = parseInt(this.target.year_to_date_sales)
        var monthly_sales = parseInt(this.target.month_to_date_sales)
        var monthly_target = parseInt(new_target/12)
        var annual_target = parseInt(new_target)

        var month_percentage = Math.round(monthly_sales / monthly_target * 100)
        var annual_percentage = Math.round(annual_sales / annual_target * 100)
        
        // if(month_percentage > 100){
        //   month_percentage = 100
        // }

        // if(annual_percentage > 100){
        //   annual_percentage = 100
        // }
        
        this.$parent.$refs.annual.updateProgress(annual_percentage)
        this.$parent.$refs.monthly.updateProgress(month_percentage)
      },
    openModal(val,) {
        this.myModal2 = true;
        this.amount= '';
        this.value_show = true;
        this.numberinput= false;
        this.target = val;
        var currentDate = new Date();
        var currentDateWithFormat = new Date().toJSON().slice(0,10).replace(/-/g,'_');
        this.currentDates = currentDateWithFormat;
    },
    saveTarget(){
      
      this.target.annual_sales_target = this.$refs.myId.value
      this.progress_calc(this.$refs.myId.value)
      //this.$refs.myId.value
      //console.log(`/api/dashboard/data/`+this.$refs.myId.value)
      axios
          .post(`/api/dashboard/data/`+this.$refs.myId.value)
          .then(res => {
            //aconsole.log(res.data)
            
            this.$refs.modal.hide()
            this.myModal2 = false;
            this.value_show = true;
            this.numberinput= false;

            
            
          })

    }
    
  },
  created() {
    this.$parent.$on('SalesTargetModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
.level{
  background: unset;
}
</style>
