<template>
  <b-modal title="Member Terminate Package List" scrollable  class="modal-primary" v-model="myModal" ok-only size='xl'>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 text-right">
            <downloadexcel
              class     = "btn btn-info"
              :data     = "terminated"
              :fields   = "json_fields"
              type      = "csv"
              name      = "Terminated List.csv">
            </downloadexcel>  
          </div>
        </div>
        <v-client-table :columns="columns" :data="terminated" :options="options">
          <div slot="index" slot-scope="props">{{ props.index }}</div>
          <div slot="name" slot-scope="props">{{ props.row.package_user.user.name }}</div>
          <div slot="package" slot-scope="props">{{ props.row.package_user.packages.name }}</div>
          <div slot="date" slot-scope="props">{{ props.row.start_date | moment("DD MMMM YYYY") }}</div>
        </v-client-table>
      </div>
    </div>
  </b-modal>
</template>

<script>

import downloadexcel from 'vue-json-excel';


export default {
  components: {
    downloadexcel,
  },
  data() {
    return {
      myModal: false,
      downloadDisabled: true,
      terminated: [],
      json_fields: {
        'Member Name': 'package_user.user.name',
        'Package': 'package_user.packages.name',
        'Date': 'start_date',
        },
      columns: ['index','name','package','start_date'],
      options: {
          headings: {
              index: 'No.',
              name: 'Member Name',
              package: 'Package',
              start_date: 'Date'
          },
          sortable: ['name','package','start_date'],
          filterable: ['name','package','start_date']
      },
    };
  },
  methods: {
    openModal(val) {
      this.myModal = true;
      axios
        .get(`/api/dashboard/terminated/${val}/`)
        .then(res=>{
          this.terminated = res.data;
          this.downloadDisabled = false;
        })
    },
  },
  created() {
    this.$parent.$on('terminateModal', this.openModal);
     
  },
  computed: {}
};
</script>

<style scoped>
.level{
  background: unset;
}
</style>
