<template>
	  <div class="app flex-row align-items-center bg-login">
      <div class="container">
        <div class="row justify-content-center">
          <div class="text-center">
            <div class="title-login">Welcome to VGO Aquatic</div>
              <div class="card mx-auto card-login">
                <div class="col-12 col-md-12 mt-3">
                    <div class="col-12 px-0 mt-3">
                        <div class="row">
                            <div class="col-9">
                                <h6 class="login-sub-title text-left px-0">Staff Login</h6>
                            </div>
                            <div class="col-3">
                                <img src="/images/logo.png" class="img-fluid" style="margin-top: -20px;">
                            </div>
                        </div>
                    </div>

                    <div class="form-group px-0">
                        <login-form @loginSuccess="loginSuccess" class="mt-3"></login-form>
                    </div>

                </div>

              </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import LoginForm from "./../../login/LoginForm.vue";
import jwtToken from "../../../helpers/jwt-token";
import facebookLogin from "facebook-login-vuejs";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      isConnected: false,
      name: "",
      email: "",
      personalID: "",
      access: [],
      FB: undefined
    };
  },
  components: {
    "login-form": LoginForm,
    "facebook-login": facebookLogin
  },
  methods: {
    ...mapActions(["setAuthUser"]),
    loginSuccess(data) {
      console.log(data);
      axios
        .get('/api/rolespermission/'+ data.user.role_id)
        .then(res => {
            for (var i = 0; i < res.data.roleaccess.length; i++) {
                this.access.push(res.data.roleaccess[i].id);
            }
            this.afterLoginSuccess(data);
        })
    },
    afterLoginSuccess(data){
      jwtToken.setToken(data.token);
      jwtToken.setRole(data.user.role_id);
      jwtToken.setRoleId(this.access);
      this.setAuthUser(data.user);
      this.$router.push({ name: "dashboard" });
    },
    getUserData() {
      console.log("nak getUserData");

      // this.FB.api(
      //   "/me",
      //   "GET",
      //   { fields: "id,name,email" },
      //   userInformation => {
      //     this.personalID = userInformation.id;
      //     this.email = userInformation.email;
      //     this.name = userInformation.name;
      //   }
      // );
    },
    sdkLoaded(payload) {
      this.isConnected = payload.isConnected;
      console.log(payload);

      this.FB = payload.FB;
      if (this.isConnected) this.getUserData();
    },
    onLogin() {
      this.isConnected = true;
      this.getUserData();
    },
    onLogout() {
      this.isConnected = false;
    }
  }
};
</script>
