<template>
  <div class="app flex-row align-items-center bg-login">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card-group mb-0">
              <div class="card p-4">
                <div class="card-body">
                  <h1>Staff Register</h1>
                  <p class="text-muted">Sign In to your account</p>
                    <form v-on:submit="createStaff()">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" v-model="staff.name" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" v-model="staff.email" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" v-model="staff.password" required>
                        </div>
                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" name="contact" class="form-control" v-model="staff.contact" required>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <router-link :to="{name: 'login' }" >
                                    <button class="btn btn-outline-info">
                                        Back
                                    </button>
                                </router-link>
                            </div>
                            <div class="col-md-6 text-right">
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                            
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      loading: false,
      staff: {
        name: "",
        password: "",
        email: "",
        contact: ""
      },
      member: '',
    };
  },

  methods: {
    createStaff() {
      event.preventDefault();

      console.log(this.staff);

      this.loading = true;
      axios
        .put("/api/staff/signup/", this.staff)
        .then(res => {
          this.member = res.data;

          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'You have successful register.',
              type: 'success',
              duration: 5000
            });

          this.loading = false;
          if (this.member.first_time_login != 0) {
            this.$router.push("/staff/signature/"+this.member.id);
          }
          else{
            this.$router.push("/staff/login");
          }
          // alert("wait for superadmin to approve");
        })
        .catch(err => {

          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          
          console.log(err.data);
          this.loading = false;
        });
    }
  }
};
</script>

