<template>
  <form v-on:submit="AddClass()">
    <div class="card mt-3">
      <div class="card-header">
        <div>
          <i class="fa fa-id-card-o"></i> Add Class
        </div>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="label font-weight-bold">Choose day: </label>
                <select class="form-control" v-model="collection.day" @change="fetchLevel()">
                  <option value="monday">Monday</option>
                  <option value="tuesday">Tuesday</option>
                  <option value="wednesday">Wednesday</option>
                  <option value="thursday">Thursday</option>
                  <option value="friday">Friday</option>
                  <option value="saturday">Saturday</option>
                  <option value="sunday">Sunday</option>
                </select>
              </div>

              <div class="form-group">
                <label class="font-weight-bold">Syllabus Level</label>
                <select class="form-control" v-model="collection.level" @change="fetchClass()">
                  <option v-for="cl in classess" :value="cl">{{ cl | capitalize}}</option>
                  <!-- <option v-if="collection.level !== 'Private'">L1</option>
                  <option v-if="collection.level !== 'Private'">L2</option>
                  <option v-if="collection.level !== 'Private'">L3</option>
                  <option v-if="collection.level !== 'Private'">L4</option>
                  <option v-if="collection.level !== 'Private'">L5</option>
                  <option v-if="collection.level !== 'Private'">L6</option>
                  <option v-if="collection.level !== 'Private'">Adult</option>
                  <option v-if="collection.level === 'Private'">Private</option> -->
                </select>
              </div>

              <div class="form-group">
                <label class="label font-weight-bold">Choose session?</label>
                <select class="form-control" v-model="collection.class" @change="checkAvailability()">
                  <option v-for="c in classes" v-bind:key="c.id" v-bind:value="c.id">
                    {{ c.start | time }} - {{ c.end | time }} - {{ c.coaches.name }}
                  </option>
                </select>
              </div>

              <div v-if="selectedSession.maximum">

                <div class="alert alert-warning"  v-if="selectedSession.currentStudent === selectedSession.maximum">
                  Ops. Class is <span class="font-weight-bold">full</span> right. Your member will be in waiting class
                </div>

                <div class="alert alert-info" v-else>
                  Awesome. There is <span class="font-weight-bold">{{ selectedSession.maximum - selectedSession.currentStudent }}</span> slot more
                </div>

              </div>
          </div>

        </div>
        <button class="btn btn-primary pull-right" type="submit" :disabled="!isComplete ">Update</button>
      </div>
    </div>
  </form>
</template>

<script>

export default {
  data() {
    return {
      memberId: this.$route.params.id,
      packuserId: this.$route.params.packuserId,
      packusertype: '',
      packages: [],
      collection: {
        day: '',
        level: '',
        class: '',
        packuserId: this.$route.params.packuserId,
      },
      selectedSession: {
        maximum: "",
        currentStudent: ""
      },
      classes: [],
      classess: [],
    };
  },
  methods: {
    packageUserType(){
      axios
      .get(`/api/user/swim/package/${this.packuserId}`)
      .then(res => {
        this.packusertype = res.data.packages.type
        console.log(this.packusertype);
      });
    },
    fetchClass() {
      axios
      .get(`/api/class/get-all/${this.memberId}`)
      .then(res => {
        this.classes = res.data.filter(
          c => c.day === this.collection.day && c.level === this.collection.level
        );
      });

      this.selectedSession = {
        maximum: "",
        currentStudent: ""
      };

      console.log(this.selectedSession);
    },
    fetchLevel() {
      axios
      .get(`/api/class/get-all/${this.memberId}`)
      .then(res => {
        if(this.packusertype == 'private'){
          var data = res.data.filter(
            cl => cl.day === this.collection.day && cl.type === 'Private' && cl.level === 'Private'
          );
        }else{
          var data = res.data.filter(
            cl => cl.day === this.collection.day
          );
        }
        
        console.log(data);
        var getLevelOnly = data.map(function (item) {
            return item.level;
        });
        console.log(getLevelOnly);
        this.classess = [...new Set(getLevelOnly)];
        var sorter = {"L1": 1,"L2": 2,"L3": 3,"L4": 4,"L5": 5,"L6": 6,"Adult": 7}
        this.classess.sort(function (a, b) {
            return sorter[a] - sorter[b];
        });
      });
    },
    checkAvailability() {
      axios
        .get("/api/class/" + this.collection.class)
        .then(res => {
          this.selectedSession.maximum = res.data.data.maximum;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
        });

      axios
        .get("/api/class/student/" + this.collection.class)
        .then(res => {
          this.selectedSession.currentStudent = res.data.length;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          console.log(err);
        });
    },
    AddClass(){
      console.log(this.collection);
      event.preventDefault();

      axios
        .post("/api/member/addClass/"+ this.memberId, this.collection)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'The member successful updated.',
              type: 'success',
              duration: 5000
          });
              this.$router.push("/member/"+this.memberId);
        })
        .catch(err => {
            console.log(err);
        });
    }
  },
  created() {
    this.packageUserType();
  },
  computed: {
    isComplete() {
      return (
        this.collection.day &&
        this.collection.level &&
        this.collection.class
      );
    }
  }
};
</script>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}
</style>