<template>
	<div class="card mt-3">
		<div class="card-header">
      <span class="text-left">Attendance</span>
      <router-link :to="{ name: 'member.attendance.replacement_attachments', params: { package_user_id: package_user_id } }">
        <button  class="btn btn-info" >
        Replacement Document
        </button>
      </router-link>
      <button  class="btn btn-primary" @click="openAddAttendance(memberId, classId, packageId)">
        Add Attendance
      </button>
    </div>
      <div class="card-body">
            <div id="people">
              <v-client-table :columns="columns" :data="attendance" :options="options">

                <div slot="index" slot-scope="props">{{ props.index }}</div>

                <div slot="date" slot-scope="props">{{ props.row.clock_in_start | moment("Do MMMM YYYY") }}</div>

                <div slot="time" slot-scope="props">{{ props.row.clock_in_start | moment("h:mm a" ) }}</div>

                <div slot="status" slot-scope="props">{{ props.row.status | capitalize }}</div>

                <div slot="action" slot-scope="props">
                    <button class="btn btn-outline-info" @click="openEditAttendanceModal(props.row.id, classId, props.row.created_at, props.row.clockIn, props.row.status)">
                      Edit
                    </button>
                    <!-- <button class="btn btn-outline-danger" @click="deleteAttendance(props.row.id)">
                      Delete
                    </button> -->
                </div>
                

              </v-client-table>
            </div>

            <EditAttendanceModal :id="id" v-on:getAttendance="getAttendance()"></EditAttendanceModal>
            <AddAttendanceModal :userId='memberId' :classroomId='classId' :packId='packageId' v-on:getAttendance="getAttendance()"></AddAttendanceModal>

      </div>
	</div>

</template>

<script>
import moment from 'moment';
import EditAttendanceModal from "./element/EditAttendanceModal.vue";
import AddAttendanceModal from "./element/AddAttendanceModal.vue";

export default {
  name: "Attendance",
  props: ['id'],
  components: {
    EditAttendanceModal,
    AddAttendanceModal
  },
  data() {
    return {
      memberId: this.$route.params.id,
      classId: this.$route.params.class,
      packageId: this.$route.params.package,
      package_user_id:this.$route.params.package_user_id,
      columns: ['index', 'date', 'time', 'status', 'action'],
        options: {
            headings: {
                index: 'No.',
                date: 'Date',
                time: 'Time',
                status: 'Status',
                action: 'Action'
            },
            sortable: ['date', 'time'],
            filterable: ['date', 'time']
        },
      attendance: [],
      package:'',
    };
  },
  methods: {
    getAttendance(){
       axios
          .get(`/api/attendance/${this.memberId}/${this.classId}/${this.packageId}`)
          .then( res => {
              this.attendance = res.data;
          })
          .catch( err => {
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          });
    },
    getpackage(){
      console.log('hi get package called');
       axios
          .get(`/api/attendance/student_package/${this.memberId}`)
          .then( res => {
              this.package = res.data;
          })
    },
    openEditAttendanceModal(id, id2, date, time, status) {
      this.$emit("openEditAttendanceModal", this.memberId, id, id2, date, time, status);
    },
    openAddAttendance(val1, val2, val3){
      // console.log('check package')
      // console.log(this.package);
      this.$emit("openAddAttendance", this.package, val1, val2, val3);
    },
    deleteAttendance(id){
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
                axios
            .delete("/api/attendance/" + id)
            .then(res => {
              this.$notify({
                group: "foo",
                title: "Awesome",
                text: "You have removed the one record Attendance",
                type: "success",
                duration: 5000
              });
              this.getAttendance();
            })
            .catch(err => {
              this.$notify({
                group: "foo",
                title: "Ops",
                text: "Please contact administrator",
                type: "error",
                duration: 5000
              });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    }
  },
  created() {
    console.log('hi its called package_user');
    console.log(this.$route.params.package_user_id);
    this.getAttendance();
    this.getpackage();
  }
};
</script>
