<template>
	<form v-on:submit="saveMember()">
		<div class="card mt-3">
			<div class="card-header">
				<div>
					<i class="fa fa-user mr-2"></i> Member Information
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Name</label>
							<input type="text" name="name" class="form-control" v-model="member.name" @keydown.enter="$refs.birthday.focus"
								v-validate="'required'"
								:class="{ 'is-invalid': errors.has('name') }"
							>
							<div v-show="errors.has('name')" class="invalid-feedback">
								{{ errors.first('name') }}
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Birthday</label>
							<input type="date" name="birthday" ref="birthday" class="form-control" v-model="member.birthday" @keydown.enter="$refs.gender.focus"
								v-validate="'required'"
								:class="{ 'is-invalid': errors.has('birthday') }"
							>
							<div v-show="errors.has('birthday')" class="invalid-feedback">
								{{ errors.first('birthday') }}
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Gender</label>
							<select class="form-control" v-model="member.gender" @keydown.enter="$refs.health.focus"
								name="gender" ref="gender"
								v-validate="'required'"
								:class="{ 'is-invalid': errors.has('gender') }"
							>
								<option value="" hidden>Select Gender</option>
						      	<option>Male</option>
						      	<option>Female</option>
						    </select>
							<div v-show="errors.has('gender')" class="invalid-feedback">
								{{ errors.first('gender') }}
							</div>
						</div>
					</div>
					<!-- <div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Address</label>
							<input type="text" class="form-control mb-2" v-model="member.street1" placeholder="Street 1"
								name="Street 1"
								v-validate="'required|min:10'"
								:class="{ 'is-invalid': errors.has('Street 1') }" 
							>
							<div v-show="errors.has('Street 1')" class="invalid-feedback">
								{{ errors.first('Street 1') }}
							</div>
							<input type="text" class="form-control mb-2" v-model="member.street2" placeholder="Street 2">
							<div class="row">
								<div class="col-sm-6">
									<input type="text" class="form-control mb-2" v-model="member.city" placeholder="City"
									name="city" 
									v-validate="'required'"
									:class="{ 'is-invalid': errors.has('city') }"
									>
									<div v-show="errors.has('City')" class="invalid-feedback">
										{{ errors.first('City') }}
									</div>
								</div>
								<div class="col-sm-6">
									<input type="number" class="form-control mb-2" v-model="member.postcode" placeholder="Postcode"
										name="postcode"
										v-validate="'required|min:4'"
										:class="{ 'is-invalid': errors.has('postcode') }" 
									>
									<div v-show="errors.has('postcode')" class="invalid-feedback">
										{{ errors.first('postcode') }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<input type="text" class="form-control mb-2" v-model="member.state" placeholder="State"
										name="state" 
										v-validate="'required'"
										:class="{ 'is-invalid': errors.has('state') }"
									>
									<div v-show="errors.has('state')" class="invalid-feedback">
										{{ errors.first('state') }}
									</div>
								</div>
								<div class="col-sm-6">
									<select class="form-control" v-model="member.country" :disabled="loading"
			                        name="country" 
			                        v-validate="'required'"
			                        :class="{ 'is-invalid': errors.has('country') }">
				                        <option value="" hidden>Select Country</option>
				                        <option>Malaysia</option>
				                        <option>Indonesia</option>
				                        <option>Thailand</option>
				                        <option>Vietnam</option>
				                        <option>Malaysia</option>
				                        <option>Singapore</option>
				                        <option>Philippines</option>
				                        <option>Cambodia</option>
				                        <option>Myanmar</option>
				                        <option>Laos</option>
				                        <option>Brunei</option>
				                        <option>Timor-Leste</option>
				                     </select>
			                      	<div v-show="errors.has('country')" class="invalid-feedback">
			                        	{{ errors.first('country') }}
			                      	</div>
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">E-mail</label>
							<input type="text" name="email" class="form-control" v-model="member.email" :disabled="loading"
								v-validate="'required|email'"
								:class="{ 'is-invalid': errors.has('email') }"
							>
							<div v-show="errors.has('email')" class="invalid-feedback">
								{{ errors.first('email') }}
							</div>
						</div>
					</div> -->
					<!-- <div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Contact Number</label>
                    <the-mask 
                      name="contact" 
                      class="form-control" 
                      v-model="member.contact" 
                      :mask="['(##) ####-####', '(##) #####-####']"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('contact') }"
                       />
							<div v-show="errors.has('contact')" class="invalid-feedback">
								{{ errors.first('contact') }}
							</div>
						</div>
					</div> -->

					<div class="col-xs-12 col-sm-12">
                        <div role="group" class="form-group row">
						   <label class="col-form-label col-12 font-weight-bold"><span>Healths</span></label>
						   <div class="col-12">
						      	<label class="custom-checkbox custom-control" v-for="health in healths" v-bind:key="health.id">
						      		<input type="checkbox" autocomplete="off" class="custom-control-input" :value="health.id" @click="check($event)" @keydown.enter="$refs.customer.focus" ref="health"
						      		name="health"
						      		>
									<!-- <div v-show="errors.has('health')" class="invalid-feedback">
										{{ errors.first('health') }}
									</div>   -->
						      		<span aria-hidden="true" class="custom-control-indicator"></span> 
						      		<span class="custom-control-description">{{ health.name | capitalize }}</span>
						      	</label>
						   </div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Customer &nbsp</label>
							<autocomplete

							  @keydown.enter="$refs.remark.focus"
							  :ref="customer"
							  placeholder="Search customer"
							  :source="searchStudent"
							  results-property="items"
							  results-display="name"
							  inputClass="typeahead-style"
							  v-model="member.user_id"
							  name="parent" 
								v-validate="'required'"
								:class="{ 'is-invalid': errors.has('parent') }"
							  >
							</autocomplete>
							<div v-show="errors.has('parent')" class="invalid-feedback">
								{{ errors.first('parent') }}
							</div>
							<button class="register-cust btn btn-primary"><a href="/customer/create" target="blank">Register New Customer</a></button>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12">
						<label class="font-weight-bold">Profile Picture</label>
                          <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange"
                            name="Supporting Document"
                          >
                          <hr>
                          <div class="col-md-12">
                              <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                                  <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                                  <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                              </div>
                          </div>
					</div>

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Remark</label>
							<input type="text" name="remark" ref="remark" class="form-control" v-model="member.remark" @keydown.enter="$refs.status.focus"
							>
							<div v-show="errors.has('remark')" class="invalid-feedback">
								{{ errors.first('remark') }}
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Join Date</label>
							<input type="date" name="join_date" class="form-control" v-model="member.join_date" 
								:class="{ 'is-invalid': errors.has('join_date') }"
							>
							<div v-show="errors.has('join_date')" class="invalid-feedback">
								{{ errors.first('join_date') }}
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<b-form-group>
                            <label for="year1" class="font-weight-bold">Status</label>
                            <b-form-select v-model="member.status"
                            :plain="true"
                            :options="['active', 'inactive']"
                            name="status"
                            ref="status"
                            >
                            </b-form-select>


	                        <div v-show="errors.has('status')" class="invalid-feedback">
	                          {{ errors.first('status') }}
	                        </div>

	                        </b-form-group>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="card mt-3">
			<div class="card-header">
				<div>
					<i class="fa fa-user mr-2"></i> Emergency Contact
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Emergency Contact Name</label>
							<input type="text" name="Emergency Name" class="form-control" v-model="member.emergency_name1" v-on:keyup.enter="$(':focus').next('input').focus()"
								:class="{ 'is-invalid': errors.has('Emergency Name') }"
							>
							<div v-show="errors.has('Emergency Name')" class="invalid-feedback">
								{{ errors.first('Emergency Name') }}
							</div>
						</div>
					</div>


					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Relationship</label>
							<input type="text" name="Emergency Relationship" class="form-control" v-model="member.emergency_relationship1" v-on:keyup.enter="$(':focus').next('input').focus()"
								:class="{ 'is-invalid': errors.has('Emergency Relationship') }"
							>
							<div v-show="errors.has('Emergency Relationship')" class="invalid-feedback">
								{{ errors.first('Emergency Relationship') }}
							</div>
						</div>
					</div>


					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Contact Number</label>
							<!-- <input type="text" name="Emergency Contact" class="form-control" v-model="member.emergency_contact1" v-on:keyup.enter="$(':focus').next('input').focus()"
			
								:class="{ 'is-invalid': errors.has('Emergency Contact') }"> -->
								                    <the-mask 
                      name="Emergency Contact" 
                      class="form-control" 
                      v-model="member.emergency_contact1" 
                      :mask="['###-###-#####', '##-###-#####','###-###-#####-####','###-###-###-###-###']"
                      :class="{ 'is-invalid': errors.has('Emergency Contact') }"
                       />
							<div v-show="errors.has('Emergency Contact')" class="invalid-feedback">
								{{ errors.first('Emergency Contact') }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mt-3">
			<div class="card-header">
				<div>
					<i class="fa fa-user mr-2"></i> Emergency Contact (Optional)
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Emergency Contact Name</label>
							<input type="text" name="Emergency Name 2" class="form-control" v-model="member.emergency_name2" v-on:keyup.enter="$(':focus').next('input').focus()">
						</div>
					</div>


					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Relationship</label>
							<input type="text" name="Emergency Relationship" class="form-control" v-model="member.emergency_relationship2" v-on:keyup.enter="$(':focus').next('input').focus()">
						</div>
					</div>


					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Contact Number</label>
							<!-- <input type="text" name="Emergency Contact" class="form-control" v-model="member.emergency_contact2" :disabled="loading"> -->
							<the-mask 
                      name="Emergency Contact" 
                      class="form-control" 
                      v-model="member.emergency_contact2" 
                      :mask="['###-###-#####', '##-###-#####','###-###-#####-####','###-###-###-###-###']"
                      :class="{ 'is-invalid': errors.has('Emergency Contact') }"
                       />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-3 mb-3">
			<button type="submit" class="col-2 btn btn-primary btn-block mt-3" :disabled="!isComplete ||  errors.any()">Register</button>
		</div>
	<!-- <pre>{{ member | json }}</pre> -->
	</form>
</template>

<style>
	button a{
		color: white !important;
	}
	.register-cust{
		margin-top: 10px;
		padding: 5px 15px;
	}
	.btn-primary.disabled, .btn-primary:disabled {
	    color: #fff;
	    background-color: #828383!important;
	    border-color: #828383!important;
	}
</style>

<script>
import Autocomplete from "vuejs-auto-complete";
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  data() {
    return {
      loading: false,
      member: {
        name: "",
        birthday: "",
        gender: "",
        email: "",
        password: "",
        contact: "",
        health: "",
        user_id: "",
        street1: "",
        street2: "",
        city: "",
        postcode: "",
        state: "",
        country: "",
        status: '',
        remark: '',
        emergency_name1: "",
        emergency_relationship1: "",
        emergency_contact1: "",
        emergency_name2: "",
        emergency_relationship2: "",
        emergency_contact2: "",
        hide: '',
        healths: []
      },
      healths: [],
      userHealths: [],
      attachments: [],
      userOutlet:'',
      data: new FormData(),
    };
  },
  components: {
    Autocomplete
  },
  methods: {
    getHealths() {
      axios
        .get("/api/health")
        .then(res => {
          this.healths = res.data;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact adminstrator",
            type: "error",
            duration: 5000
          });
        });
    },
    check(e) {
      if (e.target.checked) {
        this.member.healths.push(e.target.value);
      } else {
        this.member.healths.splice(
          this.member.healths.indexOf(e.target.value),
          1
        );
      }
    },
    searchStudent(input) {
      return '/api/member/'+ this.userOutlet +'/parent?q=' + input;
    },
    blocker(){
    	console.log('hi');
    	const imageURL = "https://icon-library.net/icon/spinner-icon-gif-21.html";
    	this.$swal({
	        title: 'Member Added Successfully',
	        text: "This Message Will Auto-Close Soon!",
	        type: "success",
	        showCancelButton: false,
	        showConfirmButton: false,
	        confirmButtonText: 'Yes Delete it!',
	        cancelButtonText: 'No, Keep it!',
	        showCloseButton: false,
	        allowOutsideClick: false,
	        closeOnClickOutside: false,
	        closeOnEsc: false,
	        allowEscapeKey : false,
	      })
    },
    saveMember() {
   	event.preventDefault();
    // console.log('check is complete');
    // console.log(this.isComplete);
	    if(this.isComplete === ''){

	    	this.$notify({
	            group: "foo",
	            title: "Ops",
	            text: "The form is not complete for submit",
	            type: "error",
	            duration: 5000
	        });

	    }else{

	      //this.show = false;
	      event.preventDefault();
	      this.prepareFields();
	      this.blocker();
	      var config = {
	        headers: { 'Content-Type': 'multipart/form-data' },
	        onUploadProgress: function(progressEvent) {
	          this.percentCompleted = Math.round(progressEvent.loaded * 100 / progressEvent.total);
	          this.$forceUpdate();
	        }.bind(this)
	      };

	      axios
	        .put("/api/member/", this.member)
	        .then(res => {
		          return axios.post('/api/upload/user/' + res.data.id + '/avatar', this.data, config);
		        })
	        .then(res => {
	          // this.$notify({
	          //   group: "foo",
	          //   title: "Awesome",
	          //   text: "The member successful register.",
	          //   type: "success",
	          //   duration: 5000
	          // });
	          //this.isLoading = false;
	          this.$router.push("/member");
	          this.$swal.close();
	        })
	        .catch(err => {
	          this.$notify({
	            group: "foo",
	            title: "Ops",
	            text: "The e-mail must be unique",
	            type: "error",
	            duration: 5000
	          });
	          //this.isLoading = false;
	          console.log(err);
	        });
    	}
	},

    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    }
  },
  created() {
  	axios
        .get("/api/user")
        .then(res => {
        	this.userOutlet = res.data.outlet_id;
        })
    this.getHealths();
    var currentDate = new Date();
    console.log(currentDate);
    var dd = currentDate.getDate();
	var mm = currentDate.getMonth() + 1; //January is 0!
	var yyyy = currentDate.getFullYear();
	if (dd < 10) {
	  dd = '0' + dd;
	} 
	if (mm < 10) {
	  mm = '0' + mm;
	} 
	var today = yyyy + '-' + mm + '-' + dd;
    this.member.join_date = today;
  },
  computed: {
    isComplete() {
		 return (
	        this.member.name &&
	        this.member.birthday &&
	        this.member.gender &&
	        this.member.user_id &&
	        this.member.status
	     );	
    }
  }
};
</script>
