<template>
	
	<div class="card mt-3">
		<div class="card-header">
			<div>
				<i class="fa fa-add"></i> Create Order
			</div>
		</div>
    <div class="card-body">
      <div class="col-md-12 col-12 mt-2">
        <i class="fa fa-user mr-2"></i>Package: {{ order.currentPackage }}
      </div>
    </div>
			<div class="card-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">Order Month</label>
              <datepicker :format="customFormatter2" :minimumView="'month'" :maximumView="'month'" name="month" :placeholder="order.ordermonth" v-model="order.ordermonth"></datepicker>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">Package Advance Fee</label>
              <input  class="form-control" type="text" v-model="order.advancefee" @change="total()" name="deposit" ref="advance">
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">Package Price</label>
              <input  class="form-control" type="text" v-model="order.packageprice" @change="total()" name="price" ref="price">
            </div>
          </div>
          <!-- <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">Package Total Price</label>
              <input  class="form-control" type="text" v-model="order.totalprice" name="total" ref="total">
            </div>
          </div> -->
        </div>
        <button class="btn btn-primary pull-right mb-3" @click="createOrder()">Create</button>
      </div>
	</div>
</template>

<script>
import Autocomplete from 'vuejs-auto-complete';
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import moment from 'moment';

export default {
  components: {
    Datepicker
  },
  data() {
    return {
      packageUserId: this.$route.params.id,
      memberId: this.$route.params.memberid,
      category: '',
      status: '',
      order:{
        userId: this.$route.params.memberid,
        package_user: this.$route.params.id,
        totalprice: '0',
        currentPackage: '',
        packageprice: '0',
        advancefee:'0',
        ordermonth:'',
      },
      // disabledDates: {
      //   to: new Date(Date.now() - 8640000)
      // },
      disabledDates: {
          to: '',
          from:''
        },
    };
  },
  methods: {
    getMemberData() {
    axios
      .get("/api/member/member_package_user/" + this.packageUserId)
      .then(res => {
          this.order.packageprice = res.data.packages.price.toFixed(2);
          this.order.totalprice = res.data.packages.price.toFixed(2);
          this.order.currentPackage = res.data.packages.name;
      });
    },
    total(){
      console.log(this.$refs);
      this.$refs.total.value = (parseInt(this.order.packageprice) + parseInt(this.order.advancefee)).toFixed(2);
      this.order.totalprice = (parseInt(this.order.packageprice) + parseInt(this.order.advancefee)).toFixed(2);
    },
    customFormatter2(date) {
      return moment(date).format('MMMM YYYY');
    },
    createOrder() {
      this.order.ordermonth = moment(this.order.ordermonth).format('YYYY-MM-DD');
      console.log(this.order);
      this.$swal({
        title: 'Create New Bill?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Do order!',
        cancelButtonText: 'Cancel!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          axios
            .post(`/api/member/order/${this.memberId}/${this.packageUserId}`, this.order)
            .then(res => {
              // this.$notify({
              //   group: 'foo',
              //   title: 'Awesome',
              //   text: 'You have created new order.',
              //   type: 'success',
              //   duration: 5000
              // });
              this.$swal('Great', 'You successfully create new order', 'success');
              this.$router.push("/member/"+ this.memberId );
              // this.getMember();
            })
            .catch(err => {
              this.$swal('Error', err.response.data.message, 'error');
              // if (err.response.status == 500) {
              //     this.$notify({
              //         group: 'foo',
              //         title: 'Ops',
              //         text: err.response.data.message,
              //         type: 'error',
              //         duration: 5000
              //     });
              // }
            });
        } else {

          this.$swal('Cancelled', 'You not create new order', 'info');
        }
      });
    },
  },
  created() {
  	this.getMemberData(); 
    var today = new Date()
    this.order.ordermonth = moment(today).format('MMMM YYYY');
    // console.log(this.$route.params);
  }
};
</script>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}
</style>