<template>
	<form v-on:submit="updatePackage()">
		<div class="card mt-3">
			<div class="card-header">
				<div>
					<i class="fa fa-gift"></i> Member Edit Status Package
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Current Package : </label> {{ current }}
						</div>
					</div>

					<div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="font-weight-bold">Status</label>
              <b-form-select v-if="status.from == 'active' " v-model="collection.status" @change.native="myChange" :plain="true" :options="['freeze', 'stop', 'terminate']" name="status" :class="{ 'is-invalid': errors.has('status') }" required>
              </b-form-select>

              <b-form-select v-else v-model="collection.status" @change.native="myChange" :plain="true" :options="['active']" name="status" :class="{ 'is-invalid': errors.has('status') }" required>
              </b-form-select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12" v-if="collection.status == 'terminate'">
            <div class="form-group">
              <label class="font-weight-bold">Start Date</label>
              <datepicker :minimumView="'month'" :maximumView="'month'" v-model="collection.start" :disabledDates="disabledDates" placeholder="Select Date" :format="format"></datepicker>

            </div>
          </div>
          <div class="col-xs-12 col-sm-12" v-if="collection.status == 'freeze'">
            <div class="form-group">
              <label class="font-weight-bold">Start Date</label>
              <datepicker :minimumView="'month'" :maximumView="'month'" v-model="collection.start" :disabledDates="disabledDatesTerminateStart" placeholder="Select Date" :format="formats"></datepicker>

            </div>
            <div class="form-group">
              <label class="font-weight-bold">End Date</label>
              <datepicker :minimumView="'month'" :maximumView="'month'" v-model="collection.end" :disabledDates="disabledDatesTerminateEnd"  placeholder="Select Date" :format="formatz"></datepicker>

            </div>
            <!-- <div class="form-group">
              <label class="font-weight-bold">Freeze Price</label>
              <input v-model="collection.freeze_price" placeholder="Insert Freeze Price" type="number" step="0.01"></input>

            </div> -->
          </div>
          <div class="col-xs-12 col-sm-12" v-if="collection.status == 'active'">
            <div class="form-group">
              <label class="font-weight-bold">Start Date</label>
              <datepicker :minimumView="'month'" :maximumView="'month'" v-model="collection.start" :disabledDates="disabledDatesTerminateEnd" placeholder="Select Date" :format="formats"></datepicker>

            </div>
          </div>
          <div class="col-xs-12 col-sm-12">
            <small v-if="collection.status == 'terminate'">"Use Deposit" (Description: If Use Deposit, the selected will be the last month of the membership and after the last month, the member will be terminated)</small>
          </div>

          <div class="col-xs-12 col-sm-12" v-if="status.from == 'stop' || status.from == 'terminate'">
              <div class="form-group">
                <label class="label font-weight-bold">Choose day: </label>
                <select class="form-control" v-model="collection.day">
                  <option value="monday">Monday</option>
                  <option value="tuesday">Tuesday</option>
                  <option value="wednesday">Wednesday</option>
                  <option value="thursday">Thursday</option>
                  <option value="friday">Friday</option>
                  <option value="saturday">Saturday</option>
                  <option value="sunday">Sunday</option>
                </select>
              </div>

              <div class="form-group" v-if="collection.day">
                <label class="font-weight-bold">Syllabus Level</label>
                <select class="form-control" v-model="collection.level" @change="fetchClass()">
                  <option>L1</option>
                  <option>L2</option>
                  <option>L3</option>
                  <option>L4</option>
                  <option>L5</option>
                  <option>L6</option>
                  <option>Adult</option>
                </select>
              </div>

              <div class="form-group" v-if="collection.level">
                <label class="label font-weight-bold">Choose session?</label>
                <select class="form-control" v-model="collection.class" @change="checkAvailability()">
                  <option v-for="c in classes" v-bind:key="c.id" v-bind:value="c.id">
                    {{ c.start | time }} - {{ c.end | time }} - {{ c.name }}
                  </option>
                </select>
              </div>

              <div v-if="selectedSession.maximum">

                <div class="alert alert-warning"  v-if="selectedSession.currentStudent === selectedSession.maximum">
                  Ops. Class is <span class="font-weight-bold">full</span> right. Your member will be in waiting class
                </div>

                <div class="alert alert-info" v-else>
                  Awesome. There is <span class="font-weight-bold">{{ selectedSession.maximum - selectedSession.currentStudent }}</span> slot more
                </div>

              </div>
          </div>

				</div>
				<button class="btn btn-primary pull-right" type="submit" :disabled="!isComplete ">Update</button>
			</div>
		</div>
	</form>
</template>

<script>
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import moment from 'moment';

export default {
  components: {
    Datepicker
  },
  data() {
    return {
      packageId: this.$route.params.id,
      classId: this.$route.params.class,
      memberId: this.$route.params.memberid,
      packages: [],
      collection: {
      	status:'',
      	start: '',
        day: '',
        level: '',
        class: '',
      },
      status:{
        from: '',
        to: ''
      },
      category: '',
      current: '',
      format: "MMMM yyyy",
      // formats: "01 MMMM yyyy",
      // formatz: "31 MMMM yyyy",
      disabledDates: {
        to: '',
        from: ''
      },
      disabledDatesTerminateStart: {
        to: '',
        from: ''
      },
      disabledDatesTerminateEnd: {
        to: '',
        // from: ''
      },
      selectedSession: {
        maximum: "",
        currentStudent: ""
      },
      classes: [],
    };
  },
  methods: {
    formats(date) {
      return moment(date).startOf('month').format('DD MMMM YYYY');
    },
    formatz(date) {
      return moment(date).endOf('month').format('DD MMMM YYYY');
    },
    getLastPaidOrder() {
    axios
      .get("/api/member/order/" + this.packageId)
      .then(res => {
          var date = new Date(res.data.monthly_payment);
          date.setMonth( date.getMonth() + parseInt(res.data.package.subscription) ); // last date payment 
          this.disabledDates.to = new Date(date.getFullYear(), date.getMonth(), 1);
          this.disabledDates.from = new Date(date.getFullYear(), date.getMonth() + 1, 0);
          this.disabledDatesTerminateStart.to = new Date(date.getFullYear(), date.getMonth(), 1);
          this.disabledDatesTerminateStart.from = new Date(date.getFullYear(), date.getMonth() + 1, 0);
          this.disabledDatesTerminateEnd.to = new Date(date.getFullYear(), date.getMonth(), 1);
          // this.disabledDatesTerminateEnd.from = new Date(date.getFullYear(), date.getMonth() + 1, 0);
      })
      .catch(err => {
          console.log(err);
      });
    },
    myChange(evt) {
        let val = evt.target.value
        this.status.to = val;
    },
    fetchClass() {
      axios
      .get("/api/class/get-all")
      .then(res => {
        this.classes = res.data.filter(
          c => c.day === this.collection.day && c.level === this.collection.level
        );
      });

      this.selectedSession = {
        maximum: "",
        currentStudent: ""
      };
    },
    checkAvailability() {
      axios
        .get("/api/class/" + this.collection.class)
        .then(res => {
          this.selectedSession.maximum = res.data.data.maximum;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
        });

      axios
        .get("/api/class/student/" + this.collection.class)
        .then(res => {
          var filterStudent = res.data.filter(
            c =>c.status === 'active'
          );
          this.selectedSession.currentStudent = filterStudent.length;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          console.log(err);
        });
    },
    getPackage(id) {
  	axios
    	.get("/api/package/" + id)
    	.then(res => {
    		this.current = res.data.data.name;
    	})
    	.catch(err => {
      		console.log(err);
    	});
    },
    updatePackage(){
      this.collection.start = moment(this.collection.start, 'YYYY-MM-DD').format("YYYY-MM");
      this.collection.end = moment(this.collection.end, 'YYYY-MM-DD').format("YYYY-MM");
      // change format date
      console.log(this.collection);
    	event.preventDefault();

      this.$swal({
        title: "Are you sure?",
        text: "You can't revert your action",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Approve it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          axios
          .post("/api/member/package/"+ this.packageId + "/editstatus/" + this.classId + "/"+ this.memberId, this.collection)
          .then(res => {
            console.log(res.data);
            this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'The member successful updated.',
                type: 'success',
                duration: 5000
            });
            this.$router.push("/member/"+ this.memberId );
          })
          .catch(err => {
              console.log(err);
          });
        } 
        // else {
        //   this.$swal(
        //     "Cancelled",
        //     "This transaction still not create yet",
        //     "info"
        //   );
        // }
        

      });
    }
  },
  created() {
    console.log(this.memberId);
  	axios
    	.get("/api/member/package/" + this.packageId)
    	.then(res => {
      		this.getPackage(res.data.package_id);
      		this.collection.status = res.data.status;
          this.status.from = res.data.status;
          this.getLastPaidOrder();
    	})
    	.catch(err => {
      		console.log(err);
    	});
  },
  computed: {
    isComplete() {
      return (
        this.collection.status &&
        this.collection.start
      );
    }
  }
};
</script>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}
</style>