<template>
	<form v-on:submit="updatePackage()">
		<div class="card mt-3">
			<div class="card-header">
				<div>
					<i class="fa fa-gift"></i> Member Edit Package
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Current Package : </label> {{ current }}
							<!-- <input type="text" name="" class="form-control" v-model="current" readonly> -->
						</div>
					</div>

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Choose New Package</label>
							<select class="form-control" v-model="collection.selected">
								<option v-for="c in packages" v-bind:key="c.id" v-bind:value="c.id">
									{{ c.name }}
								</option>
							</select>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12" v-if="collection.selected != currentPackage && collection.selected">
						<div class="form-group">
							<label class="font-weight-bold">Start Date</label>
              <!-- <datepicker :minimumView="'month'" :maximumView="'month'" v-model="collection.start" :disabledDates="disabledDates"></datepicker> -->
              <datepicker :minimumView="'month'" :maximumView="'month'" v-model="collection.start"></datepicker>
						</div>
					</div>

				</div>
				<button class="btn btn-primary pull-right" type="submit">Update</button>
			</div>
		</div>
	</form>
</template>

<script>
import Autocomplete from 'vuejs-auto-complete';
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import moment from 'moment';

export default {
  components: {
    Datepicker
  },
  data() {
    return {
      packageId: this.$route.params.id,
      memberId:this.$route.params.memberid,
      packages: [],
      collection: {
      	selected: '',
      	start: ''
      },
      category: '',
      status: '',
      current: '',
      currentPackage: '',
      subscription: '',
      // disabledDates: {
      //   to: new Date(Date.now() - 8640000)
      // },
      disabledDates: {
          to: '',
          from:''
        },
    };
  },
  methods: {
    getLastPaidOrder() {
    axios
      .get("/api/member/order/" + this.packageId)
      .then(res => {
          var date = new Date(res.data.monthly_payment);
          date.setMonth( date.getMonth() + parseInt(res.data.package.subscription) ); // last date payment 
          this.disabledDates.to = new Date(date.getFullYear(), date.getMonth(), 1);
          this.disabledDates.from = new Date(date.getFullYear(), date.getMonth() + 1, 0);
      })
      .catch(err => {
          console.log(err);
      });
    },
    getPackage(id) {
  	axios
    	.get("/api/package/" + id)
    	.then(res => {
    		this.current = res.data.data.name;
    		this.category = res.data.data.category;
        this.subscription = res.data.data.subscription;
    		this.filterPackage(this.category);
        this.getLastPaidOrder();
    	})
    	.catch(err => {
      		console.log(err);
    	});
    },
    filterPackage(category){
    axios
      	.get("/api/package")
      	.then(res => {
        	// this.packages = res.data;
        	this.packages = res.data.filter(
	          	c => c.category === category
	        );
	        this.collection.status = this.status;
      	})
      	.catch(err => {
        	console.log(err);
     	});
    },
    updatePackage(){
      this.collection.start = moment(this.collection.start, 'YYYY-MM-DD').format("YYYY-MM");  // change format date
      // console.log(this.collection);
    	event.preventDefault();
      if (this.collection.selected != this.currentPackage) {
        axios
        .post("/api/member/package/"+ this.packageId + "/edit", this.collection)
        .then(res => {
          console.log();
          if(res.data == 'denied'){
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Failed to create charge on selected month.',
                type: 'error',
                duration: 5000
            });
          }else{
            this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'The member successful updated.',
                type: 'success',
                duration: 5000
            });
            this.$router.push("/member/"+res.data.user_id);
          }
            
        })
        .catch(err => {
            this.$notify({
            group: "foo",
            title: "Ops",
            text: "Failed to create charge on selected month or you already change to this package",
            type: "error",
            duration: 2000
        });
        });
      }
      else{
        this.$notify({
            group: "foo",
            title: "Ops",
            text: "You Already in this Package",
            type: "error",
            duration: 2000
        });
      }
    }
  },
  created() {
    console.log(this.$route.params.memberid);
  	axios
    	.get("/api/member/package/" + this.packageId)
    	.then(res => {
          this.getPackage(res.data.package_id);
      		this.status = res.data.status;
      		this.currentPackage = res.data.package_id;
    	})
    	.catch(err => {
      		console.log(err);
    	});
  }
};
</script>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}
</style>