<template>
	<form v-on:submit="updateMember()">
		<div class="card mt-3">
			<div class="card-header">
				<div>
					<i class="fa fa-user mr-2"></i> Member Information
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Name</label>
							<input type="text" name="name" class="form-control" v-model="member.name" :disabled="loading">
						</div>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Birthday</label>
							<input type="date" name="name" class="form-control" v-model="member.birthday" :disabled="loading">
						</div>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Gender</label>
							<select class="form-control" v-model="member.gender" :disabled="loading">
						      <option>Male</option>
						      <option>Female</option>
						    </select>
						</div>
					</div>

	                  <!-- <div class="col-xs-12 col-sm-12">
	                    <div class="form-group">
	                      <label class="font-weight-bold">Address</label>
	                      <input type="text" name="street1" class="form-control mb-2" v-model="member.street1" required>

	                      <input type="text" name="street2" class="form-control mb-2" v-model="member.street2" required>

	                      <div class="row">
	                        <div class="col-sm-6">
	                          <input type="text" name="city" class="form-control mb-2" v-model="member.city" required>
	                        </div>

	                        <div class="col-sm-6">
	                          <input type="number" name="postcode" class="form-control mb-2" v-model="member.postcode" required>
	                        </div>
	                      </div>
	                      <div class="row">
	                        <div class="col-sm-6">
	                          <input type="text" name="state" class="form-control mb-2" v-model="member.state" required>
	                        </div>

	                        <div class="col-sm-6">
	                          <select class="form-control" v-model="member.country" :disabled="loading"
		                        name="country" 
		                        v-validate="'required'"
		                        :class="{ 'is-invalid': errors.has('country') }">
			                        <option value="" hidden>Select Country</option>
			                        <option>Malaysia</option>
			                        <option>Indonesia</option>
			                        <option>Thailand</option>
			                        <option>Vietnam</option>
			                        <option>Malaysia</option>
			                        <option>Singapore</option>
			                        <option>Philippines</option>
			                        <option>Cambodia</option>
			                        <option>Myanmar</option>
			                        <option>Laos</option>
			                        <option>Brunei</option>
			                        <option>Timor-Leste</option>
			                     </select>
		                      	<div v-show="errors.has('country')" class="invalid-feedback">
		                        	{{ errors.first('country') }}
		                      	</div>
	                        </div>
	                      </div>

	                    </div>
	                  </div> -->

					<!-- <div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">E-mail</label>
							<input type="text" name="email" class="form-control" v-model="member.email" disabled>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Contact Number</label>
							<input type="text" name="contact" class="form-control" v-model="member.contact" :disabled="loading">
						</div>
					</div> -->

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Health Condition</label><br>
							<!-- <b-form-select v-model="member.health"
			                    :plain="true"
			                    :options="healths"
			                    name="health"
			                    v-validate="'required'"
			                    :class="{ 'is-invalid': errors.has('health') }"
			                    >
		                    </b-form-select> -->
		                    <label class="custom-checkbox custom-control" v-for="health in healths" v-bind:key="health.id">
					      		<input type="checkbox" autocomplete="off" v-model="member.healths" class="custom-control-input" :value="health.id" @click="check($event)"
					      		name="health"
					      		>
								<!-- <div v-show="errors.has('health')" class="invalid-feedback">
									{{ errors.first('health') }}
								</div>   -->
					      		<span aria-hidden="true" class="custom-control-indicator"></span> 
					      		<span class="custom-control-description">{{ health.name | capitalize }}</span>
					      	</label>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Customer</label>
							<input type="text" class="form-control mb-2" v-model="member.parent.name" disabled="">
							<autocomplete
						 	  placeholder="Search Customer"
							  :source="searchStudent"
							  results-property="items"
							  results-display="name"
							  inputClass="typeahead-style mt-1"
							  v-model="member.user_id">
							</autocomplete>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Remark</label>
							<input type="text" name="remark" class="form-control" v-model="member.remark">
						</div>
					</div>

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Join Date</label>
							<input type="date" name="join_date" class="form-control" v-model="member.join_date">
						</div>
					</div>

					<div class="col-md-12">
		                <label class="font-weight-bold">Profile Picture</label>
                  		<img v-if="member.avatar" :src="member.avatar" class="iimg-fluid rounded-circle d-block mb-2" width="100" height="auto">
				        <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle d-block mb-2" width="100" height="auto">
				        <a @click="myModal = true" class="mt-1 text-primary">Change Avatar</a>
		            </div>

		            <div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Status</label>
							<b-form-select v-model="member.status"
                            :plain="true"
                            :options="['active', 'inactive']"
                            name="status"
                            :class="{ 'is-invalid': errors.has('status') }"
                            >
                            </b-form-select>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="card mt-3">
			<div class="card-header">
				<div>
					<i class="fa fa-user mr-2"></i> Emergency Contact
				</div>
			</div>
			<div class="card-body">
				<div class="row">

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Emergency Contact Name</label>
							<input type="text" name="name" class="form-control" v-model="member.emergency_name1" :disabled="loading">
						</div>
					</div>


					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Relationship</label>
							<input type="text" name="name" class="form-control" v-model="member.emergency_relationship1" :disabled="loading">
						</div>
					</div>


					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Contact Number</label>
							<the-mask :mask="['###-###-#####', '##-###-#####','###-###-#####-####','###-###-###-###-###']" type="text" name="name" class="form-control" v-model="member.emergency_contact1" :disabled="loading"/>
						</div>
					</div>
				</div>

			
			</div>
		</div>

		<div class="card mt-3">
			<div class="card-header">
				<div>
					<i class="fa fa-user mr-2"></i> Emergency Contact (Additional)
				</div>
			</div>
			<div class="card-body">
				<div class="row">

					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Emergency Contact Name</label>
							<input type="text" name="name" class="form-control" v-model="member.emergency_name2" :disabled="loading">
						</div>
					</div>


					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Relationship</label>
							<input type="text" name="name" class="form-control" v-model="member.emergency_relationship2" :disabled="loading">
						</div>
					</div>


					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Contact Number</label>
							<the-mask :mask="['###-###-#####', '##-###-#####','###-###-#####-####','###-###-###-###-###']" type="text" name="name" class="form-control" v-model="member.emergency_contact2" :disabled="loading"/>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
			</div>
		</div>

		<b-modal title="Update Avatar" class="modal-primary" v-model="myModal" @ok="addAvatar()">
	      <div class="row">
	        <div class="col-sm-12">
	            <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange">
	            <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
	                <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
	                <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
	            </div>
	        </div>
	      </div>
	    </b-modal>
	    
	</form>
</template>

<script>

import Autocomplete from 'vuejs-auto-complete';

export default {
  data() {
    return {
      loading: false,
      myModal: false,
      memberId: this.$route.params.id,
      outlet_id:"",
      member: {
        name: "",
        birthday: "",
        gender: "",
        email: "",
        password: "",
        contact: "",
        health: "",
        user_id: "",
        street1: "",
        street2: "",
        city: "",
        postcode: "",
        state: "",
        country: "",
        status: "",
        emergency_name1: "",
        emergency_relationship1: "",
        emergency_contact1: "",
        emergency_name2: "",
        emergency_relationship2: "",
        emergency_contact2: "",
        healths: [],
        join_date: ''
      },
      tempOutletName: [],
      items : [],
      selected : null,
      model: "",
      attachments: [],
      data: new FormData(),
      healths: [],
    };
  },
  components : {
    Autocomplete
  },
  methods: {
  	searchStudent (input){
  		return `/api/member/${this.outlet_id}/parent?q=` + input
  	},
    getMember() {
      axios
        .get("/api/member/" + this.memberId)
        .then(res => {
          this.member = res.data.data;
          this.getHealth();

          var packages = res.data.data.package;
          // Get a name of the outlet
          for( var i  = 0; i < packages.length; i++ ){
          	this.outlet_id = packages[i].pivot.outlet_id;
          	this.getOutletName(this.outlet_id);
          }
        })
        .catch(err => {
          	if (err.response.status == 401) {
	            this.$notify({
	                group: 'foo',
	                title: 'Ops',
	                text: 'You cannot access',
	                type: 'error',
	                duration: 5000
	            });
	        }
        });
    },
    getHealth() {
    	axios
        .get('/api/health')
        .then(res => {
          this.healths = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    check(e) {
    	if (this.member.healths == null) {
    		this.member.healths = [];
    	}
      	if (e.target.checked) {
        	this.member.healths.push(e.target.value);
      	} else {
        	this.member.healths.splice(
          		this.member.healths.indexOf(e.target.value),
          		1
        	);
      }
    },
    getOutletName(id) {
    	console.log('Processing ID ' + id);
    	axios
    		.get("/api/outlets/" + id)
    		.then(res => {
    			this.tempOutletName.push(res.data.data.name);
    		})
    		.catch(err => {
    			console.log(err.data);
    		});
    },
    getInfoData(){
      	axios
    		.get(`/api/member/${outlet}/parent?q=jakz`)
    		.then(res => {
    			console.log(res.data);
    			this.items = data; // data expected to be an array 
    		})
    		.catch(err => {
    			console.log(err.data);
    			this.items = []
    		});
    },
    updateMember(){
      event.preventDefault();
      console.log('here is it the id');
    	console.log(this.member.user_id);
      	this.loading = true;
    	axios
    		.post("/api/member/" + this.memberId + "/" + this.member.user_id + "/edit", this.member)
    		.then(res => {
			this.$notify({
		        group: 'foo',
		        title: 'Awesome',
		        text: 'The member successful updated.',
		        type: 'success',
		        duration: 5000
		      });

	          this.loading = false;
	          this.$router.push("/member/"+this.memberId);
    		})
    		.catch(err => {
    			this.$notify({
			        group: 'foo',
			        title: 'Ops',
			        text: 'The e-mail must be unique',
			        type: 'error',
			        duration: 5000
			      });
    			
    			this.loading = false;
    			console.log(err);
    		});
    },
    addAvatar() {
      this.prepareFields();
        var config = {
          headers: { "Content-Type": "multipart/form-data" },
          onUploadProgress: function(progressEvent) {
            this.percentCompleted = Math.round(
              progressEvent.loaded * 100 / progressEvent.total
            );
            this.$forceUpdate();
          }.bind(this)
        };

    axios
      	.post('/api/upload/user/' + this.memberId + '/avatar', this.data, config)
      	.then( res => {
          	this.getMember();
      	})
      	.catch( err => {
          	this.$notify({
	              group: 'foo',
	              title: 'Ops',
	              text: 'Please contact adminstrator',
	              type: 'error',
	              duration: 5000
            });
      	});
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    }
  },
  created() {
    this.getMember();
  }
};
</script>
