<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<div>
				<i class="fa fa-align-justify mr-2"></i> List of members
			</div>
		</div>
		<div class="card-body">
			<!-- <label v-if="outletModel !== false">Outlet : </label>
            <select v-if="outletModel !== false" class="form-control status-width" v-model="selected_outlet" @change="listMember()">
			    <option v-for="option in filter_outlet" v-bind:value="option.id" >{{ option.name }}</option>
			</select> -->
			<div class="row mb-3">
				<div class="col-md-3 text-left">
					<div class="row">
						<label class="mr-2 mt-2">Status : </label>
						<select class="form-control status-width" v-model="filter_status" name="filter_status" @change="getData()">
					      	<option value="active">Active</option>
					      	<option value="inactive">Inactive</option>
					    </select>
					</div>
				</div>
				<div class="col-md-5 pl-0">
			        <button class="btn btn-outline-primary" @click="openModal()">Search Student</button>
			     </div>
			    <div class="col-md-4 text-right">
	                <downloadexcel
	                  class   	= "btn btn-info text-white"
	                  :data   	= "csvData"
	                  :fields 	= "json_fields"
	                  :disabled = "downloadDisabled"
	                  type    	= "csv"
	                  name    	= "Member List.csv">
	               
	                </downloadexcel>
	                <!-- <button @click="csvExport(csvData)">Export to CSV</button> -->
	            </div>
			</div>
			

			<div id="people">
			  <v-client-table :columns="columns" :data="data" :options="options">

				<div slot="index" slot-scope="props">{{ props.row.index_number }}</div>
				
				<div slot="avatar" slot-scope="props">
                  <img v-if="props.row.avatar" :src="props.row.avatar" @error="getImage" class="img-fit image_index rounded-circle"><!-- image_index rounded-circle -->
                  <img v-else src="/images/default-avatar.png" class="image_index rounded-circle" width="50" height="auto">
                </div>

                <router-link slot="child" slot-scope="props" :to="{name: 'member.view',  params: { id: props.row.id } }" >
                    {{ props.row.name }}
                </router-link>

                <div slot="class_level" slot-scope="props">{{ props.row.class_level }}</div>

                <div slot="padi_level" slot-scope="props">{{ props.row.padi_level }}</div>

                <div slot="instructor" slot-scope="props">{{ props.row.instructor }}</div>

                <div slot="parent" slot-scope="props">{{ props.row.parent_name }}</div>

                <div slot="email" slot-scope="props">
                	<span v-if="props.row.email">{{ props.row.email }}</span>
                	<span v-else> - </span>
                </div>

                <div slot="parent_contact" slot-scope="props">
                	<span v-if="props.row.contact">{{ props.row.contact }}</span>
                	<span v-else> - </span>
                </div>

				<router-link slot="action" slot-scope="props" :to="{name: 'member.edit',  params: { id: props.row.id } }" >
					<button class="btn btn-info text-white">Edit</button>
                </router-link>
			  </v-client-table>
			  
			  <!-- <div class="col-md-12 text-center">
			  	<pagination class="center" v-model="page" :records="total_records" text="{}" @paginate="listMember()"></pagination>Showing {{ pager.from }} to {{ pager.to }} of {{ pager.total }} records
			  </div> -->
			  

			</div>
		</div>
		<SearchStudentElement></SearchStudentElement>
	</div>
</template>

<style>
.status-width{
	width: 20vmin;
	display: inline-block;
}
.img-fit{
	object-fit: cover;
}
/*.VuePagination__count{
	display: none;
}*/

.center{
	display: table;
	float: none;
	margin:auto!important;
}
</style>

<script>

import Pagination from 'vue-pagination-2';
import downloadexcel from 'vue-json-excel';
import SearchStudentElement from "./element/SearchStudentElement.vue";

export default {
	components: {
	  Pagination,
	  downloadexcel,
	  SearchStudentElement
	},
	data() {
		return {
			page: 1,
			members: [],
			key:[],
			selected_outlet : '',
			columns: ['index', 'avatar', 'child', 'class_level', 'padi_level', 'instructor', 'parent', 'email', 'parent_contact', 'action'],
			data: [],
			csvData: [],
			json_fields: {
				'Index': 'index_number',
				'Member Name': 'name',
				'Status': 'status',
				'Class Level': 'class_level', 
				'Padi Level':'padi_level',
				'Instructor':'instructor',
				'Parent Name': 'parent_name',
				'Parent Email': 'email',
				'Parent Contact': 'contact',
	      	},
			options: {
				headings: {
					index: 'No.',
					avatar: 'Avatar',
					child: 'Name',
					class_level: 'Class Level', 
					padi_level:'Padi Level',
					instructor:'Instructor',
					parent: 'Parent Name',
					email: 'Parent Email',
					parent_contact: 'Parent Contact',
					action: 'Action'
				},
				sortable: ['child', 'padi_level', 'parent', 'class_level','instructor', 'email'],
				filterable: false
				// filterable: ['child', 'padi_level', 'parent', 'class_level','instructor', 'email']
			},
			downloadDisabled: true,
			filter_status: 'active',
			filter_outlet: [],
			selected_outlet : '',
			outletModel : false,
			checkPermission: true,
			total_records:'100'
		};
	},
	methods: {
		openModal() {
	      this.$emit("open", this.selected_outlet);
	    },
		getImage(event){
			event.target.src = "/images/default-avatar.png";
		},
		getData(){
			this.listMember();
			this.CsvData();
		},
		listMember() {
			axios
				.get(`/api/member/status/${this.filter_status}/${this.selected_outlet}?page=` + this.page)
				.then(res => {
					this.data = res.data.data;
					this.pager = res.data.pagination;
					this.total_records = res.data.pagination.total;
					console.log(this.total_records);
				})
				.catch(err => {
					if (err.response.status == 401) {
			            this.$notify({
			                group: 'foo',
			                title: 'Ops',
			                text: 'You cannot access',
			                type: 'error',
			                duration: 5000
			            });
              			this.checkPermission = false;
			        }
				});
		},
		CsvData(){
			axios
				.get(`/api/member/status/${this.filter_status}/${this.selected_outlet}/CSV`)
				.then(res => {
					this.csvData = res.data;
					this.data = res.data;
					this.downloadDisabled = false;

				})
				.catch(err => {
					if (err.response.status == 401) {
			            this.$notify({
			                group: 'foo',
			                title: 'Ops',
			                text: 'You cannot access',
			                type: 'error',
			                duration: 5000
			            });
              			this.checkPermission = false;
			        }
				});
		},
		getOutletAccess(id){
			axios
				.get('/api/staff/'+ id)
				.then(res => {
					var outlet = res.data.data.outlet_access;
					if(typeof outlet != "undefined"){
						this.setDropdown(outlet);
					}
				})
				.catch(err => {
					console.log(err.data);
				});
		},
		setDropdown(id){
			for (var i = id.length - 1; i >= 0; i--) {
				id[i];
				axios
					.get('/api/outlets/'+ id[i])
					.then(res => {
			            this.filter_outlet.push(res.data.data);
			            this.outletModel = true;
					})
					.catch(err => {
						console.log(err.data);
					});
			}
		}
	},
	created() {
		axios
	      .get("/api/user")
	      .then(res => {
	        this.getOutletAccess(res.data.id);
	        this.selected_outlet = res.data.outlet_id;
	        this.listMember();
	        this.CsvData();
	      });
	}
};
</script>
