<template>
    <div>
        <b-card class="mt-3" header="List of Package Type">
            <div class="form-group">
                <label class="font-weight-bold">Search for member</label>
                <autocomplete
                    placeholder="Search Merge Member"
                    :source="searchStudent"
                    results-property="items"
                    results-display="name"
                    inputClass="typeahead-style mt-2"
                    v-model="merge.toMemberId">
                </autocomplete>
            </div>
            <button class="btn btn-primary" @click="mergeMember()" :disabled="!merge.toMemberId">Merge</button>
        </b-card>
    </div>
</template>

<script>
import Autocomplete from "vuejs-auto-complete";

import VueClockPicker from "@pencilpix/vue2-clock-picker";

export default {
  data() {
    return {
      loading: false,
      classId: this.$route.params.id,
      dayId: this.$route.params.day,
      class: "",
      merge: {
        fromMemberId: this.$route.params.id,
        toMemberId: ""
      }
    };
  },
  components: {
    Autocomplete
  },
  methods: {
    searchStudent(input) {
      return "/api/member/students?q=" + input;
    },
    mergeMember() {
      this.$swal({
        title: "Are you sure?",
        text: "You can't revert your action",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Approve it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          axios
            .put(
              "/api/member/" +
                this.merge.fromMemberId +
                "/merge/" +
                this.merge.toMemberId
            )
            .then(res => {
              this.$swal(
                "Awesome",
                "You have created the transaction",
                "success"
              );

              this.$router.push("/member/" + this.merge.toMemberId);
            })
            .catch(err => {
              this.$swal("Ops", "Something wrong", "danger");
            });
        } else {
          this.$swal(
            "Cancelled",
            "This transaction still not create yet",
            "info"
          );
        }
      });
    }
  },
  created() {}
};
</script>
