<template>
  <div v-if="checkPermission">
  <h3 class="my-4">New Package page</h3>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0 my-3">Step 1: Choose which package</h5>
    </div>
    <div class="card-body">

      <div v-show="step === 1">
        <div class="row">
          <div class="col-md-4" v-for="(package, index) in packages" :key="package.id">
            <div class="card">
                      <div class="card__product" :style="{ 'background-image': 'url(/storage/' + package.photo + ')' }"></div>
              <div class="card-body">
                <h5 class="card-title">{{ package.name }}</h5>
                <p class="card-text">{{ package.description }}</p>
                <a @click="selectPackage(package, index)" class="btn btn-outline-info text-primary">Select</a>
              </div>

              <div class="card__mark" :class="{ card__mark__block: index === selectedProduct.index }">
                <div class="card__mark__circle">
                  <i class="fa fa-check"></i>
                </div>
              </div>
            </div>
          </div>
        </div>


          <button class="btn btn-primary btn-lg pull-right mt-4" :disabled="!selectedProduct" @click.prevent="next()">Next</button>
        
      </div>


      <div v-show="step === 2">
        <!-- <div class="form-group">
          <label class="label">Choose which outlet: *</label>
          <input class="form-control" type="text" v-for="outlet in outlets" v-bind:key="outlet.id" v-bind:value="outlet.name" disabled>
        </div> -->

        <div v-if="selectedProduct.category == 'SWIMMING'">
            <div class="form-group">
              <label class="label">Choose day: *</label>
              <select class="form-control" v-model="selectedDay" @change="fetchClass()" v-validate="'required'">
                <option v-for="cl in classAvailable" :value="cl">{{ cl | capitalize}}</option>
              </select>
            </div>

            <div class="form-group" v-if="selectedDay">
              <label class="label">Session Level *</label>
              <select class="form-control" v-model="selectedLevel" @change="checkClass()" id="selectID">
                <option v-for="cl in classes" :value="cl">{{ cl | capitalize}}</option>
              </select>
            </div>

            <div v-if="checking.test">

              <div class="alert alert-warning"  v-if="selectedClass">
                Ops. Class is <span class="font-weight-bold">full</span> right. Your member will be in waiting class
              </div>

              <div class="alert alert-info" v-else>
                Awesome. There is  slot more
              </div>

            </div>

            <div class="form-group" v-if="selectedLevel">
              <label class="label">Choose session? *</label>
              <select class="form-control" v-model="selectedClass" @change="checkAvailability()" v-validate="'required'">
                <option v-for="cl in day" v-bind:key="cl.id" v-bind:value="cl.id" v-validate="'required'">
                  {{ cl.start | time }} - {{ cl.end | time }} - {{ cl.coaches.name }}
                </option>
              </select>
            </div>

            <div v-if="selectedSession.maximum">

              <div class="alert alert-warning"  v-if="selectedSession.currentStudent === selectedSession.maximum">
                Ops. Class is <span class="font-weight-bold">full</span> right. Your member will be in waiting class
              </div>

              <div class="alert alert-info" v-else>
                Awesome. There is <span class="font-weight-bold">{{ selectedSession.maximum - selectedSession.currentStudent }}</span> slot more
              </div>

            </div>
        </div>

            <div class="form-group" v-for="(item, index) in questionnaire">
                <label>{{ item.question }}</label>
                <select class="form-control" @change="addSelected($event, item.id)" v-model="selectedSwim[item.id]">
                  <option v-for="option in item.options" v-bind:value="option.id">
                    {{ option.options }}
                  </option>
                </select>
            </div>
            
            <div class="form-group">
                <label class="label">Start Class *</label>
                    <input type="month" name="start_class" v-model="start_date"
                    class="form-control" v-validate="'required'" :class="{ 'is-invalid': errors.has('start_class') }"/>
            </div>

            <div class="form-group">
                <label class="label">Remarks</label>
                    <textarea class="form-control"  rows="6"></textarea>
            </div>


          <!-- <button @click.prevent="prev()" class="btn btn-outline-primary btn-lg pull-left mt-4">Previous</button> -->
          <router-link :to="{name: 'member.view',  params: { id: memberId } }" > 
              <button class="btn btn-outline-primary btn-lg pull-left mt-4">Previous</button>
          </router-link>
          <button @click.prevent="next()" class="btn btn-primary btn-lg pull-right mt-4" :disabled="!start_date">Next</button>

      </div>



      <div v-show="step === 3">
            <h5 class="card-title">ORDER DETAILS</h5>

            <div class="row my-3">
              <div class="col-sm-4">
                <p class="font-weight-bold">Name</p>
              </div>
              <div class="col-sm-8">
                <p>{{ member.name }}</p>
              </div>
              <div class="col-sm-4">
                <p class="font-weight-bold">Gender</p>
              </div>
              <div class="col-sm-8">
                <p>{{ member.gender }}</p>
              </div>
              <div class="col-sm-4">
                <p class="font-weight-bold">E-mail</p>
              </div>
              <div class="col-sm-8">
                <p>{{ member.email }}</p>
              </div>
              <div class="col-sm-4">
                <p class="font-weight-bold">Phone</p>
              </div>
              <div class="col-sm-8">
                <p>{{ member.contact }}</p>
              </div>
              <div class="col-sm-4">
                <p class="font-weight-bold">Emergency Contact Number</p>
              </div>
              <div class="col-sm-8">
                <p>{{ member.emergency_contact }}</p>
              </div>
              <div class="col-sm-12">
                <hr>
              </div>
              <div class="col-sm-4">
                <p class="font-weight-bold">Package Name</p>
              </div>
              <div class="col-sm-8">
                <p>{{ selectedProduct.name }}</p>
              </div>
              <div class="col-sm-4">
                <p class="font-weight-bold">Recurring Payment</p>
              </div>
              <div class="col-sm-8">
                <p>RM {{ selectedProduct.price | money }} Every {{ selectedProduct.type }} Months</p>
              </div>
              <div class="col-sm-4">
                <p class="font-weight-bold">Deposit</p>
              </div>
              <div class="col-sm-8">
                <p v-if="selectedProduct.deposit == '0.00'"> RM 0.00</p>
                <p v-else> RM {{ selectedProduct.deposit | money }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <hr>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-sm-4">
                <h3>
                  Total needs to collect
                </h3>
              </div>
              <div class="col-sm-8">
                <h3 class="font-weight-bold">
                  RM {{ selectedProduct.price + selectedProduct.deposit | money }}
                </h3>
              </div>
            </div>

          <button @click.prevent="prev()" class="btn btn-outline-primary btn-lg pull-left mt-4">Previous</button>
          <button @click="createTransaction()" class="btn btn-primary btn-lg pull-right mt-4">Confirm</button>

      </div>

    </div>
  </div>
</div>
</template>


<script>
export default {
  data() {
    return {
      step: 1,
      registration: {
        name: null,
        email: null,
        street: null,
        city: null,
        state: null,
        numtickets: 0,
        shirtsize: "XL"
      },
      packages: [],
      availablePackage: false,
      classes: [],
      day: [],
      start_date: "",
      start_class: null,
      selectedProduct: "",
      selectedLevel: '',
      selectedQuestion: [],
      selectedSwim: [],
      outlets: "",
      selectedOutlet: 24,
      selectedDay: "",
      selectedClass: "",
      selectedSession: {
        maximum: "",
        currentStudent: ""
      },
      checking: {
        test: ""
      },
      member: "",
      memberId: this.$route.params.id,
      questionnaire: '',
      classAvailable: [],
      checkPermission: true,
      today: '',
      memberAge: ''
    };
  },
  methods: {
    prev() {
      this.step--;
    },
    next() {
      this.step++;
    },
    getPackage(){
      console.log(this.today);
      axios
      .get("/api/package/get")
      .then(res => {
        // this.packages = res.data;
        for (var i = 0; i < res.data.length; i++) {
            for (var j = 0; j < res.data[i].outlets.length; j++) {
                if (res.data[i].outlets[j].id == this.member.outlet_id) {
                    this.packages.push(res.data[i]);
                }
            }
        }
        this.packages = this.packages.filter(
            pack => pack.validityFrom <= this.today && pack.validityTo >= this.today && pack.minAge <= this.memberAge && pack.maxAge >= this.memberAge
        );
  
        if(this.packages.length == '0'){
          this.$swal(
                "Sorry",
                "This Member Is Not Entitled For Existing Packages",
                "error"
              );
          this.$router.push("/member/" + this.memberId);
        }

      })
      .catch(err => {
        console.log(err);
      });
    },
    memberdetail(){
      this.$router.push("/customer");
    },
    selectPackage(p, index) {
      this.selectedProduct = p;
      this.selectedProduct.index = index;
      this.$store.commit("save", p);
      this.getClassAvailable();

      axios
        .get("/api/package/" + p.id)
        .then(res => {
          this.outlets = res.data.data.outlets;
          this.getPackCategory(res.data.data.category);
        })
        .catch(err => {
          console.log(err);
        });
    },
    getPackCategory(id){
      axios
        .get(`/api/master-data/package-category/${id}`)
        .then(res => {
          this.getQuestionnaire(res.data.package_category.id);
        })
    },
    getQuestionnaire(id){
      axios
        .get(`/api/questionnaire/${id}/category`)
        .then(res => {
          this.questionnaire = res.data;
          this.selectedQuestion = new Array(this.questionnaire.length);
          for (var i = 0; i < this.questionnaire.length; i++) {
            this.getOptions(this.questionnaire[i].id);
          }
        })
    },
    getOptions(id){
      axios
        .get(`/api/questionnaire/${id}/options`)
        .then(res => {
          for (var i = 0; i < this.questionnaire.length; i++) {
              // set array length
              for (var j = 0; j < res.data.data.length; j++) {
                  if (this.questionnaire[i].id == res.data.data[j].questionnaire_id) {
                    this.questionnaire[i].options.push(res.data.data[j]);
                  }
              }
          }
        })
    },
    addSelected(event, id){
      this.selectedSwim[id] = event.target.value;
      // var calc = id - 1;
      // for (var i = 0; i < this.selectedQuestion.length; i++) {
      //   if (calc === i) {
          this.selectedQuestion[id] = new Array(2);
          this.selectedQuestion[id][0] = id;                   // question id
          this.selectedQuestion[id][1] = event.target.value;   // option id
      //   }
      // }
      console.log(this.selectedQuestion);
    },
    getClassAvailable(){
      axios
      .get(`/api/class/get-all/${this.memberId}`)
      .then(res => {
        var data = res.data.filter(
          cl => cl.type === this.selectedProduct.type
        );
        var getDateOnly = data.map(function (item) {
            return item.day;
        });
        this.classAvailable = [...new Set(getDateOnly)];
        var sorter = {"monday": 1,"tuesday": 2,"wednesday": 3,"thursday": 4,"friday": 5,"saturday": 6,"sunday": 7}
        this.classAvailable.sort(function (a, b) {
            return sorter[a] - sorter[b];
        });
      });
    },
    fetchClass() {
      axios
      .get(`/api/class/get-all/${this.memberId}`)
      .then(res => {
        var data = res.data.filter(
          c => c.day === this.selectedDay && c.type === this.selectedProduct.type
        );
        var getLevelOnly = data.map(function (item) {
            return item.level;
        });
        this.classes = [...new Set(getLevelOnly)];
        // var sorter = {"L1": 1,"L2": 2,"L3": 3,"L4": 4,"L5": 5,"L6": 6,"Adult": 7}
        // this.classes.sort(function (a, b) {
        //     return sorter[a] - sorter[b];
        // });
      });
    },
    checkClass() {
      axios
      .get(`/api/class/get-all/${this.memberId}`)
      .then(res => {
        this.day = res.data.filter(
          cl => cl.level === this.selectedLevel && cl.day === this.selectedDay 
          // cl => cl.level === this.selectedLevel && cl.day === this.selectedDay && cl.type === this.selectedProduct.type
        );
      });

      this.checking = {
          test: ""
      };

      this.selectedSession = {
        maximum: "",
        currentStudent: ""
      };
    },
    checkAvailability() {
      axios
        .get("/api/class/" + this.selectedClass)
        .then(res => {
          this.selectedSession.maximum = res.data.data.maximum;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
        });

      axios
        .get("/api/class/student/" + this.selectedClass)
        .then(res => {
          var filterStudent = res.data.filter(
            c =>c.status === 'active'
          );
          this.selectedSession.currentStudent = filterStudent.length;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          console.log(err);
        });
    },
    createTransaction() {
      this.$swal({
        title: "Are you sure?",
        text: "You can't revert your action",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Approve it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          var params = {};
          params.package_id = this.selectedProduct.id;
          params.outlet = this.selectedOutlet;
          params.classroom_id = this.selectedClass;
          params.start_date = this.start_date;
          params.questionnaire = this.selectedQuestion;
          
          if (this.selectedSession.currentStudent === this.selectedSession.maximum) {
            params.status = "waiting";
          } else {
            params.status = "active";
          }
          console.log(params);
          axios
            .put("/api/transaction/" + this.memberId, params)
            .then(res => {
              this.$swal(
                "Awesome",
                "You have created the transaction",
                "success"
              );
              this.$router.push("/member/" + this.memberId);
            })
            .catch(err => {
              this.$swal("Ops", "Something wrong", "danger");
            });
        } else {
          this.$swal(
            "Cancelled",
            "This transaction still not create yet",
            "info"
          );
        }
      });
    }
  },
  created() {
    var date = new Date();
    this.today = date.getFullYear() + '-' + ((date.getMonth()+1)<10 ? '0' : '') + (date.getMonth()+1) + '-' + (date.getDate()<10 ? '0' : '') + date.getDate();

    axios
      .get("/api/member/" + this.memberId)
      .then(res => {
        this.member = res.data.data;
        // calculate member age
        var dob = new Date(this.member.birthday);
        var today = new Date();
        this.memberAge = Math.ceil((today-dob) / (365.25 * 24 * 60 * 60 * 1000));

        this.getPackage();
      })
      .catch(err => {
        this.checkPermission = false;
        if (err.response.status == 401) {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'You cannot access',
              type: 'error',
              duration: 5000
          });
      }
      });

    axios.get(`/api/class/get-all/${this.memberId}`).then(res => {
      this.classes = res.data.filter(c => c.level === "L1");
    });
  }
};
</script>


<style lang="scss" scoped>
.card__product {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
}
.card__mark {
  position: absolute;
  top: -20px;
  right: -20px;
  display: none;
  &__block {
    display: block;
  }
  &__circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #00897b;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 1.5rem;
      color: #ffffff;
    }
  }
}
</style>
