<template>
	<div class="card mt-3">
		<div class="card-header">
			<span class="text-left">Progress</span>
		</div>
    	<div class="card-body">
            <div v-if="calcProgress !== 0">
                <h4>{{ syllabusName }}</h4>
                <div class="progress mb-3">
                    <div id="dynamic" class="progress-bar bg-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span id="current-progress"></span>
                    </div>
                </div>
            </div>
            <div v-else>
                <h4>No Data</h4>
            </div>
    	</div>
    </div>
</template>

<script>
export default {
  data() {
    return {
    	classId: this.$route.params.id,
        syllabusName : '',
        calcProgress: ''
    };
  },
  methods: {
    progress(){
        axios
            .get(`/api/member/progress/${this.classId}`)
            .then(res => {
                var array = [];
                this.syllabusName = res.data.syllabus.name;
                var count = res.data.count;
                for (var i = 0; i < res.data.class_syllabus.length; i++) {
                    array.push(res.data.class_syllabus[i].question_id);    // to calculate how many question already answered
                }

                // set the progress bar
                let unique = [...new Set(array)];
                this.calcProgress = ( unique.length / count ) * 100;
                $("#dynamic").css("width", this.calcProgress + "%").attr("aria-valuenow", this.calcProgress).text(this.calcProgress + "% Complete");
            })
            .catch(err => {
                console.log(err.data);
            });
    }
  },
  created() {
    this.progress();
  }
};
</script>