<template>
  <form  v-on:submit="checkout()">
  <div class="card mt-3">
    <div class="card-header" style="display:flex; justify-content:space-between;">
      <h4 class="card-title">Exams Checklist</h4>
    </div>

    <!-- <div > -->
    
      <div class="card-body card-border" v-for="(ques,index) in question">
        <input type="checkbox" :value="ques.result" v-model="ques.result" true-value="1" false-value="0"><span class="checkbox-label" :@change="check()"> {{index + 1}} - {{ ques.question | capitalize}}</span>
          <div class="separate-line"></div>
      </div>
    

    <!-- </div> -->

    <div class="card-body" v-if="Object.keys(question).length === 0">
      <h4>No Data</h4>
    </div>

    
  </div>
  <button v-if="Object.keys(question).length > 0" type="submit" class="btn btn-sm btn-primary">Submit</button>
</form>
</template>


<script>
export default {
  data() {
    return {
      questionId: this.$route.params.id,
      question: [],
      dup:[],
      answers:[],
      selected:['1'],
      selectedLocations: [
        { text: 'Orange' },
        { text: 'Apple' },
        { text: 'Pineapple' },
        { text: 'Grape' }
      ],
    };
  },
  methods: {
    check(){
      // console.log(this.question);
    },
    checkout(){

      event.preventDefault();
      // console.log('submitted');
      // console.log(this.question);

      for (var i = 0; i < this.question.length; i++) {

        console.log(this.question[i].result);
        
        var result = {question:this.question[i].id, answer:this.question[i].result};
            this.answers.push(result);
      }

      // console.log('check value');
      // console.log(this.answers);


      axios
        .post(`/api/member/questionnaire/${this.$route.params.id}/submit`,this.answers)
        .then(res => {
          this.memberId = res.data.user_id;
          this.userQuestionnaire();
          this.$router.push("/member/"+ this.memberId);
          // console.log('sample');
          // console.log(this.sample);
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    userQuestionnaire(){
      this.question = [];
      this.dup = [];
      this.answer = [];
      axios
        .get("/api/member/questionnaire/" + this.questionId)
        .then(res => {
         
          for (var i = 0; i < res.data.length; i++) {

            var obj = {id:res.data[i].id, name:'answers['+res.data[i].id+']', value:res.data[i].result, text:res.data[i].question };
            this.question.push(obj);
            this.dup.push(obj);


            console.log(this.question);
            // this.getQuestion(res.data[i].question_id);
            // this.getOptions(res.data[i].option_id);
          }

          this.question = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    // getQuestion(id){
    //   axios
    //     .get(`/api/questionnaire/${id}`)
    //     .then(res => {
    //       this.question.push(res.data.question);
    //     })
    //     .catch(err => {
    //       this.$notify({
    //           group: 'foo',
    //           title: 'Ops',
    //           text: 'Please contact administrator',
    //           type: 'error',
    //           duration: 5000
    //         });
    //     });
    // },
    // getOptions(id){
    //   axios
    //     .get(`/api/questionnaire/${id}/option`)
    //     .then(res => {
    //       this.options.push(res.data.options);
    //     })
    //     .catch(err => {
    //       this.$notify({
    //           group: 'foo',
    //           title: 'Ops',
    //           text: 'Please contact administrator',
    //           type: 'error',
    //           duration: 5000
    //         });
    //     });
    // }
  },
  created() {
      this.userQuestionnaire();
  },
  mounted(){
  },
};
</script>
<style scoped>
.card-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn {
  padding: 0.375rem 1.75rem!important;
}

input, select {
    width: 2%!important;
}
</style>