<template>
	<div class="card mt-3">
		<div class="card-header">
      <span class="text-left">Replacement Documents</span>
    </div>
      <div class="card-body">
            <div id="people">
              <v-client-table :columns="columns" :data="documents" :options="options">

                <div slot="index" slot-scope="props">{{ props.index }}</div>

                <div slot="date" slot-scope="props">{{ props.row.created_at | moment("Do MMMM YYYY") }}</div>

                <div slot="action" slot-scope="props">
                    <!-- <a href="newsletter_01.pdf" target="_blank">Read more</a> -->
                    <button class="btn btn-outline-info" @click="openDocument(props.row.document)">
                      View
                    </button>
                    <!-- <a href="http://example.com" onclick="window.open(this.href, '_blank', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">Example Link</a> -->
                    <!-- <button class="btn btn-outline-danger" @click="deleteAttendance(props.row.id)">
                      Delete
                    </button> -->
                </div>
                

              </v-client-table>
            </div>

      </div>
	</div>

</template>

<script>
import moment from 'moment';


export default {
  name: "Attendance",
  props: ['id'],
  data() {
    return {
      // memberId: '1001768',
      // classId: '192',
      // packageId: '60',
      package_user_id:this.$route.params.package_user_id,
      columns: ['index', 'date', 'action'],
        options: {
            headings: {
                index: 'No.',
                date: 'Date',
                action: 'Action'
            },
            sortable: ['date', 'time'],
            filterable: ['date', 'time']
        },
      documents: [],
      package:'',
    };
  },
  methods: {
    getDocuments(){
       axios
          .get(`/api/attendance/replacemet_attachments/${this.package_user_id}`)
          .then( res => {
              this.documents = res.data;
          })
          .catch( err => {
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'No record exist for this member',
                type: 'error',
                duration: 5000
              });
          });
    },
    openDocument(link) {   
      window.open(link, "_blank");    
    }
  },
  created() {
    console.log('hi its called package_user');
    console.log(this.$route.params.package_user_id);
    this.getDocuments();
    this.getpackage();
  }
};
</script>
