<template>
	
	<div class="card mt-3">
		<div class="card-header">
			<div>
				<i class="fa fa-edit"></i> Member Update Payment Log
			</div>
		</div>
    <div class="container">
        <!-- <button class="btn btn-danger pull-right mt-2" @click="memberTerminate(packageUserId)">Terminate Member</button> -->
    </div>
    <form v-on:submit="updatePaymentLog()">
			<div class="card-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6" v-model="packageUser.deposit">
            <div class="form-group">
              <label class="font-weight-bold">Package Advance Fee</label>
              <input class="form-control" type="text" v-model="packageUser.deposit">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">Package Expiry Date</label>
              <datepicker :format="customFormatter1" :minimumView="'month'" :maximumView="'month'" :placeholder="packageUser.expiry" :disabledDates="disabledDates" ref="expiry" v-model="packageUser.expiry"></datepicker>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6" >
            <div class="form-group">
              <label class="font-weight-bold">Outstanding Amount</label>
              <input  class="form-control" type="text" v-model="packageUser.outstanding" name="outstanding" ref="outstanding">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">Next Order Month</label>
              <datepicker :format="customFormatter2" :minimumView="'month'" :maximumView="'month'" :placeholder="ordersub.month" :disabledDates="disabledDates" name="month" v-model="ordersub.month"></datepicker>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">Package</label>
              <select class="form-control" v-model="packageUser.package">
                <option v-for="package in packageOption" :value="package.value">
                {{ package.text }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">Status</label>
              <select class="form-control" v-model="packageUser.status" @change="status_start_date(packageUser.status)">
                <option v-for="status in statusOption" :value="status.value">
                {{ status.text }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6" v-if="show_start">
            <div class="form-group">
              <label class="font-weight-bold">Status Start Date</label>
              <datepicker :format="customFormatter3" :minimumView="'month'" :maximumView="'month'" :placeholder="selectedDate" name="status_start" v-model="selectedDate" @closed="check_payment(selectedDate)"></datepicker>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6" v-if="show_edit">
            <div class="form-group">
              <label class="font-weight-bold">Change Paid Month</label>
              <datepicker :format="customFormatter4" :minimumView="'month'" :maximumView="'month'" :placeholder="selectedPaymentDate" name="payment_check" v-model="selectedPaymentDate" @closed="enable_btn()" :disabled-dates="disabledDates"></datepicker>
            </div>
          </div>
        </div>
        <button class="btn btn-primary pull-right" type="submit" :disabled="submit_check">Update</button>
      </div>
    </form>
	</div>
</template>

<script>
import Autocomplete from 'vuejs-auto-complete';
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import moment from 'moment';

export default {
  components: {
    Datepicker
  },
  data() {
    return {
      packageUserId: this.$route.params.id,
      memberId: this.$route.params.memberid,
      packages: [],
      packageList: [],
      collection: {},
      category: '',
      statusOption: [],
      packageOption: [],
      current: '',
      currentPackage: '',
      subscription: '',
      order:[],
      ordersub:[],
      packageUser:[],
      submit_check: false,
      show_start:false,
      show_edit:false,
      year:'',
      month:'',
      expiry:'',
      original_status:'',
      selectedDate:'',
      selectedPaymentDate:'',
      previousPayments:'',
      change_paid_order:false,
      // disabledDates: {
      //   to: new Date(Date.now() - 8640000)
      // },
      disabledDates: {
          to: new Date(2020, 8, 1),
          from:''
        },
    };
  },
  methods: {
    getMemberData() {
    axios
      .get("/api/member/latest_order/" + this.packageUserId)
      .then(res => {
          this.order = res.data;
      });

    axios
      .get("/api/member/member_package_user/" + this.packageUserId)
      .then(res => {
          this.packageUser = res.data;
          this.packageUser.deposit = this.packageUser.deposit.toFixed(2);
          this.packageUser.outstanding = this.packageUser.outstanding.toFixed(2);
          this.packageUser.expiry = moment(this.packageUser.expiry, 'YYYY-MM-dd').format("D MMM YYYY");
          this.original_status = this.packageUser.status;
          this.packageUser.package = this.packageUser.packages.id;
          var package_first_data = {value:this.packageUser.packages.id, text:this.packageUser.packages.name};
          this.packageOption.push(package_first_data);
          // console.log('check this out');
          // console.log(this.packageUser.current_package);
          if(this.packageUser.status == 'freeze'){
            
            this.statusOption = [
              {value:'freeze', text:'Freeze'},
              {value:'active', text:'Active'},     
            ];

          }else if(this.packageUser.status == 'active'){
            
            this.statusOption = [
              {value:'active', text:'Active'},
              {value:'freeze', text:'Freeze'},
              {value:'terminate', text:'Terminate'},
              {value:'stop', text:'Stop'},        
            ];

          }else if(this.packageUser.status == 'terminate'){
            
            this.statusOption = [
              {value:'terminate', text:'Terminate'},
              // {value:'active', text:'Active'},    
            ];

          }else{
            
            this.statusOption = [
              {value:'stop', text:'Stop'}, 
              {value:'active', text:'Active'}, 
            ];

          }
      });

    axios
      .get("/api/member/member_ordersubscription/" + this.packageUserId)
      .then(res => {
          this.ordersub = res.data;
          this.ordersub.month = parseInt(this.ordersub.month) + 1;
          if(this.ordersub.month == '13'){
            this.ordersub.month = '1';
            this.ordersub.year = this.ordersub.year + 1;
          }
          console.log(this.ordersub.month);
          this.ordersub.month = this.ordersub.month+' '+this.ordersub.year;
          this.ordersub.month = moment(this.ordersub.month, 'M YYYY').format("MMMM YYYY");
          console.log(this.ordersub.month);
      });

    },
    getPackage(){
    axios
        .get("/api/package")
        .then(res => {
          // this.packages = res.data;
          
          for(var i=0;i<res.data.length;i++){
            if(res.data[i].name != this.packageUser.packages.name && res.data[i].category == 'SWIMMING') {
              
              var package_data = {value:res.data[i].id , text:res.data[i].name}
              
              this.packageOption.push(package_data);
            }
          }
        })
        
    },
    status_start_date(status){
      if(status == 'terminate' && this.original_status != status){
        this.show_start = true;
      }else if(status == 'freeze' && this.original_status != status){
        this.submit_check = true;
        this.show_start = true;
      }else{
        this.show_start = false;
      }
    },
    check_payment(date){
      // console.log('hi');
      // console.log(this.selectedDate);
      // var date = new Date();
      var month = moment(date).format('MM');
      var year = moment(date).format('YYYY');
      
      var fdate = new Date(year, month - 1, 1);
      var selectdate = moment(fdate).format('YYYY-MM-DD');

      console.log('check_date');
      console.log(selectdate);


      var pay_month = moment(selectdate).format('MM');
      var pay_year = moment(selectdate).format('YYYY');
      // alert(pay_month+'----'+pay_year);
      this.disabledDates.to = new Date(pay_year, pay_month, 1);

      axios
      .get(`/api/member/check_payment/${this.packageUserId}/${selectdate}`)
      .then(res => {
        console.log(res.data.status);

        if(res.data == 'not_paid'){
          this.submit_check = false;

        }else{
          this.submit_check = true;
          this.previousPayments = res.data;

          this.$swal({
            title: 'This member had paid for the selected month, Would you like to change?',
            text: "By clicking Yes,Proceed you may change the paid date,By Cancel No changes will effect",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Proceed!'
          }).then((result) => {

            if (result.value) {

              this.show_edit = true;

              // this.$swal({
              //   title: 'Terminated!',
              //   text: "You Had Successfully Terminated This Member.",
              //   type: 'success',
              //   showCancelButton: false,
              //   showConfirmButton: false,
              //   confirmButtonText: 'Yes Delete it!',
              //   cancelButtonText: 'No, Keep it!',
              //   showCloseButton: false,
              //   allowOutsideClick: false,
              //   closeOnClickOutside: false,
              //   closeOnEsc: false,
              //   allowEscapeKey : false,
              // })
              // axios
              // .get("/api/member/hard_terminate/" + this.$route.params.id)
              // .then(res => {
              //   console.log(res.data);
                
              //   this.$router.push("/member/" + this.$route.params.memberid);
              //   this.$swal.close();
              // })
            }
          })
        }
      })
    },
    enable_btn(){
        this.submit_check = false;
        this.change_paid_order = true;
    },
    update_payment(){
      console.log(date);
      
    },
    memberTerminate(packageUserId){
      this.$swal({
        title: 'Are you sure want to terminate?',
        text: "This action will terminate without validation, Once proceed you won't be able to revert this action!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Proceed!'
      }).then((result) => {
        if (result.value) {
          this.$swal({
            title: 'Terminated!',
            text: "You Had Successfully Terminated This Member.",
            type: 'success',
            showCancelButton: false,
            showConfirmButton: false,
            confirmButtonText: 'Yes Delete it!',
            cancelButtonText: 'No, Keep it!',
            showCloseButton: false,
            allowOutsideClick: false,
            closeOnClickOutside: false,
            closeOnEsc: false,
            allowEscapeKey : false,
          })
          axios
          .get("/api/member/hard_terminate/" + this.$route.params.id)
          .then(res => {
            console.log(res.data);
            
            this.$router.push("/member/" + this.$route.params.memberid);
            this.$swal.close();
          })
        }
      })
    },
    customFormatter1(date) {
      return moment(date).format("D MMM YYYY");
    },
    customFormatter2(date) {
      return moment(date).format('MMMM YYYY');
    },
    customFormatter3(date) {
      var today = new Date(date);
      var month = today.getMonth();
      var year = today.getFullYear();
      var lastDate = new Date(year, month, 1);
      return moment(lastDate).format('DD MMMM YYYY');
    },
    customFormatter4(date) {
      var today = new Date(date);
      var month = today.getMonth();
      var year = today.getFullYear();
      var lastDate = new Date(year, month, 1);
      return moment(lastDate).format('DD MMMM YYYY');
    },
    expiry_setter(){

    },
    month_setter(){

    },
    updatePaymentLog(){
      console.log('hi');
      this.collection.expiry = moment(this.packageUser.expiry, 'D MMM YYYY').format("YYYY-MM-DD");
      this.collection.deposit = this.packageUser.deposit;
      this.collection.id = this.packageUser.id;
      this.collection.package_id  = this.packageUser.package;
      this.collection.outstanding = this.packageUser.outstanding;
      this.collection.month = moment(this.ordersub.month, 'MMMM YYYY').format("M") - 1;
      this.collection.year = moment(this.ordersub.month, 'MMMM YYYY').format("YYYY");
      this.collection.start = moment(this.selectedDate, 'DD MMMM YYYY').format("YYYY-MM-DD");
      this.collection.status = this.packageUser.status;
      console.log('final check');
      console.log(this.packageUser.package);
      if(this.packageUser.classroom == null){
        this.collection.classroom_id = '';
      }else{
        this.collection.classroom_id = this.packageUser.classroom.classroom_id;
      }
      //console.log(this.collection);
      // this.update_payment();
      if(this.collection.status == 'freeze' && this.change_paid_order == true){
        console.log('it entered the freeze compound');
        this.selectedPaymentDate = moment(this.selectedPaymentDate).format('YYYY-MM-DD');
        console.log(this.previousPayments);
        axios
        .post(`/api/member/update_payment/${this.packageUserId}/${this.selectedPaymentDate}`, this.previousPayments)
        .then(res => {
          this.submit_check = false;
        });
      }

      event.preventDefault();
      this.$swal({
        title: "Are you sure?",
        text: "You can't revert your action",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Proceed Changes!",
        cancelButtonText: "No, Discard changes!",
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          //console.log(this.month);
          console.log(this.expiry);
          //console.log(this.year);
          axios
          .post("/api/member/payment_log/package_user/"+this.collection.id, this.collection)
          .then(res => {
            this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'The member successful updated.',
                type: 'success',
                duration: 5000
            });
            // this.update_payment();
              this.$router.push("/member/"+ this.packageUser.user_id );
          })
          .catch(err => {
              console.log(err);
          });
        } 
        // else {
        //   this.$swal(
        //     "Cancelled",
        //     "This transaction still not create yet",
        //     "info"
        //   );
        // }
        

      });
    }
  },
  created() {
  	this.getMemberData();
    this.getPackage();
    var today_date = new Date();
    this.selectedDate = moment(today_date).format('DD MMMM YYYY');
    this.selectedPaymentDate = moment(today_date).format('DD MMMM YYYY');
  }
};
</script>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}
</style>