<template>
	<div v-if="checkPermission">
		<page-header class="compact">
			<router-link class="btn btn-primary btn-sm" :to="{name: 'member.package',  params: { id: memberId } }" >
                    Add Package
                </router-link>
			<!-- <router-link class="btn btn-outline-primary" :to="{name: 'member.transfer',  params: { id: memberId } }" >
                    Merge
                </router-link> -->
		</page-header>
		<div class="card mt-3">
			<div class="card-header">
				<div class="col-xs-12 col-sm-4 compact">
					<i class="fa fa-user mr-2"></i> Member Information
				</div>
				<div class="col-xs-12 col-sm-8 compact mt-0">
					<router-link :to="{name: 'member.edit',  params: { id: memberId } }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right m-0" style="margin-left: 2vmin;">Edit</button>
			        </router-link>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12">
						<p>
							<!-- <img v-if="member.avatar !=null" :src="'/storage/' + member.avatar" class="img-fluid rounded-circle" width="150" height="auto" /> -->
							<img v-if="member.avatar !=null" :src="member.avatar" @error="(() => member.avatar = null)" class="img-fit image_view rounded-circle"/>
							<img v-else src="/images/default-avatar.png" class="image_view rounded-circle" width="150" height="auto" />
						</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Member ID</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p><code>{{ member.id }}</code></p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Name</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ member.name | capitalize }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Birthday</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ member.birthday | moment("Do MMMM YYYY")}} ({{ member.birthday | age }})</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Gender</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ member.gender }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Health Condition</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<ul>
							<li v-for="health in healths">
								{{ health}}
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Joined Date</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ member.join_date | moment("Do MMMM YYYY") }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact mt-2">
						<p class="font-weight-bold">Parent</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact mt-2">
						<p v-if="member.parent">
							<router-link class="btn btn-outline-primary btn-sm" :to="{ name: 'customer.view', params: { id: member.parent.id } }">{{ member.parent.name }}</router-link>
						</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact mt-2">
						<p class="font-weight-bold">Payment History</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact mt-2">
						<p v-if="member.parent">
							<router-link class="btn btn-outline-primary btn-sm" :to="{ name: 'customer.payment', params: { id: member.parent.id } }">View Payment History</router-link>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="card mt-3" v-for="e in member.emergency" :key="e.id">
			<div class="card-header">
				<div>
					<i class="fa fa-user mr-2"></i> Emergency Contact
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Emergency Contact Name</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ e.name }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Relationship</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ e.relationship }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Contact Number</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ e.contact }}</p>
					</div>
				</div>
			</div>
		</div>


		<div class="card mt-3" v-for="(packageUser,index) in packageUser" v-bind="packageUser" :key="packageUser.id">
			<div class="card-header">

				<div class="col-xs-12 col-sm-3 compact" v-if="packageUser.classDetail != null && packageUser.classDetail.type === 'Private'">
					<i class="fa fa-user mr-2"></i>Package: {{ packageUser.packages.name }}
				</div>
				<div class="col-xs-12 col-sm-3 compact" v-else-if="packageUser.classDetail != null && packageUser.classDetail.type === 'Competitive'">
					<i class="fa fa-user mr-2"></i>Package: {{ packageUser.packages.name }}
				</div>
				<div class="col-xs-12 col-sm-3 compact" v-else-if="packageUser.classDetail != null && packageUser.classDetail.type === 'PRE-COM'">
					<i class="fa fa-user mr-2"></i>Package: {{ packageUser.packages.name }}
				</div>
				<div class="col-xs-12 col-sm-4 compact" v-else>
					<i class="fa fa-user mr-2"></i>Package: {{ packageUser.packages.name }}
				</div>
				<!-- if this member has class private package-->
				<div class="col-xs-12 col-sm-9 compact" v-if="packageUser.classDetail != null && packageUser.classDetail.type === 'Private'">
					<!-- <button class="btn btn-outline-danger pull-right mr-2 mt-0" @click="deleteinventory(packageUser.id,classroom[index].id)">Delete</button> -->
					<router-link :to="{name: 'member.editpackage',  params: { id: packageUser.id, memberid: memberId } }" > 
			          	<button v-if="!newpackage[index]" class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Edit Package</button>
			        </router-link>
			        <router-link :to="{name: 'member.editstatus',  params: { id: packageUser.id, class: packageUser.classDetail.id, memberid: memberId} }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Edit Status</button>
			        </router-link>
			        <router-link :to="{name: 'member.manualcreateorder',  params: { id: packageUser.id, memberid: memberId} }" > 
			        	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" @click="createOrder(packageUser.user_id, packageUser.id)">Create Bill Order</button>
			        </router-link>
			        <router-link :to="{name: 'member.addClass',  params: { id: packageUser.user_id, packuserId: packageUser.id } }" > 
			          	<button v-if="!newpackage[index]" class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Add Class</button>
			        </router-link>
			        <router-link :to="{name: 'member.updatepaymentlog',  params: { id: packageUser.id, memberid: memberId} }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;" v-if="current_access.role_id == 2">...</button>
			        </router-link>
				</div>
				<!-- if this member has class Competitive package-->
				<div class="col-xs-12 col-sm-9 compact" v-else-if="packageUser.classDetail != null && packageUser.classDetail.type === 'Competitive'">
					<!-- <button class="btn btn-outline-danger pull-right mr-2 mt-0" @click="deleteinventory(packageUser.id,classroom[index].id)">Delete</button> -->
					<router-link :to="{name: 'member.editpackage',  params: { id: packageUser.id, memberid: memberId } }" > 
			          	<button v-if="!newpackage[index]" class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Edit Package</button>
			        </router-link>
			        <router-link :to="{name: 'member.editstatus',  params: { id: packageUser.id, class: packageUser.classDetail.id, memberid: memberId} }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Edit Status</button>
			        </router-link>
			        <router-link :to="{name: 'member.manualcreateorder',  params: { id: packageUser.id, memberid: memberId} }" > 
			        	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" @click="createOrder(packageUser.user_id, packageUser.id)">Create Bill Order</button>
			        </router-link>
			        <router-link :to="{name: 'member.addClass',  params: { id: packageUser.user_id, packuserId: packageUser.id } }" > 
			          	<button v-if="!newpackage[index]" class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Add Class</button>
			        </router-link>
			        <router-link :to="{name: 'member.updatepaymentlog',  params: { id: packageUser.id, memberid: memberId} }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;" v-if="current_access.role_id == 2">...</button>
			        </router-link>
				</div>
				<!-- if this member has class PRE-COM package-->
				<div class="col-xs-12 col-sm-9 compact" v-else-if="packageUser.classDetail != null && packageUser.classDetail.type === 'PRE-COM'">
					<!-- <button class="btn btn-outline-danger pull-right mr-2 mt-0" @click="deleteinventory(packageUser.id,classroom[index].id)">Delete</button> -->
					<router-link :to="{name: 'member.editpackage',  params: { id: packageUser.id, memberid: memberId } }" > 
			          	<button v-if="!newpackage[index]" class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Edit Package</button>
			        </router-link>
			        <router-link :to="{name: 'member.editstatus',  params: { id: packageUser.id, class: packageUser.classDetail.id, memberid: memberId} }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Edit Status</button>
			        </router-link>
			        <router-link :to="{name: 'member.manualcreateorder',  params: { id: packageUser.id, memberid: memberId} }" > 
			        	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" @click="createOrder(packageUser.user_id, packageUser.id)">Create Bill Order</button>
			        </router-link>
			        <router-link :to="{name: 'member.addClass',  params: { id: packageUser.user_id, packuserId: packageUser.id } }" > 
			          	<button v-if="!newpackage[index]" class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Add Class</button>
			        </router-link>
			        <router-link :to="{name: 'member.updatepaymentlog',  params: { id: packageUser.id, memberid: memberId} }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;" v-if="current_access.role_id == 2">...</button>
			        </router-link>
				</div>
				<!-- if this member has class package-->
				<div class="col-xs-12 col-sm-8 compact" v-else-if="packageUser.classDetail != null && packageUser.classDetail.type !== 'Private'">
					<!-- <button class="btn btn-outline-danger pull-right mr-2 mt-0" @click="deleteinventory(packageUser.id,classroom[index].Id)">delete</button> -->
					<router-link :to="{name: 'member.editpackage',  params: { id: packageUser.id, memberid: memberId } }" > 
			          	<button v-if="!newpackage[index]" class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Edit Package</button>
			        </router-link>
			        <router-link v-if="packageUser.status != 'freeze'" :to="{name: 'member.editstatus',  params: { id: packageUser.id, class: packageUser.classDetail.id, memberid: memberId} }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Edit Status</button>
			        </router-link>
			        <router-link :to="{name: 'member.manualcreateorder',  params: { id: packageUser.id, memberid: memberId} }" > 
			        	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" @click="createOrder(packageUser.user_id, packageUser.id)">Create Bill Order</button>
			        </router-link>
			        <router-link :to="{name: 'member.updatepaymentlog',  params: { id: packageUser.id, memberid: memberId} }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;" v-if="current_access.role_id == 2">...</button>
			        </router-link>
				</div>
				<!-- if member dont has class package -->
				<div class="col-xs-12 col-sm-8 compact" v-else>
					<!-- <button class="btn btn-outline-danger pull-right mr-2 mt-0" @click="deleteinventory(packageUser.id)">Delete</button> -->
					<router-link :to="{name: 'member.manualcreateorder',  params: { id: packageUser.id, memberid: memberId} }" > 
			        	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" @click="createOrder(packageUser.user_id, packageUser.id)">Create Bill Order</button>
			        </router-link>
					<router-link :to="{name: 'member.addClass',  params: { id: packageUser.user_id, packuserId: packageUser.id } }" > 
			          	<button v-if="!newpackage[index]" class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Add Class</button>
			        </router-link>
			        <router-link :to="{name: 'member.editstatus',  params: { id: packageUser.id, memberid: memberId} }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;">Edit Status</button>
			        </router-link>
			        <router-link :to="{name: 'member.updatepaymentlog',  params: { id: packageUser.id, memberid: memberId} }" > 
			          	<button class="btn btn-outline-info btn-sm pull-right mr-2 mt-0" style="margin-left: 2vmin;" v-if="current_access.role_id == 2">...</button>
			        </router-link>
				</div>
			</div>

			<div class="card-body">
				<div class="row">
					<!-- <div class="col-xs-12 col-sm-4">
						<p class="font-weight-bold">Member ID</p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<p><code>{{ packageUser.user_id }}</code></p>
					</div> -->
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Package Status</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ packageUser.status | capitalize }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Freeze Period</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact" v-for="(stfreeze,index) in statusfreeze" v-if="stfreeze.id == packageUser.id">
						<span>{{stfreeze.text }}<a v-if="stfreeze.text != '-'" @click="updateFreeze(packageUser.id,memberId)" class="ml-2 text-info pointer">Edit Freeze Period</a></span>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Termination</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact" v-for="(stterminate,index) in statusterminate" v-if="stterminate.id == packageUser.id">
						<span v-if="stterminate.display == 'true'">{{ stterminate.text }}</span>
						<span v-else> - </span>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Package Type</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ packageUser.class }} Package</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Class</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>
							<span v-if="packageUser.packages.access === -1">Unlimited</span>
							<span v-else>{{ packageUser.packages.access }}</span>
							lessons a month
						</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Outlet</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ packageUser.outlet.name }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Package Start Date</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>
							<span>{{ packageUser.start_date | moment("MMMM YYYY") }} <a @click="updateMonth(packageUser.id,packageUser.packages.subscription,packageUser.start_date,memberId)" class="ml-2 text-info pointer">Change Month</a></span>
						</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Class Level</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>
							<span v-if="packageUser.classDetail != null && (packageUser.status == 'active' || packageUser.status == 'freeze')">{{ packageUser.classDetail.level }}</span>
							<span v-else>-</span>
						</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Swim Class</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>
							<span v-if="packageUser.classDetail != null && (packageUser.status == 'active' || packageUser.status == 'freeze')">{{ packageUser.classDetail.day | capitalize }} : {{ packageUser.classDetail.start | time }} - {{ packageUser.classDetail.end | time }}<a @click="showClass(packageUser.id)" class="ml-2 text-info pointer">All Classes</a></span>
							<span v-else>No Class</span>
						</p>
					</div>
					<!-- <div class="col-xs-12 col-sm-4">
						<p class="font-weight-bold">Start Date</p>
					</div>
					<div v-if="showModal === false && checkIndex !== index" class="col-xs-12 col-sm-8">
						<p>
							<span v-if="userStatusName[index] == 'active' ">{{ packageUser.start_date | moment("MMMM YYYY") }}</span>
							<span v-else>{{ userStatusName[index] | capitalize }} from {{ userStatusDate[index] | moment("MMMM YYYY") }}</span>
							&nbsp &nbsp &nbsp
							<button v-if="packageUser.status_start_date == '' " class="btn btn-primary btn-xs" id="show-modal" @click="showDate(index)">Edit Start Date</button>
						</p>
					</div>
					<div v-else class="col-xs-12 col-sm-8">
						<p>
			  				<datepicker :minimumView="'month'" :maximumView="'month'" v-model="start_date" :disabledDates="disabledDates"></datepicker>
							<button class="btn btn-primary btn-xs" id="close-modal" @click="editDate(packageUser.id,packageUser.package_id)">Submit</button>
						</p>
					</div> -->
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Instructor</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>
							<span v-if="packageUser.classDetail != null && (packageUser.status == 'active' || packageUser.status == 'freeze')">{{ packageUser.classDetail.coaches.name }}</span>
							<span v-else>-</span>
						</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Package Renewal</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>
							<span v-if="packageUser.status == 'terminate'">-</span>
							<span v-else-if="packageUser.order.monthly_payment != null">
							{{ packageUser.order.monthly_payment | moment("Do MMMM YYYY") }}
							</span>
							<span v-else>-</span>
						</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Package Expiry</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ packageUser.expiry | moment("Do MMMM YYYY") }}</p>
					</div>


					<!--  {{ packageUser.packages.name }} -->
					<div class="col-xs-12 col-sm-4 compact" v-if="packageUser.packages.auto_upgrade == '1'">
						<p class="font-weight-bold">Package Auto Upgrade Status</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact" v-if="packageUser.packages.auto_upgrade == '1'">
						<p  v-if="packageUser.auto_upgrade_status == '1'">Allowed  <a @click="autoUpgradeStatusEdit(packageUser.user_id, packageUser.id)" class="text-info pointer">Disable</a></p>

						<p  v-else>Not Allowed <a @click="autoUpgradeStatusReason(packageUser.auto_upgrade_reason)" class="text-info pointer">  Show Reason</a></p>
						<!-- <router-link :to="{name: 'member.questionnaire',  params: { id: packageUser.id } }" >
				          	See Result
				        </router-link> -->
						<!-- <p><button class="btn btn-outline-info mr-2" @click="editOption(packageUser.id)">See Result</button></p> -->
					</div>



					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Questionnaire</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<router-link :to="{name: 'member.questionnaire',  params: { id: packageUser.id } }" >
				          	See Result
				        </router-link>
						<!-- <p><button class="btn btn-outline-info mr-2" @click="editOption(packageUser.id)">See Result</button></p> -->
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Progress Tracking</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p v-if="packageUser.classDetail">
							<router-link :to="{ name: 'member.progress', params: { id: packageUser.classDetail.id  } }">See Full Progress</router-link>
						</p>
						<p v-else>-</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Attendance</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p v-if="packageUser.classDetail && packageUser">
							<router-link :to="{ name: 'member.attendance', params: { id: memberId, package_user_id: packageUser.id, package: packageUser.package_id, class: packageUser.classDetail.id} }">See Full Attendance</router-link>
						</p>
						<p v-else>-</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Member Level 
						<a @click="updateBadge(packageUser.id, packageUser.classDetail.level, packageUser.user_id)" class="text-info pointer"><i class="icon-plus ml-1"></i></a></p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p><a @click="viewBadges(packageUser.badge)" class="text-info pointer">View Badge</a></p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Member Remarks</p>
					</div>
					<div v-if="packageUser.remarks == null" class="col-xs-12 col-sm-8 compact">
						<p>{{ packageUser.remarks }} 
							<a @click="updateRemarks(packageUser.id, packageUser.classDetail.level, packageUser.user_id,packageUser.remarks)" class="text-info pointer"><i class="icon-plus"></i> Add</a>
						</p>
					</div>
					<div v-if="packageUser.remarks != null" class="col-xs-12 col-sm-8 ">
						<p>{{ packageUser.remarks }} 
							<a @click="updateRemarks(packageUser.id, packageUser.classDetail.level, packageUser.user_id,packageUser.remarks)" class="text-info pointer"><i class="fa fa-edit ml-1"></i> Edit</a>
						</p>
					</div>
					<div class="separate-line"></div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Monthly Payment</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>RM {{ packageUser.packages.price | money }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Last Payment</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ packageUser.lastPayment |
						 moment("Do MMMM YYYY") }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Outstanding Payment</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p v-if="packageUser.outstanding">RM {{ packageUser.outstanding | money }}</p>
						<p v-else>-</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Package Advance Fee</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>RM {{ packageUser.deposit | money }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Absent Alert</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>No Own Money To Outlet - 1st time alert</p>
					</div>

					<div class="separate-line"></div>

					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Replacement Credit</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p v-if="checkreplacement[index]">0
						</p>
						<p v-else>1</p>
					</div>
				</div>

				<div v-if="newpackage[index] != null" class="row">
					<div class="separate-line"></div>

					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">New Package</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>
							<span>{{ newpackage[index].name }}</span>
							&nbsp &nbsp &nbsp
							<!-- <button class="btn btn-danger btn-xs" id="show-modal" @click="deleteNewPackage(newpackage[index].id)">Delete New Package</button> -->
						</p>
					</div>

					<div class="col-xs-12 col-sm-4 compact">
						<p class="font-weight-bold">Start New Package</p>
					</div>
					<div class="col-xs-12 col-sm-8 compact">
						<p>{{ newpackage[index].start_date | moment("MMMM YYYY") }}</p>
					</div>
				</div>
			</div>
		</div>
    	<AddBadgeElement v-on:getMember="getMember()"></AddBadgeElement>
    	<AddRemarksElement></AddRemarksElement>
    	<ViewBadgeElement></ViewBadgeElement>
    	<UpdateMonthElement></UpdateMonthElement>
    	<UpdateFreezeElement></UpdateFreezeElement>
    	<ShowAllClassElement></ShowAllClassElement>
    	<createBill></createBill>
    	<EditAutoUpgradeStatus></EditAutoUpgradeStatus>
	</div>
</template>

<style lang="scss" scoped>
.badges {
  width: 100%;
  display: flex;
  .badge {
    margin: 0 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 1rem;
    }
    &__1 {
      background: #e91e63;
    }
    &__2 {
      background: #673ab7;
    }
    &__3 {
      background: #3f51b5;
    }
    &__4 {
      background: #9c27b0;
    }
    &__5 {
      background: #2196f3;
    }
    &__6 {
      background: #009688;
    }
  }
}
.imageBadge{
  height: 50px; 
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.separate-line {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
  margin: 10px 10px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.compact {
  height: 25px!important;
}
</style>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 50%;
}
.img-fit{
	object-fit: cover;
}
</style>

<script>
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import moment from 'moment';
import AddBadgeElement from "./element/AddBadgeElement.vue";
import AddRemarksElement from "./element/AddRemarksElement.vue";
import UpdateMonthElement from "./element/UpdateMonthElement.vue";
import UpdateFreezeElement from "./element/UpdateFreezeElement.vue";
import ShowAllClassElement from "./element/ShowAllClassElement.vue";
import ViewBadgeElement from "./element/ViewBadgeElement.vue";
import createBill from "./modal/createBill.vue";
import EditAutoUpgradeStatus from "./modal/EditAutoUpgradeStatus.vue";

export default {
	components: {
    	Datepicker,
    	AddBadgeElement,
    	AddRemarksElement,
    	UpdateMonthElement,
    	UpdateFreezeElement,
    	ViewBadgeElement,
    	createBill,
    	EditAutoUpgradeStatus,
    	ShowAllClassElement
  	},
  data() {
    return {
      isModal: false,
      memberId: this.$route.params.id,
      member: '',
      memberDetails: [],
      current_access:'',
      packageUser: [],
      orderUser: [],
      classroom: [],
      checkreplacement: [],
      coachname: [],
      tempOutletName: [],
      healths: [],
      userStatusName: [],
      userStatusDate: [],
      statusfreeze:[],
      statusterminate:[],
      showModal: false,
	  start_date: '',
	  checkIndex: null,
	  disabledDates: {
        to: new Date(Date.now() - 8640000)
      },
      newpackage: '',
      badgesImg: [],
      checkPermission: true,
      id_array:[]
    };
  },
  methods: {
  	getAccess(){
  	  axios
        .get("/api/user")
        .then(res => {
        	this.current_access = res.data;
        	//console.log(res.data);
        })
  	},
    getMember() {
      axios
        .get("/api/member/" + this.memberId)
        .then(res => {
         	 this.member = res.data.data;
         	 //console.log(this.member);

         	axios
	        .get("/api/member/package_user/"+ this.memberId)
	        .then(res => {

	         	this.packageUser= res.data;
				for (var i = 0; i < this.packageUser.length; i++) {
					this.id_array.push(this.packageUser[i].id);
				}
				console.log(this.packageUser);
	         	// this.getOutletName();
				this.getUserChangesPackage();
				// this.getNewPackage();
				// this.getOutletName();
				// this.getHealth();
	        })
	        .catch(err => {
	          //console.log(err.data);
	        });
	        
        })
        .catch(err => {
        	if (err.response.status == 401) {
	            this.$notify({
	                group: 'foo',
	                title: 'Ops',
	                text: 'You cannot access',
	                type: 'error',
	                duration: 5000
	            });
              	this.checkPermission = false;
	        }
        });
    },
    getUserChangesPackage(){
    	console.log('change');
    	for (var i = 0; i < this.id_array.length; i++) {
    		var id = this.id_array[i];
	    	axios
	        .get(`/api/member/changes_package/${id}`)
	        .then(res => {
	        	if(res.data.status != 'empty' && res.data.status == 'freeze'){
	        		var id = res.data.package_user_id;
	        		var startDate = moment(res.data.start_date).format('Do MMMM YYYY');
	        		var endDate = moment(res.data.end_date).format('Do MMMM YYYY');
	        		var freeze_duration = { id: id, text: startDate+' - '+endDate };
	        		var termination = { id: id, text: '-', display:'false'};

	        	}
	        	else if(res.data.status != 'empty' && res.data.status == 'terminate'){
	        		console.log('hi');
	        		var id = res.data.package_user_id;
	        		var today = new Date();
	        		var date = new Date(res.data.start_date);
	        		var addMonth = date.setMonth(date.getMonth()+1);
	        		var display ='';
	        		if(date > today && res.data.package_users.status == 'active'){
	        			console.log('exceed');
	        			display = 'true';
	        		}else if(res.data.package_users.status == 'terminate'){
	        			console.log('exceed');
	        			display = 'true';
	        		}else{
	        			console.log('not exceed');
	        			display = 'false';
	        		}
	        		var start = moment(date).format('Do MMMM YYYY'); 
	        		var termination = { id: id, text: start, display: display };
	        		var freeze_duration = { id: id, text:'-'};
	        	}
	        	else{
	        		var id = res.data.package_user_id;
	        		var freeze_duration = { id: id, text:'-'};
	        		var termination = { id: id, text: '-', display:'false'};
	        	}
	        	console.log(termination);
	        	console.log(freeze_duration);
	     		this.statusfreeze.push(freeze_duration);
	     		this.statusterminate.push(termination)
	     		
	        })
	        .catch(err => {
	         // console.log(err.data);
	        });
    	}
    	console.log(this.statusfreeze);
    },
    showDate(index){
    	this.checkIndex = index;
    	// if (this.checkIndex = index) {
    	// 	this.showModal = true;
    	// }
    	var date = this.packageUser[index].start_date;
    	this.start_date = date;
    	// console.log(date);
    },
    editDate(id,user_id){
    	this.start_date = moment(this.start_date, 'YYYY-MM-DD').format("YYYY-MM");
    	this.showModal = false;
    	this.checkIndex = null;

		axios
        .get(`/api/member/date/${id}/${this.start_date}/${user_id}`)
        .then(res => {
        	this.getMember();
        })
        .catch(err => {
         // console.log(err.data);
        });
	},
	getNewPackage(id){
		axios
        .get("/api/member/newpackage/"+ this.memberId + "/" + id)
        .then(res => {
          	// console.log(res.data);
          	this.newpackage = res.data.newpackage;
        })
        .catch(err => {
            //console.log(err);
        });
	},
    getOutletName(id) {
      axios
        .get("/api/outlets/" + id)
        .then(res => {
          this.tempOutletName.push(res.data.data.name);
        })
        .catch(err => {
          //console.log(err.data);
        });
    },
    getPackageUser(id) {
      axios
        .get("/api/member/package_user/" + id + "/" + this.memberId)
        .then(res => {
        	//console.log(res.data);
        	this.getOrder(res.data.id);
        	this.member = res.data;
         	this.packageUser.push(res.data);
        })
        .catch(err => {
          //console.log(err.data);
        });
    },
    getOrder(id) {
      axios
        .get("/api/member/member_order/" + id)
        .then(res => {
        	//console.log(res.data);
         	this.orderUser.push(res.data);
        })
        .catch(err => {
         // console.log(err.data);
        });
    },
    getHealth(id) {
      axios
        .get("/api/health/" + id)
        .then(res => {
	        this.healths.push(res.data.name);
        })
        .catch(err => {
          //console.log(err.data);
        });
    },
    getClassroom(id) {
      axios
        .get("/api/class/" + id)
        .then(res => {
          // console.log(res.data.data);
          this.classroom.push(res.data.data);
        })
        .catch(err => {
          //console.log(err.data);
        });

        // check replacement class
        axios
        .get(`/api/member/replacement/${id}/${this.memberId}`)
        .then(res => {
        	for (var i = 0 ; i <res.data.length; i++) {
        		this.checkreplacement.push(res.data[i]);
        		//console.log(this.checkreplacement);
        	}
        })
        .catch(err => {
         //console.log(err.data);
        });
    },
    updateBadge(id, level, memberId) {
    	this.$emit("openAddBadgeModal", id,level,memberId);
    },
    updateRemarks(id, level, memberId, remarks){
    	this.$emit("openRemarksModal", id,level,memberId,remarks);
    },
    viewBadges(id){
    	this.$emit("openViewBadgeModal", id);
    },
    updateMonth(id,subscription, date,memberId){
    	this.$emit("openUpdateMonthModal", id, subscription, date,memberId);
    },
    updateFreeze(id,memberId){
    	this.$emit("openUpdateFreezeModal", id,memberId);
    },
    showClass(id){
    	this.$emit("openShowAllClassModal", id);
    },
    createOrder(id, id2){
      this.$emit("openCreateOrderModal", id, id2);
    },
    autoUpgradeStatusEdit(id, id2){
    	this.$emit("openEditAutoUpgradeStatusModal", id, id2);
    },
    autoUpgradeStatusReason(message){
    	this.$swal({
    		title: 'Disabled Reason',
  			text: message,
    	});
    	this.$emit("openEditAutoUpgradeStatusModal", id, id2);
    },
    notifyError(){
    	this.$notify({
            group: 'foo',
            title: 'Ops',
            text: "This Package don't have Class",
            type: 'error',
            duration: 5000
      	});
    },
    deleteinventory(id, id2) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .get('/api/member/package/' + id + '/' + id2)
            .then(res => {
              this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'You have deleted the package.',
                type: 'success',
                duration: 5000
              });
              this.getMember();
            })
            .catch(err => {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    },
    deleteNewPackage(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .get('/api/member/newpackage/' + id )
            .then(res => {
              this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'You have deleted the new package.',
                type: 'success',
                duration: 5000
              });
              this.getMember();
            })
            .catch(err => {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    }
  },
  created() {
    this.getMember();
    this.getAccess();
    //console.log(this.memberId);
  }
};
</script>
