<template>
	<div class="mt-3">
		<!-- <label v-if="outletModel !== false">Outlet : </label>
        <select v-if="outletModel !== false" class="form-control status-width" v-model="selected_outlet" @change=getAllEvent>
          	<option v-for="option in filter_outlet" v-bind:value="option.id" >{{ option.name }}</option>
       	</select> -->
       	<div class="col-md-6 col-xs-12 row mb-4">
			<span class="p-0 col-md-2 col-xs-3 mt-2">Filter By: </span>
	        <div class="p-0 col-md-4 col-xs-3">
	            <select class="form-control" v-model="selectedMonth" @change="chageMonthYear()">
	              <option value="0">January</option>
	              <option value="1">February</option>
	              <option value="2">March</option>
	              <option value="3">April</option>
	              <option value="4">May</option>
	              <option value="5">June</option>
	              <option value="6">July</option>
	              <option value="7">August</option>
	              <option value="8">September</option>
	              <option value="9">October</option>
	              <option value="10">November</option>
	              <option value="11">December</option>
	            </select>
            </div>
            <div class="p-0 spacing col-md-4 col-xs-3">
              <select class="form-control" v-model="selectedYear" @change="chageMonthYear()" id="selectyear">
              	<option v-for="year in yearOption" :value="year.value">
              	{{ year.value }}
              </option>
              </select>
            </div>
        </div>
       	
       	<div class="mb-5">Today : {{ today | moment("Do MMMM YYYY") }}<button class="btn btn-info sales-button" @click="salesTargetModal()">Edit Sales Target</button></div>
       	
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<b-card>
					<div class="card-body">
						<div class="row ctr">	
							<vue-circle 
								ref="monthly"
					       		:progress="monthly_progress"
						        :size="100"
						        :reverse="false"
						        line-cap="round"
						        :fill="fill"
						        empty-fill="rgba(0, 0, 0, .1)"
						        :animation-start-value="0.0"
						        :start-angle="0"
						        insert-mode="append"
						        :thickness="5"
						        :show-percent="true"
						        centered>

				       			<p>Achieved!</p>
				       		</vue-circle>
				       	</div>
				       	<div class="row ctr">
							<div class="pl-4 my-4">
								<div class="h4 m-0" v-if="dashdata">RM {{ dashdata.month_to_date_sales | currency  }} / RM {{ dashdata.annual_sales_target/12 | currency  }} </div>
								<div class="h4 m-0" v-else>RM 0.00 / RM 0.00</div>
								<div>Month To Date Sales / Monthly Sales Target</div>
							</div>
						</div>
		      		</div>
					<div class="card-body">
						<router-link :to="{name: 'dashboard.Transactions'}" >
			          	    <button class="btn btn-info float-right" >Monthly Sales Overview </button>
			      	    </router-link>
					</div>
		        </b-card>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<b-card>
					<div class="card-body">
						<div class="row ctr">
							<vue-circle
								ref="annual"
						        :progress="annual_progress"
						        :size="100"
						        :reverse="false"
						        line-cap="round"
						        :fill="fill"
						        empty-fill="rgba(0, 0, 0, .1)"
						        :animation-start-value="0.0"
						        :start-angle="0"
						        insert-mode="append"
						        :thickness="5"
						        :show-percent="true">
						          <p>Achieved!</p>
					      	</vue-circle>
					    </div>
					    <div class="row ctr">	
					      	<div class="pl-4 my-4">
						      	<div class="h4 m-0" v-if="dashdata">RM {{ dashdata.year_to_date_sales | currency  }} / RM {{ dashdata.annual_sales_target | currency  }}</div>
				          		<div class="h4 m-0" v-else>RM 0.00 / RM 0.00</div>
				          		<div>Year To Date Sales / Annual Sales Target</div>
					      	</div>
						</div>
		      		</div>
					<div class="card-body">
						<router-link :to="{name: 'dashboard.monthly_sales',  params: { outlet_id: outletId} }">
			          	    <button class="btn btn-info float-right" >Annual Sales Overview</button>
			            </router-link>
					</div>
		        </b-card>
			</div>
			<div class="col-12 col-md-12">
				<BarExample></BarExample> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          <div class="h4 m-0" v-if="dashdata">RM {{ dashdata.today_sales | currency }}</div>
		          <div class="h4 m-0" v-else>RM 0.00</div>
		          <div>Today Sales Amount</div>
		        </b-card>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0" v-if="dashdata">{{ dashdata.member_outstanding }}</div>
		          	<div class="h4 m-0" v-else>0</div>
		          	<div>Total Swimming Member Outstanding</div>
                    <button class="btn btn-outline-info pull-right mr-2" @click="memberOutstandingModal()" :disabled="outstanding_button">View</button>
		        </b-card>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0" v-if="dashdata">RM {{ dashdata.outstanding_amount | currency }}</div>
		          	<div class="h4 m-0" v-else>RM 0.00</div>
		          	<div>Total Swimming Member Outstanding Amount</div>
		        </b-card>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0">{{ countReplacement.length }}</div>
		          	<div>Member Do Replacement Class</div>
                    <button class="btn btn-outline-info pull-right mr-2" @click="replacementModal()">View</button>
		        </b-card>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0">{{ classes.length }}</div>
		          	<div>Class Today</div>
		          	<router-link :to="{name: 'class.view',  params: { day: dayName, outlet: outletId } }" > 
			          	<button class="btn btn-outline-info pull-right mr-2" style="margin-left: 2vmin;">View</button>
			        </router-link>
		        </b-card>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0">{{ onDuty.length }}</div>
		          	<div>Staff and Coach on Duty</div>
                    <button class="btn btn-outline-info pull-right mr-2" @click="onDutyModal()">View</button>
		        </b-card>
			</div>
		</div> -->

		<!-- <div class="row">
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0">{{ offDuty.length }}</div>
		          	<div>Staff and Coach off Duty</div>
                    <button class="btn btn-outline-info pull-right mr-2" @click="offDutyModal()">View</button>
		          <b-progress class="progress-xs my-3" variant="success" :value="100"/>
		        </b-card>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
					<div class="row">
			          	<div class="col-md-6 col-6">
		          			<div class="h4 m-0">{{ countAbsent }}</div>
			          	</div>
			          	<div class="col-md-6 col-6">
			            	<select class="form-control" v-model="selectedType" @change="getAbsentCount()">
			            		<option value="Day">Today</option>
					        	<option value="Week">This Week</option>
					        	<option value="Month">This Month</option>
		            		</select>
			          	</div>
			        </div>
		          <div>Number of Member Absence</div>
		        </b-card>
			</div>
		</div> -->

		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0" v-if="dashdata">{{ dashdata.active_swim_member }}</div>
		          	<div class="h4 m-0" v-else>0</div>
		          	<div>Number of Active Swimming Member</div>
                    <!-- <button class="btn btn-outline-info pull-right mr-2" @click="terminateModal()">View</button> -->
		        </b-card>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0" v-if="number_of_terminated_member">{{ number_of_terminated_member }}</div>
		          	<div class="h4 m-0" v-else>0</div>
		          	<div>Number of Swimming Member Terminate</div>
                    <button class="btn btn-outline-info pull-right mr-2" @click="terminateModal()">View</button>
		        </b-card>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0" v-if="number_of_freezed_member">{{ number_of_freezed_member }}</div>
		          	<div class="h4 m-0" v-else>0</div>
		          	<div>Number of Swimming Member Freeze</div>
                    <button class="btn btn-outline-info pull-right mr-2" @click="freezeModal()">View</button>
		        </b-card>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0" v-if="number_of_new_swimming_member">{{ number_of_new_swimming_member }}</div>
		          	<div class="h4 m-0" v-else>0</div>
		          	<div>Number of New Swimming Member</div>
		          	<button class="btn btn-outline-info pull-right mr-2"  @click="newMemberModal()">View</button>
		          	<!-- <router-link :to="{name: 'dashboard.SwimMember'}" > -->
			        
		      	    <!-- </router-link> -->
		        </b-card>
			</div>
			<div class="col-12 col-md-12">
				<div class="card-header">
					<div>
						<i class="fa fa-align-justify mr-2"></i> Annual Swim Member Status Overview
					</div>
				</div>
				<apexchart type=bar height=350 :options="chartOptions5" :series="chartstatus" />
			</div>
		</div>

		

		<!-- <div class="row mb-3">
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          <div class="h4 m-0">{{ countAbsent2.length }}</div>
		          <div>Member Absence more than two classes this month</div>
		        </b-card>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<b-card>
		          	<div class="h4 m-0">{{ feedback.length }}</div>
		          	<div>Number of Unprocessed  Feedback</div>
                    <button class="btn btn-outline-info pull-right mr-2" @click="feedbackModal()">View</button>
		        </b-card>
			</div>
		</div> -->

		<!-- <div class="row mb-3">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div id="accordians">
	      			<div class="accordion__child">
	        			<div class="accordion__child__table">
	          				<div class="row">
	            				<div class="col-sm-12">
	              					<p class="font-weight-bold">Notice Board</p>
	            				</div>
	          				</div>
	        			</div>

		        		<div class="accordion__child__table" v-for="(notice,index) in notices" v-bind:key="notice.id">
		          			<div class="row">
		            			<div class="col-sm-8">
		              				<p>{{ index + 1 }}) {{ notice.subject | capitalize }}</p>
		            			</div>
			            		<div class="col-sm-4">
			                		<button class="btn btn-primary" data-toggle="collapse" v-bind:data-target="'#accordians' + index"  aria-expanded="true" aria-controls="collapseOne">Expand</button>
			            		</div>
		         			</div>

		          			<div v-bind:id="'accordians' + index" class="collapse" aria-labelledby="headingOne" data-parent="#accordians">
		            			<div class="card-body  accordian__child__collapse">

		              			<div v-html="notice.message"></div>

		            			</div>
		          			</div>
		        		</div>

		        		<div v-if="notices.length == '0'" class="col-md-12 accordion__child__table">
				            <p>No Data.</p>
				        </div>
	      			</div> 

				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div id="accordion">
	      			<div class="accordion__child">
	        			<div class="accordion__child__table">
	          				<div class="row">
	            				<div class="col-sm-12">
	              					<p class="font-weight-bold">Cleaning Task List</p>
	            				</div>
	          				</div>
	        			</div>

		        		<div class="accordion__child__table" v-for="(tdl,index) in todolists" v-bind:key="tdl.id">
		          			<div class="row">
		            			<div class="col-sm-8">
		              				<p>{{ index + 1 }}) {{ tdl.name | capitalize }}</p>
		            			</div>
			            		<div class="col-sm-4">
			                		<button class="btn btn-primary" data-toggle="collapse" v-bind:data-target="'#accordian' + index"  aria-expanded="true" aria-controls="collapseOne">Expand</button>
			            		</div>
		         			</div>

		          			<div v-bind:id="'accordian' + index" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
		            			<div class="card-body  accordian__child__collapse">

		              			<li v-for="coach in tdl.pendings" v-bind:key="coach.id">
                            		{{ coach.name | capitalize }}
                            	</li>

		            			</div>
		          			</div>
		        		</div>

		        		<div v-if="todolists.length == '0'" class="col-md-12 accordion__child__table">
				            <p>No Data.</p>
				        </div>
	      			</div> 

				</div>
			</div>
		</div> -->

    	<OffDuty></OffDuty>
    	<replacementModal></replacementModal>
    	<NewMemberModal></NewMemberModal>
    	<FreezeModal></FreezeModal>
    	<TerminateModal></TerminateModal>
    	<FeedbackModal></FeedbackModal>
    	<memberOutsanding></memberOutsanding>
    	<salesTarget></salesTarget>

	 </div>
</template>

<script>
	import OffDuty from "./modal/OffDuty.vue";
	import replacementModal from "./modal/ReplacementModal.vue";
	import memberOutsanding from "./modal/memberOutstandingModal.vue";
	import salesTarget from "./modal/SalesTargetModal.vue";
	import FreezeModal from "./modal/FreezeModal.vue";
	import NewMemberModal from "./modal/NewMemberModal.vue";
	import TerminateModal from "./modal/TerminateModal.vue";
	import FeedbackModal from "./modal/FeedbackModal.vue";
	import BarExample from './../dashboard/charts/Sales';
	import VueApexCharts from 'vue-apexcharts';
	import VueCircle from 'vue2-circle-progress'
	import moment from 'moment'

	export default {
  		name: 'charts',
  		components: {
		    BarExample,
		    VueCircle,
		    OffDuty,
		    replacementModal,
		    FreezeModal,
		    NewMemberModal,
		    FeedbackModal,
		    TerminateModal,
		    memberOutsanding,
		    salesTarget,
		    apexchart: VueApexCharts,

		},
		data() {
		    return {
		    	monthly_progress: 0,
		    	annual_progress: 0,
		    	fill : { gradient: ["#17a2b8"] },
		    	chartstatus: [],
		    	chartstatus_months: [],
		    	user: '',
		        checkPermission: true,
		        outletId: '',
				status: 1,
				dayName: '',
				classes: '',
				onDuty: '',
				offDuty: '',
				staffs: '',
				todolists: '',
				notices: '',
				countAbsent: '',
				countAbsent2: '',
				selectedType: 'Day',
				countReplacement: '',
				Monthfix:'',
				countFreeze: [],
				countActive: '',
				dashdata:'',
				countTerminate:[],
				salesAmount: '',
				today: '',
				feedback: '',
				totalsales: '',
				annualsales: '',
				totalMemberOutstanding: [],
				totalOutstanding: '',
				filter_outlet: [],
  				selected_outlet : '',
      			outletModel : false,
      			selectedMonth:'',
      			selectedYear:'',
      			yearOption:[],
      			terminated: [],
		       	members: [],
		       	outstanding_data:[],
		       	outstanding_button:true,
		       	months: [],
		       	freezed: [],
		       	number_of_new_swimming_member:'',
		       	number_of_terminated_member:'',
		       	number_of_freezed_member:'',
		       	selectedDate: '',
		    };
		},
		methods: {
			progress_calc(){

				if(this.dashdata){

					var annual_sales = parseInt(this.dashdata.year_to_date_sales)
					var monthly_sales = parseInt(this.dashdata.month_to_date_sales)
					var monthly_target = parseInt(this.dashdata.annual_sales_target/12)
					var annual_target = parseInt(this.dashdata.annual_sales_target)

					var month_percentage = Math.round(monthly_sales / monthly_target * 100)
					var annual_percentage = Math.round(annual_sales / annual_target * 100)
					console.log('month_percentage '+month_percentage)
					console.log('annual_percentage '+annual_percentage)
					this.$refs.annual.updateProgress(annual_percentage)
					this.$refs.monthly.updateProgress(month_percentage)

				}else{

					this.$refs.annual.updateProgress(0)
					this.$refs.monthly.updateProgress(0)
				}
				
				// if(month_percentage > 100){
				// 	month_percentage = 100
				// }

				// if(annual_percentage > 100){
				// 	annual_percentage = 100
				// }

				
				
			},
			getData(){
				axios
					.get(`/api/dashboard/data/${this.selectedMonth}/${this.selectedYear}`)
					.then(res => {
						this.dashdata = res.data;
						this.progress_calc();
						//this.salesTargetModal(res.data)
					})
					.catch(err=>{
						this.progress_calc();
					})
			},
			produreYear(){
		      var loopvalue = parseInt(this.selectedYear)+1;
		      //do loop year
		      var i = 2018;

		      for(i; i < loopvalue; i++){
		      	var option = {
		      		value: i,
		            text: i
		      	}
		      	this.yearOption.push(option);
			  }
		      	
		      	console.log(this.yearOption)
		      
		      // while(i>=0){
		      //     $('#selectyear').append($('<option>', {
		      //         value: startYear + i,
		      //         text: startYear + i
		      //     }));
		      //     i--;
		      // }
		    },
			chageMonthYear() {
				this.selectedDate = this.selectedYear+'-'+(parseInt(this.selectedMonth)+1)+'-01';
	            this.getData();
	            this.getBarChartData();
	            this.BarExample();
		    },
		    BarExample(){
		      	this.$emit("BarExample", this.selectedDate);
			},
			feedbackModal(){
		      	this.$emit("feedbackModal", this.feedback);
			},
			freezeModal(){
		      	this.$emit("freezeModal", this.selectedDate);
			},
			terminateModal(){
		      	this.$emit("terminateModal", this.selectedDate);
			},
			newMemberModal(){
		      	this.$emit("newMemberModal", this.selectedDate);
			},
			replacementModal(){
		      	this.$emit("replacementModal", this.countReplacement);
			},
			onDutyModal(){
		      	this.$emit("offDutyModal", 'on');
			},
			offDutyModal(){
		      	this.$emit("offDutyModal", 'off');
		    },
		    memberOutstandingModal(){
		      	// this.$emit("memberOutstandingModal", this.outletId);
		      	this.$emit("memberOutstandingModal", this.outletId , this.totalMemberOutstanding);
		    },
		    salesTargetModal(){
		      	this.$emit("SalesTargetModal", this.dashdata);
		    },

			// getClassToday(){
			// 	axios
			// 		.get(`/api/class/day/${this.outletId}/${this.dayName}/${this.status}`)
			// 		.then(res => {
			// 			this.classes = res.data;
			// 		})
			// },
			// getSchedule(){
			// 	axios
			// 		.get(`/api/schedule/today`)
			// 		.then(res => {
			// 			this.onDuty = res.data.onDuty;
			// 			this.offDuty = res.data.offDuty;
			// 		})
			// },
			// getTodolist(){
			// 	axios
			// 		.get(`/api/todolist/dashboard`)
			// 		.then(res => {
			// 			this.todolists = res.data;
			// 		})
			// },
			// getNotice(){
			// 	axios
			// 		.get(`/api/notice/history/board`)
			// 		.then(res =>{
			// 			this.notices = res.data;
			// 		})
			// },
			// getAbsentCount(){
			// 	axios
			// 		.get(`/api/attendance/dashboard/${this.selectedType}`)
			// 		.then(res=>{
			// 			this.countAbsent = res.data;
			// 		})
			// },
			// getAbsent2Count(){
			// 	axios
			// 		.get(`/api/dashboard/attendance`)
			// 		.then(res=>{
			// 			this.countAbsent2 = res.data;
			// 		})
			// },
			// getReplacementCount(){
			// 	axios
			// 		.get(`/api/dashboard/replacement`)
			// 		.then(res=>{
			// 			this.countReplacement = res.data;
			// 		})
			// },
			// getFreezeMember(){
			// 	axios
			// 		.get(`/api/dashboard/freeze`)
			// 		.then(res=>{
			// 			this.countFreeze = res.data.data.freeze;
			// 			this.countTerminate = res.data.data.terminate;
			// 			this.countActive = res.data.data.active;
			// 			// console.log('result data');
			// 			// console.log(res.data);
			// 		})
			// },
			getSalesAmount(){
				axios
					.get(`/api/dashboard/sales`)
					.then(res=>{
						this.salesAmount = res.data;
						// console.log(res.data);
					})
			},
			getFeedback(){
				axios
					.get(`/api/dashboard/feedback`)
					.then(res=>{
						this.feedback = res.data;
					})
			},
			// getSales(){
	  //           axios
	  //             	.get(`/api/dashboard/totalsales`)
	  //             	.then(res=>{
	  //                 	var data = res.data;
			// 			var sum = [1,2,3];
	  //                 	for (var i = 0; i < data.length; i++) {
	  //                 		this.totalsales = data[i].total;
	  //                 		//sum.push(data[i].total);
	  //                 	}
	  //                 	this.totalsales = this.totalsales;

	  //                 	var month_total = 0;
	  //                 	for (var i = 0; i < sum.length; i++) {
	  //                 		this.annualsales = month_total+sum[i].total;
	  //                 	}	                  	
	                  	
	  //                 	console.log(this.annualsales);
	  //             	})
	  //       },
	  //       getAnnualsales(){
	  //  //      	console.log('hi'+this.totalsales);
			// 	// for(var i = 0; i < this.totalsales.length; i++){
			// 	// 	this.annualsales = (this.totalsales[0].total + this.totalsales[1].total);
			// 	// }
			// 	// this.annualsales = this.annualsales;
			// 	// console.log(this.annualsales);
			// },
	        totalNumberOutstanding(outlet){
	        	axios
	        		.get(`/api/dashboard/checkUnpaidOrder/${outlet}/${this.selectedDate}`)
	        		.then(res => {
	        			this.totalMemberOutstanding = res.data;
	        			this.outstanding_button = false;
	        			console.log('memberOutsanding')
	        			console.log(res.data);
	        			// this.totalOutstanding = 0;
	        			// for (var i = 0; i < res.data.length; i++) {
	        			// 	this.totalOutstanding = this.totalOutstanding + res.data[i].outstanding;
	        			// }
	        		})
	        },
	        getOutletAccess(id){
		      	axios
		        	.get('/api/staff/'+ id)
		        	.then(res => {
		          		var outlet = res.data.data.outlet_access;
		          		if(typeof outlet != "undefined"){
		            		this.setDropdown(outlet);
		          		}
	        		})
	        		.catch(err => {
		          		//console.log(err.data);
	        		});
		    },
		    setDropdown(id){
		    	this.filter_outlet = [];
		      	for (var i = id.length - 1; i >= 0; i--) {
		        	axios
		          		.get('/api/outlets/'+ id[i])
		          		.then(res => {
		                  	this.filter_outlet.push(res.data.data);
		                  	this.outletModel = true;
			          		})
		      	}
		    },
		    getAllEvent(){
		    	var submit = {};
		    	submit.value = this.selected_outlet;
		    	axios
		    		.post(`/api/dashboard/current/${this.user.id}`, submit)
		    		.then(res => {
		          		this.$router.go("/dashboard");
		    		})
		    },
		    getBarChartData(){
				axios
		       .get(`/api/dashboard/status_chart/${this.selectedYear}`)
		       .then(res => {
		       	this.terminated =[];
		       	this.members = [];
		       	this.months = [];
		       	this.freezed = [];

		       	var i;

		       	for(i = 0; i < res.data.length; i++){
		       		this.months.push(parseInt(res.data[i].month))
		       		this.terminated.push(parseInt(res.data[i].terminated))
		       		this.members.push(parseInt(res.data[i].members))
		       		this.freezed.push(parseInt(res.data[i].freezed))
		       	}	
		       	
		       		this.chartstatus = [{
		       		  name: 'Number Of Swimming New Member',
			          data: this.members
			        }, {
			          name: 'Number Of Swimming Member Terminated',
			          data: this.terminated
			        }]
			        this.chartstatus_months = this.months
			        //console.log(this.status);

			        this.number_of_new_swimming_member = this.members[parseInt(this.selectedMonth)];
			        this.number_of_terminated_member = this.terminated[parseInt(this.selectedMonth)];
			        this.number_of_freezed_member = this.freezed[parseInt(this.selectedMonth)];

		       })
			},
			getUser(){
				axios
		    		.get("/api/dashboard/current")
		    		.then(res => {
		    			this.user = res.data.user;
		    			this.outletId = res.data.outlet_id;
		    			this.getData();
		    			this.getBarChartData();
		    			this.BarExample();
		    			// this.getoutstanding(this.outletId);
		    			//this.getClassToday();
		    			//this.getSchedule();
		    			// this.getTodolist();
		    			// this.getNotice();
		    			// this.getAbsentCount();
		    			// this.getAbsent2Count();
		    			// this.getReplacementCount();
		    			//this.getFreezeMember();
		    			// this.getSalesAmount();
		    			// this.getFeedback();
		    			//this.getSales();
		    			this.totalNumberOutstanding(this.outletId);
		    			this.getOutletAccess(this.user.id);
		    			this.selected_outlet = this.outletId;
		    		})
			}
	  	},
	  	computed:{
	  		chartOptions5: function() {
		        return {
		         	  plotOptions: {
			            bar: {
			              horizontal: false,
			              columnWidth: '55%',
			            },
			          },
			          dataLabels: {
			            enabled: false
			          },
			          stroke: {
			            show: true,
			            width: 2,
			            colors: ['transparent']
			          },

			          xaxis: {
			            categories: ['Jan','Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			          },
			          yaxis: {
			            title: {
			              text: 'Person(s)'
			            }
			          },
			          fill: {
			          	colors: ['#0b7fd2', '#eb0202'],
			            opacity: 1

			          },
			          tooltip: {
			            y: {
			              formatter: function (val) {
			                return val + " person"
			              }
			            }
			          },
			          colors: ['#0b7fd2', '#eb0202']
					  
		        } 
	  		},
	  	},
	  	created() {

	    	this.today = new Date();
	    	// console.log(this.today);
	    	
	    	this.selectedYear = moment(this.today).format('YYYY');
			this.selectedMonth = moment(this.today).format('M')-1;

			if(this.selectedMonth < 9){
	            this.Monthfix = 0;
	        }

			this.selectedDate = this.selectedYear+'-'+this.Monthfix+(parseInt(this.selectedMonth)+1)+'-01';
			this.produreYear()
			// console.log(this.selectedYear);
			// console.log(this.selectedMonth);
	    	this.dayName = moment(this.today).format('dddd');
	    	// console.log(this.dayName)
	    	this.dayName = this.dayName.toLowerCase();
		 	
	        
	  	},
	  	mounted(){
		    this.getUser()
		}
	};
</script>

<style lang="scss" scoped>
.accordion__child {
  background: #ffffff;
  &__table {
    padding: 1rem;
    border: 1px solid #c2cfd6;
    p {
      margin: 0;
    }
    .card-body {
      background: #5ab0d1;
      color: #ffffff;
      margin: 20px 0;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
  &__coach {
    border-bottom: 1px solid #c2cfd6;
    p {
      font-size: 1.1rem;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}
.status-width{
  width: 20vmin;
  display: inline-block;
}

.ctr {
	display:flex;
	align-items:center;
	justify-content:center;
}

.sales-button{
  	margin-top: 5px!important;
  	float: right!important;
  }

@media only screen and (min-width: 767px) {
  .spacing{
  	padding-left: 5px!important;
  }
}

@media only screen and (max-width: 766px) {
  .sales-button{
  	margin-top: 5px!important;
  	float: left!important;
  	margin-bottom: 5px!important;
  }
}
</style>