<template>
  <div>
    <div class="card mt-3">
      <div class="card-header">
        <span class="text-left">Payment History List</span>
      </div>
      <div class="card-body">
          <v-client-table :columns="columns" :data="history" :options="options">

              <div slot="name" slot-scope="props">
                <p v-if="props.row.item_category">{{ props.row.user.name | capitalize }}</p>
                <p v-else>{{ props.row.order.member_name | capitalize }}</p>
              </div>
              <div slot="package_name" slot-scope="props">
                <p v-if="props.row.item_category">{{ props.row.product.product_name | capitalize }}</p>
                <p v-else>{{ props.row.order.package_name | capitalize }}</p>
              </div>
              <div slot="package_price" slot-scope="props">
                <p v-if="props.row.item_category">RM {{ props.row.product.price | currency }}</p>
                <p v-else>RM {{ props.row.order.package_price | currency }}</p>
              </div>
              <div slot="package_depo" slot-scope="props">
                <p v-if="props.row.item_category">RM 0.00</p>
                <p v-else>RM {{ props.row.order.package_depo | currency }}</p>
              </div>
              <div slot="registration" slot-scope="props">
                <div v-if="props.row.item_category">
                  <p> RM 0.00 </p>
                </div>
                <div v-else>
                  <p v-if="props.row.order.registration_fee == 0"> RM 0.00 </p>
                  <p v-else> RM {{ props.row.order.registration_fee | currency }} </p>
                </div>
              </div>
              <div slot="quantity" slot-scope="props">
                <p v-if="props.row.item_category">{{ props.row.quantity }}</p>
                <p v-else> - </p>
              </div>
              <div slot="package_total" slot-scope="props">
                <p v-if="props.row.item_category">RM 0.00</p>
                <p v-else>RM {{ props.row.order.package_total | currency }}</p>
              </div>
              <div slot="status" slot-scope="props">
                  <p v-if="props.row.status == 0">Paid</p>
                  <p v-else>Unpaid</p>
              </div>
              <div slot="method" slot-scope="props">{{ props.row.payment_method }}</div>
              <div slot="payment" slot-scope="props">
                <p v-if="props.row.item_category"> - </p>
                <p v-else>{{ props.row.order.monthly_payment | moment("MMMM YYYY") }}</p>
              </div>
              <div slot="created_at" slot-scope="props">{{ props.row.created_at | moment("MMMM YYYY") }}</div>

          </v-client-table>
      </div>

    </div>
  </div>
</template>

<style>
  .table thead th{
    vertical-align: middle;
  }
</style>

<script>
export default {
  data() {
    return {
      paramId: this.$route.params.id,
      history: [],
      columns: ['invoice_no','name', 'package_name', 'package_price', 'package_depo', 'registration','quantity', 'package_total', 'status', 'method', 'payment', 'remarks','created_at'],
      options: {
          headings: {
              invoice_no: 'Invoice Number',
              name: 'Member Name',
              package_name: 'Package/Product Name',
              package_price: 'Package/Product Price',
              package_depo: 'Package Deposit',
              registration: 'Registration',
              quantity: 'Quantity',
              package_total: 'Total',
              status: 'Status',
              method: 'Payment Method',
              payment: 'Monthly Payment',
              remarks: 'Remarks',
              created_at: 'Date',
          },
          sortable: ['invoice_no','name', 'package_name', 'package_price', 'package_depo', 'registration','quantity', 'package_total', 'status', 'method', 'payment','remarks', 'created_at'],
          filterable: ['invoice_no','name', 'package_name', 'package_price', 'package_depo', 'registration','quantity', 'package_total', 'status', 'method', 'payment', 'remarks','created_at']
      },
    };
  },
  methods: {
    viewHistory(){
        axios
          .get(`/api/dashboard/invoice/${this.paramId}`)
          .then(res => {
              this.history = res.data;
            
          })
    },
  },
  created() {
    this.viewHistory();
  }
};
</script>