
<template>
	<div>
		<div class="card mt-3">
			<div class="card-header">
				<div class="col-12">
					<div class="row">
						<div class="col-6 p-0">
							<i class="fa fa-align-justify mr-2"></i> Annual Sales Overview
						</div>
						<div class="col-6 p-0">
							<div class="row">
								<span class="pl-4 col-md-4 col-6 mt-2 card-title wide">Sales Overview Of: </span>
				                <select class="form-control" v-model="selectedYear">
				              	  <option v-for="year in yearOption" :value="year.value">
				              		  {{ year.value }}
				              	  </option>
				                </select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3">
		        <div class="col-7 mb-2">
		        	<div class="c-padding-left row">
			        	<span class="pl-2 c-col-md-3 mt-2 card-title">Update Sales Of: </span>
			            <div class="p-0 col-md-3 col-3">
			              <select class="form-control" v-model="selectedUpdateMonth">
			              	<option value="1">JANUARY</option>
			              	<option value="2">FEBRUARY</option>
			              	<option value="3">MARCH</option>
			              	<option value="4">APRIL</option>
			              	<option value="5">MAY</option>
			              	<option value="6">JUNE</option>
			              	<option value="7">JULY</option>
			              	<option value="8">AUGUST</option>
			              	<option value="9">SEPTEMBER</option>
			              	<option value="10">OCTOBER</option>
			              	<option value="11">NOVEMBER</option>
			              	<option value="12">DECEMBER</option>
			              </select>
			            </div>
			            <div class="pl-1 col-md-3 col-3">
			              <select class="form-control" v-model="selectedUpdateYear" @change="pivotData()" id="selectyear">
			              	<option v-for="year in yearOption" :value="year.value">
			              		{{ year.value }}
			              	</option>
			              </select>
			            </div>
			        	<div class="col-md-3 col-3 pr-2">
			        		<button class="btn btn-sm btn-info" @click="salesUpdate()">Update Sales</button>
			        	</div>
		        	</div>
		        </div>
			</div>

			
			<div class="card-body" scrollable>
				<PivotTable
                 :data="data"
                 :fields="pivotfields"
                 :row-fields="rowFields"
                 :col-fields="colFields"
                 :reducer="reducer"
                 :default-show-settings="false"
                 :is-data-loading="isDataLoading"
                 >
			      <template slot="value" slot-scope="{ value }">
			        {{ value.toLocaleString() || currency}}
			      </template>
			      <template slot="loading">
			        <div class="text-center">
			          Loading...
			        </div>
			      </template>
			    </PivotTable>
			</div>
		</div>
		<div class="card mt-3">
			<div class="card-header">
				<i class="fa fa-align-justify mr-2"></i>Annual Sales Chart
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 mt-3">
					<div class="card-body">
						<div v-if="swim != ''">
							<div class="card-header">Swim Sales Chart</div>
							<apexchart type="pie" :width="width" :height="height" :options="chartOptions1" :series="swim" />
						</div>
						<div v-else>
							<div class="card-header">Swim Sales Chart</div>
							<div class="card-body alert alert-warning">No Data To Display</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-lg-12 mt-3">
					<div class="card-body">
						<div v-if="gym != ''">
							<div class="card-header">Gym Sales Chart</div>
							<apexchart type="pie" :width="width" :height="height" :options="chartOptions2" :series="gym" />
						</div>
						<div v-else>
							<div class="card-header">Gym Sales Chart</div>
							<div class="card-body alert alert-warning">No Data To Display</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 mt-3">
					<div class="card-body">
						<div v-if="scuba != ''">
							<div class="card-header">Scuba Sales Chart</div>
							<apexchart type="pie" :width="width" :height="height" :options="chartOptions3" :series="scuba" />
						</div>
						<div v-else>
							<div class="card-header">Scuba Sales Chart</div>
							<div class="card-body alert alert-warning">No Data To Display</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-lg-12 mt-3">
					<div class="card-body">
						<div v-if="pos != ''">
							<div class="card-header">Point Of Sales Chart</div>
							<apexchart type="pie" :width="width" :height="height" :options="chartOptions4" :series="pos" />
						</div>
						<div v-else>
							<div class="card-header">Point Of Sales Chart</div>
							<div class="card-body alert alert-warning">No Data To Display</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="card mt-3">
			<div class="card-header">
				<div>
					<i class="fa fa-align-justify mr-2"></i> Annual Swim Member Status Overview
				</div>
			</div>
			<div class="card-body">
				<div id="chart">
			      <apexchart type=bar height=350 :options="chartOptions5" :series="status" />
			    </div>
			</div>
		</div> -->
		
	</div>
	
</template>

<style>
.status-width{
	width: 20vmin;
	display: inline-block;
}

@media only screen and (min-width: 375px) {
  .wide {
    margin-left: 30%!important;
  }

  .c-padding-left {
    padding-left: 1.6rem !important;
  }

  .c-col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 20%;
  }

  .swal2-popup .swal2-image {
    max-width: 50%!important;
    margin: 1.25em auto;
}
}

</style>

<script>

//import Pivot from '@marketconnect/vue-pivot-table';
import PivotTable from '@marketconnect/vue-pivot-table';
import VueApexCharts from 'vue-apexcharts'


// const data = [
// 	  {"country": "United States", "year": 2010, "gender": "male", "count": 153295220},
// 	  {"country": "United States", "year": 2010, "gender": "female", "count": 156588400},
// 	  {"country": "United States", "year": 2011, "gender": "male", "count": 154591960},
// 	  {"country": "United States", "year": 2011, "gender": "female", "count": 157800200},
// 	  {"country": "United States", "year": 2012, "gender": "male", "count": 155851840},
// 	  {"country": "United States", "year": 2012, "gender": "female", "count": 158944800},
// 	  {"country": "China", "year": 2010, "gender": "male", "count": 690256342},
// 	  {"country": "China", "year": 2010, "gender": "female", "count": 650712406},
// 	  {"country": "China", "year": 2011, "gender": "male", "count": 694106441},
// 	  {"country": "China", "year": 2011, "gender": "female", "count": 654068030},
// 	  {"country": "China", "year": 2012, "gender": "male", "count": 697964288},
// 	  {"country": "China", "year": 2012, "gender": "female", "count": 657422649},
// 	  {"country": "India", "year": 2010, "gender": "male", "count": 638354751},
// 	  {"country": "India", "year": 2010, "gender": "female", "count": 592629727},
// 	  {"country": "India", "year": 2011, "gender": "male", "count": 646873890},
// 	  {"country": "India", "year": 2011, "gender": "female", "count": 600572093},
// 	  {"country": "India", "year": 2012, "gender": "male", "count": 655193693},
// 	  {"country": "India", "year": 2012, "gender": "female", "count": 608395922},
// 	  {"country": "France", "year": 2010, "gender": "male", "count": 30675773},
// 	  {"country": "France", "year": 2010, "gender": "female", "count": 32285363},
// 	  {"country": "France", "year": 2011, "gender": "male", "count": 30815839},
// 	  {"country": "France", "year": 2011, "gender": "female", "count": 32452566},
// 	  {"country": "France", "year": 2012, "gender": "male", "count": 30948916},
// 	  {"country": "France", "year": 2012, "gender": "female", "count": 32612882}
// 	];
import moment from 'moment'

export default {
  components: { 
  	apexchart: VueApexCharts,
  	PivotTable,
  },
  data() {
		return {
	      data: [],
	      width: 0,
      	  height: 0,
	      swim: [],
	      status: [],
	      status_months: [],
		  swim_label: [],
		  gym: [],
		  gym_label: [],
		  scuba: [],
		  scuba_label: [],
		  pos: [],
		  pos_label: [],
          showDetailIcon: true,
          outlet_id:this.$route.params.id,
          selectedYear:'',
          selectedUpdateYear:'',
          selectedUpdateMonth:'',
          selected_outlet:'',
      	  yearOption:[],
	      // chartOptions: {
	      //     // labels: ["VGO PADI SWIM (1MONTH)", "FLEXI GYM 8", "DRINK", "SCUBA EQUIPMENT", "SCUBA EQUIPMENT", "ELITE SWIM JUNIOR (1MONTH)", "VGO CSR PROGRAM", "TADIKA LESTARI", "STC SWIM JUNIOR", "VGO PADI SWIM", "ELITE SWIM JUNIOR (3MONTHS)", "VGO PADI PRIVATE CLASS 1-2", "VGO PADI PRIVATE CLASS 2-4", "SCUBA EQUIPMENT", "SCUBA EQUIPMENT"],
	      //     responsive: [{
	      //       breakpoint: 480,
	      //       options: {
	      //         legend: {
	      //           position: 'bottom'
	      //         }
	      //       }
	      //     }]
	      //   },
	      asyncData: [],
	      pivotfields: [],
	      rowFields: [{
	        getter: item => item.category,
	        label: 'category',
	        sort: item => item.category,
	      }, {
	        getter: item => item.payment_type,
	        label: 'collection_type'
	      },{
	        getter: item => item.item,
	        label: 'Product Or Package'
	      },],
	      colFields: [{
	        getter: item => item.month,
	        label: 'month',
	        sort: item => item.month
	      }],
	      reducer: (acc, item) => acc + parseFloat(item.total_sales),
	      defaultShowSettings: true,
	      isDataLoading: false,
	    };
	},
	methods: {
		toggle(row) {
            this.$refs.table.toggleDetails(row)
        },
        handleResize() {
	      
	      if(window.innerWidth > 0 && window.innerWidth < 580){
	      	this.width = 300;
	      	this.height = 300;
	      }else if(window.innerWidth > 579 && window.innerWidth < 1200){
	      	this.width = 650;
	      	this.height = 450;
	      }else{
	      	this.width = 900;
	      	this.height = 500;
	      }
	    },
	    produreYear(){
	      var loopvalue = parseInt(this.selectedYear)+1;
	      //do loop year
	      var i = 2018;

	      for(i; i < loopvalue; i++){
	      	var option = {
	      		value: i,
	            text: i
	      	}
	      	this.yearOption.push(option);
		  }
	      	
	      	console.log(this.yearOption)
	      
	      // while(i>=0){
	      //     $('#selectyear').append($('<option>', {
	      //         value: startYear + i,
	      //         text: startYear + i
	      //     }));
	      //     i--;
	      // }
	    },
	    blocker(){
	    	this.$swal({
		        title: 'Updating Sales Overview',
		        text: "Please Wait This Page Will Auto-refresh Once The Update Is Complete!",
		        imageUrl: 'https://i.gifer.com/g2uA.gif',
		        showCancelButton: false,
		        showConfirmButton: false,
		        confirmButtonText: 'Yes Delete it!',
		        cancelButtonText: 'No, Keep it!',
		        showCloseButton: false,
		        allowOutsideClick: false,
		        closeOnClickOutside: false,
		        closeOnEsc: false,
		        allowEscapeKey : false,
		      })
	    },
	    salesUpdate(){
	    	this.blocker();
	    	axios
				.get(`/api/dashboard/manualSalesUpdate/${this.selectedUpdateMonth}/${this.selectedUpdateYear}/${this.selected_outlet}`)
				.then(res => {
					location.reload();
					this.$swal.close();
				})
	    },
		listMember() {
			axios
				.get(`/api/member/status/${this.filter_status}/${this.selected_outlet}`)
				.then(res => {
					this.data = res.data;
				})
				.catch(err => {
					if (err.response.status == 401) {
			            this.$notify({
			                group: 'foo',
			                title: 'Ops',
			                text: 'You cannot access',
			                type: 'error',
			                duration: 5000
			            });
              			this.checkPermission = false;
			        }
				});
		},
		getOutletAccess(id){
			axios
				.get('/api/staff/'+ id)
				.then(res => {
					var outlet = res.data.data.outlet_access;
					if(typeof outlet != "undefined"){
						this.setDropdown(outlet);
					}
				})
				.catch(err => {
					console.log(err.data);
				});
		},
		setDropdown(id){
			for (var i = id.length - 1; i >= 0; i--) {
				id[i];
				axios
					.get('/api/outlets/'+ id[i])
					.then(res => {
			            this.filter_outlet.push(res.data.data);
			            this.outletModel = true;
					})
					.catch(err => {
						console.log(err.data);
					});
			}
		},
		getBarChartData(){
			axios
	       .get(`/api/dashboard/status_chart`)
	       .then(res => {
	       	var terminated =[];
	       	var members = [];
	       	var months = [];
	       	var i

	       	for(i = 0; i < res.data.length; i++){
	       		months.push(parseInt(res.data[i].month))
	       		terminated.push(parseInt(res.data[i].terminated))
	       		members.push(parseInt(res.data[i].members))
	       	}	
	       		this.status = [{
	       		  name: 'Number Of Swimming New Member',
		          data: members
		        }, {
		          name: 'Number Of Swimming Member Terminated',
		          data: terminated
		        }]
		        this.status_months = months
		        //console.log(this.status);

	       })
		},
		getPieChartData(result){

			  this.swim = [];
			  this.swim_label = [];
			  this.gym = [];
			  this.gym_label = [];
			  this.scuba = [];
			  this.scuba_label = [];
			  this.pos = [];
			  this.pos_label = [];

			  console.log(result)
		      this.data = result
		      var swim_arr = []
		      var swimlabel_arr = []
		      var gym_arr = []
		      var gymlabel_arr = []
		      var scuba_arr = []
		      var scubalabel_arr = []
		      var pos_arr = []
		      var poslabel_arr = []
		      var i

		    for(i = 0; i < this.data.length; i++) { 
		    	
		    	if(this.data[i].category == 'SWIMMING SALES' ){

		    		var index = swimlabel_arr.indexOf(this.data[i].item);
					
					if(index == -1){
						
						swimlabel_arr.push((this.data[i].item))
						swim_arr.push(parseInt(this.data[i].total_sales))

						this.swim = swim_arr
			      		this.swim_label = swimlabel_arr

					}else{

						var total = parseInt(swim_arr[index]) + parseInt(this.data[i].total_sales);
						swim_arr[index] = total;

						this.swim = swim_arr
			      		this.swim_label = swimlabel_arr
					}

		    	}else if(this.data[i].category == 'GYM SALES' ){

		    		var index = gymlabel_arr.indexOf(this.data[i].item);
					
					if(index == -1){
						
						gymlabel_arr.push((this.data[i].item))
						gym_arr.push(parseInt(this.data[i].total_sales))

						this.gym = gym_arr
			      		this.gym_label = gymlabel_arr

					}else{

						var total = parseInt(gym_arr[index]) + parseInt(this.data[i].total_sales);
						gym_arr[index] = total;

						this.gym = gym_arr
			      		this.gym_label = gymlabel_arr
					}

		    	}else if(this.data[i].category == 'SCUBA SALES' ){
		    		
					var index = scubalabel_arr.indexOf(this.data[i].item);
					
					if(index == -1){

						scubalabel_arr.push((this.data[i].item))
						scuba_arr.push(parseInt(this.data[i].total_sales))

						this.scuba = scuba_arr
			      		this.scuba_label = scubalabel_arr

					}else{

						var total = parseInt(scuba_arr[index]) + parseInt(this.data[i].total_sales);
						scuba_arr[index] = total;

						this.scuba = scuba_arr
			      		this.scuba_label = scubalabel_arr
					}
		    	}else if(this.data[i].category == 'POINT-OF-SALES' ){

		    		var index = poslabel_arr.indexOf(this.data[i].item);
					
					if(index == -1){

						poslabel_arr.push((this.data[i].item))
						pos_arr.push(parseInt(this.data[i].total_sales))

						this.pos = pos_arr
			      		this.pos_label = poslabel_arr

					}else{

						var total = parseInt(pos_arr[index]) + parseInt(this.data[i].total_sales);
						pos_arr[index] = total;

						this.pos = pos_arr
			      		this.pos_label = poslabel_arr
					}
		    	}
			}
		      
			
		},
		pivotData(){
			axios
		       .get(`/api/dashboard/salesoverview/${this.outlet_id}/${this.selectedYear}`)
		       .then(res => {
		       	this.getPieChartData(res.data)
		       	this.getBarChartData()
		       	window.addEventListener('resize', this.handleResize())
			})
		}
	},
	computed: {
		//get dynamic label for pie chart
	    chartOptions1: function() {
	        return {
	         	labels: this.swim_label, //get dynamic label from getPieChartData
	         	responsive: [{
	        		breakpoint: 800,
	            	options: {
		              	legend: {
						    show: true,
						    scrollable: true,
						    showForSingleSeries: false,
						    showForNullSeries: true,
						    showForZeroSeries: true,
						    position: 'bottom',
						    horizontalAlign: 'left', 
						    floating: false,
						    fontSize: '12px',
						    fontFamily: 'Helvetica, Arial',
						    width: 300,
						    height: 50,
						    formatter: undefined,
						    offsetX: 0,
						    offsetY: 0,
						    labels: {
						        colors: undefined,
						        useSeriesColors: false
						    },
						}
	            	}
	          	}]
	        } 
  		},
  		chartOptions2: function() {
	        return {
	         	labels: this.gym_label, //get dynamic label from getPieChartData
	         	responsive: [{
	        		breakpoint: 800,
	            	options: {
		              	legend: {
						    show: true,
						    scrollable: true,
						    showForSingleSeries: false,
						    showForNullSeries: true,
						    showForZeroSeries: true,
						    position: 'bottom',
						    horizontalAlign: 'left', 
						    floating: false,
						    fontSize: '12px',
						    fontFamily: 'Helvetica, Arial',
						    width: 300,
						    height: 50,
						    formatter: undefined,
						    offsetX: 0,
						    offsetY: 0,
						    labels: {
						        colors: undefined,
						        useSeriesColors: false
						    },
						}
	            	}
	          	}]
	        } 
  		},
  		chartOptions3: function() {
	        return {
	         	labels: this.scuba_label, //get dynamic label from getPieChartData
				responsive: [{
	        		breakpoint: 800,
	            	options: {
		              	legend: {
						    show: true,
						    scrollable: true,
						    showForSingleSeries: false,
						    showForNullSeries: true,
						    showForZeroSeries: true,
						    position: 'bottom',
						    horizontalAlign: 'left', 
						    floating: false,
						    fontSize: '12px',
						    fontFamily: 'Helvetica, Arial',
						    width: 300,
						    height: 50,
						    formatter: undefined,
						    offsetX: 0,
						    offsetY: 0,
						    labels: {
						        colors: undefined,
						        useSeriesColors: false
						    },
						}
	            	}
	          	}]
	        } 
  		},
  		chartOptions4: function() {
	        return {
	         	labels: this.pos_label, //get dynamic label from getPieChartData
	         	responsive: [{
	        		breakpoint: 800,
	            	options: {
		              	legend: {
						    show: true,
						    scrollable: true,
						    showForSingleSeries: false,
						    showForNullSeries: true,
						    showForZeroSeries: true,
						    position: 'bottom',
						    horizontalAlign: 'left', 
						    floating: false,
						    fontSize: '12px',
						    fontFamily: 'Helvetica, Arial',
						    width: 300,
						    height: 50,
						    formatter: undefined,
						    offsetX: 0,
						    offsetY: 0,
						    labels: {
						        colors: undefined,
						        useSeriesColors: false
						    },
						}
	            	}
	          	}]
	        } 
  		},
  		chartOptions5: function() {
	        return {
	         	  plotOptions: {
		            bar: {
		              horizontal: false,
		              columnWidth: '55%',
		            },
		          },
		          dataLabels: {
		            enabled: false
		          },
		          stroke: {
		            show: true,
		            width: 2,
		            colors: ['transparent']
		          },

		          xaxis: {
		            categories: ['Jan','Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
		          },
		          yaxis: {
		            title: {
		              text: 'Person(s)'
		            }
		          },
		          fill: {
		          	colors: ['#0b7fd2', '#eb0202'],
		            opacity: 1

		          },
		          tooltip: {
		            y: {
		              formatter: function (val) {
		                return val + " person"
		              }
		            }
		          },
		          colors: ['#0b7fd2', '#eb0202']
				  
	        } 
  		},
		
	},
	created() {
	this.today = new Date();
	this.selectedYear = moment(this.today).format('YYYY');
	this.selectedUpdateYear = moment(this.today).format('YYYY');
	this.selectedUpdateMonth = moment(this.today).format('M');
	console.log(this.selectedUpdateMonth);
	this.produreYear();
	axios
		.get("/api/dashboard/current")
		.then(res => {
		    this.outlet_id = res.data.outlet_id;
		    this.selected_outlet = res.data.outlet_id;
			this.pivotData();

		})
	}

};
</script>