<template>
  <div>
    <div class="card mt-3">
      <div class="card-header">
        <span class="text-left">New Swim Member List</span>
      </div>
      <div class="card-body">
          <v-client-table :columns="columns" :data="history" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>
              <router-link slot="name" slot-scope="props" :to="{name: 'member.view',  params: { id: props.row.id } }" >
                  {{ props.row.user.name | capitalize }}
              </router-link>
              <div slot="parent" slot-scope="props">
                <p>{{ props.row.parent.name | capitalize }}</p>
              </div>
              <div slot="Phone" slot-scope="props">
                <p v-if="props.row.parent.contact">{{ props.row.parent.contact }}</p>
                <p v-else>Contact Not Provided</p>
              </div>
              <div slot="package_name" slot-scope="props">
               <p>{{ props.row.packages.name | capitalize }}</p>
              </div>
              <div slot="start_date" slot-scope="props">
                <p>{{ props.row.start_date |  moment("DD MMMM YYYY") }}</p>
              </div>
          </v-client-table>
      </div> <!-- <p v-else>{{ props.row.order.monthly_payment | moment("DD MMMM YYYY") }}</p> -->

    </div>
  </div>
</template>

<style>
  .table thead th{
    vertical-align: middle;
  }
</style>

<script>
export default {
  data() {
    return {
      
      history: [],
      columns: ['index','name','parent', 'Phone', 'start_date','package_name'],
      options: {
          headings: {
              index: 'No.',
              name: 'Member Name',
              parent: 'Parent Name',
              phone: 'Phone No.',
              package_name: 'Package Name',
              start_date: 'Start Date'
          },
          sortable: ['name','parent','start_date','package_name'],
          filterable: ['name','parent','start_date','package_name']
      },
    };
  },
  methods: {
    viewHistory(){
        axios
          .get(`/api/dashboard/newMember`)
          .then(res => {
              this.history = res.data;
              console.log(this.history);
          })
    },
  },
  created() {
    this.viewHistory();
  }
};
</script>