<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<div>
				<i class="fa fa-align-justify mr-2"></i> List Month To Date Transactions
			</div>
		</div>
		<div class="card-body">

			<div id="people">
				<v-client-table :columns="columns" :data="members" :options="options" width="800px">
	                    <div slot="index" slot-scope="props">{{ props.index }}</div>

	                    <div slot="invoice_no" slot-scope="props">{{ props.row.invoice_no }}</div>

	                    <div slot="name" slot-scope="props">{{ props.row.name }}</div>

	                    <div slot="status" slot-scope="props" >
	                    	<span v-if="props.row.status =='0'">Paid</span>
	                    	<span v-else>Void</span>
	                    </div>

	                    <div slot="invoice_total" slot-scope="props">RM {{ props.row.invoice_total | currency}}</div>

	                    <div slot="sst" slot-scope="props">RM {{ props.row.sst_package | currency}}</div>

	                    <div slot="payment_method" slot-scope="props">{{ props.row.payment_method }}</div>

	                    <div slot="created_at" slot-scope="props">{{ props.row.created_at | moment("Do MMMM YYYY") }}</div>

	                    <!-- <div slot="created_at" slot-scope="props">{{ props.row.created_at | moment("Do MMMM YYYY") }}</div> -->

	                    <router-link slot="action" slot-scope="props" :to="{name: 'dashboard.Invoice',  params: { id: props.row.invoice_no } }" >
	                      <button class="btn btn-info text-white">View</button>
	                    </router-link>
	            </v-client-table>
			</div>
		</div>
	</div>
</template>

<style>
.status-width{
	width: 20vmin;
	display: inline-block;
}
</style>

<script>
export default {
	data() {
		return {
			currentDates: '',
      		members: [],
			columns: ['index', 'invoice_no', 'name', 'status', 'invoice_total', 'sst', 'payment_method', 'created_at', 'action'],
		    options: {
		      headings: {
		        index: 'No.',
		        invoice_no: 'Invoice Number',
		       	name: 'Name',
		        status: 'Status',
		        invoice_total: 'Invoice Total',
		        sst: 'SST',
		        payment_method: 'Payment Method',
		        created_at: 'Paid On',
		        action: 'Action'
		      },
		      sortable: ['invoice_no', 'name', 'status', 'invoice_total', 'payment_method', 'created_at'],
		      filterable: ['invoice_no', 'name', 'created_at']
		    },
			filter_status: 'active',
			filter_outlet: [],
			selected_outlet : '',
			outletModel : false,
			checkPermission: true,
		};
	},
	methods: {
		listMember() {
			axios
				.get(`/api/member/status/${this.filter_status}/${this.selected_outlet}`)
				.then(res => {
					this.data = res.data;
				})
				.catch(err => {
					if (err.response.status == 401) {
			            this.$notify({
			                group: 'foo',
			                title: 'Ops',
			                text: 'You cannot access',
			                type: 'error',
			                duration: 5000
			            });
              			this.checkPermission = false;
			        }
				});
		},
		getOutletAccess(id){
			axios
				.get('/api/staff/'+ id)
				.then(res => {
					var outlet = res.data.data.outlet_access;
					if(typeof outlet != "undefined"){
						this.setDropdown(outlet);
					}
				})
				.catch(err => {
					console.log(err.data);
				});
		},
		setDropdown(id){
			for (var i = id.length - 1; i >= 0; i--) {
				id[i];
				axios
					.get('/api/outlets/'+ id[i])
					.then(res => {
			            this.filter_outlet.push(res.data.data);
			            this.outletModel = true;
					})
					.catch(err => {
						console.log(err.data);
					});
			}
		}
	},
	created() {
		//console.log('you hit it baby')
		axios
	       .get(`/api/dashboard/monthlysales`)
	       .then(res => {
	        this.members = res.data;
	        	console.log(this.members);
	    });
	}
};
</script>
