// Here you can add other styles

.level {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: pink;
}

.center-x-y {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  background: $white;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  h4 {
    margin: 0;
    font-weight: 300;
  }
  button,
  a {
    margin: 0 0 0 auto;
  }
}

.level {
  &-White {
    background: $white;
  }
  &-Blue {
    background: $blue;
  }
  &-Red {
    background: $red;
  }
  &-Yellow {
    background: $yellow;
  }
  &-Green {
    background: $green;
  }
}

.module__input,
.typeahead-style {
  padding: 7px 13px !important;
}

.card-header {
  display: flex;
  align-items: center;
  span {
    flex: 1 1 30%;
    text-align: center;
  }
  .btn,
  button,
  select {
    flex: 2 2 10%;
    max-width: 200px;
  }
  @media (max-width: 700px) {
    flex-direction: column;
  }
  .btn,
  span,
  button {
    margin: 10px 10px;
  }
  span {
    //margin: 10px 20px;
    i {
      margin: 0 10px 0 0;
    }
  }
}

.pointer {
  cursor: pointer;
}
