<template>
	<base-layout>
		<h1>Home</h1>
	</base-layout>
</template>

<script>
import { siteName } from "./../../config";
import BaseLayout from "./../shared/Base.vue";

export default {
  components: {
    "base-layout": BaseLayout
  },
  data() {
    return {
      siteName: siteName
    };
  }
};
</script>
