<template>
    <div v-if="checkPermission">
        <div class="card mt-3">
            <div class="card-header">
                <span class="text-left">List of Category Questionnaire</span>
            </div>
            <div class="card-body">
                <v-client-table :columns="columns" :data="data" :options="options">

                    <div slot="index" slot-scope="props">{{ props.index }}</div>
                    
                    <div slot="action" slot-scope="props">
                      <router-link :to="{name: 'questionnaire.showAll',  params: { id: props.row.id } }" >
                        <button class="btn btn-info text-white">Edit</button>
                      </router-link>
                    </div>

                </v-client-table>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <span class="text-left">List of Other Category Questionnaire</span>
                <button class="btn btn-outline-info mr-2" @click="createModal()">Add</button>
            </div>
            <div class="card-body">
                <v-client-table :columns="columns" :data="others" :options="options">

                    <div slot="index" slot-scope="props">{{ props.index }}</div>
                    
                    <div slot="action" slot-scope="props">
                      <router-link :to="{name: 'questionnaire.showAll',  params: { id: props.row.id } }" >
                        <button class="btn btn-info text-white">Edit</button>
                      </router-link>
                    </div>

                </v-client-table>
            </div>
        </div>

        <createModal v-on:getOtherCategory="getOtherCategory()"></createModal>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
import createModal from "./modal/create.vue";
export default {
    components: {
        createModal,
    },
    data() {
        return {
            badges: [],
            columns: ['index', 'name', 'action'],
            data: [],
            options: {
                headings: {
                    index: 'No.',
                    name: 'Name',
                    action: 'Action'
                },
                sortable: ['name'],
                filterable: ['name']
            },
            others: [],
            checkPermission: true
        };
    },
    methods: {
        getPackageCategory() {
            this.getOtherCategory();
            axios
                .get('/api/master-data/package-category')
                .then(res => {
                    this.data = res.data;
                    console.log(this.data);
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        },
        getOtherCategory(){
            axios
                .get('/api/master-data/other-category')
                .then(res => {
                    this.others = res.data;
                })
        },
        returnError(){
            this.checkPermission = false;
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot access',
                type: 'error',
                duration: 5000
            });
        },
        createModal(){
            this.$emit("openAddModal");
        },
    },
    created() {
        var getRoleId = jwtToken.getRoleId();
        getRoleId.includes(16) == false ? this.returnError() : this.getPackageCategory();
    }
};
</script>
