<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
      <span class="text-left">Questionnaire Management</span>
      <button class="btn btn-outline-info mr-2" @click="addModal()">Add Questionnaire</button>
    </div>
      <div class="card-body">
        <div class="card mb-3" v-for="(question, index) in questionnaires">
            <div class="card-body">
                <h4 class="card-title">{{index + 1}} - {{question.question | capitalize}}</h4>
                <div class="row mb-2" v-for="(option, index) in question.options">
                    <div class="col-md-10">{{index + 1}} - {{ option.options | capitalize }}</div>

                    <button class="btn btn-outline-info mr-2" @click="editOption(option.id)">Edit</button>
                    <button class="btn btn-outline-danger mr-2" @click="deleteOption(option.id)">Delete</button>
                </div>

                <div v-if="question.question != 'remark' && question.question != 'rate'">
                    <button class="btn btn-info mr-2" @click="addOption(question.id)">Add Option</button>
                    <button class="btn btn-danger mr-2" @click="deleteQuestion(question.id)">Delete Question</button>
                </div>
            </div>
        </div>
		  </div>
    <AddQuestion v-on:getQuestionnaire="getQuestionnaire()"></AddQuestion>
    <Addoptions v-on:getQuestionnaire="getQuestionnaire()"></Addoptions>
    <EditOptions v-on:getQuestionnaire="getQuestionnaire()"></EditOptions>
	</div>
</template>


<script>
import AddQuestion from "./modal/AddQuestion.vue";
import Addoptions from "./modal/Addoptions.vue";
import EditOptions from "./modal/EditOptions.vue";
import jwtToken from "../../helpers/jwt-token";
export default {
  components: {
    AddQuestion,
    Addoptions,
    EditOptions
  },
  data() {
    return {
      categoryId: this.$route.params.id,
      questionnaires: {},
      checkPermission: true
    };
  },
  methods: {
    getQuestionnaire() {
      axios
        .get(`/api/questionnaire/${this.categoryId}/category`)
        .then(res => {
          this.questionnaires = res.data;
          for (var i = 0; i < this.questionnaires.length; i++) {
            this.getOptions(this.questionnaires[i].id);
          }
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    getOptions(id) {
      axios
        .get(`/api/questionnaire/${id}/options`)
        .then(res => {
          // console.log(res.data);
          for (var i = 0; i < this.questionnaires.length; i++) {
              for (var j = 0; j < res.data.data.length; j++) {
                  if (this.questionnaires[i].id == res.data.data[j].questionnaire_id) {
                    this.questionnaires[i].options.push(res.data.data[j]);
                  }
              }
          }
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    addModal(){
      this.$emit("openAddModal", this.categoryId);
    },
    addOption(id){
      this.$emit("openOptionModal", id);
    },
    editOption(id){
      this.$emit("openEditOptionModal", id);
    },
    deleteOption(id){
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete(`/api/questionnaire/${id}/option`)
            .then(res => {
              this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'You have deleted the option.',
                type: 'success',
                duration: 5000
              });
              this.getQuestionnaire();
            })
            .catch(err => {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
            });
        } else {
          this.$swal('Cancelled', 'Your option is still intact', 'info');
        }
      });
    },
    deleteQuestion(id){
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete(`/api/questionnaire/${id}`)
            .then(res => {
              this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'You have deleted the question.',
                type: 'success',
                duration: 5000
              });
              this.getQuestionnaire();
            })
            .catch(err => {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
            });
        } else {
          this.$swal('Cancelled', 'Your question is still intact', 'info');
        }
      });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getQuestionnaire();
  }
};
</script>
