<template>
  <div class="card mt-3" v-if="checkPermission">
    <div class="card-header">
      <span class="text-left">Create Item</span>
    </div>
      <div class="card-body">
        <form v-on:submit="addSupplierItem()">
            <div class="form-group">
                <label>Item Name</label>
                <input type="text" class="form-control" v-model="item.item_name" required>
            </div>
            <div class="form-group">
                <label>Item Code</label>
                <input type="text" class="form-control" v-model="item.item_code" required>
            </div>
            <div class="form-group">
                <label>Item Price</label>
                <!-- <input type="text" class="form-control" v-model="item.price" required> -->
                <money v-model="item.price" v-bind="money" class="form-control"></money>
            </div>
            <div class="form-group">
                <label>Item Description</label>
                <input type="text" class="form-control" v-model="item.description" required>
            </div>

          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
</template>


<script>
import jwtToken from "../../../helpers/jwt-token";
import {Money} from 'v-money';
export default {
  components: {Money},
  
  data() {
    return {
      item: {},
      unlimited: false,
      checkPermission: true,
      money: {
        decimal: '.',
        thousands: ',',
        prefix: 'RM ',
        precision: 2
      }
    };
  },
  methods: {
    addSupplierItem() {
      // console.log(this.item);
      event.preventDefault();
      axios
        .put('/api/item', this.item)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have added the item',
            type: 'success',
            duration: 5000
          });

          this.$router.push('/supplier-item');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
      var getRoleId = jwtToken.getRoleId();
      getRoleId.includes(18) == false ? this.returnError() : true;
  }
};
</script>
