<template>
    <div class="card mt-3" v-if="checkPermission">
        <div class="card-header">
            <span class="text-left">List of Item</span>
        </div>
        <div class="card-body">
            <select class="form-control status-width" v-model="selected_supplier" @change=getItems v-if="selected_supplier">
                <option v-for="option in supplier" v-bind:value="option.id" >{{ option.company_name }}</option>
            </select>
            <v-client-table :columns="columns" :data="items" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>
              <div slot="product_code" slot-scope="props">{{ props.row.inventory.product_code }}</div>
              <div slot="product_name" slot-scope="props">{{ props.row.inventory.product_name }}</div>
            </v-client-table>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
    data() {
        return {
            items: [],
            isModal: false,
            columns: ['index', 'product_code', 'product_name', 'price'],
            options: {
                headings: {
                    index: 'No.',
                    product_code: 'Product Code',
                    product_name: 'Product Name',
                    price: 'Price',
                },
                sortable: ['product_code', 'product_name', 'price'],
                filterable: ['inventory.product_code', 'inventory.product_name', 'price']
            },
            checkPermission: true,
            supplier: '',
            selected_supplier: ''
        };
    },
    methods: {
        getItems() {
            axios
                .get(`/api/supplier-inventory/${this.selected_supplier}/filter`)
                .then(res => {
                    this.items = res.data;
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        },
        getSupplier(){
            axios
                .get('/api/supplier')
                .then(res=> {
                    this.supplier = res.data;
                    this.selected_supplier = res.data[0].id;
                    this.getItems();
                })
        },
        deleteItem(id) {
          this.$swal({
            title: 'Are you sure?',
            text: "You can't revert your action",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes Delete it!',
            cancelButtonText: 'No, Keep it!',
            showCloseButton: true,
            showLoaderOnConfirm: true
          }).then(result => {
            if (result.value) {
              this.$swal('Deleted', 'You successfully deleted this file', 'success');
              axios
                .delete('/api/item/' + id)
                .then(res => {
                  this.$notify({
                    group: 'foo',
                    title: 'Awesome',
                    text: 'You have deleted the Item.',
                    type: 'success',
                    duration: 5000
                  });
                  this.getItems();
                })
                .catch(err => {
                  this.$notify({
                    group: 'foo',
                    title: 'Ops',
                    text: 'Please contact administrator',
                    type: 'error',
                    duration: 5000
                  });
                });
            } else {
              this.$swal('Cancelled', 'Your Item is still intact', 'info');
            }
          });
        },
        returnError(){
            this.checkPermission = false;
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot access',
                type: 'error',
                duration: 5000
            });
        }
    },
    created() {
        var getRoleId = jwtToken.getRoleId();
        getRoleId.includes(18) == false ? this.returnError() : this.getSupplier();
    }
};
</script>
