<template>
  <div class="card mt-3" v-if="checkPermission">
    <div class="card-header">
      <span class="text-left">Add New Voucher</span>
    </div>
      <div class="card-body">
        <form v-on:submit="addVoucher()">
          <div class="form-group">
            <label>Code</label>
            <input type="text" class="form-control" v-model="voucher.code" required>
            <small>The code must be unique</small>
          </div>
          <div class="form-group">
            <label>Voucher Type</label>
            <div class="row">
              <div class="col-sm-6">
                <select class="form-control"  v-model="voucher.type" required>
                  <option value="package">Package</option>
                  <option value="product">Product</option>
                  <option value="both">Total Amount</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Descriptions</label>
            <input type="text" class="form-control" v-model="voucher.description" required>
          </div>
          <div class="form-group">
            <label>Limit Usage</label>
            <input v-if="!unlimited" type="text" ref="myId" class="form-control" @keypress="isNumber($event)" maxlength="5" v-model="voucher.limits" required>
          </div>
          <div class="form-group">
            <b-form-checkbox id="checkbox1"
                             v-model="unlimited"
                             value="0">
              Unlimited Usage
            </b-form-checkbox>
          </div>
          <div class="form-group">
            <label>Value Discount</label>
            <div class="row">
              <div class="col-sm-6">
                <select class="form-control"  v-model="voucher.discountType" required>
                  <option value="percentage">Percentage</option>
                  <option value="value">Value</option>
                </select>
              </div>
              <div class="col-sm-6">
                <input type="number" class="form-control" v-model="voucher.discountValue" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label>Valid From</label>
                <input type="date" class="form-control" v-model="voucher.validFrom" required>
              </div>
              <div class="col-sm-6">
                <label>Valid To</label>
                <input type="date" class="form-control" v-model="voucher.validTo" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <b-form-checkbox id="checkbox1"
                             v-model="voucher.limitOneCustomer"
                             value="1"
                             unchecked-value="0">
              Limited to 1 customer per use only
            </b-form-checkbox>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <div class="row">
              <div class="col-sm-6">
                <select class="form-control"  id="status" v-model="voucher.status" required>
                  <option value="Active" selected>Active</option>
                  <option value="In Active">In Active</option>
                </select>
              </div>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      voucher: {
        code: '',
        description: '',
        type: '',
        limits: '',
        discountValue: '',
        discountType: '',
        validFrom: '',
        validTo: '',
        limitOneCustomer: '',
        is_unlimited: '',
        status: 'Active'
      },
      unlimited: false,
      checkPermission: true
    };
  },
  methods: {
    isNumber: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57 || charCode == 46))) {
       // && charCode !== 46
        evt.preventDefault();;
      } else {
        return true;
      }
    },
    addVoucher() {
      event.preventDefault();

      if (this.unlimited) {
        this.voucher.limits = 0;
        this.voucher.is_unlimited = 1;
      } else {
        this.voucher.is_unlimited = 0;
      }
      axios
        .put('/api/voucher', this.voucher)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have added the Voucher',
            type: 'success',
            duration: 5000
          });

          this.$router.push('/master-data/voucher');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
      var getRoleId = jwtToken.getRoleId();
      getRoleId.includes(16) == false ? this.returnError() : true;
  }
};
</script>
