<template>
  <div class="card mt-3" v-if="checkPermission">
    <div class="card-header">
      <span class="text-left">Update Voucher</span>
    </div>
      <div class="card-body">
        <form v-on:submit="updateVoucher()">
          <div class="form-group">
            <label class="font-weight-bold">Code</label>
            <input type="text" class="form-control" v-model="voucher.code" required>
            <small>The code must be unique</small>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Voucher Type</label>
            <div class="row">
              <div class="col-sm-6">
                <select class="form-control"  v-model="voucher.type" required>
                  <option value="package">Package</option>
                  <option value="product">Product</option>
                  <option value="both">Total Amount</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Descriptions</label>
            <input type="text" class="form-control" v-model="voucher.description" required>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Limit Usage</label>
            <p v-if="previousLimit === 0">Previously : Unlimited</p>
            <input type="number" class="form-control" v-model="voucher.limits" required>
          </div>

          <div class="form-group">
            <b-form-checkbox id="checkbox1"
                             v-model="unlimited"
                             value="0">
              Unlimited Usage
            </b-form-checkbox>
          </div>
          
          <div class="form-group">
            <label class="font-weight-bold">Value Discount</label>
            <div class="row">
              <div class="col-sm-6">
                <select class="form-control"  v-model="voucher.discountType" required>
                  <option value="percentage">Percentage</option>
                  <option value="value">Value</option>
                </select>
              </div>
              <div class="col-sm-6">
                <input type="number" class="form-control" v-model="voucher.discountValue" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label class="font-weight-bold">Valid From</label>
                <input type="date" class="form-control" v-model="voucher.validFrom" required>
              </div>
              <div class="col-sm-6">
                <label class="font-weight-bold">Valid To</label>
                <input type="date" class="form-control" v-model="voucher.validTo" required>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="font-weight-bold">Limited to 1 customer per use only</label>
            <p v-if="previousLimitOneCustomer === 1"><span class="font-weight-bold">Yes</span></p>
            <p v-else>
              <span class="font-weight-bold">No</span>
            </p>
          </div>

          <div class="form-group">
            <div class="form-group">
              <b-form-checkbox id="checkbox1"
                               v-model="voucher.limitOneCustomer"
                               value="1"
                     unchecked-value="0">
                Limited to 1 customer per use only
              </b-form-checkbox>
            </div>
          </div>

          <div class="form-group">
            <label for="status">Status</label>
            <div class="row">
              <div class="col-sm-6">
                <select class="form-control"  id="status" v-model="voucher.status" required>
                  <option value="Active">Active</option>
                  <option value="In Active">In Active</option>
                </select>
              </div>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Update</button>
        </form>
      </div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      voucher: {
        code: '',
        description: '',
        type: '',
        limits: '',
        discountValue: '',
        discountType: '',
        validFrom: '',
        validTo: '',
        is_unlimited: '',
        status: ''
      },
      previousLimit: '',
      previousLimitOneCustomer: '',
      voucherId: this.$route.params.id,
      unlimited: false,
      checkPermission: true
    };
  },
  methods: {
    getVoucher() {
      axios
        .get('/api/voucher/' + this.voucherId)
        .then(res => {
          this.voucher = res.data;
          if (this.voucher.limits === 0) {
            this.previousLimit = 'Unlimited';
          }
          this.previousLimitOneCustomer = res.data.limitOneCustomer;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err.data);
        });
    },
    updateVoucher() {
      event.preventDefault();
      // if (this.unlimited == 0) {
      //   this.voucher.limits = 0;
      //   this.voucher.is_unlimited = 1;
      // } else {
      //   this.voucher.is_unlimited = 0;
      // }

      console.log(this.voucher.is_unlimited);
      axios
        .post('/api/voucher/' + this.voucherId, this.voucher)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have update the Voucher',
            type: 'success',
            duration: 5000
          });

          this.$router.push('/master-data/voucher');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getVoucher();
  }
};
</script>
