<template>
    <div class="card mt-3" v-if="checkPermission">
        <div class="card-header">
            <span class="text-left">List of Available Vouchers</span>
            <router-link :to="{name: 'voucher.create'}" class="btn btn-primary" >
                Add Voucher
            </router-link>
        </div>
        <div class="card-body">
            <v-client-table :columns="columns" :data="vouchers" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>
              <div slot="type" slot-scope="props">
                <span style="text-transform:capitalize" v-if="props.row.type === 'package'">{{ props.row.type }}</span>
                <span style="text-transform:capitalize" v-if="props.row.type === 'product'">{{ props.row.type }}</span>
                <span style="text-transform:capitalize" v-if="props.row.type === 'both'">{{ props.row.type }}</span>
              </div>

              <div slot="discount" slot-scope="props">
                <span v-if="props.row.discountType === 'package'">RM </span>
                {{ props.row.discountValue }}
                <span v-if="props.row.discountType === 'percentage'">%</span>
              </div>

              <div slot="limit" slot-scope="props">
                  <span v-if="props.row.limit === 0">Unlimited</span>
                  <span v-else>{{ props.row.limit }} left</span>
              </div>

              <router-link slot="action" slot-scope="props" :to="{name: 'voucher.view',  params: { id: props.row.id } }" >
                <button class="btn btn-info text-white">View</button>
              </router-link>
            </v-client-table>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
    data() {
        return {
            vouchers: [],
            columns: ['index', 'code','type', 'discount', 'limits', 'validFrom', 'validTo','status', 'action'],
            options: {
                headings: {
                    index: 'No.',
                    code: 'Code',
                    type: 'Type',
                    discount: 'Discount',
                    limits: 'Usage',
                    validFrom: 'From',
                    validTo: 'To',
                    status: 'Status',
                    action: 'Action'
                },
                sortable: ['code', 'type', 'discount', 'limits', 'from', 'status', 'to'],
                filterable: ['code','type', 'discount', 'limits', 'from', 'status', 'to']
            },
            checkPermission: true
        };
    },
    methods: {
        getAllVouchers() {
            axios
                .get('/api/voucher')
                .then(res => {
                    this.vouchers = res.data;
                    console.log(this.emails);
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        },
        returnError(){
            this.checkPermission = false;
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot access',
                type: 'error',
                duration: 5000
            });
        }
    },
    created() {
        var getRoleId = jwtToken.getRoleId();
        getRoleId.includes(16) == false ? this.returnError() : this.getAllVouchers();
    }
};
</script>
