<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<h4>View Voucher #{{ voucher.id }} - {{ voucher.code }}</h4>
		</div>
		<div class="card-body" v-html>
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<p class="font-weight-bold">Code</p>
				</div>
				<div class="col-xs-12 col-sm-8">
					<p><code>{{ voucher.code }}</code></p>
				</div>
        <div class="col-xs-12 col-sm-4">
          <p class="font-weight-bold">Type</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p style="text-transform:capitalize">{{ voucher.type }}</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p class="font-weight-bold">Descriptions</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p>{{ voucher.description }}</p>
        </div>
				<div class="col-xs-12 col-sm-4">
					<p class="font-weight-bold">Limit</p>
				</div>
				<div class="col-xs-12 col-sm-8">
					<p>{{ voucher.limits }} 
						<span class="font-weight-bold">({{ voucher.voucher_usage }} usage)</span>
					</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<p class="font-weight-bold">Discount Value</p>
				</div>
				<div class="col-xs-12 col-sm-8">
        			<span v-if="voucher.discountType === 'value'">RM </span>
        			{{ voucher.discountValue }}
        			<span v-if="voucher.discountType === 'percentage'">%</span>
				</div>
				<div class="col-xs-12 col-sm-4">
					<p class="font-weight-bold">Valid</p>
				</div>
				<div class="col-xs-12 col-sm-8">
					<p>{{ voucher.validFrom }} - {{ voucher.validTo }}</p>
				</div>

        <div class="col-xs-12 col-sm-4">
					<p class="font-weight-bold">Status</p>
				</div>
				<div class="col-xs-12 col-sm-8">
					<p style="text-transform: capitalize;">{{ voucher.status }}</p>
				</div>

			</div>
			<hr>
			<button class="btn btn-outline-danger pull-right mr-2" @click="deleteVoucher(voucherId)">Delete</button>
			<router-link :to="{name: 'voucher.edit',  params: { id: voucher.id } }" > 
				<button class="btn btn-info pull-right mr-2 text-white">Edit</button>
            </router-link>
		</div>
	</div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      voucherId: this.$route.params.id,
      voucher: {},
      checkPermission: true
    };
  },
  methods: {
    getVoucher() {
      axios
        .get("/api/voucher/" + this.voucherId)
        .then(res => {
          this.voucher = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    deleteVoucher(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/voucher/" + id)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have deleted the voucher',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/master-data/voucher");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });    
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getVoucher();
  }
};
</script>
