<template>
  <div class="card mt-3" v-if="checkPermission">
    <div class="card-header">
      <span class="text-left">Create Rating</span>
    </div>
      <div class="card-body">
        <form v-on:submit="submitRating()">
          <div class="form-group">
                <label class="font-weight-bold">Select Outlet</label>
                <div class="row">
                    <div class="col-sm-12">
                        <select class="form-control"  v-model="rating.outlet_id" required>
                            <option v-for="outlet in outlets" :value="outlet.id">{{ outlet.name }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group" v-for="(item, index) in questionnaire">
                <div v-if="item.question == 'rate'">
                    <label class="font-weight-bold">Rate</label>
                    <star-rating v-model="rating.rate"></star-rating>
                </div>
                <div v-else-if="item.question == 'remark'">
                    <label class="font-weight-bold">Remark</label>
                    <textarea rows="3" class="form-control" v-model="rating.remark"></textarea>
                </div>
                <div v-else>
                    <label class="font-weight-bold">{{ item.question | capitalize }}</label>
                    <div role="group" class="form-group row">
                        <div class="col-12">
                            <label class="custom-checkbox custom-control" v-for="(option, index) in item.options" v-bind:key="option.id">
                                <input type="checkbox" class="custom-control-input" :value="option.id" @click="check($event)">
                                <span aria-hidden="true" class="custom-control-indicator"></span> 
                                <span class="custom-control-description">{{ option.options | capitalize }}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      outlets: '',
      rating: {
        rate: 0,
        answer: []
      },
      questionnaire: [
        {
          question:'',
          options:''
        }
      ],
      unlimited: false,
      checkPermission: true
    };
  },
  methods: {
    getOutlet(){
      this.getQuestion();
        axios
          .get('/api/outlets')
          .then(res=>{
              this.outlets = res.data;
          })
    },
    getQuestion(){
        axios
            .get('/api/questionnaire/rating/outlet')
            .then(res => {
                this.questionnaire = res.data;
            })
    },
    check(e) {
      if (e.target.checked) {
        this.rating.answer.push(e.target.value);
      } else {
        this.rating.answer.splice(
          this.rating.answer.indexOf(e.target.value),
          1
        );
      }
      console.log(this.rating.answer);
    },
    submitRating() {
      console.log(this.rating);
      event.preventDefault();
      axios
        .put('/api/questionnaire/rating/outlet', this.rating)
        .then(res => {
            console.log(res.data);
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have submit the rating',
            type: 'success',
            duration: 5000
          });

          this.$router.push('/feedback');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
      var getRoleId = jwtToken.getRoleId();
      getRoleId.includes(17) == false ? this.returnError() : this.getOutlet();
  }
};
</script>
