<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span class="text-left">Add New Notice</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="addNotice()">
          <div class="form-group">
            <label>Select Template</label>
            <select class="form-control" v-model="selectedTemplate" @change="getEmail(selectedTemplate)">
              <option v-for="items in emails" :value="items.id">{{ items.title }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" v-model="notice.subject">
          </div>
          <div class="form-group">
            <label>Email Variables</label>
            <select class="form-control" v-model="selectVariable" @click="insertVariable(selectVariable)">
              <option v-for="(value, key)  in variables" :value="key">{{ value }}</option>
            </select>
          </div>
      		<div class="form-group">
      			<label>Message</label>
            <wysiwyg v-model="notice.message" />
      		</div>

          <div class="form-group">
              <label>User Type</label>
              <div class="col-md-4">
                <label class="custom-checkbox custom-control" v-for="option in options" v-bind:key="option.id" >
                  <input type="checkbox" v-model="notice.role_id" :value="option.id" autocomplete="off" class="custom-control-input" @click="addUser($event)">
                  <span aria-hidden="true" class="custom-control-indicator"></span> 
                  <span class="custom-control-description">{{ option.role | capitalize }}</span>
                </label>

              </div>
          </div>

          <div class="form-group">
              <label>Broadcast</label>
              <div class="col-md-4">
                <div v-for="option in broadcasts">
                    <input type="radio" name="broadcast" v-model="notice.broadcast" v-bind:value="option.value">{{ option.text }}
                </div>
              </div>
          </div>


          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    	</div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
    	notice: {
    		message: '',
        subject: '',
    		role_id: [],
        broadcast: '',
    	},
      broadcasts: [
        {value: 'notice', text: 'Notice Board'},
        {value: 'email', text: 'Email'},
        {value: 'all', text: 'Both'},
      ],
      options: [],
      checkPermission: true,
      emails : '',
      selectedTemplate: '',
      variables: '',
      selectVariable: ''
    };
  },
  methods: {
    emailTemplate(){
        axios
          .get('/api/email')
          .then(res => {
              this.emails = res.data;
              this.getVariable();
              this.getAllRoles();
          })
    },
    getAllRoles() {
      axios
        .get('/api/rolespermission')
        .then( res => {
          this.options = res.data.filter(
            cl => cl.role !== 'system admin' && cl.role !== 'super admin' && cl.role !== 'customer'
          );
        })
    },
    getVariable(){
        axios
          .get('/api/email/variable')
          .then(res => {
              this.variables = res.data;
          })
    },
    insertVariable(text){
      this.notice.message = this.notice.message + text;
    },
    getEmail(id) {
        axios
          .get('/api/email/'+id)
          .then(res => {
              this.notice.message = res.data.content;
              this.notice.subject = res.data.subject;
          })
    },
    addUser(e) {
      if (e.target.checked) {
        this.notice.role_id.push(e.target.value);
      } else {
        this.notice.role_id.splice(this.notice.role_id.indexOf(e.target.value), 1);
      }
    },
    addNotice() {
      event.preventDefault();
      console.log(this.notice);
      axios
        .put('/api/notice', this.notice)
        .then( res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have added the message',
              type: 'success',
              duration: 5000
            });

          this.$router.push("/master-data/notice");
        })
        .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.emailTemplate();
  }
};
</script>

<style lang="scss" scoped>
@import '~vue-wysiwyg/dist/vueWysiwyg.css';
</style>