<template>
	<div class="card mt-3">
		<div class="card-header">
			<span class="text-left">Update Voucher</span>
    </div>
    <div class="card-body">
      <form v-on:submit="updateNotice()">
        <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" v-model="notice.subject">
          </div>
        <div class="form-group">
            <label>Email Variables</label>
            <select class="form-control" v-model="selectVariable" @click="insertVariable(selectVariable)">
              <option v-for="(value, key)  in variables" :value="key">{{ value }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Message</label>
            <wysiwyg v-model="notice.message" />
          </div>

          <div class="form-group">
              <label>User Type</label>
              <div class="col-md-4">
                <label class="custom-checkbox custom-control" v-for="option in options" v-bind:key="option.id" >
                  <input type="checkbox" v-model="notice.role_id" :value="option.id" autocomplete="off" class="custom-control-input" @click="addUser($event)">
                  <span aria-hidden="true" class="custom-control-indicator"></span> 
                  <span class="custom-control-description">{{ option.role | capitalize }}</span>
                </label>

              </div>
          </div>

          <!-- <div class="form-group">
              <label>Broadcast</label>
              <div class="col-md-4">
                <label class="custom-checkbox custom-control" v-for="option in broadcasts" v-bind:key="option.value" >
                  <input type="checkbox" v-model="notice.broadcast" :value="option.value" autocomplete="off" class="custom-control-input" @click="addType($event)">
                  <span aria-hidden="true" class="custom-control-indicator"></span> 
                  <span class="custom-control-description">{{ option.text | capitalize }}</span>
                </label>

              </div>
          </div> -->

          <div class="form-group">
              <label>Broadcast</label>
              <div class="col-md-4">
                <div v-for="option in broadcasts">
                    <input type="radio" name="broadcast" v-model="notice.broadcast" v-bind:value="option.value">{{ option.text | capitalize }}
                </div>
              </div>
          </div>
        <button type="submit" class="btn btn-primary mt-3">Update</button>
      </form>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      notice: '',
    	noticeId: this.$route.params.id,
      options: [],
      broadcasts: [
        {value: 'notice', text: 'Notice Board'},
        {value: 'email', text: 'Email'},
        {value: 'all', text: 'Both'},
      ],
      variables: '',
      selectVariable: ''
    };
  },
  methods: {
  	getNotice() {
      axios
        .get("/api/notice/" + this.noticeId)
        .then(res => {
          this.notice = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    getAllRoles() {
      axios
        .get('/api/rolespermission')
        .then( res => {
          this.options = res.data.filter(
            cl => cl.role !== 'system admin' && cl.role !== 'super admin' && cl.role !== 'customer'
          );
        })
    },
    getVariable(){
        axios
          .get('/api/email/variable')
          .then(res => {
              this.variables = res.data;
          })
    },
    addUser(e) {
      if (e.target.checked) {
        this.notice.role_id.push(e.target.value);
      } else {
        this.notice.role_id.splice(this.notice.role_id.indexOf(e.target.value), 1);
      }
    },
    addType(e){
      if (e.target.checked) {
        this.notice.broadcast.push(e.target.value);
      } else {
        this.notice.broadcast.splice(this.notice.broadcast.indexOf(e.target.value), 1);
      }
    },
    updateNotice() {
      event.preventDefault();
      axios
        .post('/api/notice/' + this.noticeId, this.notice)
        .then( res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have update the notice',
              type: 'success',
              duration: 5000
            });

          this.$router.push("/master-data/notice");
        })
        .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    }
  },
  created() {
  	this.getNotice();
    this.getAllRoles();
    this.getVariable();
  }
};
</script>

<style lang="scss" scoped>
@import '~vue-wysiwyg/dist/vueWysiwyg.css';
</style>