<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<h4>View Notice</h4>
		</div>
    <div class="card-body">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <span class="font-weight-bold">Message </span>
          <div v-html="notice.message">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
            <span class="font-weight-bold">User Type </span>
            <ul>
              <li v-for="role in roles">
                {{ role | capitalize }}
              </li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12 b-r">
          <button class="btn btn-outline-danger pull-right mr-2" @click="deleteNotice(noticeId)">Delete</button>
          <router-link :to="{name: 'notice.edit',  params: { id: notice.id } }" > 
            <button class="btn btn-info pull-right mr-2 text-white">Edit</button>
          </router-link>
        </div>
      </div>
    </div>
	</div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      noticeId: this.$route.params.id,
      notice: {},
      checkPermission: true,
      roles: []
    };
  },
  methods: {
    getNotice() {
      axios
        .get("/api/notice/" + this.noticeId)
        .then(res => {
          this.notice = res.data;
          for (var i = 0; i < res.data.role_id.length; i++) {
              this.getRole(res.data.role_id[i]);
          }
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    getRole(id){
        axios
          .get("/api/role/" + id)
          .then(res => {
              this.roles.push(res.data.role);
          })
    },
    deleteNotice(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/notice/" + id)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have deleted the notice',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/master-data/notice");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getNotice();
  }
};
</script>
