<template>
  <div class="card mt-3" v-if="checkPermission">
    <div class="card-header">
      <span class="text-left">Create Orders</span>
    </div>
      <div class="card-body">
        <form v-on:submit="addSupplierItem()">
            <div class="form-group">
                <label>Supplier</label>
                <!-- <input type="text" class="form-control" v-model="item.item_code" required> -->
                <select v-model="order.supplier" class="form-control">
                    <option v-for="supplier in suppliers" :value="supplier.id">{{ supplier.company_name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Item</label>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <label>Item Name</label>
                      <v-select v-model="listproduct.item" :options="items" label="product_name"></v-select>
                    </div>

                    <div class="col-sm-12 col-md-4">
                      <label>Quantity</label>
                      <input type="number" name="quantity" class="form-control" v-model="listproduct.quantity" :class="{ 'is-invalid': errors.has('quantity') }">

                    </div>
                    <div class="col-sm-12 col-md-2">
                      <label></label>
                      <a class="btn btn-info btn-block text-white my-2" @click.prevent="addProduct()">Add</a>
                    </div>
                </div>
            </div>

            <div class="form-group" v-if="listproduct">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-responsive table-bordered m-t-30 table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Action</th>
                            <th>Item</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(s,index) in order.listItem" v-bind="order.listItem">
                            <td>{{ index + 1 }}</td>
                            <td>
                              <button class="btn btn-outline-danger" @click.prevent="removeProduct(index)">X</button>
                            </td>
                            <td>{{ s.item.product_name }}</td>
                            <td>{{ s.quantity }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold" colspan="3">Total</td>
                            <td>{{ order.total_quantity }}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="form-group">
                <label>Remarks</label>
                <input type="text" class="form-control" v-model="order.remarks">
            </div>

          <button class="btn btn-primary" type="submit" :disabled="isCompleted">Submit</button>
        </form>
      </div>
    </div>
</template>


<script>
import jwtToken from "../../../helpers/jwt-token";
import {Money} from 'v-money';
export default {
  components: {Money},
  
  data() {
    return {
      order: {
        supplier: '',
        listItem: [],
        total_quantity: 0,
        remarks: ''
      },
      items: [],
      suppliers: '',
      unlimited: false,
      checkPermission: true,
      listproduct: {
        item: '',
        quantity: ''
      },
      isCompleted: true
    };
  },
  methods: {
    getItems(){
      axios
        .get('/api/inventory')
        .then(res=> {
            this.items = res.data;
            this.getSupplier();
        })
    },
    getSupplier(){
      axios
        .get('/api/supplier')
        .then(res=> {
            this.suppliers = res.data;
        })
    },
    addProduct(){
      if (this.listproduct.item != '' && this.listproduct.quantity != '') {
          this.order.listItem.push(this.listproduct);
          this.order.total_quantity = (parseInt(this.order.total_quantity) + parseInt(this.listproduct.quantity));

          this.listproduct = {
              item: '',
              quantity: ''
          };

          if (this.order.listItem.length > 0) {
              this.isCompleted = false;
          }
      }
    },
    removeProduct(index){
      this.order.total_quantity = ( parseInt(this.order.total_quantity) - this.order.listItem[index].quantity );

      // remove item from index
      this.order.listItem.splice(index, 1);
      if (this.order.listItem.length == 0) {
          this.isCompleted = true;
      }
    },
    addSupplierItem() {
      event.preventDefault();
      console.log(this.order);
      if (this.order.supplier == '') {
          this.$notify({
            group: 'foo',
            title: 'Error',
            text: 'Please Fill All The Form',
            type: 'error',
            duration: 5000
          });
      }
      else{
        axios
          .put('/api/supplier-order', this.order)
          .then(res => {
            this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have added the item',
              type: 'success',
              duration: 5000
            });

            this.$router.push('/supplier-order');
          })
          .catch(err => {
            this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          });
        }
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
      var getRoleId = jwtToken.getRoleId();
      getRoleId.includes(18) == false ? this.returnError() : this.getItems();
  }
};
</script>

<style>
  .dropdown-toggle::after{
    content: none !important;
  }
  .table-responsive{
    display: table;
  }
</style>