<template>
    <div class="card mt-3" v-if="checkPermission">
        <div class="card-header">
            <span class="text-left">List of Order</span>
            <router-link :to="{name: 'supplier-order.create'}" class="btn btn-primary" >
                Create Order
            </router-link>
        </div>
        <div class="card-body">

            <v-client-table :columns="columns" :data="items" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>
              <div slot="company_name" slot-scope="props">{{ props.row.supplier.company_name }}</div>
              <div slot="created_at" slot-scope="props">{{ props.row.created_at | moment("Do MMMM YYYY") }}</div>
              <div slot="action" slot-scope="props">
                    <router-link :to="{name: 'supplier-order.view',  params: { id: props.row.id } }" >
                        <button class="btn btn-info text-white">View</button>
                    </router-link>
                    <!-- <button class="btn btn-outline-danger mr-2" @click="deleteItem(props.row.id)">Delete</button> -->
              </div>
            </v-client-table>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
    data() {
        return {
            items: [],
            isModal: false,
            columns: ['index', 'company_name', 'total_quantity', 'remarks', 'created_at', 'action'],
            options: {
                headings: {
                    index: 'No.',
                    company_name: 'Company Name',
                    total_quantity: 'Total Quantity',
                    remarks: 'Remarks',
                    created_at: 'Date',
                    action: 'Action'
                },
                sortable: ['company_name', 'total_quantity', 'remarks', 'created_at'],
                filterable: ['supplier.company_name', 'total_quantity', 'remarks', 'created_at']
            },
            checkPermission: true
        };
    },
    methods: {
        getItems() {
            axios
                .get('/api/supplier-order')
                .then(res => {
                    this.items = res.data;
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        },
        deleteItem(id) {
          this.$swal({
            title: 'Are you sure?',
            text: "You can't revert your action",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes Delete it!',
            cancelButtonText: 'No, Keep it!',
            showCloseButton: true,
            showLoaderOnConfirm: true
          }).then(result => {
            if (result.value) {
              this.$swal('Deleted', 'You successfully deleted this file', 'success');
              axios
                .delete('/api/item/' + id)
                .then(res => {
                  this.$notify({
                    group: 'foo',
                    title: 'Awesome',
                    text: 'You have deleted the Item.',
                    type: 'success',
                    duration: 5000
                  });
                  this.getItems();
                })
                .catch(err => {
                  this.$notify({
                    group: 'foo',
                    title: 'Ops',
                    text: 'Please contact administrator',
                    type: 'error',
                    duration: 5000
                  });
                });
            } else {
              this.$swal('Cancelled', 'Your Item is still intact', 'info');
            }
          });
        },
        returnError(){
            this.checkPermission = false;
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot access',
                type: 'error',
                duration: 5000
            });
        }
    },
    created() {
        var getRoleId = jwtToken.getRoleId();
        getRoleId.includes(18) == false ? this.returnError() : this.getItems();
    }
};
</script>
