<template>
  <div>
  	<!-- <div class="card mt-3">
  		<div class="card-header">
  			<h2>{{ supplier.company_name }}</h2>
  		</div>
  		<div class="card-body" v-html>
  			<div class="row">
            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Contact Name</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>{{ supplier.name | capitalize}}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Contact Email</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>{{ supplier.email }}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Contact Number</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>{{ supplier.phone_number }}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Address</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>{{ supplier.street1 }} {{ supplier.street2 }}, {{ supplier.postcode }} {{ supplier.city }}, {{ supplier.state }}, {{ supplier.country }}</p>
            </div>
        </div>
  		</div>
  	</div>

    <v-client-table :columns="columns" :data="inventories" :options="options">
        <div slot="index" slot-scope="props">{{ props.index }}</div>
        <div slot="quantity" slot-scope="props">{{ props.row.pivot.quantity }}</div>
    </v-client-table> -->
    <div id="printPDF">
        <div class="content-inner">
            <hr>
            <div class="row">
              <div class="col-6 col-md-6">
                <h5>Purchase Order</h5>
              </div>
              <div class="col-6 col-md-6">
                <p class="font-weight-bold">{{ data.outlet.company_name }}</p>
                {{ data.outlet.street1 }} {{ data.outlet.street2 }} {{ data.outlet.city }} {{ data.outlet.postcode }} {{ data.outlet.state }} {{ data.outlet.country }}
                {{ data.outlet.telephone }}
              </div>
            </div>
            <hr>
            <div class="row mt-3">
              <div class="col-6 col-md-6">
                <p>To : <b>{{ data.supplier.company_name }}</b> <br>
                  {{ data.supplier.street1 }} {{ data.supplier.street2 }} {{ data.supplier.city }} {{ data.supplier.postcode }} {{ data.supplier.state }} {{ data.supplier.country }}
                </p>
              </div>
              <div class="col-6 col-md-6">
                {{ data.created_at | moment("Do MMMM YYYY") }}
              </div>
            </div>
            
            <table class="table table-responsive m-t-30 table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th style="text-align: center;">Product Code</th>
                        <th style="text-align: center;">Product Name</th>
                        <th style="text-align: center;">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(items, index) in data.inventory">
                        <td>{{ index + 1 }}</td>
                        <td>{{ items.product_code }}</td>
                        <td>{{ items.product_name }}</td>
                        <td>{{ items.pivot.quantity }}</td>
                    </tr>
                </tbody>
            </table>

            <div v-if="data.remarks" class="mb-3">
                Remarks : {{ data.remarks }}
            </div>
          </div>
    </div>

    <div class="mb-3">
        <button class="btn btn-info mr-2" @click="sentEmail(supplierId)">Sent Email</button>
        <button class="btn btn-info mr-2" @click="print(supplierId)">PDF</button>
    </div>

  </div>

</template>


<script>
export default {
  data() {
    return {
      supplierId: this.$route.params.id,
      data: '',
      inventories: [],
      columns: ['index', 'product_code', 'product_name', 'quantity'],
      options: {
          headings: {
              index: 'No.',
              product_code: 'Product Code',
              product_name: 'Product Name',
              quantity: 'quantity',
          },
          sortable: ['product_code', 'product_name', 'quantity'],
          filterable: ['product_code', 'product_name', 'pivot.quantity']
      },
    };
  },
  methods: {
    getSupplier() {
      axios
        .get("/api/supplier-order/" + this.supplierId)
        .then(res => {
          this.data = res.data;
          console.log(this.data);
          // this.inventories = res.data.inventory;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    sentEmail(id){
        this.$swal({
            title: 'Are you sure?',
            text: "You can't revert your action",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes Sent it!',
            cancelButtonText: 'No, Do not Sent!',
            showCloseButton: true,
            showLoaderOnConfirm: true
          }).then(result => {
            if (result.value) {
              axios
                .post(`/api/supplier-order/${id}/email`)
                .then(res => {
                  this.$swal('Sent', 'You successfully sent an email', 'success');
                  this.getSupplier();
                })
            } else {
              this.$swal('Cancelled', 'Your not sent an email', 'info');
            }
          });
    },
    print(id){
      var printContents = document.getElementById('printPDF').innerHTML;
      var originalContents = document.body.innerHTML;

      document.body.innerHTML = printContents;

      window.print();

      document.body.innerHTML = originalContents;
    }
  },
  created() {
    this.getSupplier();
  }
};
</script>

<style>
@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
}
.table-responsive{
  display: inline-table;
}
</style>