<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span>Update Roles and Permission</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="updateRolePermission()">
      		<!-- <div class="form-group">
      			<label>Name</label>
      			<input type="text" class="form-control" v-model="rolespermission.name">
      		</div> -->

          <div class="form-group">
              <label class="font-weight-bold">Permission</label>
              <div class="col-md-4">
                <label class="custom-checkbox custom-control" v-for="perm in permissions" v-bind:key="perm.id" >
                  <input type="checkbox" v-model="rolespermission.access" :value="perm.id" autocomplete="off" class="custom-control-input" @click="addPermissions($event)">
                  <span aria-hidden="true" class="custom-control-indicator"></span> 
                  <span class="custom-control-description">{{ perm.name }}</span>
                </label>

              </div>
          </div>

          <button class="btn btn-primary" type="submit">Update</button>
        </form>
    	</div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      loading: false,
      roleId: this.$route.params.id,
      rolespermission: {
        name: '',
        access: []
      },
      permissions: '',
      checkPermission: true
    };
  },
  methods: {
    getRoles() {
      axios
        .get('/api/rolespermission/'+ this.roleId)
        .then(res => {
            this.rolespermission.name = res.data.rolespermission.role;
            this.permissions = res.data.permission.filter(
                data => data.name != 'outlet' && data.name != 'superadmin'
            );

            for (var i = 0; i < res.data.roleaccess.length; i++) {
                this.rolespermission.access.push(res.data.roleaccess[i].id);
            }
        })
    },
    addPermissions(e) {
      if (e.target.checked) {
        this.rolespermission.access.push(e.target.value);
      } else {
        this.rolespermission.access.splice(this.rolespermission.access.indexOf(e.target.value), 1);
      }
    },
    updateRolePermission() {
      	event.preventDefault();
        this.loading = true;

        axios
        .post('/api/rolespermission/'+ this.roleId, this.rolespermission)
        .then(res => {
            this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have update the Roles and Permission',
              type: 'success',
              duration: 5000
            });
            this.$router.push('/master-data/rolespermission');
        })
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getRoles();
  }
};
</script>

<style lang="scss" scoped>
	@import "~vue-wysiwyg/dist/vueWysiwyg.css";
</style>
