<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span class="text-left">Roles and Permission Management</span>
		</div>
    	<div class="card-body">
            <v-client-table :columns="columns" :data="roles" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>

              <div slot="role" slot-scope="props">{{ props.row.role | capitalize }}</div>

              <router-link slot="action" slot-scope="props" :to="{name: 'rolespermission.edit',  params: { id: props.row.id } }" >
                <button class="btn btn-info text-white">Edit</button>
              </router-link>
            </v-client-table>
    	</div>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
    	roles: [],
        columns: ['index', 'role', 'action'],
        options: {
            headings: {
                index: 'No.',
                role: 'Role',
                action: 'Action'
            },
            sortable: ['role'],
            filterable: ['role']
        },
        checkPermission: true
    };
  },
  methods: {
    getAllRoles() {
    	axios
    		.get('/api/rolespermission')
    		.then( res => {
    			this.roles = res.data.filter(
            cl => cl.role !== 'system admin' && cl.role !== 'super admin' && cl.role !== 'instructor' && cl.role !== 'customer' && cl.role !== 'gym member' && cl.role !== 'swim member'
          );
    		})
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getAllRoles();
  }
};
</script>