<template>
    <div v-if="checkPermission">
      <div class="row">
        <div class="col-md-8">
          <div class="card mt-3">
            <div class="card-body">
              <full-calendar :events="fcEvents" @dayClick="dayClick" @eventClick="eventClick" locale="en">
                <template slot="fc-event-card" slot-scope="p">
                  <p> {{ p.event.title }} </p>
                </template>

                <template slot="body-card">
                  <div class="more-events" v-if="eventDetail != null" v-show="showEvent" :style="{left: eventPos.left + 'px', top: eventPos.top + 'px'}">
                    <div class="more-header">
                      <span class="title">{{ eventDetail.title }}</span>
                      <span class="close" @click.stop="showEvent = false">x</span>
                    </div>
                    <div class="more-body">
                      <div class=" body-list">
                        <div class="event__color__single__circle" :class="'event__color__single--' + eventDetail.color"></div>
                        <p>{{ eventDetail.category }}</p>
                      </div>
                    </div>
                  </div>
                </template>
              </full-calendar>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-3">
            <div class="card-body">
              <button class="btn btn-primary btn-block my-3" @click="openModal()">Add Event</button>
              <!-- <button class="btn btn-outline-primary btn-block">Back today</button> -->
              <hr>
              <div class="row">
                <div class="col-md-6 col-6">
                  <select class="form-control" v-model="selectEvent" @change="chageMonthYear()">
                      <option value="all">All Events</option>
                      <option v-for="event in calendars" :value="event.value">{{ event.text | capitalize }}</option>
                  </select>
                </div>
                <div class="col-md-6 col-6">
                  <select class="form-control" v-model="selectedYear" @change="chageMonthYear()" id="selectyear">
                  </select>
                </div>
              </div>
              <ul class="event__agenda">
                <li v-for="event in fcEvents" v-bind:key="event.id">
                  <div class="event__color__single">
                    <div class="event__color__single__circle" :class="'event__color__single--' + event.color" >
                    </div>
                    <div class="event__color__single__text">
                      <span>{{ event.start | moment("Do MMMM YYYY")}} <span v-if="event.start !== event.end">- {{ event.end | moment("Do MMMM YYYY") }}</span></span>
                      <p><strong>{{ event.title }}</strong></p>
                      <p v-if="event.remark">{{ event.remark }}</p>
                      <span class="opacity">{{event.category}}</span>
                      <a class="btn text-info" @click="openEditModal(event.id)">Edit</a>
                    </div>
                  </div>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <b-modal title="Add New Event" class="modal-primary" v-model="myModal" @ok="addEvent()">
        <div class="row">
          <div class="col-sm-12">
              <form>
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" v-model="event.title" required/>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>From</label>
                      <input type="date" class="form-control" v-model="event.start" required/>
                    </div>
                    <div class="col-md-6">
                      <label>To</label>
                      <input type="date" class="form-control" v-model="event.end" required/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Category</label>
                        <b-form-select v-model="event.calendar_id"
                        :plain="true"
                        :options="calendars">
                        </b-form-select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Remarks</label>
                      <textarea rows="5" class="form-control" v-model="event.remark"></textarea>
                    </div>
                  </div>
                </div>
              </form>

          </div>
        </div>
        </b-modal>
      <b-modal title="Edit Event" class="modal-primary" v-model="editModal" @ok="updateEvent()">
        <div class="row">
          <div class="col-sm-12">
              <form>
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" v-model="event.title" required/>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>From</label>
                      <input type="date" class="form-control" v-model="event.start" required/>
                    </div>
                    <div class="col-md-6">
                      <label>To</label>
                      <input type="date" class="form-control" v-model="event.end" required/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Category</label>
                        <b-form-select v-model="event.calendar_id"
                        :plain="true"
                        :options="calendars">
                        </b-form-select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Remarks</label>
                      <textarea rows="5" class="form-control" v-model="event.remark"></textarea>
                    </div>
                  </div>
                </div>
              </form>
              <button class="btn btn-outline-danger" @click="deleteEvent()">Delete</button>
          </div>  
        </div>
        </b-modal>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      fcEvents: [],
      event: {
        title: '',
        start: '',
        end: '',
        category: '',
        color: '',
        calendar_id: '',
        remark: '',
        outlet_id: ''
      },
      showEvent: false,
      eventPos: {
        left: 0,
        right: 0
      },
      eventDetail: null,
      myModal: false,
      editModal: false,
      selectedDate: null,
      outlet_id: '',
      selectedEvent: '',
      calendars: [],
      checkPermission: true,
      selectEvent: 'all',
      selectedYear: '',
    };
  },
  methods: {
    chageMonthYear() {
      this.getAllEvent();
    },
    getAllCategory() {
      axios
        .get('/api/calendar')
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            var obj = {};
            obj.text = res.data[i].category;
            obj.value = res.data[i].id;
            this.calendars.push(obj);
          }
        })
        .catch(err => {});
    },
    getAllEvent() {
      var params = {};
          params.year = this.selectedYear ;
          params.event = this.selectEvent;
          params.outlet_id = this.outlet_id;

      axios
        .post(`/api/event/filter`, params)
        .then(res => {
          this.fcEvents = res.data;
        })
        .catch(err => {});
    },
    addEvent() {
      event.preventDefault();
      this.event.outlet_id = this.outlet_id;
      console.log(this.event);

      axios
        .put('/api/event', this.event)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'The event successful added.',
            type: 'success',
            duration: 5000
          });

          this.getAllEvent();
          this.event = {};
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please make sure you fill in all the information',
            type: 'error',
            duration: 5000
          });
        });
    },
    eventClick(event, jsEvent, pos) {
      console.log('eventClick', event, jsEvent, pos);
      this.showEvent = true;
      this.eventPos = pos;
      this.eventDetail = event;
    },
    openModal() {
      this.myModal = true;
    },
    dayClick(day, jsEvent) {
      this.myModal = true;
      this.event = {
        title: '',
        start: '',
        end: '',
        category: '',
        color: ''
      };
      this.selectedDate = day;
    },
    moreClick(day, events, jsEvent) {
      console.log('moreClick', day, events, jsEvent);
    },
    openEditModal(eventId) {
      console.log(eventId);
      this.editModal = true;
      this.selectedEvent = eventId;

      axios
        .get('/api/event/' + eventId)
        .then(res => {
          this.event = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    updateEvent() {
      axios
        .post('/api/event/' + this.selectedEvent, this.event)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'Updated event',
            type: 'success',
            duration: 5000
          });
          this.getAllEvent();
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    deleteEvent() {
      axios
        .delete('/api/event/' + this.selectedEvent)
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have deleted the event',
            type: 'success',
            duration: 5000
          });
          this.editModal = false;
          this.getAllEvent();
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    produreYear(){
      var startYear = 2018;
      //do loop year
      var i = this.selectedYear  - startYear;

      while(i>=0){
          $('#selectyear').append($('<option>', {
              value: startYear + i,
              text: startYear + i
          }));
          i--;
      }
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    },
    returnSuccess(){
      axios
        .get("/api/user")
        .then(res => {
            this.outlet_id = res.data.outlet_id;
            this.getAllEvent();
            this.getAllCategory();
        });
    }
  },
  components: {
    'full-calendar': require('vue-fullcalendar')
  },
  created() {
    var currentTime = new Date();
    this.selectedYear = currentTime .getFullYear();
    
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.returnSuccess();
  },
  mounted : function () {
      this.produreYear();
  }
};
</script>


<style lang="scss" scoped>
.event {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  &__color {
    display: flex;
    flex-direction: column;
    &__single {
      margin: 20px 0;
      display: flex;
      align-items: center;
      &__circle {
        display: inline-block;
        height: 15px;
        width: 15px;
        background: red;
        border-radius: 50%;
        margin: 0 20px 0 0;
      }
      &--red {
        background: #f44336;
      }
      &--green {
        background: #4caf50;
      }
      &--orange {
        background: #ff9800;
      }
      &--blue {
        background: #03a9f4;
      }
      &--purple {
        background: #673ab7;
      }
      p {
        margin: 0;
      }
      span.opacity {
        color: #827c7c;
      }
    }
  }
  &__agenda {
    padding: 0;
    li {
      list-style-type: none;
      margin: 10px 0;
    }
  }
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #333;
}
</style>
