<template>
	<div v-if="checkPermission">
		<h1>List of outlet</h1>

		<div class="card mt-3">
			<div class="card-body">

				<div class="table-responsive-sm">
					<table class="table b-table table-hover  b-table-fixed">
						<thead>
							<tr>
								<th>
									No.
								</th>
								<th>
									Outlet
								</th>
								<th>
									Action
								</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(outlet,index) in outlets" v-bind="outlet" :key="outlet.id" >
								<td>{{ index + 1 }}</td>
								<td>{{ outlet.name }}</td>
								<td>
		                            <router-link :to="{name: 'calendar.outlet',  params: { id: outlet.id } }" >
		                                View
		                            </router-link>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      outlets: [],
      checkPermission: true
    };
  },
  methods: {
    getOutlets() {
      axios
        .get("/api/outlets")
        .then(res => {
          this.outlets = res.data;
          console.log(this.outlets);
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
  	var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getOutlets();
  }
};
</script>