<template>
	<div>
		<page-header>
			List of Calendar Config
			<button class="btn btn-primary" slot="button" @click="calendarModal = true">Add new category</button>
		</page-header>
		<div class="card mt-3">
			<div class="card-body">

				<div class="table-responsive-sm">
					<table class="table b-table table-hover  b-table-fixed">
						<thead>
							<tr>
								<th>
									No.
								</th>
								<th>
									Category
								</th>
								<th>
									Colour
								</th>
								<th>
									Action
								</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(calendar,index) in calendars" v-bind="calendars" :key="calendar.id" >
								<td>{{ index + 1 }}</td>
								<td>{{ calendar.category | capitalize }}</td>
								<td>
									<div class="event__color" :class="'event__color--' + calendar.color"></div>
								</td>
								<td>
		                            <button class="btn btn-outline-primary" @click="openModal(calendar.id)">Edit</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<b-modal title="Add New Category" class="modal-primary" v-model="calendarModal" @ok="addCategory()">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="font-weight-bold">Category</label>
						<input type="text" name="category" class="form-control" v-model="category.category" :disabled="loading">
					</div>
					<div class="form-group">
						<label class="font-weight-bold">Colour</label>
                        <b-form-select v-model="category.color"
                        :plain="true"
                        :options="['red', 'orange', 'green', 'blue', 'purple']">
                        </b-form-select>
					</div>
				</div>
			</div>
	    </b-modal>
	    <b-modal title="Edit Category" class="modal-primary" v-model="calendarEditModal" @ok="updateCategory()">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="font-weight-bold">Category</label>
						<input type="text" name="category" class="form-control" v-model="category.category" :disabled="loading">
					</div>
					<div class="form-group">
						<label class="font-weight-bold">Colour</label>
                        <b-form-select v-model="category.color"
                        :plain="true"
                        :options="['red', 'orange', 'green', 'blue', 'purple']">
                        </b-form-select>
					</div>
				</div>
			</div>
	    </b-modal>
	</div>
</template>


<script>

export default {
  data() {
    return {
      calendars: [],
      category: {
      	category: "",
      	color: ""
      },
      calendarModal: false,
      calendarEditModal: false,
      loading: false,
      selectedId: ''
    };
  },
  methods: {
    getCalendars() {
      axios
        .get("/api/calendar")
        .then(res => {
          this.calendars = res.data;
          console.log(this.calendars);
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    addCategory() {
    	this.loading = true;
    	axios
    		.put("/api/calendar", this.category)
    		.then( res => {
    			this.loading = false;
		          this.$notify({
		              group: 'foo',
		              title: 'Awesome',
		              text: 'You have added a new category.',
		              type: 'success',
		              duration: 5000
		            });
		          this.getCalendars();
    		})
    		.catch( err => {
	          this.$notify({
	              group: 'foo',
	              title: 'Ops',
	              text: 'All field required',
	              type: 'error',
	              duration: 5000
	            });
    			this.loading = false;
    		});
    },
    openModal(id) {
    	this.calendarEditModal = true;
    	this.selectedId = id;
    	axios
    		.get('/api/calendar/' + id)
    		.then( res => {
    			this.category = res.data;
    		})
    		.catch(err => {
	          this.$notify({
	              group: 'foo',
	              title: 'Ops',
	              text: 'Please contact administrator',
	              type: 'error',
	              duration: 5000
	            });
    		})
    },
    updateCategory() {
    	axios
    		.post('/api/calendar/' + this.selectedId, this.category)
    		.then( res => {
	          this.$notify({
	              group: 'foo',
	              title: 'Awesome',
	              text: 'Updated Category',
	              type: 'success',
	              duration: 5000
	            });
	          this.selectedId = '';
	          this.getCalendars();
    		})
    		.catch( err => {
	          this.$notify({
	              group: 'foo',
	              title: 'Ops',
	              text: 'Please contact administrator',
	              type: 'error',
	              duration: 5000
	            });
	          this.selectedId = '';
    		});
    }
  },
  created() {
    this.getCalendars();
  }
};
</script>

<style lang="scss" scoped>
	.event__color{
		display: inline-block;
	    height: 15px;
	    width: 15px;
	    background: red;
	    border-radius: 50%;
	    margin: 0 20px 0 0;
        &--red{ background: #F44336; }
        &--green { background: #4CAF50; }
        &--orange { background: #FF9800; }
        &--blue { background: #03A9F4; }
        &--purple { background: #673AB7; }
	}
</style>