<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<h4>View Rating</h4>
		</div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Evaluator </p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>{{ rating.user.name }}</p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Rating </p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <star-rating v-model="rating.rate" read-only v-bind:star-size="30"></star-rating>
            </div>

            <div class="col-xs-12 col-sm-4">
                <p class="font-weight-bold">Remark </p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>{{ rating.remark }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <p class="font-weight-bold"><u>Questionnaire </u></p>
            </div>
            <div class="col-12" v-for="(rate, index)  in rating.options">
                <p class="font-weight-bold">{{ index + 1 }}) {{ rate.questions.question }} </p>
                <p>{{ rate.options }}</p>
            </div>
        </div>
    </div>
	</div>
</template>


<script>
import jwtToken from "../../../../helpers/jwt-token";
export default {
  data() {
    return {
      ratingId: this.$route.params.id,
      rating: '',
      checkPermission: true,
    };
  },
  methods: {
    getRating() {
      axios
        .get("/api/questionnaire/rating/" + this.ratingId)
        .then(res => {
            this.rating = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(14) == false ? this.returnError() : this.getRating();
  }
};
</script>
