<template>
	<b-modal title="Create Syllabus Level" class="modal-primary" v-model="myModal" @ok="createSyllabus()">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
	              <label class="font-weight-bold">Level</label>
	              <input  class="form-control" type="text" v-model="syllabus.level">
	            </div>
				<div class="form-group">
		          <label class="font-weight-bold">Syllabus</label>
		          <input  class="form-control" type="text" v-model="syllabus.name">
		        </div>
		        <div class="form-group">
		          <label class="font-weight-bold">Level Sequence</label>
		          <input  class="form-control" type="number" v-model="syllabus.sequence">
		        </div>
			</div>
		</div>
    </b-modal>
</template>
<script>
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import 'bootstrap/dist/css/bootstrap.css';
  
// Import this component
import datePicker from 'vue-bootstrap-datetimepicker';

// Import date picker css
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import moment from 'moment';
export default {
	name: 'CreateSyllabusModal',
	components: {
		Datepicker,
		datePicker
	},
	data() {
		return {
			myModal: false,
			syllabus:{
				level:'',
				name:'',
				sequence:''
			},
			sequence_array:[],
      		validate_sequence :'',
		};
	},
	methods: {
		openModal(latest_sequence) {
			console.log(latest_sequence);
			this.myModal = true;
			this.syllabus.sequence = latest_sequence+1
			// this.memberId = memberId;
			// this.attid = attendanceId;
			// this.attendance.class = classroom;
			// this.attendance.date = moment(date, 'YYYY-MM-DD').format("YYYY-MM-DD");
			// this.attendance.time = moment(time, 'hh:mm').format("hh:mm:ss");
			// if(status == 'present'){
			// 	this.checked = 'Present';
			// }else{
			// 	this.checked = 'Absent';
			// }
			// console.log(this.attendance.checked);
			// this.attendance.class = classroom;
		},
		getSequnce(){
		  axios
			.get("/api/master-data/syllabus").then(res => {

		      for (var i = 0; i < res.data.length; i++) {
		      	
		      	this.sequence_array.push(res.data[i].sequence);

		      }
		      	console.log(this.sequence_array)
		    });
		},
		createSyllabus() {	      
	      
	      var checkSequence = this.sequence_array.find(element => element == this.syllabus.sequence);
	      if(checkSequence){

			this.$swal('Error', 'This Sequence Already Exist','error');

	      }else{

		    axios
	          .post(`/api/master-data/syllabus/createSyllabus`, this.syllabus)
	          .then(res => {
	            this.$swal('Great', 'You successfully create new Syllabus Level', 'success');
	            location.reload();
	            
	          })
	          .catch(err => {
	            this.$swal('Error', 'Submited Level was not create please retry!','error');
	            location.reload();
	          });
	      }

	      
	    },
	},
	created() {
		this.$parent.$on('openCreateSyllabusModal', this.openModal);
		console.log('hi opened');
		this.getSequnce();
	}
};
</script>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}

.vdp-datepicker__calendar{width: 100%;}
</style>