<template>

    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title mb-5">Edit Gym Member</h4>
            <form v-on:submit="updateCoach()">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" v-model="staff.name" required>
                </div>
                <div class="form-group">
                    <label>Contact</label>
                    <input type="text" name="contact" class="form-control" v-model="staff.contact" required>
                </div>
                <div class="form-group">
                    <label>Birthday</label>
                    <input type="date" name="birthday" class="form-control" v-model="staff.birthday" required>
                </div>

                <div class="form-group">
                    <label>Deposit</label>
                    <input type="text" name="depost" class="form-control" v-model="staff.deposit" required>
                </div>

                <b-form-group>
                    <label for="status">Status</label>
                    <b-form-select v-model="staff.status"
                    :plain="true"
                    :options="['active','freeze','terminated','stop']">
                    </b-form-select>
                </b-form-group>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</template>



<script>
export default {
  data() {
    return {
      loading: false,
      staffId: this.$route.params.id,
      staff: {
        name: "",
        contact: "",
        birthday: "",
        deposit: "",
        status: ""
      }
    };
  },

  methods: {
    updateCoach() {
      event.preventDefault();

      console.log(this.staff);

      this.loading = true;
      axios
        .post("/api/user/gym/" + this.staffId + "/edit", this.staff)
        .then(res => {
          this.loading = false;
          this.$router.push("/gym");
        })
        .catch(err => {
          console.log(err.data);
          this.loading = false;
        });
    },
    getSingleStaff() {
      axios
        .get("/api/user/gym/" + this.staffId)
        .then(res => {
          console.log(res.data.data);
          this.staff = res.data;

          //   if (this.staff.approve === 1) {
          //     this.staff.approve = "Approve";
          //   }

          //   if (this.staff.approve === 0) {
          //     this.staff.approve = "Disapprove";
          //   }
        })
        .catch(err => {
          console.log(err.data);
        });
    }
  },
  created() {
    this.getSingleStaff();
  }
};
</script>

