<template>
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title">
                List of Gym Member 
            </h4>
            <table class="table table-responsive m-t-30 table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Birthday</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user,index) in staffs" v-bind="user" :key="user.id">
                        <td>{{ index + 1 }}</td>
                        <td>
                            <router-link :to="{name: 'gym.view',  params: { id: user.id } }" >
                                {{ user.name }}
                            </router-link>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.contact }}</td>
                        <td><span class="label label-warning">{{ user.birthday }}</span> </td>
                        <td>
                            <router-link :to="{name: 'gym.edit',  params: { id: user.id } }" >
                                <button class="btn btn-info">
                                Edit
                                </button>
                            </router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      staffs: []
    };
  },
  methods: {
    listStaff() {
      axios
        .get("/api/user/gym")
        .then(res => {
          console.log(res.data);
          this.staffs = res.data;
        })
        .catch(err => {
          console.log(err.data);
        });
    }
  },
  created() {
    this.listStaff();
  }
};
</script>

