<template>
  <div class="card mt-5">
    <div class="card-body">
      <h4 class="card-title">
        View Gym Member
      </h4>

      <div class="row">
        <div class="col-md-6 col-xs-6 b-r"> <strong>Full Name</strong>
          <br>
          <p class="text-muted">{{ user.name }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Email</strong>
          <br>
          <p class="text-muted">{{ user.email }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Contact</strong>
          <br>
          <p class="text-muted">{{ user.contact }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Birthday</strong>
          <br>
          <p class="text-muted">{{ user.birthday }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Class</strong>
          <br>
          <p class="text-muted">{{ user.class }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Deposit</strong>
          <br>
          <p class="text-muted">{{ user.deposit }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Status</strong>
          <br>
          <p class="text-muted">{{ user.status }}</p>
        </div>
      </div>

      <button class="btn btn-outline-danger mt-5" @click="deleteUser()">Delete this user</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isModal: false,
      userId: this.$route.params.id,
      user: {}
    };
  },
  methods: {
    getUser() {
      axios
        .get("/api/user/gym/" + this.userId)
        .then(res => {
          console.log(res.data);
          this.user = res.data;
        })
        .catch(err => {
          console.log(err.data);
        });
    },
    deleteUser() {
      axios
        .delete("/api/user/gym/" + this.userId)
        .then(res => {
          this.$router.push("/gym");
        })
        .catch(err => {
          console.log(err.data);
        });
    }
  },
  created() {
    this.getUser();
  }
};
</script>
