<template>
  <b-modal title="Edit Price" class="modal-info" v-model="myModal" @ok="editInventorySupplier()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
            <label class="font-weight-bold">Price : </label>
            <!-- <input type="number" class="form-control" v-model="options.price" required> -->
            <money v-model="options.price" v-bind="money" class="form-control"></money>

        </div>
      </div>
    </div>
    </b-modal>
</template>

<script>
import {Money} from 'v-money';

export default {
  components: {Money},
  data() {
    return {
      myModal: false,
      inventorySupplierId: '',
      options: {
        price: ''
      },
      money: {
        decimal: '.',
        thousands: ',',
        prefix: 'RM ',
        precision: 2
      }
    };
  },
  methods: {
    openModal(id) {
      this.myModal = true;
      this.inventorySupplierId = id;
      this.getInventorySupplier();
    },
    getInventorySupplier(){
      axios
        .get(`/api/supplier-inventory/${this.inventorySupplierId}`)
        .then(res => {
          this.options = res.data;
        })
      },
    editInventorySupplier(){
      axios
        .post(`/api/supplier-inventory/${this.inventorySupplierId}`, this.options)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'Price updated',
              type: 'success',
              duration: 5000
            });
          this.$emit("getSupplier");
          this.myModal = false;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    }
  },
  created() {
    this.$parent.$on('openeditInventoriesModal', this.openModal);
  },
  computed: {}
};
</script>

<style scoped>
</style>