<template>
	<div class="mt-4 mb-4" v-if="checkPermission">
		<form @submit.prevent="updateProfile" class="form-material">
			<div class="form-group">
				<label for="name">Name</label>
				<input
					type="text"
					class="form-control form-control-line"
					id="name"
					v-model="user.name"
					:disabled="loading"
				/>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input
					type="email"
					class="form-control form-control-line"
					id="email"
					v-model="user.email"
					:disabled="loading"
				/>
			</div>
      <div class="form-group" v-if="change_password">
        <button type="button" class="col-2 btn btn-primary btn-block mt-3" @click="check_password()">Change Password</button>
      </div>
      <div class="form-group" v-if="cancel_password">
        <label class="font-weight-bold">New Password</label>
        <input type="password" name="password" class="form-control" v-model="user.password"
          v-validate="'required|min:8'"
          :class="{ 'is-invalid': errors.has('password') }"
        >
        <div v-show="errors.has('password')" class="invalid-feedback">
          {{ errors.first('password') }}
        </div>
      </div>
      <div class="form-group" v-if="cancel_password">
        <button type="button" class="col-2 btn btn-danger btn-block mt-3" @click="check_password()">Cancel</button>
      </div>
			<div class="form-group">
				<label for="contact">Contact</label>
        <the-mask 
        name="contact" 
        class="form-control" 
        v-model="user.contact" 
        :mask="['(##) ####-####', '(##) #####-####']"
        v-validate="'required'"
        :class="{ 'is-invalid': errors.has('contact') }"
         />
			</div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <b-form-select v-model="user.gender" required
        :plain="true"
        :options="gender">
        </b-form-select>      
      </div>
      <div class="form-group">
        <label for="icNumber">IC Number</label>
        <the-mask :mask="['######-##-####']" placeholder="940101-11-0101" class="form-control" v-model="user.icNumber" :disabled="loading" 
          name="IC Number"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('IC Number') }"
        />
      </div>
      <div class="form-group">
          <img v-if="user.avatar" :src="'/storage/' + user.avatar" class="iimg-fluid rounded-circle d-block mb-2" width="100" height="auto">
          <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle d-block mb-2" width="100" height="auto">
          <a @click="myModal = true" class="mt-1 text-primary">Change Avatar</a>
      </div>
      <div class="form-group">
				<label for="designation">Designation</label>
				<b-form-select v-model="user.designation"
          :plain="true"
          :options="designations"
          name="designation"
          v-validate="'required'"
          :class="{ 'is-invalid': errors.has('designation') }"
          >
          </b-form-select>

          <div v-show="errors.has('designation')" class="invalid-feedback">
            {{ errors.first('designation') }}
          </div>
			</div>
      <div class="form-group">
        <label for="status">Status</label>
        <b-form-select v-model="user.status"
                      :plain="true"
                      :options="['active', 'inactive']"
                      name="status"
                      :class="{ 'is-invalid': errors.has('status') }"
                      >
                      </b-form-select>
      </div>
      <div class="form-group">
        <label for="outlet">Outlet</label>
        <b-form-select v-model="user.outlets" required
            :plain="true"
            :options="outlets"
            name="outlet"
            v-validate="'required'"
            :class="{ 'is-invalid': errors.has('outlet') }"
          >
          </b-form-select>
          <div v-show="errors.has('outlet')" class="invalid-feedback">
            {{ errors.first('outlet') }}
          </div>
      </div>
			<button type="submit" class="btn btn-primary" :disabled="loading">
				<span v-show="loading">Updating Profile</span>
				<span v-show="!loading">Update Profile</span>
			</button>
		</form>

    <b-modal title="Update Avatar" class="modal-primary" v-model="myModal" @ok="addAvatar()">
      <div class="row">
        <div class="col-sm-12">
                <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange">
                <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                    <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                    <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                </div>
        </div>
      </div>
    </b-modal>
	</div>
</template>


<script>
export default {
  data() {
    return {
      loading: false,
      myModal: false,
      userId: this.$route.params.id,
      user: {
        name: "",
        email: "",
        password:"",
        contact: "",
        designation: "",
        gender: "",
        icNumber: "",
        outlets: "",
      },
      change_password:true,
      cancel_password:false,
      designations: [],
      outlets: [],
      attachments: [],
      data: new FormData(),
      gender: [{ value: 'Male', text: 'Male' }, { value: 'Female', text: 'Female' }],
      checkPermission: true
    };
  },
  methods: {
    getUser() {
      axios
        .get("/api/superadmin/" + this.userId)
        .then(res => {
          this.user = res.data.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });

        axios
        .get('/api/coach/config')
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            var tempDesignation = {
              value: res.data[i].id,
              text: res.data[i].name
            };
            this.designations.push(tempDesignation);
          }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });

        axios
        .get('/api/outlets')
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            var tempOutlet = {
              value: res.data[i].id,
              text: res.data[i].name
            };
            this.outlets.push(tempOutlet);
          }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    check_password(){

      if(this.change_password == true){

        this.change_password = false;
        this.cancel_password = true;

      }else if(this.change_password == false){
        this.change_password = true;
        this.cancel_password = false;
      }

    },
    updateProfile() {
      this.loading = true;
      axios
        .post("/api/superadmin/" + this.userId + "/edit", this.user)
        .then(res => {
          console.log(res.data);

          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'This super admin has been updated.',
              type: 'success',
              duration: 5000
            });

          this.loading = false;
          this.$noty.success("Profile Updated");
          this.$emit("updateSuccess", res.data);
          this.$router.push('/super-admin');
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
          this.loading = false;
        });
    },
    addAvatar() {
      this.prepareFields();
        var config = {
          headers: { "Content-Type": "multipart/form-data" },
          onUploadProgress: function(progressEvent) {
            this.percentCompleted = Math.round(
              progressEvent.loaded * 100 / progressEvent.total
            );
            this.$forceUpdate();
          }.bind(this)
        };

    axios
      .post("/api/upload/user/" + this.userId + "/avatar",this.data,config)
      .then( res => {
          this.getUser();
      })
      .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact adminstrator',
              type: 'error',
              duration: 5000
            });
      });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = "";
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append("attachments", attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById("attachments").value = [];
    }
  },
  created() {
    this.getUser();
  }
};
</script>

