<template>
	<div>
		<div class="row mt-3">
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						Personal Information
					</div>
					<div class="card-body text-center">
						<img v-if="user.avatar" :src="'/storage/' + user.avatar" class="iimg-fluid rounded-circle d-block mx-auto mb-2" width="100" height="auto">
						<img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle d-block mx-auto mb-2" width="100" height="auto">
						<a @click="myModal = true" class="mt-1 text-primary">Change Avatar</a>
						<p class="font-weight-bold mb-0">{{ user.name }}</p>
						<p>Coach ({{ user.department }})</p>
						<div class="row">
							<div class="col-md-6">
								<router-link :to="{name: 'contract.view',  params: { id: 4 } }" class="btn btn-primary btn-block" >
									Contract
	                            </router-link>
							</div>
							<div class="col-md-6">
								<router-link :to="{name: 'contract.view',  params: { id: 4 } }" class="btn btn-primary btn-block">
									Term & Condition
	                            </router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						Personal Information
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<p class="font-weight-bold">Birthday</p>
							</div>
							<div class="col-xs-12 col-sm-8">
								<p>{{ user.birthday }}</p>
							</div>
							<div class="col-xs-12 col-sm-4">
								<p class="font-weight-bold">Gender</p>
							</div>
							<div class="col-xs-12 col-sm-8">
								<p>{{ user.gender }}</p>
							</div>
							<div class="col-xs-12 col-sm-4">
								<p class="font-weight-bold">IC</p>
							</div>
							<div class="col-xs-12 col-sm-8">
								<p>{{ user.icNumber }}</p>
							</div>
							<div class="col-xs-12 col-sm-4">
								<p class="font-weight-bold">E-mail</p>
							</div>
							<div class="col-xs-12 col-sm-8">
								<p>{{ user.email }}</p>
							</div>
							<div class="col-xs-12 col-sm-4">
								<p class="font-weight-bold">Contact Number</p>
							</div>
							<div class="col-xs-12 col-sm-8">
								<p>{{ user.contact }}</p>
							</div>
						</div>
						<!-- <button class="btn btn-info text-white">Edit</button> -->
						<router-link :to="{name: 'profile.editProfile',  params: { id: user.id } }" class="btn btn-info text-white">
									Edit
	                            </router-link>
					</div>
				</div>
			</div>
		</div>

	      <b-modal title="Update Avatar" class="modal-primary" v-model="myModal" @ok="addAvatar()">
	        <div class="row">
	          <div class="col-sm-12">
                    <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange">
                    <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                        <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                        <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                    </div>
	          </div>
	        </div>
	        </b-modal>
	</div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      user: "",
      myModal: false,
	  attachments: [],
	  data: new FormData()
    };
  },
  methods: {
    getUser() {
      axios
        .get("/api/user")
        .then(res => {
          this.user = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log("Something wrong over here man");
        });
    },
    addAvatar() {
    	console.log('dalam addAvatar');
    	this.prepareFields();
      	var config = {
	        headers: { "Content-Type": "multipart/form-data" },
	        onUploadProgress: function(progressEvent) {
	          this.percentCompleted = Math.round(
	            progressEvent.loaded * 100 / progressEvent.total
	          );
	          this.$forceUpdate();
	        }.bind(this)
	      };

		axios
			.post("/api/upload/user/" + this.user.id + "/avatar",this.data,config)
			.then( res => {
    			this.getUser();
			})
			.catch( err => {
    			this.$notify({
			        group: 'foo',
			        title: 'Ops',
			        text: 'Please contact adminstrator',
			        type: 'error',
			        duration: 5000
			      });
			});
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = "";
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append("attachments", attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById("attachments").value = [];
    }
  },
  created() {
    this.getUser();
  },
  // computed: mapState({
  //   user: state => state.auth
  // })
};
</script>
