<template>
    <div class="card mt-5" v-if="checkPermission">
      <div class="card-body">
        <h4 class="card-title">Outlet : {{ outlet.name}}</h4>
        <div class="card-body"> 
          <div class="row">
            <div class="xs-12 col-sm-12 col-md-6 col-lg-6">
              <!-- <small class="text-muted">Type </small>
              <h6>{{ outlet.type }}</h6>  -->
              <small class="text-muted p-t-30 db">Address</small>
              <h6>{{ outlet.street1 }} {{ outlet.street2 }} {{ outlet.postcode }} {{ outlet.city }} {{ outlet.country }}</h6> 
              <small class="text-muted p-t-30 db">{{ outlet.taxlabel }} Number</small>
              <h6>{{ outlet.gstNumber }}</h6>
              <small class="text-muted p-t-30 db">Facial Recognition</small>
              <ul>
                <li v-if="outlet.facial_recognitions === '1'">On</li>
                <li v-else>Off</li>
              </ul> 
              <small class="text-muted p-t-30 db">Payment Available</small>
              <ul>
                <li v-for="payment in outlet.payments" v-bind:key="payment.id">{{ payment.name | capitalize }}</li>
              </ul>
              <small class="text-muted p-t-30 db">Receipt Type Available</small>
              <ul>
                <li v-for="receipt in outlet.receipts" v-bind:key="receipt.id">{{ receipt.name | capitalize }}</li>
              </ul>
              <h6>
                <img v-if="outlet.outletlogo != null" :src="'/storage/' + outlet.outletlogo" class="img-fluid" width="100" height="auto" />
                <img v-else="outlet.outletlogo" src="/images/default-avatar.png" class="img-fluid rounded-circle" width="100" height="auto" />
              </h6>
            </div>
            <div class="xs-12 col-sm-12 col-md-6 col-lg-6">
              <small class="text-muted">Latitude</small>
              <h6>{{ outlet.latitude }}</h6>
              <small class="text-muted">Longitude</small>
              <h6>{{ outlet.longitude }}</h6>
              <small class="text-muted p-t-30 db">Radius Clock In/Out</small>
              <h6>{{ outlet.radius }} m</h6>
              <small class="text-muted p-t-30 db">Currency</small>
              <h6>{{ outlet.currency }}</h6> 
              <small class="text-muted p-t-30 db">Prefix</small>
              <h6>{{ outlet.prefix }}</h6> 
              <small class="text-muted p-t-30 db">Receipt Message</small>
              <h6>{{ outlet.receiptmessage }}</h6>
            </div>
          </div>

        

        <!-- {{outlet.map_param}}
        {{outlet.url}} -->
          
          <div class="map-box my-4">
              <iframe id="googlemaps" :src="outlet.url" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div> 

          <div class="row">
              <!-- .col -->
              <div class="col-md-6 col-lg-6 col-xlg-4" v-for="user in outlet.superadmin" :key="user">
                  <div class="card card-body">
                      <div class="row">
                          <div class="col-md-12">

                                <h3 class="box-title m-b-0">{{user.name}}</h3> 
                              <span class="label label-custom">{{ user.designation }}</span>

                              <div class="pt-2">
                                  <p>
                                    <i class="mdi mdi-gmail"></i>  {{ user.email }}
                                  </p>
                                  <p>
                                    <i class="mdi mdi-cellphone"></i> {{ user.contact }}
                                  </p> 
                              </div>
                              <router-link :to="{name: 'superadmin.view',  params: { id: user.id } }" >
                              <p><i class="mdi mdi-open-in-new"></i> View Profile</p>
                              </router-link>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

            <router-link :to="{name: 'outlet.edit',  params: { id: outletId } }" >
              <button class="btn btn-info">Edit</button>
            </router-link>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                          Are you sure want to delete this modal?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal" >Close</button>
                            <button type="button" class="btn btn-danger" v-on:click="deleteOutlet"  data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            
      </div>
      </div>
    </div>

</template>

<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
  data() {
    return {
      outletId: this.$route.params.id,
      outlet: {},
      checkPermission: true
    };
  },
  methods: {
    getOutlet() {
      axios
        .get('/api/outlets/' + this.outletId)
        .then(res => {
          // console.log(res.data.data);
          this.outlet = res.data.data;
        })
        .catch(err => {
            this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    deleteOutlet() {
      axios
        .delete('/api/outlets/' + this.outletId, {
          data: { foo: 'bar' }
        })
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have deleted the outlet.',
            type: 'success',
            duration: 5000
          });
          this.$router.push('/outlet');
          this.$noty.success('This Outlet has been deleted!');
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(3) == false ? this.returnError() : this.getOutlet();
  }
};
</script>
