<template>
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title mb-5">Create new Customer</h4>
            <form v-on:submit="createStaff()">
                <div class="form-group">
                    <label>Name*</label>
                    <input type="text" name="name" class="form-control" v-model="staff.name"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('name') }"
                    >
                    <div v-show="errors.has('name')" class="invalid-feedback">
                      {{ errors.first('name') }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Email*</label>
                    <input type="email" name="email" class="form-control" v-model="staff.email"
                      v-validate="'required|email'"
                      :class="{ 'is-invalid': errors.has('email') }" ref="email">
                    <div v-show="errors.has('email')" class="invalid-feedback">
                      {{ errors.first('email') }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Password*</label>
                    <input type="password" name="password" class="form-control" v-model="staff.password"
                      v-validate="'required|min:8'"
                      :class="{ 'is-invalid': errors.has('password') }" @click="checkMail()">
                    <div v-show="errors.has('password')" class="invalid-feedback">
                      {{ errors.first('password') }}
                    </div>
                </div>

                <div class="form-group">
                  <label>Gender*</label>
                  <select class="form-control" v-model="staff.gender" :disabled="loading"
                      name="gender"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('gender') }" @click="checkMail()">
                      <option value="" hidden>Select Gender</option>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                    <div v-show="errors.has('gender')" class="invalid-feedback">
                      {{ errors.first('gender') }}
                    </div>
                </div>

                <div class="form-group">
                    <label>Contact*</label>
                    <the-mask :mask="['###-###-#####', '##-###-#####','###-###-#####-####','###-###-###-###-###']" placeholder="e.g : 012-345-6789" class="form-control" v-model="staff.contact" :disabled="loading"
                      name="contact"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('contact') }"/>
                    <div v-show="errors.has('contact')" class="invalid-feedback">
                      {{ errors.first('contact') }}
                    </div>
                </div>

                <div class="form-group">
                  <label>Address</label>

                  <!-- <input type="text" class="form-control mb-2" v-model="staff.street1" placeholder="Street 1"
                      name="Street 1"
                      v-validate="'required|min:5'"
                      :class="{ 'is-invalid': errors.has('Street 1') }"> -->
                  <input type="text" class="form-control mb-2" v-model="staff.street1" placeholder="Street 1"
                      name="Street 1"
                      v-validate=""
                      :class="{ 'is-invalid': errors.has('Street 1') }">
                    <div v-show="errors.has('Street 1')" class="invalid-feedback">
                      {{ errors.first('Street 1') }}
                    </div>

                  <input type="text" class="form-control mb-2" v-model="staff.street2" placeholder="Street 2">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="text" class="form-control mb-2" v-model="staff.city" placeholder="City"
                      name="city"
                      :class="{ 'is-invalid': errors.has('city') }">
                      <div v-show="errors.has('city')" class="invalid-feedback">
                        {{ errors.first('city') }}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <!-- <input type="number" class="form-control mb-2" v-model="staff.postcode" placeholder="Postcode"
                      name="postcode"
                      v-validate="'required|min:4'"
                      :class="{ 'is-invalid': errors.has('postcode') }"> -->
                      <input type="number" class="form-control mb-2" v-model="staff.postcode" placeholder="Postcode"
                      name="postcode"
                      v-validate=""
                      :class="{ 'is-invalid': errors.has('postcode') }">
                    <div v-show="errors.has('postcode')" class="invalid-feedback">
                      {{ errors.first('postcode') }}
                    </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- <input type="text" class="form-control mb-2" v-model="staff.state" placeholder="State"
                      name="state"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('state') }"> -->
                      <input type="text" class="form-control mb-2" v-model="staff.state" placeholder="State"
                      name="state"
                      v-validate=""
                      :class="{ 'is-invalid': errors.has('state') }">
                    <div v-show="errors.has('state')" class="invalid-feedback">
                      {{ errors.first('state') }}
                    </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- <select class="form-control" v-model="staff.country" :disabled="loading"
                        name="country" 
                        v-validate="'required'"
                        :class="{ 'is-invalid': errors.has('country') }">
                          <option value="" hidden>Select Country</option>
                          <option>Malaysia</option>
                          <option>Indonesia</option>
                          <option>Thailand</option>
                          <option>Vietnam</option>
                          <option>Malaysia</option>
                          <option>Singapore</option>
                          <option>Philippines</option>
                          <option>Cambodia</option>
                          <option>Myanmar</option>
                          <option>Laos</option>
                          <option>Brunei</option>
                          <option>Timor-Leste</option>
                        </select> -->
                        <select class="form-control" v-model="staff.country" :disabled="loading"
                        name="country" 
                        v-validate=""
                        :class="{ 'is-invalid': errors.has('country') }">
                          <option value="" hidden>Select Country</option>
                          <option>Malaysia</option>
                          <option>Indonesia</option>
                          <option>Thailand</option>
                          <option>Vietnam</option>
                          <option>Malaysia</option>
                          <option>Singapore</option>
                          <option>Philippines</option>
                          <option>Cambodia</option>
                          <option>Myanmar</option>
                          <option>Laos</option>
                          <option>Brunei</option>
                          <option>Timor-Leste</option>
                        </select>
                        <div v-show="errors.has('country')" class="invalid-feedback">
                          {{ errors.first('country') }}
                        </div>
                    </div>
                  </div>
                </div>


                <!-- <div class="form-group">
                  <label>Supporting Document (IC)</label>
                  <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange"
                      name="Supporting Document">
                  <hr>
                  <div class="col-md-12">
                      <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name">
                          <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span>
                          <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                      </div>
                  </div>

                </div> -->

                <button type="submit" class="btn btn-primary" :disabled="!isComplete ||  errors.any()" >Submit</button>
            </form>
        </div>
    </div>
</template>
<style>
  .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #828383!important;
      border-color: #828383!important;
  }
</style>
<script>
export default {
  data() {
    return {
      loading: false,
      staff: {
        name: '',
        password: '',
        email: '',
        contact: '',
        obo: 'admin',
        street1: '',
        street2: '',
        city: '',
        postcode: '',
        state: '',
        country: '',
        gender: ''
      },
      attachments: [],
      data: new FormData()
    };
  },
  methods: {
    checkMail(){
      axios
        .get('/api/upload/user/email/'+this.$refs.email.value)
        .then(res => {

        })
        .catch(err => {
          this.$swal({
              title: 'This Email Already Exist',
              text: "Please change the email address",
              type: "error",
              showCancelButton: false,
              showConfirmButton: true,
              confirmButtonText: 'OK',
              cancelButtonText: 'No, Keep it!',
              showCloseButton: true,
              allowOutsideClick: false,
              closeOnClickOutside: false,
              closeOnEsc: false,
              allowEscapeKey : false,
            });
        });
    },
    createStaff() {
      event.preventDefault();

      console.log(this.staff);

      this.loading = true;
      axios
        .put('/api/customer', this.staff)
        
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'You have created the customer',
            type: 'success',
            duration: 5000
          });
          this.loading = false;
          this.$router.push('/customer');
        })
        .catch(err => {
          this.$swal({
              title: 'This Email Already Exist',
              text: "Please change the email address",
              type: "error",
              showCancelButton: false,
              showConfirmButton: true,
              confirmButtonText: 'OK',
              cancelButtonText: 'No, Keep it!',
              showCloseButton: true,
              allowOutsideClick: false,
              closeOnClickOutside: false,
              closeOnEsc: false,
              allowEscapeKey : false,
            });
        });
    }

  },
  computed: {
    isComplete() {
      return (
        this.staff.name &&
        this.staff.password &&
        this.staff.email &&
        this.staff.contact &&
        // this.staff.street1 &&
        // this.staff.postcode &&
        // this.staff.state &&
        // this.staff.country &&
        this.staff.gender
      );
    }
  }
};
</script>
