<template>

    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title mb-5">Edit Customer</h4>
            <form v-on:submit="updateCoach()">
              <label class="font-weight-bold">Personal Detail</label>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" v-model="staff.name" required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" v-model="staff.email" ref="email" required>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <b-form-select v-model="staff.gender" required
                    :plain="true"
                    :options="gender" v-on:click="checkMail()">
                    </b-form-select>
                </div>
                <!-- <div class="form-group">
                    <label>IC Number</label>
                    <the-mask :mask="['######-##-####']" class="form-control" v-model="staff.icNumber" :disabled="loading" 
                        name="IC Number"
                        v-validate="'required'"
                        :class="{ 'is-invalid': errors.has('IC Number') }"
                      />
                </div>
                <div class="form-group">
                    <label>Passport Number</label>
                    <input type="text" name="passportNumber" class="form-control" v-model="staff.passportNumber">
                </div> -->
                <div class="form-group">
                    <label>Contact</label>
                    <the-mask :mask="['###-###-#####', '##-###-#####','###-###-#####-####','###-###-###-###-###']" type="text" name="contact" class="form-control" v-model="staff.contact" required/>
                </div>
                <!-- <div class="form-group">
                    <label>Birthday</label>
                    <input type="date" name="birthday" class="form-control" v-model="staff.birthday" required>
                </div> -->
                
                <hr>
                <label class="font-weight-bold">Address</label>
                <div class="form-group">
                    <label>Street 1</label>
                    <input type="text" name="street1" class="form-control" v-model="staff.street1">
                </div>
                <div class="form-group">
                    <label>Street 2</label>
                    <input type="text" name="street2" class="form-control" v-model="staff.street2">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" name="city" class="form-control" v-model="staff.city">
                </div>
                <div class="form-group">
                    <label>Postcode</label>
                    <input type="number" name="postcode" class="form-control" v-model="staff.postcode">
                </div>
                <div class="form-group">
                    <label>State</label>
                    <input type="text" name="state" class="form-control" v-model="staff.state">
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control" v-model="staff.country" :disabled="loading"
                    name="country"
                    :class="{ 'is-invalid': errors.has('country') }">
                      <option value="" hidden>Select Country</option>
                      <option>Malaysia</option>
                      <option>Indonesia</option>
                      <option>Thailand</option>
                      <option>Vietnam</option>
                      <option>Malaysia</option>
                      <option>Singapore</option>
                      <option>Philippines</option>
                      <option>Cambodia</option>
                      <option>Myanmar</option>
                      <option>Laos</option>
                      <option>Brunei</option>
                      <option>Timor-Leste</option>
                    </select>
                    <div v-show="errors.has('country')" class="invalid-feedback">
                      {{ errors.first('country') }}
                    </div>
                </div>
                <hr>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</template>



<script>
export default {
  data() {
    return {
      loading: false,
      staffId: this.$route.params.id,
      staff: {
        name: "",
        contact: "",
        birthday: "",
        icNumber: '',
        passportNumber: '',
        address: {
          street1: '',
          street2: '',
          city: '',
          postcode: '',
          state: '',
          country: ''
        },
      },
      gender: [{ value: 'Male', text: 'Male' }, { value: 'Female', text: 'Female' }],
      checkPermission: true
    };
  },

  methods: {
    blocker(){
      this.$swal({
          title: 'Customer Updated Successfully',
          text: "This Message Will Auto-Close Soon!",
          type: "success",
          showCancelButton: false,
          showConfirmButton: false,
          confirmButtonText: 'Yes Delete it!',
          cancelButtonText: 'No, Keep it!',
          showCloseButton: false,
          allowOutsideClick: false,
          closeOnClickOutside: false,
          closeOnEsc: false,
          allowEscapeKey : false,
        })
    },
    updateCoach() {
      event.preventDefault();
      
      axios
        .get('/api/upload/user/email/'+this.$refs.email.value+'/'+this.staffId)
        .then(res => {
          this.blocker();
          this.loading = true;
          axios
            .post("/api/customer/" + this.staffId + "/edit", this.staff)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have successful updated the customer.',
                  type: 'success',
                  duration: 5000
                });
              this.loading = false;
              this.$router.push("/customer");
              this.$swal.close();
            })
            .catch(err => {
              console.log(err.data);
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
              this.loading = false;
            });
        })
        .catch(err => {
          this.$swal({
              title: 'This Email Already Exist',
              text: "Please change the email address",
              type: "error",
              showCancelButton: false,
              showConfirmButton: true,
              confirmButtonText: 'OK',
              cancelButtonText: 'No, Keep it!',
              showCloseButton: true,
              allowOutsideClick: false,
              closeOnClickOutside: false,
              closeOnEsc: false,
              allowEscapeKey : false,
            });
        });
    },
    getSingleStaff() {
      axios
        .get("/api/customer/" + this.staffId)
        .then(res => {
          console.log(res.data.data);
          this.staff = res.data.data;

          //   if (this.staff.approve === 1) {
          //     this.staff.approve = "Approve";
          //   }

          //   if (this.staff.approve === 0) {
          //     this.staff.approve = "Disapprove";
          //   }
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    }
  },
  created() {
    this.getSingleStaff();
  }
};
</script>

