<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title">
                List of Customer 
            </h4>
            <!-- <label v-if="outletModel !== false">Outlet : </label>
            <select v-if="outletModel !== false" class="form-control status-width" v-model="selected_outlet" @change=listStaff>
              <option v-for="option in filter_outlet" v-bind:value="option.id" >{{ option.name }}</option>
           </select> -->

            <v-client-table :columns="columns" :data="staffs" :options="options">

            <div slot="index" slot-scope="props">{{ props.index }}</div>


            <router-link slot="name" slot-scope="props" :to="{name: 'customer.view',  params: { id: props.row.id } }" >
                {{ props.row.name }}
            </router-link>

            
            <div slot="avatar" slot-scope="props">
              <img v-if="props.row.avatar" :src="'/storage/' + props.row.avatar" class="image_index rounded-circle">
              <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle" width="50" height="auto">
            </div>

            <router-link slot="action" slot-scope="props" :to="{name: 'customer.edit',  params: { id: props.row.id } }" >
              <button class="btn btn-info text-white">Edit</button>
                    </router-link>
            </v-client-table>
        </div>
    </div>
</template>

<style>
.status-width{
  width: 20vmin;
  display: inline-block;
}
</style>

<script>
export default {
  data() {
    return {
      staffs: [],
      columns: ['index', 'avatar', 'name', 'email', 'contact', 'action'],
      options: {
        headings: {
          index: 'No.',
          avatar: 'Avatar',
          name: 'Name',
          email: 'E-mail',
          contact: 'Phone',
          action: 'Action'
        },
        sortable: ['name', 'email', 'contact'],
        filterable: ['name', 'email', 'contact']
      },
      filter_outlet: [],
      selected_outlet : '',
      outletModel : false,
      checkPermission: true
    };
  },
  methods: {
    listStaff() {
      axios
        .get(`/api/customer/${this.selected_outlet}/outlet`)
        .then(res => {
          this.staffs = res.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    getOutletAccess(id){
      axios
        .get('/api/staff/'+ id)
        .then(res => {
          var outlet = res.data.data.outlet_access;
          if(typeof outlet != "undefined"){
            this.setDropdown(outlet);
            console.log(outlet);
          }
        })
        .catch(err => {
          console.log(err.data);
        });
    },
    setDropdown(id){
      for (var i = id.length - 1; i >= 0; i--) {
        axios
          .get('/api/outlets/'+ id[i])
          .then(res => {
                  this.filter_outlet.push(res.data.data);
                  this.outletModel = true;
          })
          .catch(err => {
            console.log(err.data);
          });
      }
    }
  },
  created() {
    axios
        .get("/api/user")
        .then(res => {
          this.getOutletAccess(res.data.id);
          this.selected_outlet = res.data.outlet_id;
          this.listStaff();
        });
  }
};
</script>
