<template>
  <div>
    <div class="card mt-3">
      <div class="card-header">
        <span class="text-left">Payment History List</span>
      </div>
      <div class="card-body">
          <v-client-table :columns="columns" :data="history" :options="options">

              <div slot="name" slot-scope="props">{{ props.row.name | capitalize }}</div>
              <div slot="package_name" slot-scope="props">{{ props.row.package_name | capitalize }}</div>
              <div slot="package_price" slot-scope="props">RM {{ props.row.package_price }}</div>
              <div slot="advance_fee" slot-scope="props">RM {{ props.row.package_depo }}</div>
              <div slot="registration" slot-scope="props">RM {{ props.row.registration }}</div>
              <div slot="package_total" slot-scope="props">RM {{ props.row.package_total }}</div>
              <div slot="voucher_value" slot-scope="props">RM {{ props.row.voucher_value }}</div>
              <div slot="voucher_description" slot-scope="props">{{ props.row.voucher_description }}</div>
              <div slot="grand_total" slot-scope="props">RM {{ props.row.grand_total }}</div>
              <div slot="status" slot-scope="props">
                  <p v-if="props.row.status == 0">Paid</p>
                  <p v-else>Unpaid</p>
              </div>
              <div slot="method" slot-scope="props">{{ props.row.method }}</div>
              <div slot="payment" slot-scope="props">{{ props.row.payment | moment("MMMM YYYY") }}</div>
              <div slot="created_at" slot-scope="props">{{ props.row.created_at }}</div>

          </v-client-table>
      </div>

    </div>
  </div>
</template>

<style>
  .table thead th{
    vertical-align: middle;
  }
</style>

<script>
export default {
  data() {
    return {
      paramId: this.$route.params.id,
      history: [],
      columns: ['invoice_no','name', 'package_name', 'package_price', 'advance_fee', 'registration','quantity', 'package_total','voucher_value', 'voucher_description', 'grand_total', 'status', 'method', 'payment', 'remarks','created_at'],
      options: {
          headings: {
              invoice_no: 'Invoice Number',
              name: 'Member Name',
              package_name: 'Package/Product Name',
              package_price: 'Package/Product Price',
              advance_fee: 'Package Deposit',
              registration: 'Registration',
              quantity: 'Quantity',
              package_total: 'Sub Total',
              voucher_value: 'Discount value',
              voucher_description: 'Voucher Description',
              grand_total: 'Grand Total',
              status: 'Status',
              method: 'Payment Method',
              payment: 'Monthly Payment',
              remarks: 'Remarks',
              created_at: 'Date',
          },
          sortable: ['invoice_no','name', 'package_name', 'package_price', 'advance_fee', 'registration','quantity', 'package_total', 'status', 'method', 'payment','remarks', 'created_at'],
          filterable: ['invoice_no','name', 'package_name', 'package_price', 'advance_fee', 'registration','quantity', 'package_total', 'status', 'method', 'payment', 'remarks','created_at']
      },
    };
  },
  methods: {
    viewHistory(){
        axios
          .get(`/api/customer/${this.paramId}/payment/`)
          .then(res => {
            console.log(res.data);
            if (res.data != '') {
              this.history = res.data;
            }
          })
    },
  },
  created() {
    this.viewHistory();
  }
};
</script>