<template>
  <div class="card mt-5" v-if="checkPermission">
    <div class="card-body">
      <h4 class="card-title">
        View Customer
      </h4>

      <div class="row">
        <p>{{ user.ic }}</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 b-r"> <strong>Full Name</strong>
          <br>
          <p class="text-muted">{{ user.name }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Email</strong>
          <br>
          <p class="text-muted">{{ user.email }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Contact</strong>
          <br>
          <p class="text-muted">{{ user.contact }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Gender</strong>
          <br>
          <p class="text-muted">{{ user.gender }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Address</strong>
          <br>
          <p class="text-muted">{{ user.street1 }} {{ user.street2 }} {{ user.postcode }} {{ user.city }} {{ user.country }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Payment History</strong>
          <br>
          <p><a class="btn btn-outline-primary" :href="`/customer/${userId}/payment`">View Payment History</a></p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Member Name</strong>
          <br>
          <ul>
              <li v-for="children in user.children">
                <router-link :to="{ name: 'member.view', params: { id: children.id } }">{{ children.name }}</router-link>
              </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <router-link :to="{name: 'customer.edit',  params: { id: userId } }" > 
          <button class="btn btn-info mr-2 text-white mt-5" style="margin-left: 2vmin;">Edit</button>
        </router-link>
        <button class="btn btn-outline-danger mt-5" @click="deleteUser(userId)">Delete this user</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userId: '',
      isModal: false,
      user: {},
      userId: '',
      checkPermission: true
    };
  },
  methods: {
    getUser() {
      axios
        .get(`/api/customer/${this.userId}`)
        .then(res => {
          // console.log(res.data);
          this.user = res.data.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    deleteUser(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/customer/" + id)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have deleted the customer',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/customer");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
              console.log(err.data);
            });
        } else {
          this.$swal('Cancelled', 'Your customer is still intact', 'info');
        }
      });
    }
  },
  created() {
    this.userId = this.$route.params.id;
    this.getUser();
  }
};
</script>
