<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span>Update Feedback / Complain</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="updateFeedback()">
      		<div class="form-group">
      			<label>Type</label>
      			<input type="text" class="form-control" v-model="feedback.type" disabled>
      		</div>
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" v-model="feedback.title" disabled>
          </div>
          <div class="form-group">
            <label>Message</label>
            <input type="text" class="form-control" v-model="feedback.message" disabled>
          </div>
          <div class="form-group">
            <label>Status</label>
            <b-form-select v-model="feedback.status" required
            :plain="true"
            :options="types">
            </b-form-select>
          </div>
          <button class="btn btn-primary" type="submit">Update</button>
        </form>
    	</div>
    </div>
</template>


<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
  data() {
    return {
      isModal: false,
      feedbackId: this.$route.params.id,
      feedback: {},
      types: [{ value: 'processing', text: 'Processing' }, { value: 'closed', text: 'Closed' }],
      checkPermission: true
    };
  },
  methods: {
    getFeedback() {
      axios
        .get("/api/feedback/" + this.feedbackId)
        .then(res => {
          this.feedback = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    updateFeedback() {
      	event.preventDefault();
      	console.log(this.feedback);
    	axios
    		.post("/api/feedback/" + this.feedbackId, this.feedback)
    		.then( res => {
	          
	          this.$notify({
	              group: 'foo',
	              title: 'Awesome',
	              text: 'You have updated the email template',
	              type: 'success',
	              duration: 5000
	            });
	          this.$router.push("/feedback/management/");
    		})
    		.catch( err => {
	          this.$notify({
	              group: 'foo',
	              title: 'Ops',
	              text: 'Please contact administrator',
	              type: 'error',
	              duration: 5000
	            });
    		});
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getFeedback();
  }
};
</script>

<style lang="scss" scoped>
	@import "~vue-wysiwyg/dist/vueWysiwyg.css";
</style>
