<template>
    <div v-if="checkPermission">
        <div class="card mt-3">
            <div class="card-header">
                <span class="text-left">List of Feedback / Complain</span>
            </div>
            <div class="card-body">

                <v-client-table :columns="columns" :data="feedbacks" :options="options">
                  <div slot="index" slot-scope="props">{{ props.index }}</div>
                  <div slot="users" slot-scope="props">{{ props.row.users.name | capitalize }}</div>
                  <div slot="type" slot-scope="props">{{ props.row.type | capitalize }}</div>
                  <div slot="action" slot-scope="props">
                        <router-link :to="{name: 'feedback.management.edit',  params: { id: props.row.id } }" >
                            <button class="btn btn-info text-white">Edit</button>
                        </router-link>
                  </div>
                </v-client-table>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <span class="text-left">List of Rating</span>
            </div>
            <div class="card-body">

                <v-client-table :columns="colRate" :data="ratings" :options="optRate">
                    <div slot="index" slot-scope="props">{{ props.index }}</div>
                    <div slot="user" slot-scope="props">{{ props.row.user.name | capitalize }}</div>
                    <div slot="rate" slot-scope="props">
                        <star-rating v-model="props.row.rate" read-only v-bind:star-size="30"></star-rating>
                    </div>
                    <div slot="action" slot-scope="props">
                        <router-link :to="{name: 'feedback.management.view',  params: { id: props.row.id } }" >
                            <button class="btn btn-info text-white">View</button>
                        </router-link>
                    </div>
                </v-client-table>
            </div>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
    data() {
        return {
            feedbacks: [],
            isModal: false,
            columns: ['index', 'users', 'type', 'title', 'status', 'action'],
            options: {
                headings: {
                    index: 'No.',
                    users: 'Name',
                    type: 'Type',
                    title: 'Title',
                    status: 'Status',
                    action: 'Action'
                },
                sortable: ['type', 'users', 'title', 'status'],
                filterable: ['type', 'users', 'title', 'status']
            },
            ratings: [],
            colRate: ['index', 'user', 'rate', 'action'],
            optRate: {
                headings: {
                    index: 'No.',
                    user: 'Name',
                    rate: 'Rate',
                    action: 'Action'
                },
                sortable: ['rate', 'user'],
                filterable: ['rate', 'user']
            },
            checkPermission: true
        };
    },
    methods: {
        getFeedbacks() {
            this.getRatings();
            axios
                .get('/api/feedback/management/dashboard')
                .then(res => {
                    this.feedbacks = res.data;
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        },
        getRatings(){
            axios
                .get('/api/questionnaire/rating/all')
                .then(res => {
                    this.ratings = res.data;
                })
        },
        // deleteFeedback(id) {
        //   this.$swal({
        //     title: 'Are you sure?',
        //     text: "You can't revert your action",
        //     type: 'warning',
        //     showCancelButton: true,
        //     confirmButtonText: 'Yes Delete it!',
        //     cancelButtonText: 'No, Keep it!',
        //     showCloseButton: true,
        //     showLoaderOnConfirm: true
        //   }).then(result => {
        //     if (result.value) {
        //       this.$swal('Deleted', 'You successfully deleted this file', 'success');
        //       axios
        //         .delete('/api/feedback/' + id)
        //         .then(res => {
        //           this.$notify({
        //             group: 'foo',
        //             title: 'Awesome',
        //             text: 'You have deleted the Feedback/Complain.',
        //             type: 'success',
        //             duration: 5000
        //           });
        //           this.getFeedbacks();
        //         })
        //         .catch(err => {
        //           this.$notify({
        //             group: 'foo',
        //             title: 'Ops',
        //             text: 'Please contact administrator',
        //             type: 'error',
        //             duration: 5000
        //           });
        //         });
        //     } else {
        //       this.$swal('Cancelled', 'Your package is still intact', 'info');
        //     }
        //   });
        // },
        returnError(){
            this.checkPermission = false;
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot access',
                type: 'error',
                duration: 5000
            });
        }
    },
    created() {
        var getRoleId = jwtToken.getRoleId();
        getRoleId.includes(14) == false ? this.returnError() : this.getFeedbacks();
    }
};
</script>
