<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span>Add New Badge</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="addBadge()">
      		<div class="form-group">
      			<label>Name</label>
      			<input type="text" class="form-control" v-model="badge.name">
      		</div>
          <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange"
            name="Badge Image"
            >
            <hr>
            <div class="col-md-12">
                <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                    <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                    <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                </div>
            </div>
          </div>
          <div class="form-group">
              <label>Level</label>
              <b-form-select v-model="badge.level" required
              :plain="true"
              :options="level">
              </b-form-select>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    	</div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      loading: false,
    	badge: {
    		name: ''
    	},
      checkPermission: true,
      level: [],
      attachments: [],
      data: new FormData(),
    };
  },
  methods: {
    getLevel(){
      axios
        .get("/api/master-data/syllabus")
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            this.level.push(res.data[i].level);
          }
        })
    },
    addBadge() {
      event.preventDefault();
      this.loading = true;

      this.prepareFields();

      var config = {
        headers: { 'Content-Type': 'multipart/form-data' },
        onUploadProgress: function(progressEvent) {
          this.percentCompleted = Math.round(progressEvent.loaded * 100 / progressEvent.total);
          this.$forceUpdate();
        }.bind(this)
      };

      axios
        .put('/api/badge', this.badge)
        .then(res => {
          return axios.post('/api/upload/badge/' + res.data.id + '/badge', this.data, config);
        })
        .then( res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have added the badge template',
              type: 'success',
              duration: 5000
            });

          this.loading = false;
          this.$router.push("/master-data/badge");
        })
        .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });

            console.log(err.data);
            this.loading = false;
        });
    },

    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getLevel();
  }
};
</script>