<template>
    <div class="card mt-3" v-if="checkPermission">
        <div class="card-header">
            <span class="text-left">List of Badge</span>
            <router-link :to="{name: 'badge.create'}" class="btn btn-primary" >
                Add Badge
            </router-link>
        </div>
        <div class="card-body">
            <v-client-table :columns="columns" :data="data" :options="options">

                <div slot="index" slot-scope="props">{{ props.index }}</div>

                <router-link slot="name" slot-scope="props" :to="{ name: 'badge.view',  params: { id: props.row.id } }" >
                    {{ props.row.name }}
                </router-link>
                
                <div slot="image" slot-scope="props">
                  <img v-if="props.row.image" :src="'/storage/' + props.row.image" class="image_index rounded-circle">
                  <img v-else src="/images/default-image.jpg" class="image_index rounded-circle">
                </div>
                <div slot="action" slot-scope="props">
                  <router-link :to="{name: 'badge.edit',  params: { id: props.row.id } }" >
                    <button class="btn btn-info text-white">Edit</button>
                  </router-link>
                </div>

            </v-client-table>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
    data() {
        return {
            badges: [],
            columns: ['index', 'name', 'image', 'level', 'action'],
            data: [],
            options: {
                headings: {
                    index: 'No.',
                    name: 'Name',
                    image: 'Badge',
                    level: 'Level',
                    action: 'Action'
                },
                sortable: ['name', 'level'],
                filterable: ['name', 'level']
            },
            checkPermission: true
        };
    },
    methods: {
        getBadges() {
            axios
                .get('/api/badge')
                .then(res => {
                    this.data = res.data;
                    console.log(this.data);
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        },
        returnError(){
            this.checkPermission = false;
            this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot access',
                type: 'error',
                duration: 5000
            });
        }
    },
    created() {
        var getRoleId = jwtToken.getRoleId();
        getRoleId.includes(16) == false ? this.returnError() : this.getBadges();
    }
};
</script>
