<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
      <h4>View Badge - {{ badge.name }}</h4>
    </div>
      <div class="card-body">
        <div class="row">
          <img v-if="badge.image" :src="'/storage/' + badge.image" class="image_view rounded-circle mb-3">
          <img v-else src="/images/default-image.jpg" class="image_view rounded-circle mb-3"  height="auto">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <p>
              <span class="font-weight-bold">Status : </span>
              {{ badge.status }}
            </p>
          </div>
          <div class="col-md-12 col-xs-12 b-r">
            <button class="btn btn-outline-danger pull-right mr-2" @click="deleteBadge(badgeId)">Delete</button>
          </div>
        </div>
		  </div>
	</div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      badgeId: this.$route.params.id,
      badge: {},
      checkPermission: true
    };
  },
  methods: {
    getVoucher() {
      axios
        .get("/api/badge/" + this.badgeId)
        .then(res => {
          this.badge = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    deleteBadge(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/badge/" + id)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have deleted the badge',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/master-data/badge");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getVoucher();
  }
};
</script>
