<template>
    <div class="row mt-3" v-if="checkPermission">
      <div class="col-md-12">

        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Claim Application History</h4>
              <label>Month : </label>
                  <select class="form-control status-width" v-model="selectedMonth" @change="chageMonthYear()">
                      <option value="0">January</option>
                      <option value="1">February</option>
                      <option value="2">March</option>
                      <option value="3">April</option>
                      <option value="4">May</option>
                      <option value="5">June</option>
                      <option value="6">July</option>
                      <option value="7">August</option>
                      <option value="8">September</option>
                      <option value="9">October</option>
                      <option value="10">November</option>
                      <option value="11">December</option>
                  </select>

              <label>Year : </label>
                      <select class="form-control status-width" v-model="selectedYear" @change="chageMonthYear()">
                        <option v-for="stat in years" :value="stat.value">{{ stat.text }}</option>
                      </select>

              <label>Status : </label>
                  <select class="form-control status-width" v-model="selectedStatus" @change="chageMonthYear()">
                    <option value="3">All</option>
                    <option value="0">Processing</option>
                    <option value="1">Approved</option>
                    <option value="2">Rejected</option>
                  </select>

        <v-client-table :columns="columns" :data="leaves" :options="options">
            <div slot="index" slot-scope="props">{{ props.index }}</div>

            <div slot="amount" slot-scope="props">RM {{ props.row.pivot.amount | currency }}</div>

            <div slot="status" slot-scope="props">
               <div v-if="props.row.pivot.approve == 0 || props.row.pivot.approve == 4">
                    Processing
                </div>
                <div v-else-if="props.row.pivot.approve == 2 || props.row.pivot.approve == 5">
                    Rejected
                </div>
                <div v-else>
                    Approved
                </div>
            </div>

            <router-link slot="action" slot-scope="props" :to="{name: 'claim.history.view',  params: { id: props.row.pivot.id } }" >
                <button class="btn btn-info text-white">View</button>
            </router-link>
        </v-client-table>
          </div>

        </div>
      </div>
    </div>
</template>

<script>
function Leave({ id, start, end, reason, document, approve }) {
  this.id = id;
  this.start = start;
  this.end = end;
  this.reason = reason;
  this.document = document;
  this.approve = approve;
}

export default {
  data() {
    return {
      leaves: [],
      columns: ['index', 'type', 'amount', 'status', 'action'],
      data: [],
      options: {
        headings: {
          index: 'No.',
          type: 'Type',
          amount: 'Amount',
          status: 'Status',
          action: 'Action',
        },
        sortable: ['amount','type', 'status'],
        filterable: ['amount','type', 'status']
      },
      checkPermission: true,
      years: [],
      selectedYear: '',
      selectedMonth: '',
      currentTime: '',
    };
  },
  methods: {
    produreYear(year){
      
      var startYear = 2018;
      //do loop year
      var i = year - startYear;

      for(i; i>=0; i--){
          var options = { value: startYear + i, text: startYear + i}
          this.years.push(options);
      }
    },
    chageMonthYear(){

        this.listLeave(this.selectedMonth, this.selectedYear, this.selectedStatus);
        console.log(this.selectedMonth, this.selectedYear, this.selectedStatus);
    },
    listLeave(month, year, status) {
      axios
        .get(`/api/history/claim/record/${this.selectedMonth}/${this.selectedYear}/${this.selectedStatus}`)
        .then(res => {
          this.leaves = res.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    }
  },
  created() {
    this.currentTime = new Date();
    this.selectedYear = this.currentTime .getFullYear();
    this.selectedMonth = this.currentTime .getMonth();
    this.selectedStatus = '3';
    this.listLeave(this.selectedMonth, this.selectedYear, this.selectedStatus);
  },
  mounted: function () {
      this.produreYear(this.selectedYear);
  }
};
</script>
