<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
        <h4 class="card-title mb-5">Claim Application</h4>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <i class="icon-user mr-2"></i>{{ claim.name }}
                    </p>
                    <p>
                        <i class="icon-envelope mr-2"></i> {{ claim.email }}
                    </p>
                    <p>
                        <i class="fa fa-money mr-2"></i> RM {{ claim.amount }}
                    </p>
                    <p>
                        <i class="icon-docs mr-2"></i>{{ claim.remarks }}
                    </p>
                    <p>
                        <a v-bind:href="claim.document" download="Claim Document">
                          <i class="fa fa-download fa-2x mr-2" aria-hidden="true"></i>
                        </a>
                        View Supported Document
                    </p>
                    <div class="form-group">
                        <label class="font-weight-bold">Status : </label>
                        <select v-model="claim.approve" class="form-control">
                            <option v-for="stat in status" :value="stat.value">{{ stat.text }}</option>
                        </select>
                    </div>

                    <div class="form-group" v-if="claim.approve == 2">
                        <label class="font-weight-bold">Reason For Reject : </label>
                        <input type="text" class="form-control" v-model="claim.reason" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-info pull-right" @click="approveClaim()"><i class="icon-check"></i> Submit</button>
        </div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      claimId: this.$route.params.id,
      claim: "",
      checkPermission: true,
      buttonPermission: false,
      status: [
          { value: 1, text: 'Approve' },
          { value: 2, text: 'Reject' },
      ]
    };
  },
  methods: {
    getSingleLeaveHistory() {
      axios
        .get("/api/claim/application/" + this.claimId)
        .then(res => {
          console.log(res.data);
          this.claim = res.data.leave[0];
          if (res.data.role.role == 'finance') {
              this.buttonPermission = true;
          }else if(res.data.role.role == 'branch manager' && res.data.own_application == false){
              this.buttonPermission = true;
          }
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    approval(value){
      if(value == '1'){
        this.approveClaim();
      }else{
        this.disapproveClaim();
      }
    },
    // approveClaim() {
    //   axios
    //     .put("/api/claim/application/" + this.claimId + "/approve")
    //     .then(res => {
    //       this.$notify({
    //           group: 'foo',
    //           title: 'Awesome',
    //           text: 'The application has been approved!',
    //           type: 'success',
    //           duration: 5000
    //         });
    //       this.$router.push("/claim");
    //     })
    //     .catch(err => {
    //       this.$notify({
    //           group: 'foo',
    //           title: 'Ops',
    //           text: 'Please contact administrator',
    //           type: 'error',
    //           duration: 5000
    //         });
          
    //       //console.log(err);
    //     });
    // },
    // disapproveClaim(){
    //   this.$swal({
    //     title: 'Remark',
    //     input: 'text',
    //     inputAttributes: {
    //       autocapitalize: 'off'
    //     },
    //     showCancelButton: true,
    //     confirmButtonText: 'Submit',
    //     showLoaderOnConfirm: true,
    //   }).then(result => {
    //     var submit = {};
    //     submit.remark = result.value;
    //     if (result.value) {
    //       axios
    //         .put("/api/claim/application/" + this.claimId + "/disapprove", submit)
    //         .then(res => {
    //           this.$swal('Success', 'The claim updated', 'success');
    //           this.$router.push("/claim");
    //         })
    //     } else {
    //       this.$swal('Cancelled', 'Your package is still intact', 'info');
    //     }
    //   });
    // },
    approveClaim() {
      console.log(this.claim);
      axios
        .put("/api/claim/application/" + this.claimId + "/approve", this.claim)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'The application has been approved!',
              type: 'success',
              duration: 5000
            });
          this.$router.push("/claim");
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err);
        });
    }
  },
  created() {
    axios
      .get(`/api/user`)
      .then(res=>{
          //console.log(res.data);
      })
    this.getSingleLeaveHistory();
  }
};
</script>
