<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
        <h4 class="card-title mb-5">Claim Application</h4>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <i class="icon-user mr-2"></i>{{ claim.name }}
                    </p>
                    <p>
                        <i class="icon-envelope mr-2"></i> {{ claim.email }}
                    </p>
                    <p>
                        <i class="fa fa-money mr-2"></i> RM {{ claim.amount }}
                    </p>
                    <p>
                        <i class="icon-docs mr-2"></i>{{ claim.remarks }}
                    </p>
                    <p>
                        <a v-bind:href="claim.document" download="Claim Document">
                          <i class="fa fa-download fa-2x mr-2" aria-hidden="true"></i>
                        </a>
                        View Supported Document
                    </p>
                    <p>
                      <div v-if="claim.approve === 1">
                        <i class="icon-check text-success mr-2" ></i> Approved
                      </div>
                      <div v-else-if="claim.approve === 2 || claim.approve === 5">
                        <i class="icon-close text-danger mr-2" ></i> Rejected - <strong>{{ claim.reason | capitalize }}</strong>
                      </div>
                      <div v-else>
                        <i class="icon-close text-danger mr-2"></i> Processing
                      </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      claimId: this.$route.params.id,
      claim: "",
      checkPermission: true,
      buttonPermission: false,
    };
  },
  methods: {
    getSingleLeaveHistory() {
      axios
        .get("/api/claim/application/" + this.claimId)
        .then(res => {
          console.log(res.data);
          this.claim = res.data.leave[0];
          if (res.data.role.role == 'finance') {
              this.buttonPermission = true;
          }else if(res.data.role.role == 'branch manager' && res.data.own_application == false){
              this.buttonPermission = true;
          }
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
  },
  created() {
    axios
      .get(`/api/user`)
      .then(res=>{
          //console.log(res.data);
      })
    this.getSingleLeaveHistory();
  }
};
</script>
