<template>
    <div class="card mt-5">
        <div class="card-header">
          <div>
            <i class="fa fa-align-justify mr-2"></i> List of pending coach approval
          </div>
        </div>
        <div class="card-body">
            <v-client-table :columns="columns" :data="data" :options="options">
              <div slot="index" slot-scope="props">{{ props.index }}</div>

              <router-link slot="name" slot-scope="props" :to="{name: 'coach.approval.view',  params: { id: props.row.id } }" >
                  {{ props.row.name }}
              </router-link>

              <div slot="email" slot-scope="props">
                <span v-if="props.row.email">{{ props.row.email }}</span>
                <span v-else class="text-center"> - </span>
              </div>

              <div slot="phone" slot-scope="props">
                <span v-if="props.row.phone">{{ props.row.phone }}</span>
                <span v-else class="text-center"> - </span>
              </div>

              <div slot="designation" slot-scope="props">Edit</div>
            </v-client-table>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      staffs: [],
      data:[],
      columns: ['index', 'name', 'email', 'phone', 'designation'],
      options: {
        headings: {
          index: 'No.',
          name: 'Name',
          email: 'Email',
          phone: 'Phone',
          designation: 'Designation'
        },
        sortable: ['name', 'email', 'designation'],
        filterable: ['name', 'email', 'designation']
      },
    };
  },
  methods: {
    listStaff() {
      axios
        .get("/api/coach/status/disapprove")
        .then(res => {
          console.log(res.data.data);
          this.staffs = res.data;
          this.data = res.data;
          // for(var i=0; i<res.data.length; i++){
          //   console.log(res.data[i].name);
          // }
          console.log(this.staffs[0].name);
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    }
  },
  created() {
    this.listStaff();
  }
};
</script>

