<template>
	<div class="card mt-3">
		<div class="card-header">
			<span>Update Coach Config</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="updateConfigCoach()">
      		<div class="form-group">
      			<label>Name</label>
      			<input type="text" class="form-control" v-model="designation.name">
      		</div>
          
          <div class="form-group" v-for="(tier, index) in designation.tiers" v-bind:id="tier.id">
            <label class="font-weight-bold">{{ tier.name }}</label>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <label>Hours (from)</label>
                    <input type="number" class="form-control" v-model="tier.pivot.hours_from" disabled>
                </div>
                <div class="col-sm-12 col-md-4">
                    <label>Hours (to)</label>
                    <input type="number" class="form-control" v-model="tier.pivot.hours_to" v-on:input="calcTierHours" :id="index">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label>Rate (RM)</label>
                    <input type="number" class="form-control" v-model="tier.pivot.rate">
                </div>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Update</button>
        </form>
    	</div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      loading: false,
      configId: this.$route.params.id,
      status: [{ value: 'active', text: 'Active' }, { value: 'inactive', text: 'Inactive' }],
      designation: {},
    };
  },
  methods: {
    getCoachConfig() {
      axios
        .get("/api/coach/config/" + this.configId)
        .then(res => {
          this.designation = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    updateConfigCoach() {
      	event.preventDefault();
        this.loading = true;
        console.log(this.designation);
        axios
            .post('/api/coach/config/' + this.configId, this.designation)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'designation is updated',
                  type: 'success',
                  duration: 5000
                });

              this.loading = false;
              this.$router.push("/coach/config/");
            })
            .catch(err => {
              if (err.response.status == 500) {
                this.$notify({
                    group: 'foo',
                    title: 'Ops',
                    text: err.response.data.message,
                    type: 'error',
                    duration: 5000
                  });
                this.loading = false;
              }
            });
    },
    calcTierHours(event){
      var index = parseInt(event.target.id) + 1;
      this.designation.tiers[index].pivot.hours_from = parseInt(this.designation.tiers[event.target.id].pivot.hours_to) + 1;
    },
  },
  created() {
    this.getCoachConfig();
  }
};
</script>

<style lang="scss" scoped>
	@import "~vue-wysiwyg/dist/vueWysiwyg.css";
</style>
