<template>
	<form v-on:submit="addDesignation()" v-if="checkPermission">
		<div class="card mt-3">
				<div class="card-header">
					<div>
						<i class="fa fa-calendar mr-2"></i> Add New Coach Designation
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="form-group">
								<label class="font-weight-bold">Name</label>
								<input type="text" name="name" class="form-control" v-model="designation.name">
							</div>

							<div class="form-group">
								<label class="font-weight-bold">Tier 1</label>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label>Hours (from)</label>
                        <input type="number" class="form-control" v-model="designation.tier1HoursFrom" disabled>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label>Hours (to)</label>
                        <input type="number" class="form-control" v-model="designation.tier1HoursTo" v-on:input="calcTier1Hours">
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label>Rate (RM)</label>
                        <input type="number" class="form-control" v-model="designation.tier1Rate">
                    </div>
                </div>
							</div>

							<div class="form-group">
								<label class="font-weight-bold">Tier 2</label>
								<div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label>Hours (from)</label>
                        <input type="number" class="form-control" v-model="designation.tier2HoursFrom" disabled>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label>Hours (to)</label>
                        <input type="number" class="form-control" v-model="designation.tier2HoursTo" v-on:input="calcTier2Hours">
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label>Rate (RM)</label>
                        <input type="number" class="form-control" v-model="designation.tier2Rate">
                    </div>
                </div>
							</div>

              <div class="form-group">
                <label class="font-weight-bold">Tier 3</label>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label>Hours (from)</label>
                        <input type="number" class="form-control" v-model="designation.tier3HoursFrom" disabled>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label>Hours (to)</label>
                        <input type="number" class="form-control" v-model="designation.tier3HoursTo">
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label>Rate (RM)</label>
                        <input type="number" class="form-control" v-model="designation.tier3Rate">
                    </div>
                </div>
              </div>

							<button class="btn btn-primary" type="submit">Add</button>
						</div>
					</div>
				</div>
		</div>
	</form>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
    	loading: false,
    	designation: {
    		name: "",
        tier1HoursFrom: 0,
    	},
    	checkPermission: true
    };
  },
  methods: {
  	addDesignation () {
  		event.preventDefault();
  		this.loading = true;
  		axios
  			.put('/api/coach/config', this.designation)
  			.then(res => {
  				this.$notify({
			        group: 'foo',
			        title: 'Awesome',
			        text: 'You have added a new designation.',
			        type: 'success',
			        duration: 5000
			      });
  				this.loading = false;
        	this.$router.push("/coach/config/");
  			})
  			.catch(err => {
          if (err.response.status == 500) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: err.response.data.message,
                  type: 'error',
                  duration: 5000
                });
              this.loading = false;
              }
  			})
  	},
    calcTier1Hours(){
        this.designation.tier2HoursFrom = parseInt(this.designation.tier1HoursTo) + 1;
    },
    calcTier2Hours(){
        this.designation.tier3HoursFrom = parseInt(this.designation.tier2HoursTo) + 1;
    },
  	returnError(){
  		this.checkPermission = false;
      	this.$notify({
          	group: 'foo',
          	title: 'Ops',
          	text: 'You cannot access',
          	type: 'error',
          	duration: 5000
      	});
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : true;
  }

};
</script>