<template>
	<div v-if="checkPermission">
		<page-header>
			Coach Designation Config
    		<router-link slot="button" class="btn btn-info text-white" :to="{ name: 'coach.config.create' }" >
				Add New Designation
	        </router-link>
		</page-header>
		<div class="card mt-3">
			<div class="card-body">
				<v-client-table :columns="columns" :data="designations" :options="options">
		          <div slot="index" slot-scope="props">{{ props.index }}</div>

		          <router-link slot="action" slot-scope="props" :to="{name: 'coach.config.edit',  params: { id: props.row.id } }" >
		            <button class="btn btn-info text-white">Edit</button>
		          </router-link>
		        </v-client-table>
			</div>
		</div>
	</div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
	data() {
		return {
			designations: [],
			columns: ['index', 'name', 'action'],
			data: [],
			options: {
				headings: {
					index: 'No.',
					name: 'Name',
					action: 'Action'
				},
				sortable: ['name'],
				filterable: ['name']
			},
			checkPermission : true
		};
	},
	methods: {
		listStaff() {
			axios
				.get(`/api/coach/config`)
				.then(res => {
					this.designations = res.data;
				})
				.catch(err => {
					this.$notify({
						group: 'foo',
						title: 'Ops',
						text: 'Please contact administrator',
						type: 'error',
						duration: 5000
					});
				});
		},
    	returnError(){
      		this.checkPermission = false;
      		this.$notify({
          		group: 'foo',
          		title: 'Ops',
          		text: 'You cannot access',
          		type: 'error',
          		duration: 5000
      		});
    	}
	},
	created() {
		var getRoleId = jwtToken.getRoleId();
    	getRoleId.includes(16) == false ? this.returnError() : this.listStaff();
	}
};
</script>
