<template>
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title mb-5">Create new Coach</h4>
            <form v-on:submit="createStaff()">
                <div class="form-group">
                    <label class="font-weight-bold">Name</label>
                    <input type="text" name="name" class="form-control" v-model="staff.name"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('name') }"
                    >
                    <div v-show="errors.has('name')" class="invalid-feedback">
                      {{ errors.first('name') }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Email</label>
                    <input type="email" name="email" id="mail" class="form-control" v-model="staff.email"
                      v-validate="'email|required'"
                      :class="{ 'is-invalid': errors.has('email') }" ref="email"
                    >
                    <div v-show="errors.has('email')" class="invalid-feedback" >
                      {{ errors.first('email') }}
                    </div>
                </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="form-group">
                        <label class="font-weight-bold">Birthday</label>
                        <input type="date" name="birthday" class="form-control" v-model="staff.birthday" :disabled="loading" 
                          v-validate="'required'"
                          :class="{ 'is-invalid': errors.has('birthday') }"  @click="checkMail()"
                        >
                        <div v-show="errors.has('birthday')" class="invalid-feedback">
                          {{ errors.first('birthday') }}
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label class="font-weight-bold">IC Number</label>
                      <the-mask :mask="['######-##-####']" placeholder="E.g. 940101-11-0101" class="form-control" v-model="staff.icNumber" :disabled="loading" 
                        name="IC Number"
                        v-validate="'required'"
                        :class="{ 'is-invalid': errors.has('IC Number') }"
                      />

                    <div v-show="errors.has('IC Number')" class="invalid-feedback">
                      {{ errors.first('IC Number') }}
                    </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label class="font-weight-bold">Gender</label>
                      <select class="form-control" v-model="staff.gender" :disabled="loading"
                        name="gender" 
                        v-validate="'required'"
                        :class="{ 'is-invalid': errors.has('gender') }"
                      >
                          <option>Male</option>
                          <option>Female</option>
                        </select>

                    <div v-show="errors.has('gender')" class="invalid-feedback">
                      {{ errors.first('gender') }}
                    </div>

                    </div>
                  </div>
                </div>
                  
                <div class="form-group">
                    <label class="font-weight-bold">Password</label>
                    <input type="password" name="password" class="form-control" v-model="staff.password"
                      v-validate="'required|min:8'"
                      :class="{ 'is-invalid': errors.has('password') }"
                    >

                    <div v-show="errors.has('password')" class="invalid-feedback">
                      {{ errors.first('password') }}
                    </div>

                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label class="font-weight-bold">Address</label>
                      
                      <input type="text" class="form-control mb-2" v-model="staff.street1" placeholder="Street 1"
                      name="Street Name" maxlength="50" 
                      v-validate="'required|min:4'"
                      :class="{ 'is-invalid': errors.has('Street Name') }"
                      >
                    <div v-show="errors.has('Street Name')" class="invalid-feedback">
                      {{ errors.first('Street Name') }}
                    </div>

                      <input type="text" class="form-control mb-2" v-model="staff.street2" placeholder="Street 2" maxlength="50" >
                      <div class="row">
                        <div class="col-sm-6">
                          <input type="text" class="form-control mb-2" v-model="staff.city" placeholder="City" 
                            name="city"
                            v-validate="'required'"
                            :class="{ 'is-invalid': errors.has('city') }" 
                          >
                        </div>

                        <div class="col-sm-6">
                          <input type="number" class="form-control mb-2" v-model="staff.postcode" placeholder="Postcode"
                           name="postcode" 
                            v-validate="'required'"
                            :class="{ 'is-invalid': errors.has('postcode') }"
                          >
                          <div v-show="errors.has('postcode')" class="invalid-feedback">
                            {{ errors.first('postcode') }}
                          </div>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <input type="text" class="form-control mb-2" v-model="staff.state" placeholder="State"
                            name="state" 
                            v-validate="'required'"
                            :class="{ 'is-invalid': errors.has('state') }"
                          >
                          <div v-show="errors.has('state')" class="invalid-feedback">
                            {{ errors.first('state') }}
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <select class="form-control" v-model="staff.country" :disabled="loading"
                          name="country" 
                          v-validate="'required'"
                          :class="{ 'is-invalid': errors.has('country') }">
                            <option value="" hidden>Select Country</option>
                            <option>Malaysia</option>
                            <option>Indonesia</option>
                            <option>Thailand</option>
                            <option>Vietnam</option>
                            <option>Malaysia</option>
                            <option>Singapore</option>
                            <option>Philippines</option>
                            <option>Cambodia</option>
                            <option>Myanmar</option>
                            <option>Laos</option>
                            <option>Brunei</option>
                            <option>Timor-Leste</option>
                          </select>
                          <div v-show="errors.has('country')" class="invalid-feedback">
                            {{ errors.first('country') }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Contact</label>
                    <the-mask 
                      name="contact" 
                      class="form-control" 
                      v-model="staff.contact" 
                      :mask="['(##) ####-####', '(##) #####-####']"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('contact') }"
                       />

                    <div v-show="errors.has('contact')" class="invalid-feedback">
                      {{ errors.first('contact') }}
                    </div>

                </div>
                <div class="form-group">
                    <b-form-group>
                        <label for="year1" class="font-weight-bold">Designation</label>
                        <b-form-select v-model="staff.designation"
                        :plain="true"
                        :options="designations"
                        name="designation"
                        v-validate="'required'"
                        :class="{ 'is-invalid': errors.has('designation') }"
                        >
                        </b-form-select>

                        <div v-show="errors.has('designation')" class="invalid-feedback">
                          {{ errors.first('designation') }}
                        </div>

                    </b-form-group>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Salary</label>
                    <input type="number" name="salary" class="form-control" v-model="staff.salary"
                      v-validate="'required'"
                      :class="{ 'is-invalid': errors.has('salary') }"
                    >


                    <div v-show="errors.has('salary')" class="invalid-feedback">
                      {{ errors.first('salary') }}
                    </div>

                </div>



                <fieldset class="b-form-group form-group">                  
                    <b-form-group>
                        <label for="year1" class="font-weight-bold">Type</label>
                        <b-form-select v-model="staff.type"
                        :plain="true"
                        :options="types"
                        name="type"
                        v-validate="'required'"
                        :class="{ 'is-invalid': errors.has('type') }"
                        >
                        </b-form-select>


                    <div v-show="errors.has('type')" class="invalid-feedback">
                      {{ errors.first('type') }}
                    </div>

                    </b-form-group>
                </fieldset>

                <div class="form-group">
                    <fieldset id="__BVID__351" role="group" class="b-form-group form-group">                  
                        <b-form-group>
                            <label for="year1" class="font-weight-bold">Status</label>
                            <b-form-select v-model="staff.status"
                            :plain="true"
                            :options="['active', 'inactive']"
                            name="status"
                            v-validate="'required'"
                            :class="{ 'is-invalid': errors.has('status') }"
                            >
                            </b-form-select>


                        <div v-show="errors.has('status')" class="invalid-feedback">
                          {{ errors.first('status') }}
                        </div>

                        </b-form-group>
                    </fieldset>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                    <label class="font-weight-bold">Profile Picture</label>
                        <input type="file" class="form-control" multiple="multiple" id="avatars" @change="uploadAvatar"
                          name="Supporting Document"
                        >
                        <hr>
                        <div class="col-md-12">
                            <div class="attachment-holder animated fadeIn" v-cloak v-for="avatar in avatars" v-bind:key="avatar.name"> 
                                <span class="label label-primary">{{ avatar.name + ' (' + Number((avatar.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                                <span class="" style="background: red; cursor: pointer;" @click="removeAvatar(avatar)"><button class="btn btn-xs btn-danger">Remove</button></span>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label class="font-weight-bold">Supporting Document (IC)</label>
                          <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange"
                            name="Supporting Document"
                          >
                          <hr>
                          <div class="col-md-12">
                              <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                                  <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                                  <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Working Hour</label>
                    <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4" data-tablesaw-mode="columntoggle" id="table-8957">
                        <thead>
                            <tr>
                                <th class="text-center">Day</th>
                                <th class="text-center">From</th>
                                <th class="text-center">To</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(s,index) in schedule" v-bind="schedule">
                                <td class="title">{{ s.day }}</td>
                                <td><input type="time" name="start" class="form-control" v-model="s.start" :disabled="s.disabled"></td>
                                <td><input type="time" name="end" class="form-control" v-model="s.end" :disabled="s.disabled"></td>
                                <td class="text-center">
                                  <a class="pointer">
                                    <i class="icon-close text-danger" @click="enableDay(s)" v-if="s.disabled"></i>
                                    <i class="fa fa-check text-success" @click="disableDay(s)" v-else></i>
                                  </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                  <label class="font-weight-bold">Outlet Access : </label>
                  <div class="col-md-4">
                    <label class="custom-checkbox custom-control" v-for="outlet in outlets" v-bind:key="outlet.id" >
                      <input type="checkbox" v-model="staff.selectedOutlet" :value="outlet.id" autocomplete="off" class="custom-control-input" @click="addOutlet($event)" :disabled="outlet.id == outlet_id">
                      <span aria-hidden="true" class="custom-control-indicator"></span> 
                      <span class="custom-control-description">{{ outlet.name }}</span>
                    </label>

                  </div>
                </div>

                <div class="form-group">
                  <label class="font-weight-bold">Remarks</label>
                  <div class="col-md-12">
                    <textarea v-model="staff.remarks" rows="5" cols="100"></textarea>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary" :disabled="!isComplete ||  errors.any()" >Submit</button>
            </form>
        </div>
    </div>
</template>

<style>
.custom-control-input:disabled ~ .custom-control-indicator{
    color: #fff;
    background-color: #20a8d8;
}
.custom-control-input:disabled ~ .custom-control-description{
    color: #000000;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #828383!important;
    border-color: #828383!important;
}
</style>

<script>
import { extend } from 'vee-validate';

export default {
  data() {
    return {
      loading: false,
      staff: {
        name: '',
        password: '',
        email: '',
        contact: '',
        workingHour: '',
        obo: 'admin',
        salary: '',
        type: '',
        birthday: '',
        gender: '',
        street1: '',
        street2: '',
        postcode: '',
        city: '',
        state: '',
        country: '',
        icNumber: '',
        leave: 10,
        schedules: [],
        selectedOutlet : [],
      },
      types: [{ value: 'full time', text: 'Full Time' }, { value: 'part time', text: 'Part Time' }],
      setDay: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
      designations: [],
      attachments: [],
      avatars:[],
      data: new FormData(),
      outlets: [],
      outlet_id: '',
      staffId:'',
      schedule: [],
      scheduleCompleted: true,
      emailcompleted: ''
    };
  },

  methods: {
    showOutlet(){
      axios
        .get('/api/outlets/')
        .then(res => {
          this.outlets = res.data;
        })
    },
    disableDay(s){
      s.disabled = true;
    },
    checkMail(){
      axios
        .get('/api/upload/user/email/'+this.$refs.email.value)
        .then(res => {

        })
        .catch(err => {
          this.$swal({
              title: 'This Email Already Exist',
              text: "Please change the email address",
              type: "error",
              showCancelButton: false,
              showConfirmButton: true,
              confirmButtonText: 'OK',
              cancelButtonText: 'No, Keep it!',
              showCloseButton: true,
              allowOutsideClick: false,
              closeOnClickOutside: false,
              closeOnEsc: false,
              allowEscapeKey : false,
            });
        });
    },
    enableDay(s){
      s.disabled = false;
    },
    getDesignations() {
      this.staff.selectedOutlet.push(this.outlet_id);
      axios
        .get('/api/coach/config')
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            var tempDesignation = {
              value: res.data[i].id,
              text: res.data[i].name
            };
            this.designations.push(tempDesignation);
          }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    addOutlet(e) {
      if (e.target.checked) {
        this.staff.selectedOutlet.push(e.target.value);
      } else {
        this.staff.selectedOutlet.splice(this.staff.selectedOutlet.indexOf(e.target.value), 1);
      }
    },
    createStaff() {
      event.preventDefault();
      this.staff.schedules = this.schedule;
      this.prepareFields();
      this.prepareFieldss();

      
      var config = {
        headers: { 'Content-Type': 'multipart/form-data' },
        onUploadProgress: function(progressEvent) {
          this.percentCompleted = Math.round(progressEvent.loaded * 100 / progressEvent.total);
          this.$forceUpdate();
        }.bind(this)
      };

      axios
        .get('/api/upload/user/email/'+this.$refs.email.value)
        .then(res => {
          this.emailcompleted = true;

      var i;

        for (i = 0; i < this.staff.schedules.length; i++) {
          if(this.staff.schedules[i].disabled == false){
            if(this.staff.schedules[i].start == '' || this.staff.schedules[i].end == ''){

              if(this.staff.schedules[i].start == ''){
                var description = this.staff.schedules[i].day+' From Time Is Incomplete,'
                this.scheduleCompleted = false;
              }else if(this.staff.schedules[i].end == ''){
                var description = this.staff.schedules[i].day+' To Time Is Incomplete,'
                this.scheduleCompleted = false;
              }
              
              this.$swal({
                title: 'Please Check Working Hours',
                text: description+" Please fill up the field its required!",
                type: "error",
                showCancelButton: false,
                showConfirmButton: true,
                confirmButtonText: 'OK',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: true,
                allowOutsideClick: false,
                closeOnClickOutside: false,
                closeOnEsc: false,
                allowEscapeKey : false,
              });
              
            }else{
              this.scheduleCompleted = true;
            }
          }
        }  
        console.log(this.emailcompleted);console.log(this.scheduleCompleted);
        if(this.emailcompleted == true && this.scheduleCompleted == true){
          axios
            .put('/api/coach/register', this.staff)
            .then(res => {
              this.$swal({
                title: 'Coach Created Successfully',
                text: "This Message Will Auto-Close Soon!",
                type: "success",
                showCancelButton: false,
                showConfirmButton: false,
                confirmButtonText: 'Yes Delete it!',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: false,
                allowOutsideClick: false,
                closeOnClickOutside: false,
                closeOnEsc: false,
                allowEscapeKey : false,
              })
              this.staffId = res.data.id;
              // console.log('avatar');
              // console.log(this.staffId);
              return axios.post('/api/upload/user/' + this.staffId + '/avatar', this.data, config);
            })
            .then(res => {
              // console.log('ic');
              // console.log(this.staffId);
              return axios.post('/api/upload/user/' + this.staffId + '/ic', this.data, config);
            })
            .then(res => {
              this.$router.push('/coach');
              this.$swal.close();
            })
            .catch(err => {

              this.$swal({
                title: 'C',
                text: "Please change the email address",
                type: "error",
                showCancelButton: false,
                showConfirmButton: true,
                confirmButtonText: 'OK',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: true,
                allowOutsideClick: false,
                closeOnClickOutside: false,
                closeOnEsc: false,
                allowEscapeKey : false,
              });

            })
        }

      })
      .catch(err => {
        this.emailcompleted = false;
        this.$swal({
            title: 'This Email Already Exist',
            text: "Please change the email address",
            type: "error",
            showCancelButton: false,
            showConfirmButton: true,
            confirmButtonText: 'OK',
            cancelButtonText: 'No, Keep it!',
            showCloseButton: true,
            allowOutsideClick: false,
            closeOnClickOutside: false,
            closeOnEsc: false,
            allowEscapeKey : false,
          });
      });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    getAvatarSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.avatars.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    prepareFieldss() {
      if (this.avatars.length > 0) {
        for (var i = 0; i < this.avatars.length; i++) {
          let avatar = this.avatars[i];
          this.data.append('avatars', avatar);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    removeAvatar(avatar) {
      this.avatars.splice(this.avatars.indexOf(avatar), 1);

      this.getAvatarSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    },
    uploadAvatar(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.avatars.push(files[i]);
      }
      document.getElementById('avatars').value = [];
    },
  },
  created() {
    for (var i = 0; i < this.setDay.length; i++) {
        var jadual = {
            day: this.setDay[i],
            start: '',
            end: '',
            disabled: true
        };
        this.schedule.push(jadual);
    }
    axios
      .get("/api/user")
      .then(res => {
        this.outlet_id = res.data.outlet_id;
        this.getDesignations();
        this.showOutlet();
      });
  },
  computed: {
    isComplete() {
      return (
        this.staff.name &&
        this.staff.password &&
        this.staff.email &&
        this.staff.contact &&
        this.staff.salary &&
        this.staff.type &&
        this.staff.birthday &&
        this.staff.gender &&
        this.staff.street1 &&
        this.staff.postcode &&
        this.staff.city &&
        this.staff.state &&
        this.staff.country &&
        this.staff.icNumber &&
        this.staff.leave &&
        this.avatars &&
        this.attachments
      );
    }
  }
};
</script>
