<template>

    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title mb-5">Edit Coach Staff</h4>
            <form v-on:submit="updateCoach()">
                <div class="form-group">
                    <label class="font-weight-bold">Name</label>
                    <input type="text" name="name" class="form-control" v-model="staff.name" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Email</label>
                    <input type="email" name="email" class="form-control" v-model="staff.email" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Birthday</label>
                    <input type="date" name="birthday" class="form-control" v-model="staff.birthday" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">IC Number</label>
                    <!-- <input type="date" name="birthday" class="form-control" v-model="staff.birthday" required> -->
                    <the-mask :mask="['######-##-####']" class="form-control" v-model="staff.icNumber" :disabled="loading" 
                        name="IC Number"
                        v-validate="'required'"
                        :class="{ 'is-invalid': errors.has('IC Number') }"
                      />
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Gender</label>
                    <b-form-select v-model="staff.gender" required
                    :plain="true"
                    :options="gender">
                    </b-form-select>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label class="font-weight-bold">Address</label>
                      <input type="text" name="street1" class="form-control mb-2" v-model="staff.street1" required>

                      <input type="text" name="street2" class="form-control mb-2" v-model="staff.street2" required>

                      <div class="row">
                        <div class="col-sm-6">
                          <input type="text" name="city" class="form-control mb-2" v-model="staff.city" required>
                        </div>

                        <div class="col-sm-6">
                          <input type="number" name="postcode" class="form-control mb-2" v-model="staff.postcode" required>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <input type="text" name="state" class="form-control mb-2" v-model="staff.state" required>
                        </div>

                        <div class="col-sm-6">
                          <select class="form-control" v-model="staff.country" :disabled="loading"
                          name="country" 
                          v-validate="'required'"
                          :class="{ 'is-invalid': errors.has('country') }">
                            <option value="" hidden>Select Country</option>
                            <option>Malaysia</option>
                            <option>Indonesia</option>
                            <option>Thailand</option>
                            <option>Vietnam</option>
                            <option>Malaysia</option>
                            <option>Singapore</option>
                            <option>Philippines</option>
                            <option>Cambodia</option>
                            <option>Myanmar</option>
                            <option>Laos</option>
                            <option>Brunei</option>
                            <option>Timor-Leste</option>
                          </select>
                          <div v-show="errors.has('country')" class="invalid-feedback">
                            {{ errors.first('country') }}
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Contact</label>
                    <input type="text" name="contact" class="form-control" v-model="staff.contact" required>
                </div>

                <b-form-group>
                    <label for="year1" class="font-weight-bold">Designation</label>
                    <b-form-select v-model="staff.designation"
                    :plain="true"
                    :options="designations"
                    name="designation"
                    v-validate="'required'"
                    :class="{ 'is-invalid': errors.has('designation') }"
                    >
                    </b-form-select>

                    <div v-show="errors.has('designation')" class="invalid-feedback">
                      {{ errors.first('designation') }}
                    </div>

                </b-form-group>

                <div class="form-group">
                    <label class="font-weight-bold">Salary</label>
                    <input type="number" name="salary" class="form-control" v-model="staff.salary" required>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Type</label>
                    <b-form-select v-model="staff.type" required
                    :plain="true"
                    :options="type">
                    </b-form-select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Status</label>
                    <b-form-select v-model="staff.status" required
                    :plain="true"
                    :options="stat">
                    </b-form-select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Account Status</label>
                    <b-form-select v-model="staff.approve" required
                    :plain="true"
                    :options="approve">
                    </b-form-select>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                    <label class="font-weight-bold">Profile Picture</label>
                        <input type="file" class="form-control" multiple="multiple" id="attachments" @change="uploadFieldChange"
                          name="Supporting Document"
                        >
                        <hr>
                        <div class="col-md-12">
                            <div class="attachment-holder animated fadeIn" v-cloak v-for="attachment in attachments" v-bind:key="attachment.name"> 
                                <span class="label label-primary">{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span> 
                                <span class="" style="background: red; cursor: pointer;" @click="removeAttachment(attachment)"><button class="btn btn-xs btn-danger">Remove</button></span>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Working Hour</label>
                    <!-- <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <label>Day</label>
                            <select class="form-control" v-model="schedule.day" :disabled="loading">
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                                <option>Sunday</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label>Start</label>
                            <input type="time" name="start" class="form-control" v-model="schedule.start">
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label>End</label>
                            <input type="time" name="end" class="form-control" v-model="schedule.end">
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <a class="btn btn-info btn-block text-white my-2" @click="addSchedule()">Add</a>
                        </div>
                    </div> -->
                    <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4" data-tablesaw-mode="columntoggle" id="table-8957">
                        <thead>
                            <tr>
                                <th class="text-center">Day</th>
                                <th class="text-center">From</th>
                                <th class="text-center">To</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(s,index) in schedule" v-bind="schedule">
                                <td class="title">{{ s.day }}</td>
                                <td><input type="time" name="start" class="form-control" v-model="s.start" :disabled="s.disabled"></td>
                                <td><input type="time" name="end" class="form-control" v-model="s.end" :disabled="s.disabled"></td>
                                <td class="text-center">
                                  <a class="pointer">
                                    <i class="icon-close text-danger" @click="enableDay(s)" v-if="s.disabled"></i>
                                    <i class="fa fa-check text-success" @click="disableDay(s)" v-else></i>
                                  </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                  <label class="font-weight-bold">Outlet Access : </label>
                  <div class="col-md-4">
                    <label class="custom-checkbox custom-control" v-for="outlet in outlets" v-bind:key="outlet.id">
                      <input type="checkbox" v-model="staff.outlet_access" :value="outlet.id" autocomplete="off" class="custom-control-input" @click="addOutlet($event)" :disabled="outlet.id == outlet_id">
                      <span aria-hidden="true" class="custom-control-indicator"></span> 
                      <span class="custom-control-description">{{ outlet.name }}</span>
                    </label>

                  </div>
                </div>

                <div class="form-group">
                  <label class="font-weight-bold">Remarks</label>
                  <div class="col-md-12">
                    <textarea v-model="staff.remarks" rows="5" cols="100"></textarea>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</template>

<style>
.custom-control-input:disabled ~ .custom-control-indicator{
    color: #fff;
    background-color: #20a8d8;
}
.custom-control-input:disabled ~ .custom-control-description{
    color: #000000;
}
</style>

<script>
import Autocomplete from "vuejs-auto-complete";
export default {
  data() {
    return {
      loading: false,
      staffId: this.$route.params.id,
      staff: {
        name: '',
        contact: '',
        designation: '',
        birthday: '',
        approve: '',
        department: '',
        email: '',
        workingHour: '',
        salary: '',
        icNumber:'',
        gender: '',
        street1: '',
        street2: '',
        city: '',
        postcode: '',
        state: '',
        country: '',
        type: '',
        status: '',
        schedule: ''
      },
      designations: [],
      approve: [{ value: 1, text: 'Approve' }, { value: 0, text: 'Disapprove' }],
      gender: [{ value: 'Male', text: 'Male' }, { value: 'Female', text: 'Female' }],
      type: [{ value: 'part time', text: 'Part Time' }, { value: 'full time', text: 'Full Time' }],
      stat:[{value:'active', text:'Active'},{value:'inactive', text:'Inactive'}],
      checkPermission: true,
      setDay: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
      schedule: [],
      outlet_id: '',
      outlets: [],
      attachments: [],
      selectedOutlet : [],
      data: new FormData(),
    };
  },

  methods: {
    addOutlet(e) {
      this.selectedOutlet.push(this.selectedOutlet);
      if (e.target.checked) {
        this.selectedOutlet.push(e.target.value);
      } else {
        this.selectedOutlet.splice(this.selectedOutlet.indexOf(e.target.value), 1);
      }
    },
    showOutlet(){
      axios
        .get('/api/outlets/')
        .then(res => {
          this.outlets = res.data;
          this.getSingleStaff();
        })
        .catch(err => {
          this.checkPermission = false;
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Cannot access outlet',
            type: 'error',
            duration: 5000
          });
        });
    },
    updateCoach() {
      this.staff.schedule = this.schedule;
      console.log(this.staff);
      event.preventDefault();

      console.log(this.staff);

      this.loading = true;

      this.prepareFields();

      var config = {
        headers: { 'Content-Type': 'multipart/form-data' },
        onUploadProgress: function(progressEvent) {
          this.percentCompleted = Math.round(progressEvent.loaded * 100 / progressEvent.total);
          this.$forceUpdate();
        }.bind(this)
      };

      axios
        .post('/api/coach/' + this.staffId + '/edit', this.staff)
        .then(res => {
          return axios.post('/api/upload/user/' + res.data.id + '/avatar', this.data, config);
        })
        .then(res => {
          this.$notify({
            group: 'foo',
            title: 'Awesome',
            text: 'This coach information updated.',
            type: 'success',
            duration: 5000
          });
          this.loading = false;
          this.$router.push('/coach');
        })
        .catch(err => {
          console.log(err.data);
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          this.loading = false;
        });
    },
    getSingleStaff() {
      axios
        .get('/api/coach/get/' + this.staffId)
        .then(res => {
          this.staff = res.data;
          console.log('hi');
          console.log(this.staff);
          for (var i = 0; i < this.staff.schedule.length; i++) {
            var index = this.schedule.findIndex(sch => sch.day === this.staff.schedule[i].day);

            this.schedule[index].start = this.staff.schedule[i].start;
            this.schedule[index].end = this.staff.schedule[i].end;
          }

          for (var i = 0; i < this.schedule.length; i++) {
            if (this.schedule[i].start == '' || this.schedule[i].end == '') {
                this.schedule[i].disabled = true;
            }
          }
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });

      axios
        .get('/api/coach/config')
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            var tempDesignation = {
              value: res.data[i].id,
              text: res.data[i].name
            };
            this.designations.push(tempDesignation);
          }
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    disableDay(s){
      s.disabled = true;
    },
    enableDay(s){
      s.disabled = false;
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      } else {
        this.leave.attachment = true;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);

      //assign file to json
      this.product.photo = file;
    },
    removeImage: function(e) {
      this.image = '';
    },
    getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });

      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    prepareFields() {
      if (this.attachments.length > 0) {
        for (var i = 0; i < this.attachments.length; i++) {
          let attachment = this.attachments[i];
          this.data.append('attachments', attachment);
        }
      }
    },
    removeAttachment(attachment) {
      this.attachments.splice(this.attachments.indexOf(attachment), 1);

      this.getAttachmentSize();
    },
    uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.attachments.push(files[i]);
      }
      document.getElementById('attachments').value = [];
    }
  },
    
  created() {
    for (var i = 0; i < this.setDay.length; i++) {
        var jadual = {
            day: this.setDay[i],
            start: '',
            end: '',
            disabled: false
        };
        this.schedule.push(jadual);
    }
    axios
      .get(`/api/coach/get/${this.staffId}`)
      .then(res => {
        this.outlet_id = res.data.outlet_id;
        console.log(this.outlet_id);
        this.showOutlet();
      });
  }
};
</script>
