<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-header">
          <div>
            <i class="fa fa-align-justify mr-2"></i> List of Coach
          </div>
        </div>
        <div class="card-body">
            <!-- <label v-if="outletModel !== false">Outlet : </label>
            <select v-if="outletModel !== false" class="form-control status-width" v-model="selected_outlet" @change=listStaff>
              <option v-for="option in filter_outlet" v-bind:value="option.id" >{{ option.name }}</option>
            </select> -->

            <label>Status : </label>
            <select class="form-control status-width" v-model="filter_status" name="filter_status" @change="listStaff()">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>

            <v-client-table :columns="columns" :data="data" :options="options">

                <div slot="index" slot-scope="props">{{ props.index }}</div>


                <router-link slot="name" slot-scope="props" :to="{ name: 'coach.view',  params: { id: props.row.id } }" >
                    {{ props.row.name }}
                </router-link>

                
                <div slot="avatar" slot-scope="props">
                  <img v-if="props.row.avatar" :src="'/storage/' + props.row.avatar" class="image_index rounded-circle">
                  <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle" width="50" height="auto">
                </div>

                <div slot="package" slot-scope="props">1</div>

                <div slot="class" slot-scope="props">
                  <p class="text-capitalize" v-for="hour in props.row.class" v-bind="props.row.class" :key="hour.id" v-if="props.row.class">
                    <span class="font-weight-bold">{{hour.day}}</span> : {{hour.start | time }} - {{ hour.end | time }}
                  </p>
                </div>

                <div slot="action" slot-scope="props">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                        </button>
                        <div class="dropdown-menu">
                            <router-link class="dropdown-item" :to="{ name: 'coach.edit',  params: { id: props.row.id } }" >
                                Edit
                            </router-link>
                            <router-link class="dropdown-item" :to="{ name: 'change.password',  params: { id: props.row.id } }" >
                                Change Password
                            </router-link>
                        </div>
                    </div>
                </div>

              </v-client-table>
              
        </div>
    </div>
</template>

<style>
.status-width{
  width: 20vmin;
  display: inline-block;
}
</style>

<script>
export default {
  data() {
    return {
      columns: ['index', 'avatar', 'name', 'type', 'class', 'action'],
      data: [],
      options: {
        headings: {
          index: 'No.',
          avatar: 'Avatar',
          name: 'Name',
          type: 'Type',
          class: 'Working Hour',
          action: 'Action'
        },
        sortable: ['name', 'type'],
        filterable: ['name', 'type'],
      },
      filter_outlet: [],
      selected_outlet : '',
      filter_status:'active',
      outletModel : false,
      checkPermission: true,
    };
  },
  methods: {
    listStaff() {
      axios
        .get(`/api/coach/${this.selected_outlet}/${this.filter_status}/outlet`)
        .then(res => {
          this.data = res.data;
        })
        .catch(err => {
            if (err.response.status == 401) {
                this.$notify({
                    group: 'foo',
                    title: 'Ops',
                    text: 'You cannot access',
                    type: 'error',
                    duration: 5000
                });
                this.checkPermission = false;
            }
            else{
                this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            }
        });
    },
    getOutletAccess(id){
      axios
        .get('/api/staff/'+ id)
        .then(res => {
          var outlet = res.data.data.outlet_access;
          if(typeof outlet != "undefined"){
            this.setDropdown(outlet);
          }
        })
        .catch(err => {
          console.log(err.data);
        });
    },
    setDropdown(id){
      for (var i = id.length - 1; i >= 0; i--) {
        id[i];
        axios
          .get('/api/outlets/'+ id[i])
          .then(res => {
                  this.filter_outlet.push(res.data.data);
                  this.outletModel = true;
          })
          .catch(err => {
            console.log(err.data);
          });
      }
    }
  },
  created() {
    axios
        .get("/api/user")
        .then(res => {
          this.getOutletAccess(res.data.id);
          this.selected_outlet = res.data.outlet_id;
          this.listStaff();
        });
  }
};
</script>
