<template>
  <div class="card mt-5" v-if="checkPermission">
    <div class="card-body">
      <h4 class="card-title">
        View Staff
      </h4>

      <div class="row">
          <img v-if="user.avatar" :src="'/storage/' + user.avatar" class="image_view rounded-circle mb-3">
          <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle mb-3"  height="auto">
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6 b-r"> <strong>Full Name</strong>
          <br>
          <p class="text-muted">{{ user.name }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Email</strong>
          <br>
          <p class="text-muted">{{ user.email }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Contact</strong>
          <br>
          <p class="text-muted">{{ user.contact }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Salary</strong>
          <br>
          <p class="text-muted">RM {{ user.salary }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Account Status</strong>
          <br>
          <p class="text-muted">{{ user.status }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Type</strong>
          <br>
          <p class="text-muted">{{ user.type }}</p>
        </div>
      </div>

      <table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4" data-tablesaw-mode="columntoggle" id="table-8957">
          <thead>
              <tr>
                  <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Resource Label</th>
                  <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-priority-3">Amount</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="title">Total Working Hour</td>
                  <td class="tablesaw-priority-3">{{ user.workingHour }} hours</td>
              </tr>
              <tr>
                  <td class="title">Off Day</td>
                  <td class="tablesaw-priority-3">3 days</td>
              </tr>
              <tr>
                  <td class="title">Leave Balance</td>
                  <td class="tablesaw-priority-3">{{ user.leave }} days</td>
              </tr>
              <tr>
                  <td class="title">Attendance</td>
                  <td class="tablesaw-priority-3">1 days</td>
              </tr>
          </tbody>
      </table>

      <div class="row">
        <div class="col-md-12">
          <h3 class="my-4">
            <strong>Leave Entitlement</strong>
          </h3>

          <table class="table table-responsive">
            <thead>
              <tr>
                <td>#</td>
                <td>Type</td>
                <td>Reasons</td>
                <td>Start</td>
                <td>End</td>
                <td>Approval</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(leave,index) in user.leaves" v-bind:key="leave.pivot.id">
                <td>{{ index + 1 }}</td>
                <td>{{ leave.name }}</td>
                <td>{{ leave.pivot.reason }}</td>
                <td>{{ leave.pivot.start }}</td>
                <td>{{ leave.pivot.end }}</td>
                <td>
                    <i class="icon-check text-success" v-if="leave.pivot.approve == 1"></i>
                    <i class="icon-close text-danger" v-else></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <div class="row" >
        <div class="col-md-12">
          <h3 class="my-4">
            <strong>Claim History</strong>
          </h3>
          

          <table class="table table-responsive">
            <thead>
              <tr>
                <td>#</td>
                <td>Type</td>
                <td>Remarks</td>
                <td>Amount (RM)</td>
                <td>Date</td>
                <td>Approval</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(claim,index) in user.claims" v-bind:key="claim.pivot.id">
                <td>{{ index + 1 }}</td>
                <td>{{ claim.type }}</td>
                <td>{{ claim.pivot.remarks }}</td>
                <td>{{ claim.pivot.amount }}</td>
                <td>{{ claim.created_at }}</td>
                <td>
                    <i class="icon-check text-success" v-if="claim.pivot.approve == 1"></i>
                    <i class="icon-close text-danger" v-else></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="my-4">
            <strong>Remarks</strong>
          </h3>
          <p class="text-muted">{{ user.remarks }}</p>
        </div>
      </div>
        

      </v-container>
      <button class="btn btn-outline-danger mt-5" @click="deleteUser(userId)">Inactive this Coach</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isModal: false,
      userId: this.$route.params.id,
      user: {},
      checkPermission: true,
    };
  },
  methods: {
    getUser() {
      axios
        .get('/api/coach/get/' + this.userId)
        .then(res => {
          console.log(res.data);
          this.user = res.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    deleteUser(id) {
        this.$swal({
          title: 'Are you sure?',
          text: "You can't revert your action",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, Im Sure!',
          cancelButtonText: 'No, Keep it!',
          showCloseButton: true,
          showLoaderOnConfirm: true
        }).then(result => {
          if (result.value) {
            axios
              .delete('/api/coach/' + id)
              .then(res => {
                this.$swal({
                  title: "success",
                  text: "You had successfully Inactivate this Coach",
                  type: "success",
                  confirmButtonText: "Yes Approve it!",
                  cancelButtonText: "No, Keep it!",
                  showCancelButton: false,
                  showConfirmButton: false,
                  timer: 1500
                });
                this.$router.push('/coach');
              })
              .catch(err => {
                if (err.response.status == 500) {
                    this.$swal('Error', 'This coach still have a class', 'error');
                }
                else{
                  this.$notify({
                      group: 'foo',
                      title: 'Ops',
                      text: 'Please contact administrator',
                      type: 'error',
                      duration: 5000
                  });
                }
                console.log(err.data);
              });
          } else {
            this.$swal('Cancelled', 'This Coach Sill Active');
          }
        });
    }
  },
  created() {
    this.getUser();
  }
};
</script>
