<template>
	<div class="mt-3">
		<b-card header="Apply Replacement Coach">
				
				<b-alert show variant="primary">
					<p>
						<i class="fa fa-clock-o mr-2" aria-hidden="true"></i> Time: {{ classroom.start | time }}  to {{ classroom.end | time }} 
					</p>
					<p>
						<i class="fa fa-male mr-2" aria-hidden="true"></i> Coach: {{ classroom.coach.name }}
					</p>
					<p>
						<i class="fa fa-bars mr-2" aria-hidden="true"></i> Session Level: {{ classroom.level }}
					</p>
				</b-alert>

				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Date</label>
							<datepicker :disabledDates="disabledFn" v-if="createdValidate" ref="date" format="dd/MM/yy" placeholder="Select Date" v-model="replacement.date" @closed="getAvailableCoach()"></datepicker>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
				            <label class="font-weight-bold">Coach Available</label>
          					<v-select v-model="replacement.coach_id" :options="coaches" label="name"></v-select>
				        </div>
					</div>
				</div>
				<button class="btn btn-primary" @click="requestCoach()" :disabled="!isComplete ||  errors.any()">Submit</button>
		</b-card>
	</div>
</template>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}

.vdp-datepicker__calendar {
     width: 300px !important; 
}

.dropdown-toggle::after{
content: none !important;
}
</style>

<script>
import Autocomplete from 'vuejs-auto-complete';
import 'bootstrap/dist/css/bootstrap.css';
  
// Import this component
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import datePicker from 'vue-bootstrap-datetimepicker';

// Import date picker css
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import moment from 'moment';
import { mapState } from 'vuex';

export default {
	data() {
		return {
			user: '',
			classId: this.$route.params.id,
			dayId: this.$route.params.day,
			classroom: {
				id: '',
				start: '',
				end: '',
				coach: ''
			},
			replacement: {
				date: '',
				coach_id: '',
				classId: '',
			},
			coaches: [],
			disabledFn: {
		    	dayName: '',
		    	to: '',
		        customPredictor(date) {
		          	if (date.getDay() !== this.dayName) { // disabled other days to select
		            	return true;
		          	}
		        }
		    },
		    disabledDates: {
		    	to: '',
		    	from:''
		    },
		};
	},
	components: {
		Autocomplete,
		datePicker,
		Datepicker
	},
	methods: {
		getClassInformation() {
			axios
				.get('/api/class/' + this.classId)
				.then(res => {
					this.classroom = res.data.data;
					//this.getAvailableCoach();
				})
				.catch(err => {
					this.$notify({
						group: 'foo',
						title: 'Ops',
						text: 'Please contact administrator',
						type: 'error',
						duration: 5000
					});
					console.log(err);
				});
		},
		getAvailableCoach(){
			var date = moment(this.replacement.date, 'DD/MM/YYYY').format("YYYY-MM-DD");
			console.log(date);
			axios
				.get(`/api/coach/${this.classroom.coach.outlet_id}/replacement/${this.classId}/${date}`)
				.then(res => {
					this.coaches = res.data;
				})
		},
		blocker(){
	    	this.$swal({
		        title: 'Replacement Added Successfully',
		        text: "This Message Will Auto-Close Once The Process Is Done!",
		        type: "success",
		        showCancelButton: false,
		        showConfirmButton: false,
		        confirmButtonText: 'Yes Delete it!',
		        cancelButtonText: 'No, Keep it!',
		        showCloseButton: false,
		        allowOutsideClick: false,
		        closeOnClickOutside: false,
		        closeOnEsc: false,
		        allowEscapeKey : false,
		      })
	    },
		requestCoach() {
			this.replacement.classId = this.classId;
			console.log(this.replacement);
			this.blocker();
			axios
				.put(`/api/coach-replacement`, this.replacement)
				.then(res=>{
					this.$router.push('/class/' + this.dayId + '/' + this.classId + '/detail');
					this.$swal.close();
				})
				.catch(err=>{
					this.$notify({
		                group: 'foo',
		                title: 'Ops',
		                text: 'Please contact administrator',
		                type: 'error',
		                duration: 5000
	              	});
					console.log(err);
				})
		}
	},
	created() {
		this.getClassInformation();
	},
	computed: {

		createdValidate: function(){

			if(this.$route.params.day === 'monday') {
					this.disabledFn.dayName = 1
			}
			else if(this.$route.params.day === 'tuesday') {
				this.disabledFn.dayName = 2
			}
			else if(this.$route.params.day === 'wednesday') {
				this.disabledFn.dayName = 3
			}
			else if(this.$route.params.day === 'thursday') {
				this.disabledFn.dayName = 4
			}
			else if(this.$route.params.day === 'friday') {
				this.disabledFn.dayName = 5
			}
			else if(this.$route.params.day === 'saturday') {
				this.disabledFn.dayName = 6
			}
			else {
				this.disabledFn.dayName = 0
			}

			// set data 1month before and 1 month after
			var currentDate = new Date();
			var year = currentDate.getFullYear();
			var monthFrom = currentDate.getMonth() - 1;
			var day = currentDate.getDate();

			// pass variable to function disabled
			this.disabledFn.to = new Date(year, monthFrom, day);

			return true;
		},

		isComplete() {
	      	return (
		        this.replacement.coach_id &&
		        this.replacement.date
	      	);
	    }
	}
};
</script>