<template>
  <form v-on:submit="addClass()">
  <div class="card mt-3">
      <div class="card-header">
        <div>
          <i class="fa fa-calendar mr-2"></i> Add new session on {{ classroom.day }}
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="font-weight-bold">Start</label>
              <input type="time" name="end" class="form-control" v-model="classroom.start" :disabled="loading">
              <!-- <vue-clock-picker input-class="form-control" v-model="classroom.start"></vue-clock-picker> -->
              <!-- <date-picker v-model="classroom.start" :config="options" name="start"></date-picker> -->
            </div>
            <div class="form-group">
              <label class="font-weight-bold">End</label>
              <!-- <date-picker v-model="classroom.end" :config="options" name="end" class="form-control"></date-picker> -->
              <input type="time" name="end" class="form-control" v-model="classroom.end" :disabled="loading">
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Coach</label>
              <autocomplete
                  placeholder="Search Coach"
                :source="searchStudent"
                results-property="items"
                results-display="name"
                inputClass="typeahead-style"
                v-model="classroom.user_id">
              </autocomplete>
            </div>

            <div class="form-group">
              <label class="font-weight-bold">Day</label>
              <select class="form-control" v-model="classroom.day" :disabled="loading">
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
                <option>Sunday</option>
              </select>
            </div>

            <div class="form-group">
              <label class="font-weight-bold">Session Level</label>
              <select class="form-control" v-model="classroom.level" :disabled="loading">
                <option v-for="i in syllabi" :value=" i.level">{{ i.level }}</option>
                <!-- <option>L1</option>
                <option>L2</option>
                <option>L3</option>
                <option>L4</option>
                <option>L5</option>
                <option>L6</option>
                <option>Adult</option> -->
              </select>
            </div>

            <div class="form-group">
              <label class="font-weight-bold">Class Type</label>
              <select v-model="classroom.type" class="form-control">
                    <option v-for="item in classType" :value="item.name">{{ item.name }}</option>
                </select>
            </div>

            <div class="form-group">
              <label class="font-weight-bold">Status</label>
              <b-form-select v-model="classroom.status"
                  :plain="true"
                  :options="status"
                  name="status"
                  v-validate="'required'"
                  :class="{ 'is-invalid': errors.has('status') }"
                  >
              </b-form-select>
            </div>

            <div class="form-group">
              <label class="font-weight-bold">Maximum student</label>
              <input type="number" name="maximum" v-model="classroom.maximum" class="form-control">
            </div>

            <div class="form-group">
              <label class="font-weight-bold">Outlet</label>
              <b-form-select v-model="classroom.outlet_id" :plain="true" :options="filter_outlet" class="form-control">
              </b-form-select>
            </div>

            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </div>
      </div>
    </div>
    </form>
</template>

<style lang="scss" scoped>
.autocomplete__box {
  padding: 7px 13px;
}
</style>

<script>
import Autocomplete from "vuejs-auto-complete";
import 'bootstrap/dist/css/bootstrap.css';
  
// Import this component
import datePicker from 'vue-bootstrap-datetimepicker';

// Import date picker css
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

import VueClockPicker from "@pencilpix/vue2-clock-picker";

export default {
  data() {
    return {
      loading: false,
      classroom: {
        start: "",
        end: "",
        day: '',
        user_id: "",
        level: "",
        maximum: "",
        status: [],
        outlet_id : ''
      },
      syllabi:[],
      filter_outlet: [],
      status: [{ value: '1', text: 'Active' }, { value: '0', text: 'Inactive' }],
      classType: []
    };
  },
  components: {
    Autocomplete,
    VueClockPicker,
    datePicker
  },
  methods: {
    searchStudent(input) {
      return "/api/member/coaches?q=" + input;
    },
    addClass() {
      event.preventDefault();
      this.loading = true;

      axios
        .put("/api/class/", this.classroom)
        .then(res => {
          this.$notify({
            group: "foo",
            title: "Awesome",
            text: "You have added a new session.",
            type: "success",
            duration: 5000
          });
          this.loading = false;
          this.$router.push("/class");
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Something happen. Please contact administrator",
            type: "error",
            duration: 5000
          });
          this.loading = false;
          console.log(err);
        });
    },
    getLevel(){
      axios
        .get("/api/master-data/syllabus").then(res => {
        this.syllabi = res.data;
        console.log(this.syllabi);
      });
    },
    getOulet(){
        axios
          .get('/api/outlets/')
          .then(res => {
            for (var i = 0; i < res.data.length; i++) {
              var tempDesignation = {
                value: res.data[i].id,
                text: res.data[i].name
              };
              this.filter_outlet.push(tempDesignation);
            }
          })
          .catch(err => {
            console.log(err.data);
          });
    },
    getClassType(){
      axios
        .get('/api/master-data/package-type/')
        .then(res => {
          this.classType = res.data;
          // console.log(res.data);
        })
    },
    getOutletAccess(id){
      axios
        .get('/api/staff/'+ id)
        .then(res => {
          console.log(res.data);
          var outlet = res.data.data.outlet_access;
          if(typeof outlet != "undefined"){
            this.setDropdown(outlet);
          }
        })
        .catch(err => {
          console.log(err.data);
        });
    },
    setDropdown(id){
      for (var i = id.length - 1; i >= 0; i--) {
        id[i];
        axios
          .get('/api/outlets/'+ id[i])
          .then(res => {
              var tempDesignation = {
                value: res.data.data.id,
                text: res.data.data.name
              };
              this.filter_outlet.push(tempDesignation);
          })
          .catch(err => {
            console.log(err.data);
          });
      }
    }
  },
  created() {
    axios.get("/api/master-data/maximum-student").then(res => {
      // this.classroom.maximum = res.data[0].quantity;
    });
    this.getLevel();
    this.getOulet();
    this.getClassType();
    // axios
    //     .get("/api/user")
    //     .then(res => {
    //       this.getOutletAccess(res.data.id);
    //     });
  }
};
</script>
