<template>
  <div v-if="checkPermission">
    <page-header>
      {{ dayId | capitalize }}, {{ classroom.start | time }} - {{ classroom.end | time }}
        <router-link  v-if="user.role_id == '2'" slot="button" class="btn btn-info text-white" :to="{name: 'class.view.day.edit',  params: { day: dayId, id: classId } }" >
        Edit Class
        </router-link>
    </page-header>

    <StudentListElement :classroom="classroom" :replacedToday ="replacedToday" :classId="classId" :member="user"></StudentListElement>

    
    <ReplacementListElement :list="'in'" :icon="'icon-arrow-left-circle'" :classId="classId" :level="classroom.level"></ReplacementListElement>
    
    <ReplacementListElement :list="'out'" :icon="'icon-arrow-right-circle'" :classId="classId" :level="classroom.level"></ReplacementListElement>
    
    <WaitingListElement :classroom="classroom" :classId="classId" :member="user"></WaitingListElement>

  
    <div class="card mt-3">
      <div class="card-header">
          <span class="text-left">Move Class</span>
          <router-link slot="button" class="btn btn-info text-white" :to="{name: 'class.view.day.replace',  params: { day: dayId, id: classId } }" >
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Replacement Class
          </router-link>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <p class="font-weight-bold">Actual Class</p>
          </div>
          <div class="col-sm-6">
            <p class="font-weight-bold">Replacement Class</p>
          </div>
        </div>
        <div class="row" v-for="r in replacements" v-bind="replacements" :key="r.id">
          <div class="col-sm-6">
            <p>{{ r.beforeStartTime | time }} - {{ r.beforeEndTime | time }}</p>
            <p>{{ r.beforeDate | moment("dddd, Do MMMM YYYY") }}</p>
          </div>
          <div class="col-sm-6">
            <p>{{ r.afterStartTime | time }} - {{ r.afterEndTime | time }}</p>
            <p>{{ r.afterDate | moment("dddd, Do MMMM YYYY") }}</p>
          </div>
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
      </div>
    </div>

    <ReplacementCoachListElement :classroom="classroom" :replacedToday ="replacedToday" :classId="classId" :dayId="dayId" :member="user"></ReplacementCoachListElement>

    <div class="card mt-3">
      <div class="card-header">
        <span class="text-left">Coach's Planner</span>
        <div class="row">
          <div class="col-md-6 col-6">
            <select class="form-control" v-model="selectedMonth" @change="chageMonthYear()">
              <option value="0">January</option>
              <option value="1">February</option>
              <option value="2">March</option>
              <option value="3">April</option>
              <option value="4">May</option>
              <option value="5">June</option>
              <option value="6">July</option>
              <option value="7">August</option>
              <option value="8">September</option>
              <option value="9">October</option>
              <option value="10">November</option>
              <option value="11">December</option>
            </select>
          </div>
          <div class="col-md-6 col-6">
            <select class="form-control" v-model="selectedYear" @change="chageMonthYear()" id="selectyear">
            </select>
          </div>
        </div>
            
      </div>
      <div class="card-body">
        <div class="row" v-for="log in logs" v-bind="logs" :key="log.date">
          <div class="col-sm-12">
            <p class="font-weight-bold planner__date">{{ log.date | moment("Do MMMM YYYY, dddd ")  }} {{ classroom.start | time }} - {{ classroom.end | time }} </p>
          </div>
          <div class="col-sm-6">
            <div class="planner">
              <div class="planner__header">
                <span v-if="log.from">Plan by {{ log.from }}</span>
                <span v-else>Plan</span>
                <a @click="openLogModal('from', log)">Edit</a>
              </div>
              <div class="planner__body">
                <p v-if="log.fromMessage">{{ log.fromMessage.message }}</p>
                <p v-else>No plan</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6"> 
            <div class="planner">
              <div class="planner__header">
                <span v-if="log.to">Comment by {{ log.to }}</span>
                <span v-else>Comment</span>
                <a v-if="!log.replied" @click="openLogModal('to' ,log, log.fromMessage.id)">Add</a>
                <a v-else @click="openEditLogModal(log)">Edit</a>
                
              </div>
              <div class="planner__body">
                <p v-if="log.replied">{{ log.replied.message }}</p>
                <p v-else>No Comment</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <b-modal title="Record Log" class="modal-success" v-model="recordModal" @ok="addLogRecord()">
          <div class="alert alert-primary">
          <p>
            <i class="fa fa-clock-o mr-2" aria-hidden="true"></i> Time: {{ log.date }} 
          </p>
          <p>
            <i class="fa fa-calendar mr-2" aria-hidden="true"></i> Day: {{ dayId }}
          </p>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="font-weight-bold">Message</label>
              <textarea rows="4" class="form-control" v-model="log.message">
              </textarea>
            </div>
          </div>
        </div>
        </b-modal>

        <b-modal title="Record Log" class="modal-success" v-model="editRecordModal" @ok="updateLog()">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="font-weight-bold">Message</label>
              <textarea rows="4" class="form-control" v-model="replyLog.message">
              </textarea>
            </div>
          </div>
        </div>
        </b-modal>

    </div> 

    <QuestionnaireElement :classId="classId"></QuestionnaireElement>

  </div>
</template>

<script>
import moment from "moment";
import { mapState } from "vuex";
import ReplacementListElement from "./elements/ReplacementListElement.vue";
import WaitingListElement from "./elements/WaitingListElement.vue";
import StudentListElement from "./elements/StudentListElement.vue";
import ReplacementCoachListElement from "./elements/ReplacementCoachListElement.vue";
import QuestionnaireElement from "./elements/QuestionnaireElement.vue";

export default {
  data() {
    return {
      replacementModal: false,
      recordModal: false,
      editRecordModal: false,
      classId: this.$route.params.id,
      dayId: this.$route.params.day,
      classroom: {
        id: "",
        start: "",
        end: "",
        coach: "",
        maximum: ""
      },
      students: [],
      replacements: [],
      coachReplacements:[],
      replacedToday: {
        beforeDate: "",
        beforeStartTime: "",
        beforeEndTime: "",
        afterDate: "",
        afterStartTime: "",
        afterEndTime: "",
        afterDay:"",
        classroom_id: "",
      },
      replacement: {
        beforeDate: "",
        beforeStartTime: "",
        beforeEndTime: "",
        afterDate: "",
        afterStartTime: "",
        afterEndTime: "",
        classroom_id: this.$route.params.id
      },
      logs: [],
      log: {
        id: "",
        message: "",
        user_id: "",
        date: "",
        beforeTime: "",
        afterTime: "",
        log_id: ""
      },
      replyLog: {
        message: "",
        user_id: "",
        classroom_id: "",
        date: "",
        beforeTime: "",
        afterTime: "",
        log_id: "",
        repliedId: ""
      },
      dates: [],
      selectedMonth: '',
      selectedYear: '',
      user: "",
      currentTime: '',
      checkPermission: true
    };
  },
  components: {
    StudentListElement,
    ReplacementCoachListElement,
    ReplacementListElement,
    WaitingListElement,
    QuestionnaireElement
  },
  methods: {
    getClassInformation() {
      axios
        .get("/api/class/" + this.classId)
        .then(res => {
          this.classroom = res.data.data;
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    searchStudent(input) {
      return "/api/member/students?q=" + input;
    },
    openModal() {
      this.myModal = true;
    },
    addReplacementClass() {
      axios
        .put("/api/class/replacement/", this.replacement)
        .then(res => {
          console.log("Done");
          this.$notify({
            group: "foo",
            title: "Awesome",
            text: "The replacement class successful added.",
            type: "success",
            duration: 5000
          });
          this.getAllReplacementClass();
          this.replacementModal = false;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          console.log(err);
          this.replacementModal = false;
        });
    },
    getAllReplacementClass() {
      axios
        .get("/api/class/replacement/" + this.classId)
        .then(res => {
          this.replacements = res.data;
          
          var MyDate = new Date();
          var today = MyDate.getFullYear() + '-'
             + ('0' + (MyDate.getMonth()+1)).slice(-2) + '-'
             + ('0' + MyDate.getDate()).slice(-2);
          var i = 0;

          for( i; i<this.replacements.length; i++){
            if(this.replacements[i].afterDate == today){
              this.replacedToday = this.replacements[i];
              this.replacedToday.afterDay = moment(this.replacements[i].afterDate).format('dddd');
            }
          }//console.log(this.replacedToday);

        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
        });
    },
    getCoachReplacement(){
      axios
        .get("/api/coach-replacement/" + this.classId)
        .then(res => {
          this.coachReplacements.push(res.data);
        })
    },
    getLogRecord() {
      const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      var params = {};
          params.day = this.dayId ;
          params.month = monthNames[this.selectedMonth];
          params.year = this.selectedYear;
          // console.log(params);
      axios
        .post(`/api/class/${this.classId}/log`, params)
        .then(res => {
          this.logs = res.data;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
        });
    },
    chageMonthYear() {
      this.getLogRecord();
    },
    addLogRecord() {
      this.log.beforeTime = this.classroom.start;
      this.log.afterTime = this.classroom.end;
      this.log.user_id = this.user.id;
      // console.log(this.log);
      axios
        .put("/api/class/" + this.classId + "/log", this.log)
        .then(res => {
          this.$notify({
            group: "foo",
            title: "Awesome",
            text: "Logbook updated",
            type: "success",
            duration: 5000
          });
          this.recordModal = false;
          this.getLogRecord();
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          this.recordModal = false;
        });
    },
    openLogModal(status, log, log_id)
    {
      this.recordModal = true;
      if (log.hasOwnProperty('fromMessage')) {
        this.log.message = log.fromMessage.message;
      }
      this.log.date = log.date;
      this.log.log_id = log_id;
    },
    openEditLogModal(log) {
      this.editRecordModal = true;
      this.replyLog.message = log.replied.message;
      this.replyLog.from = log.from;
      this.replyLog.beforeTime = this.classroom.start;
      this.replyLog.afterTime = this.classroom.end;
      this.replyLog.user_id = this.user.id;
      this.replyLog.classroom_id = this.classId;
      this.replyLog.date = log.date;
      this.replyLog.repliedId = log.replied.id;
      this.replyLog.log_id = log.fromMessage.id;
    },
    updateLog() {
      console.log(this.replyLog);
      axios
        .post("/api/class/" + this.classId + "/log/comment" ,this.replyLog)
        .then(res => {
          this.$notify({
            group: "foo",
            title: "Awesome",
            text: "Logbook updated",
            type: "success",
            duration: 5000
          });
          this.editRecordModal = false;
          this.getLogRecord();
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          this.recordModal = false;
        });
    },
    getUser() {
      axios
        .get("/api/user")
        .then(res => {
          this.user = res.data;
        })
        .catch(err => {
          this.$notify({
            group: "foo",
            title: "Ops",
            text: "Please contact administrator",
            type: "error",
            duration: 5000
          });
          console.log("Something wrong over here man");
        });
    },
    produreYear(){
      var startYear = 2018;
      //do loop year
      var i = this.selectedYear  - startYear;

      while(i>=0){
          $('#selectyear').append($('<option>', {
              value: startYear + i,
              text: startYear + i
          }));
          i--;
      }
    }
  },
  created() {
    this.currentTime = new Date();
    this.selectedYear = this.currentTime .getFullYear();
    this.selectedMonth = this.currentTime .getMonth();
    // this.selectedMonth = ('0' + (this.currentTime .getMonth()+1)).slice(-2);

    this.getUser();
    this.getClassInformation();
    //this.getStudent();
    this.getAllReplacementClass();
    this.getCoachReplacement();
    this.getLogRecord();
  },
  mounted : function () {
      this.produreYear();
  }
};
</script>



<style lang="scss" scoped>
.card-header {
  display: flex;
  align-items: center;
  span {
    flex: 1 1 30%;
    text-align: center;
  }
  button,
  select {
    flex: 2 2 10%;
    max-width: 200px;
  }
  @media (max-width: 700px) {
    flex-direction: column;
  }
  span,
  button {
    margin: 10px 10px;
  }
  span {
    //margin: 10px 20px;
    i {
      margin: 0 10px 0 0;
    }
  }
}

.planner {
  border: 1px solid #e4e3e3;
  margin: 10px 0;
  &__header {
    display: flex;
    padding: 15px 10px;
    background: #f1f3f5;
    span,
    a {
      flex: 1 1 50%;
    }
    span {
      text-align: left;
    }
    a {
      text-align: right;
      color: #20a8d8;
    }
  }
  &__body {
    p {
      margin: 0;
      padding: 15px 10px;
    }
  }
  &__date {
    margin: 20px 0;
  }
}
</style>
