<template>
	<form v-on:submit="updateClass()">
		<div class="card mt-3">
				<div class="card-header">
					<div>
						<i class="fa fa-calendar mr-2"></i> Edit session for {{ classroom.coach.name }} {{ classroom.start }} - {{ classroom.end }} on {{ classroom.day }}.
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label class="font-weight-bold">Start</label>
								<input type="time" name="end" class="form-control" step="0" v-model="classroom.start" :disabled="loading">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label class="font-weight-bold">End</label>
								<input type="time" name="end" class="form-control" v-model="classroom.end" :disabled="loading">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label class="font-weight-bold">Coach</label>
								<input type="text" class="form-control" v-model="classroom.coach.name" disabled="">
							  	<autocomplete
							  	  placeholder="Search Coach"
								  :source="searchStudent"
								  results-property="items"
								  results-display="name"
								  inputClass="typeahead-style mt-2"
								  v-model="classroom.user_id">
								</autocomplete>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label class="font-weight-bold">Session Level</label>
								<select class="form-control" v-model="classroom.level" :disabled="loading">
									<option v-for="i in syllabi" :value=" i.level">{{ i.level }}</option>
									<!-- <option>L1</option>
									<option>L2</option>
									<option>L3</option>
									<option>L4</option>
									<option>L5</option>
									<option>L6</option>
									<option>Adult</option> -->
								</select>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label class="font-weight-bold">Class Type</label>
								<select v-model="classroom.type" class="form-control">
							        <option v-for="item in classType" :value="item.name">{{ item.name }}</option>
							    </select>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label class="font-weight-bold">Status</label>
								<b-form-select v-model="classroom.status"
				                  	:plain="true"
				                  	:options="status"
				                  	name="status"
				                  	v-validate="'required'"
				                  	:class="{ 'is-invalid': errors.has('status') }"
				                  	>
				              	</b-form-select>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label class="font-weight-bold">Maximum Student</label>
								<input type="number" class="form-control" name="maximum" v-model="classroom.maximum" :disabled="loading">
							</div>
						</div>
					</div>
					<button class="btn btn-primary pull-right" type="submit">Update</button>
				</div>
		</div>
	</form>
</template>

<style lang="scss" scoped>
.autocomplete__box {
	padding: 7px 13px;
}
</style>

<script>
import Autocomplete from 'vuejs-auto-complete';
import 'bootstrap/dist/css/bootstrap.css';
  
// Import this component
import datePicker from 'vue-bootstrap-datetimepicker';

// Import date picker css
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

import VueClockPicker from '@pencilpix/vue2-clock-picker';

export default {
	data() {
		return {
			loading: false,
			classId: this.$route.params.id,
			dayId: this.$route.params.day,
			class: '',
			syllabi:[],
			classroom: {
				start: '',
				end: '',
				day: this.$route.params.day,
				user_id: '',
				level: '',
				maximum: ''
			},
			status: [{ value: '1', text: 'Active' }, { value: '0', text: 'Inactive' }],
			countStudents: '',
			students:'',
			options: {
				format: 'LT',
				useCurrent: true,
			},
			classType: []
		};
	},
	components: {
		Autocomplete,
		VueClockPicker,
		datePicker
	},
	methods: {
		getClass() {
			axios
				.get('/api/class/' + this.classId)
				.then(res => {
					this.classroom = res.data.data;
					// console.log(this.classroom.level);
				})
				.catch(err => {
					if (err.response.status == 401) {
			            this.$notify({
			                group: 'foo',
			                title: 'Ops',
			                text: 'You cannot access',
			                type: 'error',
			                duration: 5000
			            });
			            this.checkPermission = false;
			        }
			        else{
			            this.$notify({
				            group: 'foo',
				            title: 'Ops',
				            text: 'Please contact administrator',
				            type: 'error',
				            duration: 5000
			           	});
			        }
				});
		},
		getLevel(){
	      axios
	        .get("/api/master-data/syllabus").then(res => {
	        this.syllabi = res.data;
	        console.log(this.syllabi);
	      });
	    },
		countStudent() {
			axios
				.get('/api/class/student/' + this.classId)
				.then(res => {
					
					this.students = res.data.filter(
			          student => student.status === "active"
			        );

					this.countStudents = this.students.length; 

					// alert(this.countStudents);
					//count student in this class
					// console.log(this.countStudents);
				})
				.catch(err => {
					this.$notify({
						group: 'foo',
						title: 'Ops',
						text: 'Something happen. Please contact administrator',
						type: 'error',
						duration: 5000
					});
				});
		},
		getClassType(){
			axios
				.get('/api/master-data/package-type/')
				.then(res => {
					this.classType = res.data;
					// console.log(res.data);
				})
		},
		updateClass() {
			event.preventDefault();
			console.log(this.countStudents);
				if (this.countStudents >= 0 && this.classroom.status == 1) {
					axios
					.put('/api/class/' + this.classId, this.classroom)
					.then(res => {
						this.$notify({
							group: 'foo',
							title: 'Awesome',
							text: 'You have updated the class',
							type: 'success',
							duration: 5000
						});
						this.$router.push('/class/' + this.dayId + '/' + this.classId + '/detail');
					})
					.catch(err => {
						this.$notify({
							group: 'foo',
							title: 'Ops',
							text: 'Something happen. Please contact administrator',
							type: 'error',
							duration: 5000
						});
					});
				}
				else if (this.countStudents == 0 && this.classroom.status == 0) {
					axios
					.put('/api/class/' + this.classId, this.classroom)
					.then(res => {
						this.$notify({
							group: 'foo',
							title: 'Awesome',
							text: 'You have updated the class',
							type: 'success',
							duration: 5000
						});
						this.$router.push('/class/' + this.dayId + '/' + this.classId + '/detail');
					})
					.catch(err => {
						this.$notify({
							group: 'foo',
							title: 'Ops',
							text: 'Something happen. Please contact administrator',
							type: 'error',
							duration: 5000
						});
					});
				}
				else {
					this.$notify({
						group: 'foo',
						title: 'Ops',
						text: 'Cannot update because there has student in the class',
						type: 'error',
						duration: 5000
					});
				}
		},
		searchStudent(input) {
			return '/api/member/coaches?q=' + input;
		},
		addClass() {
			event.preventDefault();
			console.log(this.classroom);
			this.loading = true;

			axios
				.put('/api/class/', this.classroom)
				.then(res => {
					this.$notify({
						group: 'foo',
						title: 'Awesome',
						text: 'You have added a new session.',
						type: 'success',
						duration: 5000
					});
					this.loading = false;
					this.$router.push('/class/' + this.$route.params.day);
				})
				.catch(err => {
					this.$notify({
						group: 'foo',
						title: 'Ops',
						text: 'Something happen. Please contact administrator',
						type: 'error',
						duration: 5000
					});
					this.loading = false;
					console.log(err);
				});
		}
	},
	created() {
		this.getClass();
		this.getLevel();
		this.countStudent();
		this.getClassType();
	}
};
</script>
