<template>
  <div class="card mt-3" v-if="checkPermission">
    <div class="card-header">
      <div>
        <i class="fa fa-align-justify mr-2"></i> Classes of VGO aquatic
      </div>
      
    </div>

    <div class="col-12">
      <div class="row mt-2">
        <div class="col-12 col-md-12">
          <router-link slot="button" class="btn btn-info text-white pull-right m-1" :to="{name: 'class.create' }" >
          Add New Session
        </router-link>
          <button class="btn btn-outline-primary pull-right m-1" @click="openModal()">Search Student</button> 

          <!-- <label v-if="outletModel !== false">Outlet : </label>
          <select v-if="outletModel !== false" class="form-control status-width" v-model="selected_outlet" @change=getAllEvent>
            <option v-for="option in filter_outlet" v-bind:value="option.id" >{{ option.name }}</option>
         </select> -->
        </div>
      </div>

      <div id="people" class="mt-2">
          <v-client-table :columns="columns" :data="data" :options="options">

          <div slot="day" slot-scope="props">{{ props.row.day | capitalize }}</div>

          <button slot="summary" slot-scope="props" class="btn btn-outline-primary pull-right" @click="openSummaryModal(props.row.day)">View</button>

          <div slot="session" slot-scope="props">{{ props.row.session  }}</div>

          <div slot="coach" slot-scope="props">{{ props.row.coach }}</div>

          <div slot="student" slot-scope="props">{{ props.row.students }}</div>

          <div slot="replacement_student" slot-scope="props">{{ props.row.replacement }}</div>

          <div slot="waiting_student" slot-scope="props">{{ props.row.studentWaiting }}</div>

          <div slot="action" slot-scope="props" >
            <router-link :to="{name: 'class.view',  params: { day: props.row.day, outlet: selected_outlet } }" >
              <button class="btn btn-info text-white">Edit</button>
            </router-link>
            <button class="btn btn-primary" @click="openSessionModal(props.row.day)">Expand</button>
          </div>
          </v-client-table>
          
      </div>
    </div>
    
    
   <!-- <br>

    <div id="accordion">

      <div class="accordion__child">

        <div class="accordion__child__table">
          <div class="row">
            <div class="col-sm-4">
              <p class="font-weight-bold text_size">Day</p>
            </div>
            <div class="col-sm-1">
              <p class="font-weight-bold text_size">Summary</p>
            </div>
            <div class="col-sm-1">
              <p class="font-weight-bold text_size">Session</p>
            </div>
            <div class="col-sm-1">
              <p class="font-weight-bold text_size">Coach</p>
            </div>
            <div class="col-sm-1">
              <p class="font-weight-bold text_size">Student</p>
            </div>
            <div class="col-sm-1 pl-0">
              <p class="font-weight-bold text_size">Replacement Student</p>
            </div>
            <div class="col-sm-1">
              <p class="font-weight-bold text_size">Waiting Student</p>
            </div>
            <div class="col-sm-2">
              <p class="font-weight-bold text_size">Action</p>
            </div>
          </div>
        </div>

        <div class="accordion__child__table" v-for="(c, index) in classrooms" v-bind:key="c.id">
          <div class="row">
            <div class="col-sm-4">
              <p>{{ c.day | capitalize }}</p>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-outline-primary pull-right" @click="openSummaryModal(c.day)">View</button>
            </div>
            <div class="col-sm-1">
              <p>{{ c.session }}</p>
            </div>
            <div class="col-sm-1">
              <p>{{ c.coach }}</p>
            </div>
            <div class="col-sm-1">
              <p>{{ c.students }}</p>
            </div>
            <div class="col-sm-1">
              <p>{{ c.replacement }}</p>
            </div>
            <div class="col-sm-1">
              <p>{{ c.studentWaiting }}</p>
            </div>
            <div class="col-sm-2">
                <router-link :to="{name: 'class.view',  params: { day: c.day, outlet: selected_outlet } }" >
                  <button class="btn btn-info text-white">Edit</button>
                </router-link>
                <router-link :to="{name: 'class.view',  params: { day: c.day, outlet: selected_outlet } }" >
                  <button class="btn btn-info text-white">Edit</button>
                </router-link>
                <button class="btn btn-primary" data-toggle="collapse" v-bind:data-target="'#accordian' + index"  aria-expanded="true" aria-controls="collapseOne">Expand</button>
            </div>
          </div>

          <div v-bind:id="'accordian' + index" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body  accordian__child__collapse">

              <div class="accordion__child__coach"  v-for="coach in c.coachs" v-bind:key="coach.id">
                <div class="row">
                  <div class="col-sm-4">
                    <img v-if="coach.avatar" :src="'/storage/' + coach.avatar" class="img-fluid rounded-circle mx-auto d-block" width="50" height="auto">
                    <img v-else src="/images/default-avatar.png" class="img-fluid rounded-circle mx-auto d-block" width="50" height="auto">
                  </div>
                  <div class="col-sm-4">
                    <p class="text-center">{{coach.name | capitalize}}</p>
                  </div>
                  <div class="col-sm-4">
                    <p>{{ coach.start | time }} - {{ coach.end | time }}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div v-if="exist === true" class="col-md-12 accordion__child__table">
            <p>Class not creat yet.</p>
        </div>
      </div> 

    </div> -->
    <SearchStudentElement></SearchStudentElement>
    <ClassSummaryElement></ClassSummaryElement>
    <SessionListElement></SessionListElement>
  </div>
</template>

<style lang="scss" scoped>
.accordion__child {
  background: #ffffff;
  &__table {
    padding: 1.25rem;
    border: 1px solid #c2cfd6;
    p {
      margin: 0;
    }
    .card-body {
      background: #5ab0d1;
      color: #ffffff;
      margin: 20px 0;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
  &__coach {
    padding: 20px 0;
    border-bottom: 1px solid #c2cfd6;
    p {
      font-size: 1.1rem;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}
.status-width{
  width: 20vmin;
  display: inline-block;
}

.text_size{
  font-size: 14px !important;
}
</style>

<script>
import SearchStudentElement from "./elements/SearchStudentElement.vue";
import ClassSummaryElement from "./elements/ClassSummaryElement.vue";
import SessionListElement from "./elements/SessionList.vue";
var moment = require('moment');

export default {
  components: {
    SearchStudentElement,
    ClassSummaryElement,
    SessionListElement
  },
  data() {
    return {
      moment: moment,
      date:'2019-01-01 10:10:00',
      classrooms: [],
      filter_outlet: [],
      selected_outlet : '',
      outletModel : false,
      exist : false,
      checkPermission: true,
      columns: ['day', 'summary', 'session', 'coach', 'student', 'replacement_student', 'waiting_student', 'action'],
      data: [],
      sessions: [],
      monday:[],
      tuesday:[],
      wednesday:[],
      thursday:[],
      friday:[],
      saturday:[],
      sunday:[],
      options: {
        headings: {
          day: 'Day',
          summary: 'Summary',
          session: 'Session',
          coach: 'Coach', 
          student:'Student',
          replacement_student:'Replacement Student',
          waiting_student: 'Waiting Student',
          action: 'Action'
        },
        sortable: ['day'],
        filterable: false
        // filterable: ['child', 'padi_level', 'parent', 'class_level','instructor', 'email']
      },
    };
  },
  methods: {
    openModal() {
      this.$emit("open", this.selected_outlet);
    },
    openSummaryModal(day) {
      this.$emit("Summaryopen", this.selected_outlet, day);
    },
    openSessionModal(day) {
    
      if(day == 'monday'){
        
        this.sessions = this.monday;

      }else if(day == 'tuesday'){

        this.sessions = this.tuesday;
        
      }else if(day == 'wednesday'){

        this.sessions = this.wednesday;
        
      }else if(day == 'thursday'){

        this.sessions = this.thursday;
        
      }else if(day == 'friday'){

        this.sessions = this.friday;
        
      }else if(day == 'saturday'){
        
        this.sessions = this.saturday;
        
      }else if(day == 'sunday'){

        this.sessions = this.sunday;
        
      }
                
      this.$emit("Sessionopen", this.sessions);
    },
    getAllEvent() {
      axios
        .get(`/api/class/${this.selected_outlet}/outlet`)
        .then(res => {
          // console.log(res.data);
          this.classrooms = res.data;
          this.data = res.data;
          if (this.classrooms.length == 0) {
              this.exist = true;
          }
        })
        .catch(err => {
          if (err.response.status == 401) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'You cannot access',
                  type: 'error',
                  duration: 5000
              });
              this.checkPermission = false;
          }
          else{
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
          }
        });
    },
    testNotify() {
      this.$notify({
        group: 'foo',
        title: 'Important message',
        text: 'Hello user! This is a notification!',
        type: 'success',
        duration: 5000
      });
    },
    getOutletAccess(id){
      axios
        .get('/api/staff/'+ id)
        .then(res => {
          var outlet = res.data.data.outlet_access;
          if(typeof outlet != "undefined"){
            this.setDropdown(outlet);
          }
        })
        .catch(err => {
          console.log(err.data);
        });
    },
    setDropdown(id){
      for (var i = id.length - 1; i >= 0; i--) {
        axios
          .get('/api/outlets/'+ id[i])
          .then(res => {
                  this.filter_outlet.push(res.data.data);
                  this.outletModel = true;
          })
          .catch(err => {
            console.log(err.data);
          });
      }
    }
  },
  created() {
    axios
        .get("/api/user")
        .then(res => {
          this.getOutletAccess(res.data.id);
          this.selected_outlet = res.data.outlet_id;
          this.getAllEvent();

          axios
            .get(`/api/class/${res.data.outlet_id}/outlet`)
            .then(res => {
              console.log('here it is ');
              console.log(res.data);
                
                for (var i = 0; i < res.data.length; i++) {

                  if(res.data[i].day == 'monday'){
                    console.log(res.data[i].day);
                    this.monday = res.data[i].coachs;
                    this.monday.sort(function(a,b){
                      return new Date(b.start) - new Date(a.start);
                    });

                  }else if(res.data[i].day == 'tuesday'){

                    this.tuesday = res.data[i].coachs;
                    this.tuesday.sort(function(a,b){
                      return new Date(b.start) - new Date(a.start);
                    });
                    
                  }else if(res.data[i].day == 'wednesday'){

                    this.wednesday = res.data[i].coachs;
                    this.wednesday.sort(function(a,b){
                      return new Date(b.start) - new Date(a.start);
                    });
                    
                  }else if(res.data[i].day == 'thursday'){

                    this.thursday = res.data[i].coachs;
                    this.thursday.sort(function(a,b){
                      return new Date(b.start) - new Date(a.start);
                    });
                    
                  }else if(res.data[i].day == 'friday'){

                    this.friday = res.data[i].coachs;
                    this.friday.sort(function(a,b){
                      return new Date(b.start) - new Date(a.start);
                    });
                    
                  }else if(res.data[i].day == 'saturday'){

                    this.saturday = res.data[i].coachs;
                    this.saturday.sort(function(a,b){
                      return new Date(b.start) - new Date(a.start);
                    });
                    
                  }else if(res.data[i].day == 'sunday'){

                    this.sunday = res.data[i].coachs;
                    this.sunday.sort(function(a,b){
                      return new Date(b.start) - new Date(a.start);
                    });
                    
                  }
                }
                console.log('sessions according to days');
                console.log(this.monday);
                console.log(this.tuesday);
                console.log(this.wednesday);
                console.log(this.thursday);
                console.log(this.friday);
                console.log(this.saturday);
                console.log(this.sunday);
            })
        });
  }
};
</script>
