<template>
	<div>
		<page-header>Class replacement form</page-header>
		<b-card header="Apply Replacement Class">
				
				<b-alert show variant="primary">
					<p>
						<i class="fa fa-clock-o mr-2" aria-hidden="true"></i> Time: {{ classroom.start | time }}  to {{ classroom.end | time }} 
					</p>
					<p>
						<i class="fa fa-male mr-2" aria-hidden="true"></i> Coach: {{ classroom.coach.name }}
					</p>
					<p>
						<i class="fa fa-bars mr-2" aria-hidden="true"></i> Session Level: {{ classroom.level }}
					</p>
				</b-alert>

				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Actual Date</label>
							<!-- <input type="date" name="remarks" class="form-control" v-model="replacement.beforeDate"> -->
							<datepicker :disabledDates="disabledFn" v-if="createdValidate" format="dd/MM/yy" placeholder="Select Date" v-model="replacement.beforeDate" v-on:selected="filterDate"></datepicker>
						</div>
					</div>
					<!-- <div class="col-sm-6">
						<div class="form-group">
							<label class="font-weight-bold">From</label>
							<date-picker v-model="replacement.beforeStartTime" :config="options" name="remarks" class="form-control"></date-picker>
						</div>
					</div>
					<div class="col-sm-6">	
						<div class="form-group">
							<label class="font-weight-bold">To</label>
							<date-picker v-model="classroom.beforeEndTime" :config="options" name="remarks" class="form-control"></date-picker>
						</div>
					</div> -->
					<div class="col-sm-12">
						<hr>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="font-weight-bold">Replacement Date</label>
							<datepicker :disabledDates="disabledDates" format="dd/MM/yy" placeholder="Select Date" v-model="replacement.afterDate"></datepicker>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="font-weight-bold">From</label>
							<date-picker v-model="replacement.afterStartTime" :config="options" name="remarks" class="form-control"></date-picker>
						</div>
					</div>
					<div class="col-sm-6">	
						<div class="form-group">
							<label class="font-weight-bold">To</label>
							<date-picker v-model="replacement.afterEndTime" :config="options" name="remarks" class="form-control"></date-picker>
						</div>
					</div>
					<div class="col-sm-12">
						<hr>
					</div>
				</div>
				<button class="btn btn-primary" @click="blocker()" :disabled="!isComplete">Submit</button>
		</b-card>
	</div>
</template>

<style>
input,
select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}

.vdp-datepicker__calendar {
     width: 300px !important; 
}
</style>

<script>
import Autocomplete from 'vuejs-auto-complete';
import 'bootstrap/dist/css/bootstrap.css';
  
// Import this component
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import datePicker from 'vue-bootstrap-datetimepicker';

// Import date picker css
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import moment from 'moment';
import { mapState } from 'vuex';

export default {
	data() {
		return {
			user: '',
			classId: this.$route.params.id,
			dayId: this.$route.params.day,
			classroom: {
				id: '',
				start: '',
				end: '',
				coach: ''
			},
			replacement: {
				beforeDate: '',
				beforeStartTime: '',
				beforeEndTime: '',
				afterDate: '',
				afterStartTime: '',
				afterEndTime: '',
				classroom_id: this.$route.params.id,
				toUser: ''
			},
			coaches: [],
			columns: ['index', 'name', 'designation', 'action'],
			options: {
				headings: {
					index: 'No.',
					name: 'Name',
					designation: 'Designation',
					action: 'Action'
				},
				sortable: ['name', 'designation'],
				filterable: ['name', 'designation']
			},
			options: {
				format: 'LT',
				useCurrent: true,
			},
			selectedCoach: '',
			disabledFn: {
		    	dayName: '',
		    	to: '',
		        customPredictor(date) {
		          	if (date.getDay() !== this.dayName) { // disabled other days to select
		            	return true;
		          	}
		        }
		    },
		    disabledDates: {
		    	to: '',
		    	from:''
		    },
		};
	},
	components: {
		Autocomplete,
		datePicker,
		Datepicker
	},
	methods: {
		getClassInformation() {
			axios
				.get('/api/class/' + this.classId)
				.then(res => {
					this.classroom = res.data.data;
				})
				.catch(err => {
					this.$notify({
						group: 'foo',
						title: 'Ops',
						text: 'Please contact administrator',
						type: 'error',
						duration: 5000
					});
					console.log(err);
				});
		},
		filterDate(val){
			// var selectedDate = moment(val, 'YYYY-MM-DD').format("YYYY-MM-DD");
			var currentDate = new Date(val);
			var year = currentDate.getFullYear();
			var monthFrom = currentDate.getMonth() - 1;
			var monthTo = currentDate.getMonth() + 2;
			var day = currentDate.getDate();
			// console.log(selectedDate);
			this.disabledDates.to = new Date(year, monthFrom, 1);
			this.disabledDates.from = new Date(year, monthTo, 1);
		},
		blocker(){
			this.$swal({
		        title: 'The replacement class Added Successfully',
		        text: "This Message Will Auto-Close Soon!",
		        type: "success",
		        showCancelButton: false,
		        showConfirmButton: false,
		        confirmButtonText: 'Yes Delete it!',
		        cancelButtonText: 'No, Keep it!',
		        showCloseButton: false,
		        allowOutsideClick: false,
		        closeOnClickOutside: false,
		        closeOnEsc: false,
		        allowEscapeKey : false,
		    })
		    this.requestCoach();
		},
		requestCoach() {
			console.log(this.replacement);
			axios
				.put('/api/class/replacement/', this.replacement)
				.then(res => {
					console.log('Done');
					this.$notify({
						group: 'foo',
						title: 'Awesome',
						text: 'The replacement class successful added.',
						type: 'success',
						duration: 5000
					});
					this.$router.push('/class/' + this.dayId + '/' + this.classId + '/detail');
					this.$swal.close();
				})
				.catch(err => {
					this.$notify({
						group: 'foo',
						title: 'Ops',
						text: 'Please contact administrator',
						type: 'error',
						duration: 5000
					});
					console.log(err);
				});
		}
	},
	created() {
		this.getClassInformation();
	},
	computed: {

		createdValidate: function(){

			if(this.$route.params.day === 'monday') {
					this.disabledFn.dayName = 1
			}
			else if(this.$route.params.day === 'tuesday') {
				this.disabledFn.dayName = 2
			}
			else if(this.$route.params.day === 'wednesday') {
				this.disabledFn.dayName = 3
			}
			else if(this.$route.params.day === 'thursday') {
				this.disabledFn.dayName = 4
			}
			else if(this.$route.params.day === 'friday') {
				this.disabledFn.dayName = 5
			}
			else if(this.$route.params.day === 'saturday') {
				this.disabledFn.dayName = 6
			}
			else {
				this.disabledFn.dayName = 0
			}

			// set data 1month before and 1 month after
			var currentDate = new Date();
			var year = currentDate.getFullYear();
			var monthFrom = currentDate.getMonth() - 1;
			var day = currentDate.getDate();

			// pass variable to function disabled
			this.disabledFn.to = new Date(year, monthFrom, day);

			return true;
		},
		isComplete() {
	      return (
	        this.replacement.afterDate &&
	        this.replacement.afterStartTime &&
	        this.replacement.afterEndTime
	      );
    	}
	}
};
</script>