<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<div>
				<i class="fa fa-align-justify mr-2"></i> List of Classes
			</div>
		</div>
		<div class="card-body">
			<div class="row mb-3">
				<div class="col-12 col-md-6  text-left">
					<label class="mr-2 mt-2">Status : </label>
					<select class="form-control status-width" v-model="filter_status" name="filter_status" @change=getStatus>
				      	<option value="1">Active</option>
				      	<option value="0">Inactive</option>
				    </select>
				</div>
				<div class="col-12 col-md-6 text-right">
					<button class="btn btn-info text-white" @click="createAttendance()">
						Generate Attendance
			        </button>
				</div>
			</div>

			<div id="people">
			  <v-client-table :columns="columns" :data="classes" :options="options">

				<div slot="session" slot-scope="props">{{ props.row.start | time }} - {{ props.row.end | time }}</div>

				<img slot="avatar" slot-scope="props" src="/images/default-avatar.png" class="img-fluid rounded-circle" width="50" height="auto">

				<div slot="student" slot-scope="props">{{ props.row.studentNumber }}</div>

				<div slot="waiting" slot-scope="props">{{ props.row.studentWaiting }}</div>

				<div slot="replacement" slot-scope="props">Yes</div>

				<div slot="status" slot-scope="props">
					<span v-if="props.row.status === 1">Active</span>
					<span v-else>Inactive</span>
				</div>

              	<div slot="action" slot-scope="props">
                	<router-link :to="{name: 'class.view.day',  params: { day: day, id: props.row.id } }" >
                    	<button class="btn btn-primary">View</button>
                	</router-link>
              	</div>
			  </v-client-table>
			  
			  <!-- <div class="col-md-12 text-center">
			  	<pagination class="center" v-model="page" :records="total_records" text="{}" @paginate="listMember()"></pagination>Showing {{ pager.from }} to {{ pager.to }} of {{ pager.total }} records
			  </div> -->
			  

			</div>
		</div>
		<!-- <SearchStudentElement></SearchStudentElement> -->
	</div>
</template>

<style>
.status-width{
	width: 20vmin;
	display: inline-block;
}
.img-fit{
	object-fit: cover;
}
/*.VuePagination__count{
	display: none;
}*/

.center{
	display: table;
	float: none;
	margin:auto!important;
}
</style>

<script>
import Autocomplete from 'vuejs-auto-complete';
import moment from 'moment';

export default {
	data() {
		return {
			myModal: false,
			day: this.$route.params.day,
			outlet: this.$route.params.outlet,
			classes: [],
			filter_status: 1,
			selectedClass: '',
			student: {
				user_id: '',
				remarks: ''
			},
			columns: [
				'session',
				'avatar',
				'coach',
				'level',
				'student',
				'waiting',
				'replacement',
				'status',
				'action'
			],
			options: {
				headings: {
					session: 'Session',
					avatar: 'Avatar',
					coach: 'Coach',
					level: 'Level',
					student: 'Student',
					waiting: 'Student Waiting',
					replacement: 'Replacement',
					status: 'Status',
					action: 'Action'
				},
				sortable: ['session', 'coach', 'level', 'student', 'waiting','replacement', 'status'],
				filterable: ['session', 'coach', 'level', 'student', 'waiting', 'replacement', 'status']
			},
			checkPermission: true
		};
	},
	components: {
		Autocomplete
	},
	methods: {
		searchStudent(input) {
			return '/api/member/students?q=' + input;
		},
		getStatus(){
			// console.log(this.filter_status);
			this.getDay(this.filter_status);
		},
		getDay() {
			axios
				.get('/api/class/day/' + this.outlet + '/' + this.day + '/' + this.filter_status)
				.then(res => {
					console.log(res.data);
					this.classes = res.data;
				})
				.catch(err => {
					if (err.response.status == 401) {
			            this.$notify({
			                group: 'foo',
			                title: 'Ops',
			                text: 'You cannot access',
			                type: 'error',
			                duration: 5000
			            });
			            this.checkPermission = false;
			        }
			        else{
			            this.$notify({
				            group: 'foo',
				            title: 'Ops',
				            text: 'Please contact administrator',
				            type: 'error',
				            duration: 5000
			            });
		          	}
				});
		},
		createAttendance() {
			const today = moment().format('dddd');
			
			if (today.toLowerCase() == this.day) {

				this.$swal({
		        title: "Are you sure?",
		        text: "You can't revert your action",
		        type: "warning",
		        showCancelButton: true,
		        confirmButtonText: "Yes Approve it!",
		        cancelButtonText: "No, Keep it!",
		        showCloseButton: true,
		        showLoaderOnConfirm: true
		      }).then(result => {
		        if (result.value) {

		          axios
		            .get("/api/class/createAttendance/" + this.outlet)
		            .then(res => {
		            	console.log(res.data)
		              this.$swal(
		                "Awesome",
		                "You have created the attendance",
		                "success"
		              );
		              this.$router.push("/class/" + this.outlet + "/" + this.day);
		            })
		            .catch(err => {
		              this.$swal("Ops", "Something wrong", "danger");
		            });
		        } else {
		          this.$swal(
		            "Cancelled",
		            "This attendance still not create yet",
		            "info"
		          );
		        }
		      });

			} else {
				this.$swal(
		            "Cancelled",
		            "Cannot create attendance for today. Because today is not " + this.day +".",
		            "info"
		          );
			}
	      
	    },
		openModal() {
			this.myModal = true;
		},
	},
	created() {
		console.log('hi');
		this.getDay();
	}
};
</script>
