<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span>Add New Contract Template</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="addContract()">
      		<div class="form-group">
      			<label>Title</label>
      			<input type="text" class="form-control" v-model="contract.title">
      		</div>
          <div class="form-group">
            <label>Type</label>
            <select v-model="contract.type" class="form-control">
                <option v-for="type in types" :value="type">{{ type | capitalize }}</option>
            </select>
          </div>
      		<div class="form-group">
      			<label>Content</label>
      			<wysiwyg v-model="contract.content" />
      		</div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    	</div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
    	contract: {
    		title: '',
    		content: '',
        type: ''
    	},
      checkPermission: true,
      types: ['coach', 'staff']
    };
  },
  methods: {
    getPackageType(){
      axios
        .get('/api/master-data/package-category')
        .then(res => {
            console.log(res.data);
            for (var i = 0; i < res.data.length; i++) {
                this.types.push(res.data[i].name.toLowerCase());
            }

        })
    },
    addContract() {
      event.preventDefault();
      axios
        .put('/api/contract', this.contract)
        .then( res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have added the contract',
              type: 'success',
              duration: 5000
            });

          this.$router.push("/master-data/contract");
        })
        .catch( err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getPackageType();
  }
};
</script>

<style lang="scss" scoped>
	@import "~vue-wysiwyg/dist/vueWysiwyg.css";
</style>