<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<span>Edit Contract</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="updateContract()">
      		<div class="form-group">
      			<label>Title</label>
      			<input type="text" class="form-control" v-model="contract.title">
      		</div>
          <!-- <div class="form-group">
            <label>Type</label>
            <select v-model="contract.type" class="form-control">
                <option v-for="type in types" :value="type">{{ type | capitalize }}</option>
            </select>
          </div> -->
      		<div class="form-group">
      			<label>Content</label>
      			<wysiwyg v-model="contract.content" />
      		</div>
          <button class="btn btn-primary" type="submit">Update</button>
        </form>
    	</div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      isModal: false,
      contractId: this.$route.params.id,
      contract: {},
      checkPermission: true,
      types: ['coach', 'staff']
    };
  },
  methods: {
    getEmail() {
      axios
        .get("/api/contract/" + this.contractId)
        .then(res => {
          this.contract = res.data;
          this.getPackageType();
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    getPackageType(){
      axios
        .get('/api/master-data/package-category')
        .then(res => {
            console.log(res.data);
            for (var i = 0; i < res.data.length; i++) {
                this.types.push(res.data[i].name.toLowerCase());
            }

        })
    },
    updateContract() {
      	event.preventDefault();
    	axios
    		.post("/api/contract/" + this.contractId, this.contract)
    		.then( res => {
	          this.$notify({
	              group: 'foo',
	              title: 'Awesome',
	              text: 'You have updated the contract template',
	              type: 'success',
	              duration: 5000
	            });
	          this.$router.push("/master-data/contract/");
    		})
    		.catch( err => {
	          this.$notify({
	              group: 'foo',
	              title: 'Ops',
	              text: 'Please contact administrator',
	              type: 'error',
	              duration: 5000
	            });
    		});
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getEmail();
  }
};
</script>

<style lang="scss" scoped>
	@import "~vue-wysiwyg/dist/vueWysiwyg.css";
</style>
