<template>
  <div class="card mt-3" v-if="checkPermission">
    <div class="card-header">
      <span class="text-left">List of Available Contract</span>
            <router-link :to="{name: 'contract.create'}" class="btn btn-primary" >
        Add template
            </router-link>
    </div>
      <div class="card-body">

          <v-client-table :columns="columns" :data="contracts" :options="options">
            <div slot="index" slot-scope="props">{{ props.index }}</div>

            <div slot="action" slot-scope="props">
                <router-link :to="{name: 'contract.view',  params: { id: props.row.id } }" >
                    <button class="btn btn-info text-white">View</button>
                </router-link>
                <!-- <router-link :to="{name: 'contract.edit',  params: { id: props.row.id } }" >
                    <button class="btn btn-outline-info">Edit</button>
                </router-link> -->
            </div>
          </v-client-table>
      </div>
    </div>
</template>

<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      contracts: [],
      columns: ['index', 'title', 'type', 'action'],
      options: {
        headings: {
          index: 'No.',
          title: 'Title',
          type: 'Type',
          action: 'Action'
        },
        sortable: ['title', 'type'],
        filterable: ['title', 'type']
      },
      checkPermission: true
    };
  },
  methods: {
    getContracts() {
      axios
        .get('/api/contract')
        .then(res => {
          this.contracts = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getContracts();
  }
};
</script>
