<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
			<h2>{{ contract.title }}</h2>
		</div>
		<div class="card-body" v-html>
			<div v-html="contract.content">
			</div>
			<hr>
			<button class="btn btn-outline-danger pull-right mr-2" @click="confirmationDialog()">Delete</button>
			<router-link :to="{name: 'contract.edit',  params: { id: contract.id } }" > 
				<button class="btn btn-info pull-right mr-2 text-white">Edit</button>
            </router-link>
		</div>
	</div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      isModal: false,
      contractId: this.$route.params.id,
      contract: {},
      checkPermission: true
    };
  },
  methods: {
    getContract() {
      axios
        .get("/api/contract/" + this.contractId)
        .then(res => {
          this.contract = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    confirmationDialog() {
      this.$swal({
            title: 'Are you sure?',
            text: 'You can\'t revert your action',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes Delete it!',
            cancelButtonText: 'No, Keep it!',
            showCloseButton: true,
            showLoaderOnConfirm: true
          }).then((result) => {
            if(result.value) {
              this.deleteEmail();
              this.$swal('Deleted', 'You successfully deleted this contract', 'success')
            } else {
              this.$swal('Cancelled', 'Your file is still intact', 'info')
            }
      });
    },
    deleteEmail() {
      axios
        .delete("/api/contract/" + this.contractId)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have deleted the contract',
              type: 'success',
              duration: 5000
            });
          this.$router.push("/master-data/contract");
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getContract();
  }
};
</script>
