<template>
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title mb-5">Create Swim Member</h4>
            <form v-on:submit="createStaff()">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" v-model="staff.name" required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" v-model="staff.email" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" v-model="staff.password" required>
                </div>
                <div class="form-group">
                    <label>Contact</label>
                    <input type="text" name="contact" class="form-control" v-model="staff.contact" required>
                </div>
                <div class="form-group">
                    <label>Birthday</label>
                    <input type="date" name="birthday" class="form-control" v-model="staff.birthday" required>
                </div>
                <div class="form-group">
                    <label>Health</label>
                    <input type="text" name="health" class="form-control" v-model="staff.health" required>
                </div>              
                <b-form-group>
                    <label for="year1">Class</label>
                    <b-form-select v-model="staff.class"
                    :plain="true"
                    :options="['Swim', 'Stroke']">
                    </b-form-select>
                </b-form-group>
                <div class="form-group">
                    <label>Parent</label>
                    <input type="number" name="health" class="form-control" v-model="staff.user_id" required>
                </div> 
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      staff: {
        name: "",
        password: "",
        email: "",
        contact: "",
        birthday: "",
        health: "",
        class: "",
        user_id: ""
      }
    };
  },

  methods: {
    createStaff() {
      event.preventDefault();

      console.log(this.staff);

      this.loading = true;
      axios
        .put("/api/user/swim", this.staff)
        .then(res => {
          this.loading = false;
          this.$router.push("/swim");
        })
        .catch(err => {
          console.log(err.data);
          this.loading = false;
        });
    }
  }
};
</script>

