<template>
  <div class="card mt-5">
    <div class="card-body">
      <h4 class="card-title">
        View Customer
      </h4>

      <div class="row">
        <div class="col-md-6 col-xs-6 b-r"> <strong>Full Name</strong>
          <br>
          <p class="text-muted">{{ user.name }}</p>
        </div>
        <div class="col-md-6 col-xs-6"> <strong>Email</strong>
          <br>
          <p class="text-muted">{{ user.email }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Contact</strong>
          <br>
          <p class="text-muted">{{ user.contact }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Birthday</strong>
          <br>
          <p class="text-muted">{{ user.birthday }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Health</strong>
          <br>
          <p class="text-muted">{{ user.health }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Class</strong>
          <br>
          <p class="text-muted">{{ user.class }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Progress</strong>
          <br>
          <p class="text-muted">{{ user.progress }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Badge</strong>
          <br>
          <p class="text-muted">{{ user.badge }}</p>
        </div>
        <div class="col-md-6 col-xs-6 b-r"> <strong>Status</strong>
          <br>
          <p class="text-muted">{{ user.status }}</p>
        </div>
      </div>

      
			<table class="tablesaw table-striped table-hover table-bordered table tablesaw-columntoggle mt-4 bg-white" data-tablesaw-mode="columntoggle" id="table-8957">
					<thead>
							<tr>
									<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Gym</th>
									<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Swim</th>
									<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Stroke</th>
							</tr>
					</thead>
					<tbody>
							<tr>
									<td class="title">
                    <i class="fa fa-check text-success" aria-hidden="true" v-if="user.class === 'Gym'"></i>
                    <i class="fa fa-times text-danger" aria-hidden="true" v-else></i>
                  </td>
									<td class="title">
                    <i class="fa fa-check text-success" aria-hidden="true" v-if="user.class === 'Swim'"></i>
                    <i class="fa fa-times text-danger" aria-hidden="true" v-else></i>
                  </td>
									<td class="title">
                    <i class="fa fa-check text-success" aria-hidden="true" v-if="user.class === 'Stroke'"></i>
                    <i class="fa fa-times text-danger" aria-hidden="true" v-else></i>
                  </td>
							</tr>
					</tbody>
			</table>

      <div class="row">
        <div class="col-md-6">
					<div class="card bg-primary my-3">
						<div class="card-header"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Swim School</div>
						<div class="card-body bg-white text-dark">
              
              <p class="card-text center-x-y pt-3">
                <svg width="40px" height="32px" viewBox="0 0 40 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="noun_367518_cc" fill-rule="nonzero">
                            <g id="Group">
                                <g id="Shape">
                                    <g>
                                        <path d="M6.76563372,35.7188745 L2,46.4226631 L9.42720646,45.4306723 L13.6597848,51.6139338 L18.6870209,40.3225767 L17.2578917,40.8070408 C16.3953676,41.0994301 15.2544982,40.8715856 14.5708679,40.2725586 L12.8938049,38.8030417 C12.6430031,38.5832781 12.0609364,38.3424861 11.7290804,38.3205971 L9.50411247,38.1738397 C8.59535161,38.1138985 7.62851799,37.4668059 7.22616372,36.651763 L6.76563372,35.7188745 Z M21.3129791,40.3225767 L26.3402152,51.6139338 L30.5727935,45.4306723 L38,46.4226631 L33.2343663,35.7188745 L32.7738363,36.651763 C32.3706901,37.4684101 31.4028632,38.1140162 30.4958875,38.1738397 L28.2709196,38.3205971 C27.9381796,38.3425444 27.3563305,38.583862 27.1061951,38.8030417 L25.4291321,40.2725586 C24.7441562,40.8727647 23.602938,41.0988557 22.7421083,40.8070408 L21.3129791,40.3225767 Z" fill="#000000"></path>
                                        <path d="M23.0631557,39.8599777 C23.5849204,40.0368521 24.3528187,39.886084 24.7700976,39.5204458 L26.4471607,38.050929 C26.8615216,37.6878476 27.6514973,37.3592808 28.2051033,37.3227653 L30.4300712,37.176008 C30.9798059,37.1397478 31.631555,36.7065944 31.8771468,36.209103 L32.8641912,34.2096623 C33.1080656,33.7156498 33.7121709,33.109783 34.2096623,32.8641912 L36.209103,31.8771468 C36.7031155,31.6332724 37.1394925,30.9836772 37.176008,30.4300712 L37.3227653,28.2051033 C37.3590254,27.6553686 37.6852908,26.8644396 38.050929,26.4471607 L39.5204458,24.7700976 C39.8835272,24.3557367 40.0380976,23.5885948 39.8599777,23.0631557 L39.1441054,20.9513917 C38.967231,20.4296269 38.9659855,19.5740474 39.1441054,19.0486083 L39.8599777,16.9368443 C40.0368521,16.4150796 39.886084,15.6471813 39.5204458,15.2299024 L38.050929,13.5528393 C37.6878476,13.1384784 37.3592808,12.3485027 37.3227653,11.7948967 L37.176008,9.56992876 C37.1397478,9.02019405 36.7065944,8.36844499 36.209103,8.12285325 L34.2096623,7.13580876 C33.7156498,6.89193441 33.109783,6.28782913 32.8641912,5.79033774 L31.8771468,3.79089698 C31.6332724,3.29688448 30.9836772,2.8605075 30.4300712,2.82399203 L28.2051033,2.67723469 C27.6553686,2.64097457 26.8644396,2.31470924 26.4471607,1.94907102 L24.7700976,0.47955419 C24.3557367,0.116472827 23.5885948,-0.0380976245 23.0631557,0.140022326 L20.9513917,0.855894599 C20.4296269,1.03276898 19.5740474,1.03401455 19.0486083,0.855894599 L16.9368443,0.140022326 C16.4150796,-0.036852056 15.6471813,0.113915969 15.2299024,0.47955419 L13.5528393,1.94907102 C13.1384784,2.31215238 12.3485027,2.64071922 11.7948967,2.67723469 L9.56992876,2.82399203 C9.02019405,2.86025215 8.36844499,3.29340559 8.12285325,3.79089698 L7.13580876,5.79033774 C6.89193441,6.28435024 6.28782913,6.89021702 5.79033774,7.13580876 L3.79089698,8.12285325 C3.29688448,8.3667276 2.8605075,9.01632276 2.82399203,9.56992876 L2.67723469,11.7948967 C2.64097457,12.3446314 2.31470924,13.1355604 1.94907102,13.5528393 L0.47955419,15.2299024 C0.116472827,15.6442633 -0.0380976245,16.4114052 0.140022326,16.9368443 L0.855894599,19.0486083 C1.03276898,19.5703731 1.03401455,20.4259526 0.855894599,20.9513917 L0.140022326,23.0631557 C-0.036852056,23.5849204 0.113915969,24.3528187 0.47955419,24.7700976 L1.94907102,26.4471607 C2.31215238,26.8615216 2.64071922,27.6514973 2.67723469,28.2051033 L2.82399203,30.4300712 C2.86025215,30.9798059 3.29340559,31.631555 3.79089698,31.8771468 L5.79033774,32.8641912 C6.28435024,33.1080656 6.89021702,33.7121709 7.13580876,34.2096623 L8.12285325,36.209103 C8.3667276,36.7031155 9.01632276,37.1394925 9.56992876,37.176008 L11.7948967,37.3227653 C12.3446314,37.3590254 13.1355604,37.6852908 13.5528393,38.050929 L15.2299024,39.5204458 C15.6442633,39.8835272 16.4114052,40.0380976 16.9368443,39.8599777 L19.0486083,39.1441054 C19.5703731,38.967231 20.4259526,38.9659855 20.9513917,39.1441054 L23.0631557,39.8599777 Z M20,35 C28.2842712,35 35,28.2842712 35,20 C35,11.7157288 28.2842712,5 20,5 C11.7157288,5 5,11.7157288 5,20 C5,28.2842712 11.7157288,35 20,35 Z" fill="#09B0A5"></path>
                                        <polygon fill="#000000" points="19.999959 25.9649684 13.5706644 29.3503163 14.8035604 22.1895637 9.59714182 17.1210712 16.788408 16.0808307 19.999959 9.56298211 23.2115101 16.0808307 30.4027763 17.1210712 25.1963577 22.1895637 26.4292537 29.3503163"></polygon>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <span class="font-weight-bold">{{ user.badge }}</span>
              </p>

							<p class="card-text">Level : <div class="level" :class="'level-' + user.swim"></div></p>
							<p class="card-text">Progress : </p>
							<div class="progress">
								<div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" v-bind:style="styleObject" :aria-valuenow="user.progress" aria-valuemin="0" aria-valuemax="100">{{user.progress}}%</div>
							</div>
							<p class="card-text mt-3">
								<i class="fa fa-money"></i> Deposit : RM {{ user.deposit }}
							</p>
							<p class="card-text mt-3">
								<i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span class="text-info">{{user.status}}</span>
							</p>
						</div>
					</div>
        </div>
      </div>

      <button class="btn btn-outline-danger mt-5" @click="deleteUser()">Delete this user</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isModal: false,
      userId: this.$route.params.id,
      user: {},
      styleObject: {
        width: ""
      }
    };
  },
  methods: {
    getUser() {
      axios
        .get("/api/user/swim/" + this.userId)
        .then(res => {
          console.log(res.data);
          this.user = res.data;
          this.styleObject.width = res.data.progress + "%";
        })
        .catch(err => {
          console.log(err.data);
        });
    },
    deleteUser() {
      axios
        .delete("/api/user/swim/" + this.userId)
        .then(res => {
          this.$router.push("/swim");
        })
        .catch(err => {
          console.log(err.data);
        });
    }
  },
  created() {
    this.getUser();
  }
};
</script>
