<template>
    <div class="app flex-row align-items-center bg-login">
      <div class="container">
        <div class="row justify-content-center">
          <div class="text-center">
            <div class="title-login">Welcome to VGO Aquatic</div>
              <div class="card mx-auto card-login">
                <div class="col-12 col-md-12 mt-3">

                    <div class="col-12 px-0 mt-3">
                        <div class="row">
                            <div class="col-9">
                                <h6 class="login-sub-title text-left px-0">Staff Login</h6>
                            </div>
                            <div class="col-3">
                                <img src="/images/logo.png" class="img-fluid" style="margin-top: -20px;">
                            </div>
                        </div>
                    </div>

                    <div class="form-group px-0">
                        <a href="/api/login/google" class="loginBtn loginBtn--google"><span class="ml-3 social-title">Login with Google</span></a>
                    </div>
                    <div class="form-group px-0">
                        <a href="/api/login/facebook" class="loginBtn loginBtn--facebook"><span class="ml-3 social-title">Login with Facebook</span></a>
                    </div>
                    <div class="form-group px-0">
                        <router-link :to="{name: 'staff.login' }">     
                            <button type="btn btn-info" class="btn btn-info" style="width:100%;">Login with Email</button>
                        </router-link>
                    </div>
                    <div class="form-group px-0">
                        <router-link :to="{name: 'staff.register' }">     
                            <button type="btn btn-info" class="btn btn-outline-info" style="width:100%;">Register</button>
                        </router-link>
                    </div>

                </div>

              </div>

                  <!-- <p class="text-muted">Sign In to your account</p>
                  <login-form @loginSuccess="loginSuccess"></login-form>
                  <div class="form-group mt-3">
                      <a href="/api/login/google" class="loginBtn loginBtn--google">Google</a>
                      <a href="/api/login/facebook" class="loginBtn loginBtn--facebook">Facebook</a>
                  </div> -->
                    


              <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>Staff Login</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <router-link :to="{name: 'staff.login' }" >     
                              <button type="button" class="btn btn-primary mt-3">Login</button>
                            </router-link>
                            <router-link :to="{name: 'staff.register' }" >     
                              <button type="button" class="btn btn-info mt-3">Register</button>
                            </router-link>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import LoginForm from "./../login/LoginForm.vue";
import jwtToken from "../../helpers/jwt-token";
import facebookLogin from "facebook-login-vuejs";

import { mapActions } from "vuex";

export default {
  data() {
    return {
      isConnected: false,
      name: "",
      email: "",
      personalID: "",
      access: [],
      FB: undefined,
    };
  },
  components: {
    "login-form": LoginForm,
    "facebook-login": facebookLogin
  },
  methods: {
    ...mapActions(["setAuthUser"]),
    loginSuccess(data) {
      console.log(data);
      axios
        .get('/api/rolespermission/'+ data.user.role_id)
        .then(res => {
            for (var i = 0; i < res.data.roleaccess.length; i++) {
                this.access.push(res.data.roleaccess[i].id);
            }
            this.afterLoginSuccess(data);
        })
    },
    afterLoginSuccess(data){
      jwtToken.setToken(data.token);
      jwtToken.setRole(data.user.role_id);
      jwtToken.setRoleId(this.access);
      this.setAuthUser(data.user);
      this.$router.push({ name: "dashboard" });
    },
    getUserData() {
      console.log("nak getUserData");

      // this.FB.api(
      //   "/me",
      //   "GET",
      //   { fields: "id,name,email" },
      //   userInformation => {
      //     this.personalID = userInformation.id;
      //     this.email = userInformation.email;
      //     this.name = userInformation.name;
      //   }
      // );
    },
    sdkLoaded(payload) {
      this.isConnected = payload.isConnected;
      console.log(payload);

      this.FB = payload.FB;
      if (this.isConnected) this.getUserData();
    },
    onLogin() {
      this.isConnected = true;
      this.getUserData();
    },
    onLogout() {
      this.isConnected = false;
    }
  }
};
</script>
