<template>

                <form @submit.prevent="login" @keydown.enter.prevent>
                  <div class="form-group mb-3">
                    <input 
                        class="form-control" 
                        placeholder="E-mail" 
                        type="email"
                        id="email"
                        name="email" 
                        v-model="form.email"
                        :disabled="loading"
                        v-validate="'required|email'"
                        :class="{ 'is-invalid': errors.has('email') }"
                    >
                  <div v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</div>
                  </div>


                  <div class="form-group mb-4">
                    <input 
                        type="password" 
                        class="form-control" 
                        placeholder="Password" 
                        id="password"
                        name="password" 
                        v-model="form.password"
                        :disabled="loading"
                        v-validate="'required|min:4'"
                        :class="{ 'is-invalid': errors.has('password') }"
                    >
                    <div v-show="errors.has('password')" class="invalid-feedback">{{ errors.first('password') }}</div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 text-left">
                          <router-link :to="{name: 'login' }" >
                              <button class="btn btn-outline-info">
                                  Back
                              </button>
                          </router-link>
                      </div>
                      <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-primary px-4" :disabled="!isComplete ||  errors.any()">
                            <span v-show="loading">Logging in</span>
                            <span v-show="!loading">Login</span>
                        </button>
                      </div>
                  </div>
                </form>
</template>

<script>
import { api } from '../../config';

export default {
  data() {
    return {
      loading: false,
      form: {
        email: null,
        password: null
      },
      error: {
        email: null,
        password: null
      }
    };
  },
  methods: {
    login() {
      event.preventDefault();
      this.loading = true;
      axios
        .post(api.login, this.form)
        .then(res => {
          var roleArray = [4,5,6,7]
          this.loading = false;
          if (jQuery.inArray(res.data.user.role_id, roleArray) !== -1) {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You cannot Access',
                type: 'error',
                duration: 5000
              });
          }
          else if (res.data.user.staff  === null) {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'You have succesful login.',
                type: 'success',
                duration: 5000
              });

              this.$noty.success('Welcome back!');
              this.$emit('loginSuccess', res.data);
          }
          else{
              if (res.data.user.staff.approve === 0) 
              {
                  this.$notify({
                    group: 'foo',
                    title: 'Ops',
                    text: 'Waiting for superadmin to approve your account',
                    type: 'error',
                    duration: 5000
                  });

              } 
              else 
              {
                  this.$notify({
                    group: 'foo',
                    title: 'Ops',
                    text: 'You have succesful login.',
                    type: 'success',
                    duration: 5000
                  });

                  this.$noty.success('Welcome back!');
                  this.$emit('loginSuccess', res.data);
              }
          }
          
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Invalid login credential',
            type: 'error',
            duration: 5000
          });

          this.loading = false;
        });
    }
  },
  computed: {
    isComplete() {
      return this.form.email && this.form.password;
    }
  }
};
</script>
