<template>
	<div class="card mt-3">
		<div class="card-header">
			<!-- <span>Add New Department</span> -->
		</div>
    	<div class="card-body">
    	</div>
    </div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
import { api } from '../../config';
import { mapActions } from "vuex";
export default {
  data() {
    return {
      token: this.$route.params.id,
      form: {
        email: null,
        password: '1q2e3t4y5i'
      },
      access: [],
    };
  },
  methods: {
    ...mapActions(["setAuthUser"]),
    socialLogin() {
      axios
          .get(`/api/socialLogin`)
          .then(res => {
              console.log(res.data);
              this.form.email = res.data.email;
              this.login();
          })
          .catch(err => {
              console.log(err);
          });
    },
    login() {
      this.loading = true;
      axios
        .post(api.login, this.form)
        .then(res => {
          if (res.data.user.staff.approve === 0) {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Waiting for superadmin to approve your account',
                  type: 'error',
                  duration: 5000
              });
              this.$router.push({ name: "login" });
          }
          else{
              this.loginSuccess(res.data);
          }
        })
    },
    loginSuccess(data) {
      console.log(data);
      axios
        .get('/api/rolespermission/'+ data.user.role_id)
        .then(res => {
            for (var i = 0; i < res.data.roleaccess.length; i++) {
                this.access.push(res.data.roleaccess[i].id);
            }
            this.afterLoginSuccess(data);
        })
    },
    afterLoginSuccess(data){
      jwtToken.setToken(data.token);
      jwtToken.setRole(data.user.role_id);
      jwtToken.setRoleId(this.access);
      this.setAuthUser(data.user);
      this.$router.push({ name: "dashboard" });
    },
  },
  created() {
    this.socialLogin();
    console.log(this.token);
  }
};
</script>