<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title">
                Update Staff Claim 
            </h4>

            <form class="form" v-on:submit="updateClaim()">
                    
                <div class="form-group" v-for="(list, index) in listClaim">
                    <label class="font-weight-bold">{{ list.type }}</label>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <money v-model="list.pivot.limit" v-bind="money" class="form-control"></money>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary pull-right">
                    <i class="icon-plus"></i> Update
                </button>
            </form>
        </div>
    </div>
</template>


<script>
import jwtToken from "../../../helpers/jwt-token";
import {Money} from 'v-money';
export default {
  components: {Money},
  data() {
    return {
      loading: false,
      roleId: this.$route.params.id,
      checkPermission: true,
      listClaim: '',
      money: {
        decimal: '.',
        thousands: ',',
        prefix: 'RM ',
        precision: 2
      }
    };
  },
  methods: {
    getTypeClaim(){
      axios
        .get('/api/claim/assign/' + this.roleId)
        .then(res => {
          this.listClaim = res.data;
        })
    },
    getLeaveUser(){
      axios
        .get('/api/leave/assign/' + this.roleId)
        .then(res => {
          for (var i = 0; i < res.data.length; i++) {
            this.leave.value[i].days = res.data[i].days;
            this.leave.value[i].carryfoward = res.data[i].carryfoward;
          }
        })
    },
    updateClaim() {
      var submit = {};
      submit.claim = this.listClaim;
      console.log(submit);
      event.preventDefault();
      axios
        .put("/api/claim/assign/" + this.roleId, submit)
        .then(res => {
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'The leave config updated.',
              type: 'success',
              duration: 5000
            });
          this.$router.push("/claim/config");
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err);
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getTypeClaim();
  }
};
</script>
