<template>
    <div class="row mt-3" v-if="checkPermission">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Claim Config</h4>


                    <v-client-table :columns="columns" :data="claims" :options="options">
                      <div slot="index" slot-scope="props">{{ props.index }}</div>
                      <div slot="action" slot-scope="props">
                        <router-link :to="{name: 'claim.config.edit',  params: { id: props.row.id } }" >
                          <button class="btn btn-info text-white">Edit</button>
                        </router-link>
                        <!-- <button class="btn btn-outline-danger" @click="deleteClaim(props.row.id)">
                            Delete
                        </button> -->
                      </div>
                      
                    </v-client-table>
                    
                    <router-link :to="{name: 'claim.create' }" >
                      <button class="btn btn-info">Create a new Claim Config</button>
                    </router-link>
                </div>

            </div>

            <div class="card mt-3">
              <div class="card-body">
                  <h4 class="card-title">Assign Claim To Each Role</h4>

                  <v-client-table :columns="staffCol" :data="roles" :options="alternative">
                      <div slot="index" slot-scope="props">{{ props.index }}</div>
                      <div slot="role" slot-scope="props">{{ props.row.role | capitalize }}</div>

                      <router-link slot="action" slot-scope="props" :to="{name: 'claim.config.assign',  params: { id: props.row.id } }" >
                          <button class="btn btn-info text-white">Edit</button>
                      </router-link>

                    </v-client-table>
              </div>
          </div>
        </div>
    </div>
</template>


<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
  data() {
    return {
      myModal: false,
      loading: false,
      claims: [],
      claimByRole: [],
      claim: {
        type: '',
        superadmin: '',
        staff: '',
        instructor: ''
      },
      selectedClaim: null,
      isModal: false,
      columns: ['index', 'type','action'],
      options: {
        headings: {
          index: 'No.',
          type: 'Type',
        },
        sortable: ['type'],
        filterable: ['type']
      },
      staffCol: ['index', 'role', 'action'],
      roles: [],
      alternative: {
        headings: {
          index: 'No.',
          role: 'Role',
          action: 'Action'
        },
        sortable: ['role'],
        filterable: ['role'],
      },
      checkPermission: true
    };
  },
  methods: {
    listClaim() {
      this.listRoles();
      axios
        .get('/api/claim')
        .then(res => {
          console.log(res.data);
          this.claims = res.data;
        })
        .catch(err => {
          this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'Please contact administrator',
            type: 'error',
            duration: 5000
          });
          console.log(err);
        });
    },
    listRoles(){
      axios
        .get('/api/claim/role/list')
        .then(res=>{
          this.roles = res.data;
        })
    },
    deleteClaim(id) {
      console.log(id);
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete('/api/claim/' + id)
            .then(res => {
              this.$notify({
                group: 'foo',
                title: 'Awesome',
                text: 'You have successful delete the claim.',
                type: 'success',
                duration: 5000
              });
              this.listClaim();
            })
            .catch(err => {
              this.$notify({
                group: 'foo',
                title: 'Ops',
                text: 'Please contact administrator',
                type: 'error',
                duration: 5000
              });
            });
        } else {
          this.$swal('Cancelled', 'Your package is still intact', 'info');
        }
      });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.listClaim();
  }
};
</script>
