<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title">Apply Claim</h4>

            <form class="form" v-on:submit="addClaim()">
                <div class="form-group">
                    <label>Type of Claims</label>
                    <input type="text" class="form-control" :disabled="loading" v-model="claim.type" required> 
                </div>
                    
                <!-- <div class="form-group">
                    <label>Super Admin</label>
                    <input type="number" class="form-control" :disabled="loading" v-model="claim.superadmin"  required>
                </div>

                    
                <div class="form-group">
                    <label>Staff</label>
                    <input type="number" class="form-control" :disabled="loading" v-model="claim.staff" required> 
                </div>

                <div class="form-group">
                    <label>Instructor</label>
                    <input type="number" class="form-control" :disabled="loading" v-model="claim.instructor" required> 
                </div> -->

                <button type="submit" class="btn btn-primary pull-right">
                    <i class="icon-plus"></i> Add New Leave
                </button>

            </form>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
  data() {
    return {
      loading: false,
      claim: {
        type: "",
        superadmin: "",
        staff: "",
        instructor: ""
      },
      checkPermission: true
    };
  },
  methods: {
    addClaim() {
      event.preventDefault();

      console.log(this.claim);

      this.loading = true;
      axios
        .put("/api/claim", this.claim)
        .then(res => {
          console.log(res.data);
          this.$notify({
              group: 'foo',
              title: 'Awesome',
              text: 'You have added claim config.',
              type: 'success',
              duration: 5000
            });
          this.loading = false;
          this.$router.push("/claim/config");
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err);
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : true;
  }
};
</script>