<template>
    <div class="card mt-5" v-if="checkPermission">
        <div class="card-body">
            <h4 class="card-title">Edit Config Claim</h4>
            <form v-on:submit="updateClaim()">
                <div class="form-group">
                    <label>Type of Claim</label>
                    <input type="text" class="form-control" v-model="claim.type" :disabled="loading" required> 
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="icon-plus"></i> Update
                </button>
            </form>
        </div>
    </div>
</template>

<script>
import jwtToken from "../../../helpers/jwt-token";
export default {
  data() {
    return {
      myModal: false,
      loading: false,
      claim: '',
      selectedClaim: this.$route.params.id,
      isModal: false,
      checkPermission: true
    };
  },
  methods: {
    getSingleClaim() {
      axios
        .get("/api/claim/" + this.selectedClaim)
        .then(res => {
            this.claim = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    updateClaim() {
      event.preventDefault();
      axios
        .post("/api/claim/" + this.selectedClaim + "/rules", this.claim)
        .then(res => {
          this.$router.push("/claim/config");
        })
        .catch(err => {
          console.log(err);
        });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    var getRoleId = jwtToken.getRoleId();
    getRoleId.includes(16) == false ? this.returnError() : this.getSingleClaim();
  }
};
</script>
