<template>
	<div class="card mt-3">
		<div class="card-header">
			<span>Add New To Do List</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="addToDoList()">
      		<div class="form-group">
      			<label>Name</label>
      			<input type="text" class="form-control" v-model="todolist.name">
      		</div>
          <div class="form-group">
              <label>Coach</label>
              <v-select multiple v-model="todolist.coach_id" :options="coaches" label="name"></v-select>
          </div>
          <div class="form-group">
              <label>Type</label>
              <v-select v-model="todolist.type" :options="types"></v-select>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    	</div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      loading: false,
    	todolist: {
    		name: '',
        coach_id: [],
        type: '',
    	},
      types: ['General','Cleaning'],
      selected_outlet: '',
      coaches: []
    };
  },
  methods: {
    instructorList(){
        axios
          .get(`/api/coach/${this.selected_outlet}/outlet`)
          .then(res => {
              this.coaches = res.data;
          })
    },
    addToDoList() {
        event.preventDefault();
        this.loading = true;

        axios
          .put('/api/todolist', this.todolist)
          .then(res => {
              console.log(res.data);
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You added new To Do List',
                  type: 'success',
                  duration: 5000
              });

              this.loading = false;
              this.$router.push("/todolist");
          })
          .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
              });
          });
    }
  },
  created() {
    axios
        .get("/api/user")
        .then(res => {
          this.selected_outlet = res.data.outlet_id;
          this.instructorList();
        });
  }
};
</script>

<style>
  .dropdown-toggle::after{
    content: none !important;
  }
</style>