<template>
	<div class="card mt-3">
		<div class="card-header">
			<span>Update To Do List</span>
		</div>
    	<div class="card-body">
        <form v-on:submit="updateToDoList()">
      		<div class="form-group">
      			<label>Name</label>
      			<input type="text" class="form-control" v-model="todolist.name">
      		</div>

          <div class="form-group">
              <label>Coach</label>
              <v-select multiple v-model="todolist.coaches" :options="coaches" label="name"></v-select>
          </div>
          
          <div class="form-group">
              <label>Type</label>
              <v-select v-model="todolist.type" :options="types"></v-select>
          </div>

          <button class="btn btn-primary" type="submit">Update</button>
        </form>
    	</div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      loading: false,
      tdlId: this.$route.params.id,
      status: [{ value: 'active', text: 'Active' }, { value: 'inactive', text: 'Inactive' }],
      todolist: {},
      types: ['General','Cleaning'],
      selected_outlet: '',
      coaches: []
    };
  },
  methods: {
    getToDoList() {
      axios
        .get("/api/todolist/" + this.tdlId)
        .then(res => {
          this.todolist = res.data;
          this.instructorList();
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
          console.log(err.data);
        });
    },
    instructorList(){
        axios
          .get(`/api/coach/${this.selected_outlet}/outlet`)
          .then(res => {
              this.coaches = res.data;
          })
    },
    updateToDoList() {
      	event.preventDefault();
        this.loading = true;
        console.log(this.todolist);

        axios
            .post("/api/todolist/" + this.tdlId, this.todolist)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'Department is updated',
                  type: 'success',
                  duration: 5000
                });

              this.loading = false;
              this.$router.push("/todolist");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
              console.log(err.data);
            });
    }
  },
  created() {
    axios
        .get("/api/user")
        .then(res => {
          this.selected_outlet = res.data.outlet_id;
          this.getToDoList();
        });
  }
};
</script>

<style lang="scss" scoped>
	@import "~vue-wysiwyg/dist/vueWysiwyg.css";
</style>
<style>
  .dropdown-toggle::after{
    content: none !important;
  }
</style>
