<template>
    <div class="card mt-3">
        <div class="card-header">
            <span class="text-left">List of Departments</span>
            <router-link :to="{name: 'todolist.create'}" class="btn btn-primary" >
                Add To Do List
            </router-link>
        </div>
        <div class="card-body">
            <v-client-table :columns="columns" :data="data" :options="options">

                <div slot="index" slot-scope="props">{{ props.index }}</div>

                <div slot="name" slot-scope="props">{{ props.row.name | capitalize }}</div>

                <div slot="status" slot-scope="props">{{ props.row.status | capitalize }}</div>

                <div slot="type" slot-scope="props">{{ props.row.type | capitalize }}</div>

                <div slot="coaches" slot-scope="props">{{ props.row.coaches.length }}</div>

                <div slot="created_at" slot-scope="props">{{ props.row.created_at | moment("Do MMMM YYYY") }}</div>
        
                <div slot="action" slot-scope="props">
                    <router-link :to="{name: 'todolist.edit',  params: { id: props.row.id } }" >
                        <button class="btn btn-info text-white">Edit</button>
                    </router-link>
                    <router-link :to="{name: 'todolist.view',  params: { id: props.row.id } }" >
                        <button class="btn btn-primary text-white">View</button>
                    </router-link>
                </div>

            </v-client-table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            columns: ['index', 'name', 'coaches', 'type', 'status', 'created_at', 'action'],
            data: [],
            options: {
                headings: {
                    index: 'No.',
                    name: 'Name',
                    coaches: 'Coach',
                    type: 'Type',
                    status: 'Status',
                    created_at: 'Date',
                    action: 'Action'
                },
                sortable: ['name', 'coaches', 'type', 'status', 'created_at'],
                filterable: ['name', 'coaches', 'type', 'status', 'created_at']
            }
        };
    },
    methods: {
        getDepartment() {
            axios
                .get('/api/todolist')
                .then(res => {
                    this.data = res.data;
                })
                .catch(err => {
                    this.$notify({
                        group: 'foo',
                        title: 'Ops',
                        text: 'Please contact administrator',
                        type: 'error',
                        duration: 5000
                    });
                });
        }
    },
    created() {
        this.getDepartment();
    }
};
</script>
