<template>
	<div class="card mt-3" v-if="checkPermission">
		<div class="card-header">
      <h4>View To Do List</h4>
    </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-6 b-r"> <strong>Name</strong>
                <br>
                <p class="text-muted">{{ todolist.name | capitalize }}</p>
            </div>
            <div class="col-md-6 col-xs-6 b-r"> <strong>Status</strong>
                <br>
                <p class="text-muted">{{ todolist.status | capitalize }}</p>
            </div>
            <div class="col-md-6 col-xs-6 b-r"> <strong>Type</strong>
                <br>
                <p class="text-muted">{{ todolist.type | capitalize }}</p>
            </div>
            <div class="col-md-6 col-xs-6 b-r"> <strong>Date</strong>
                <br>
                <p class="text-muted">{{ todolist.created_at | moment("Do MMMM YYYY") }}</p>
            </div>
            <div class="col-md-6 col-xs-6 b-r"> <strong>Coach</strong>
                <br>
                <ul>
                    <li v-for="coach in todolist.coaches">
                        {{ coach.name | capitalize }}
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-xs-12 b-r">
                <button class="btn btn-outline-danger pull-right mr-2" @click="deleteTodolist(tdlId)">Delete</button>
                <router-link :to="{name: 'todolist.edit',  params: { id: todolist.id } }" > 
                    <button class="btn btn-info pull-right mr-2 text-white">Edit</button>
                </router-link>
            </div>
        </div>
		  </div>
	</div>
</template>


<script>
import jwtToken from "../../helpers/jwt-token";
export default {
  data() {
    return {
      tdlId: this.$route.params.id,
      todolist: {},
      checkPermission: true
    };
  },
  methods: {
    getToDoList() {
      axios
        .get("/api/todolist/" + this.tdlId)
        .then(res => {
          this.todolist = res.data;
        })
        .catch(err => {
          this.$notify({
              group: 'foo',
              title: 'Ops',
              text: 'Please contact administrator',
              type: 'error',
              duration: 5000
            });
        });
    },
    deleteTodolist(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You can't revert your action",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success');
          axios
            .delete("/api/todolist/" + id)
            .then(res => {
              this.$notify({
                  group: 'foo',
                  title: 'Awesome',
                  text: 'You have deleted the voucher',
                  type: 'success',
                  duration: 5000
                });
              this.$router.push("/todolist");
            })
            .catch(err => {
              this.$notify({
                  group: 'foo',
                  title: 'Ops',
                  text: 'Please contact administrator',
                  type: 'error',
                  duration: 5000
                });
            });
        } else {
          this.$swal('Cancelled', 'Your To Do List is still intact', 'info');
        }
      });
    },
    returnError(){
        this.checkPermission = false;
        this.$notify({
            group: 'foo',
            title: 'Ops',
            text: 'You cannot access',
            type: 'error',
            duration: 5000
        });
    }
  },
  created() {
    this.getToDoList();
    // var getRoleId = jwtToken.getRoleId();
    // getRoleId.includes(16) == false ? this.returnError() : this.getToDoList();
  }
};
</script>